5Bworkflows/5B - Test case - SIM InvAdj - Create Invntory Adjustment (SIM)(0QOMTeKTLu4n0LO7).json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-29T09:30:38.615Z",
    "createdAt": "2026-01-29T09:20:33.722Z",
    "versionId": "119a0a13-d4b2-47dc-92d1-5e4ede0256c3",
    "workflowId": "0QOMTeKTLu4n0LO7",
    "nodes": [
      {
        "parameters": {
          "content": "## Call from other workflow\n**** ",
          "height": 624,
          "width": 256,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -96,
          16
        ],
        "typeVersion": 1,
        "id": "798f568e-45d9-44e9-94c0-0c3e4c9e4ec1",
        "name": "Sticky Note8"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -16,
          272
        ],
        "id": "3f9ba848-5469-480e-a46a-c9df88038e2c",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "content": "## Payload generation \n**Create JSON file for allocation shipment**",
          "height": 624,
          "width": 592
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          192,
          16
        ],
        "typeVersion": 1,
        "id": "6aee4075-a18f-4a6e-9503-fe88d50e75c9",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "w1tHRoLY57jNiy3V",
            "mode": "list",
            "cachedResultUrl": "/workflow/w1tHRoLY57jNiy3V",
            "cachedResultName": "Run Apache Airflow DAG and Retrieve XCom Value"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "wait": 60,
              "wait_time": 285,
              "dag_run_id": "rms_siminvadjustment_transform_hourly_adhoc"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "dag_run_id",
                "displayName": "dag_run_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "data",
                "displayName": "data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "wait",
                "displayName": "wait",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number"
              },
              {
                "id": "wait_time",
                "displayName": "wait_time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1072,
          192
        ],
        "id": "d4d845f9-eb55-4e5f-bb87-ad9f802eedf5",
        "name": "Call 'Run Apache Airflow DAG and Retrieve XCom Value'",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "errorMessage": "={{ $json.error }}"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          1072,
          432
        ],
        "id": "b8bf972d-abfe-43f1-b78f-28f1bdf78344",
        "name": "DAG Run failed or wait too long",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "content": "## Run DAG in Airflow\n**rms_wmos_shipments_optimized_every4hours** ",
          "height": 624,
          "width": 224,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1008,
          16
        ],
        "typeVersion": 1,
        "id": "73af3883-5c0e-4dfb-805b-537177e9f87e",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "errorMessage": "=Failed to upload Inventory Adjustment payloads to KAFKA topic.\n{{ $json.error }}"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          848,
          432
        ],
        "id": "fa21a8ab-a350-487a-a5a1-68823fe0d46f",
        "name": "Failed to upload payloads to KAFKA topic",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "content": "## Upload Payloads to KAFKA topic \n**shipconfirm_out_json_007**",
          "height": 624,
          "width": 224,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          784,
          16
        ],
        "typeVersion": 1,
        "id": "d15a4a82-5f48-447e-a488-373e9ef955d1",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "content": "## Check Shipment in MFCS \n**REST API** ",
          "height": 624,
          "width": 224
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1232,
          16
        ],
        "typeVersion": 1,
        "id": "6ee7cc85-7266-44d7-8ad6-4498f20313b2",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $if ($('Call \\'SBFL - Allocation - Upload Payloads to Kafka\\'').isExecuted,\"Input from \\\"Call SBFL - Allocation - Upload Payloads to Kafka\\\" node: \\n \"+$('Call \\'SBFL - Allocation - Upload Payloads to Kafka\\'').item.json.toJsonString(),\"\" )}}\n\n{{ $if ($('Call \\'Run Apache Airflow DAG and Retrieve XCom Value\\'').isExecuted,\"Input from \\\"Run Apache Airflow DAG and Retrieve\\\" node: \\n \"+$('Call \\'Run Apache Airflow DAG and Retrieve XCom Value\\'').item.json.toJsonString(),\"\" )}}\n\n{{ $if ($('Call \\'SBFL - Allocation - Check Allocation Cancellation in Databricks\\'').isExecuted,\"Input from \\\"Call SBFL - Allocation - Check Allocation Cancellation in Databricks\\\" node: \\n \"+$('Call \\'SBFL - Allocation - Check Allocation Cancellation in Databricks\\'').item.json.toJsonString(),\"\" )}}\n\n{{ $if ($('Call \\'SBFL - Allocation - Check Allocation Cancellation in MFCS\\'').isExecuted,\"Input from \\\"Call SBFL - Allocation - Check Allocation Cancellation in MFCS\\\" node: \\n \"+$('Call \\'SBFL - Allocation - Check Allocation Cancellation in MFCS\\'').item.json.toJsonString(),\"\" )}}",
          "options": {
            "systemMessage": "Use the incoming inputs to create a short summary from all input nodes. "
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          1536,
          176
        ],
        "id": "902ee2af-bb9d-4758-888b-99a10d888ae9",
        "name": "AI Agent",
        "disabled": true
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          1536,
          320
        ],
        "id": "661db502-9bfe-49c3-9fc5-ae66a40c23a8",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "FIpUb1C3cbh8qN71",
            "name": "Google Gemini(PaLM) Api account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "content": "## Result evaluation with AI \n",
          "height": 624,
          "width": 1136,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1456,
          16
        ],
        "typeVersion": 1,
        "id": "7a3383a4-b219-406c-bce7-3c5ced1e0622",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $if ($('Failed to generate JSON for SIM Inventory Adjustment').isExecuted,\"Error from \\\"SBFL - Allocation - Generate Cancel Allocation\\\" node: \\n \"+$('Failed to generate JSON for SIM Inventory Adjustment').item.json.error.toJsonString(),\"\") }}\n\n{{ $if ($('Failed to upload payloads to KAFKA topic').isExecuted,\"Error from \\\"SBFL - Allocation - Upload Payloads to Kafka\\\" node: \\n \"+$('Failed to upload payloads to KAFKA topic').item.json.error.toJsonString(),\"\") }}\n\n{{ $if ($('Can not find Allocation Cancel message in Databricks').isExecuted,\"Error from \\\"SBFL - Allocation - Check Allocation Cancellation in Databricks\\\" node: \\n \"+$('Can not find Allocation Cancel message in Databricks').item.json.error.toJsonString(),\"\") }}\n\n{{ $if ($('Can not find Allocation Cancellation in MFCS').isExecuted,\"Error from \\\"SBFL - Allocation - Check Allocation Cancellation in MFCS\\\" node: \\n \"+$('Can not find Allocation Cancellation in MFCS').item.json.error.toJsonString(),\"\") }}",
          "options": {
            "systemMessage": "Use the incoming errors to create a summary from all nodes."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          1536,
          432
        ],
        "id": "05fc3b0a-94f7-40d5-bc6a-c2e40b250225",
        "name": "AI Agent1",
        "disabled": true
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "fmq7TTUtjjt9Qdjh",
            "mode": "list",
            "cachedResultName": "WORKFLOW_OUTPUT",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/fmq7TTUtjjt9Qdjh"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "user_id": "={{ $('When Executed by Another Workflow').item.json.userid }}",
              "output_message": "={{ $('AI Agent').item.json.output }}",
              "status": "success",
              "workflow_id": "={{ $workflow.id }}",
              "data_1": "={{ $('Merge').item.json.data.toJsonString() }}",
              "data_2": "={{ $('AI Agent2').item.json.output }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "workflow_id",
                "displayName": "workflow_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "output_message",
                "displayName": "output_message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "data_1",
                "displayName": "data_1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "data_2",
                "displayName": "data_2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "data_3",
                "displayName": "data_3",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          2352,
          176
        ],
        "id": "00d5f273-57db-4540-bb33-367dab1fb39e",
        "name": "Insert row",
        "disabled": true
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "fmq7TTUtjjt9Qdjh",
            "mode": "list",
            "cachedResultName": "WORKFLOW_OUTPUT",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/fmq7TTUtjjt9Qdjh"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "workflow_id": "={{ $workflow.id }}",
              "user_id": "={{ $('When Executed by Another Workflow').item.json.userid }}",
              "status": "error",
              "output_message": "={{ $('AI Agent1').item.json.output }}",
              "data_1": "={{ $('Merge').item.json.data.toJsonString() }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "workflow_id",
                "displayName": "workflow_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "output_message",
                "displayName": "output_message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "data_1",
                "displayName": "data_1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "data_2",
                "displayName": "data_2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "data_3",
                "displayName": "data_3",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1952,
          432
        ],
        "id": "e9b3ca58-d374-4fee-b00e-1da2c844618e",
        "name": "Insert row1",
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "518b25bc-6df3-4e66-b446-5fb2bbbf3f57",
                "leftValue": "={{ $('Merge').isExecuted }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1792,
          432
        ],
        "id": "bce900cb-00c1-46f1-acda-814eed6b3153",
        "name": "If",
        "disabled": true
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "hk8gBzPCwdeTj0vo",
            "mode": "list",
            "cachedResultName": "MFCS_MSG_DATA",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/hk8gBzPCwdeTj0vo"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "message_type",
                "keyValue": "XAllocCancel"
              },
              {
                "keyName": "user_id",
                "keyValue": "={{ $('When Executed by Another Workflow').item.json.userid }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1808,
          176
        ],
        "id": "2ce8512c-e222-4a0d-a74e-53849e9a159d",
        "name": "Get row(s)",
        "disabled": true
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $if ($('Call \\'SBFL - Allocation - Generate Cancel Allocation\\'').isExecuted, $('Call \\'SBFL - Allocation - Generate Cancel Allocation\\'').item.json.toJsonString(),\"\" )}}\n\n{{ $json.message_data.toJsonString() }}",
          "options": {
            "systemMessage": "DO NOT GENERATE RUNNABLE CODE!\nConvert the incoming inputs into html tables. Use \"ExtPurchaseOrder\" and \"alloc_no\" fields to compare the 2 results. If found matched results than compare \"OrderLineItem.UserCanceledQty\" to \"qty_cancelled\". Put the following additional columns in the table: wh, item, to_loc "
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          2064,
          176
        ],
        "id": "86faabda-4473-484d-8b48-74bf1311374f",
        "name": "AI Agent2",
        "disabled": true
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "message_data"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1936,
          176
        ],
        "id": "097b88c9-ac34-4727-b2bb-a78b1638cae7",
        "name": "Aggregate",
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "  try {\n     if(!!$input.first().json.binary.data_0.data && $input.first().json.binary.data_0.data !== undefined && $input.first().json.binary.data_0.data !== null ){ \n      return [\n              {\n                binary: {\n                  data: {\n                    data: $input.first().json.binary.data_0.data, // your Base64 string\n                    mimeType: $input.first().json.binary.data_0.mimeType,\n                    fileExtension: $input.first().json.binary.data_0.fileExtension,\n                    fileName: $input.first().json.binary.data_0.fileName,\n                    fileSize: $input.first().json.binary.data_0.fileSize,\n                    id: $input.first().json.binary.data_0.id,\n                  },\n                },\n              },\n            ];\n    }\n    } catch (e) {\n     try {\n      return [\n              {\n                binary: {\n                  data: {\n                    data: $input.first().json.binary.data0.data, // your Base64 string\n                    mimeType: $input.first().json.binary.data0.mimeType,\n                    fileExtension: $input.first().json.binary.data0.fileExtension,\n                    fileName: $input.first().json.binary.data0.fileName,\n                    fileSize: $input.first().json.binary.data0.fileSize,\n                    id: $input.first().json.binary.data0.id,\n                  },\n                },\n              },\n            ];\n       } catch (e) {\n       return $input.all();\n       }\n    }\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          192
        ],
        "id": "4cb8b15e-8101-435f-b469-e0587aa3c76b",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "a27b7f25-818b-420b-a41e-cec969382aa1",
                "leftValue": "={{ $binary.data }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          256,
          448
        ],
        "id": "04752399-907a-4d6c-b2d6-dbee4b8ebc7b",
        "name": "If1"
      },
      {
        "parameters": {
          "operation": "fromJson",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "position": [
          432,
          112
        ],
        "id": "e238bdee-4dd9-414a-8179-6dc2b83aa9a1",
        "name": "Extract from File"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          624,
          192
        ],
        "id": "da060597-b56c-4eed-a1ec-fe72f9f6aa30",
        "name": "Merge"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "W0VCmg7lJ6ZFSaNY",
            "mode": "list",
            "cachedResultUrl": "/workflow/W0VCmg7lJ6ZFSaNY",
            "cachedResultName": "SBFL - Allocation - Check Allocation Cancellation in MFCS"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "data": "={{ $('Merge').item.json }}",
              "wait": 60,
              "user_id": "={{ $('When Executed by Another Workflow').item.json.userid }}",
              "wait_time": 10
            },
            "matchingColumns": [
              "data"
            ],
            "schema": [
              {
                "id": "data",
                "displayName": "data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              },
              {
                "id": "wait",
                "displayName": "wait",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number",
                "removed": false
              },
              {
                "id": "wait_time",
                "displayName": "wait_time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number",
                "removed": false
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1296,
          192
        ],
        "id": "1cc3039c-ab9b-4f9a-b005-43c26123fbac",
        "name": "Call 'SBFL - Allocation - Check Allocation Cancellation in MFCS'",
        "alwaysOutputData": false,
        "disabled": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "errorMessage": "=Can not find Allocation Cancellation in MFCS.\n{{ $json.error }}"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          1296,
          432
        ],
        "id": "d6f6fd60-3c88-4e7a-b78b-ca1384b89258",
        "name": "Can not find Allocation Cancellation in MFCS",
        "disabled": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "url": "https://rgbu.gbua.us-ashburn-1.oci.oraclecloud.com/hafpxijz8iidegdzdupe/ords/mfcs/5below/n8n/services/getSIMInvAdjJson",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          464,
          288
        ],
        "id": "304728e3-c8c5-489c-aeef-84024e253c1c",
        "name": "Get SIM InvAdj JSON",
        "credentials": {
          "oAuth2Api": {
            "id": "GLwoqYtDVXjbM9Dd",
            "name": "MFCS"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "errorMessage": "=Failed to generate JSON for SIM Inventory Adjustment.\n{{ $json.error }}"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          624,
          432
        ],
        "id": "19fdd143-d6a2-4a04-9340-57cfa9ec5076",
        "name": "Failed to generate JSON for SIM Inventory Adjustment",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "QkkkYmw8piThyey7",
            "mode": "list",
            "cachedResultUrl": "/workflow/QkkkYmw8piThyey7",
            "cachedResultName": "SBFL - SIM InvAdj - Upload Payloads to Kafka"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "user_id": "={{ $('When Executed by Another Workflow').item.json.userid }}",
              "data": "={{ $json }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "data",
                "displayName": "data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          848,
          192
        ],
        "id": "a27ad427-aed7-4682-bede-2ffaa95590d9",
        "name": "Call 'SBFL - SIM InvAdj - Upload Payloads to Kafka'",
        "onError": "continueErrorOutput"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Run Apache Airflow DAG and Retrieve XCom Value'": {
        "main": [
          [
            {
              "node": "Call 'SBFL - Allocation - Check Allocation Cancellation in MFCS'",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "DAG Run failed or wait too long",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DAG Run failed or wait too long": {
        "main": [
          [
            {
              "node": "Call 'SBFL - Allocation - Check Allocation Cancellation in MFCS'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Failed to upload payloads to KAFKA topic": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Get row(s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "AI Agent1",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "AI Agent2",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent1": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Insert row1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent2": {
        "main": [
          [
            {
              "node": "Insert row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "AI Agent2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get SIM InvAdj JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Call 'SBFL - SIM InvAdj - Upload Payloads to Kafka'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'SBFL - Allocation - Check Allocation Cancellation in MFCS'": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Can not find Allocation Cancellation in MFCS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Can not find Allocation Cancellation in MFCS": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get SIM InvAdj JSON": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ],
          [
            {
              "node": "Failed to generate JSON for SIM Inventory Adjustment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Failed to generate JSON for SIM Inventory Adjustment": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'SBFL - SIM InvAdj - Upload Payloads to Kafka'": {
        "main": [
          [
            {
              "node": "Call 'Run Apache Airflow DAG and Retrieve XCom Value'",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Failed to upload payloads to KAFKA topic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "zoltan karancsi",
    "name": "Version 119a0a13",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "119a0a13-d4b2-47dc-92d1-5e4ede0256c3",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Run Apache Airflow DAG and Retrieve XCom Value'": {
      "main": [
        [
          {
            "node": "Call 'SBFL - Allocation - Check Allocation Cancellation in MFCS'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DAG Run failed or wait too long",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DAG Run failed or wait too long": {
      "main": [
        [
          {
            "node": "Call 'SBFL - Allocation - Check Allocation Cancellation in MFCS'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Failed to upload payloads to KAFKA topic": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get SIM InvAdj JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Call 'SBFL - SIM InvAdj - Upload Payloads to Kafka'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'SBFL - Allocation - Check Allocation Cancellation in MFCS'": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Can not find Allocation Cancellation in MFCS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can not find Allocation Cancellation in MFCS": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SIM InvAdj JSON": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Failed to generate JSON for SIM Inventory Adjustment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Failed to generate JSON for SIM Inventory Adjustment": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'SBFL - SIM InvAdj - Upload Payloads to Kafka'": {
      "main": [
        [
          {
            "node": "Call 'Run Apache Airflow DAG and Retrieve XCom Value'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed to upload payloads to KAFKA topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-28T14:10:31.248Z",
  "id": "0QOMTeKTLu4n0LO7",
  "isArchived": false,
  "meta": null,
  "name": "5B - Test case - SIM InvAdj - Create Invntory Adjustment (SIM)",
  "nodes": [
    {
      "parameters": {
        "content": "## Call from other workflow\n**** ",
        "height": 624,
        "width": 256,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        16
      ],
      "typeVersion": 1,
      "id": "798f568e-45d9-44e9-94c0-0c3e4c9e4ec1",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -16,
        272
      ],
      "id": "3f9ba848-5469-480e-a46a-c9df88038e2c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "## Payload generation \n**Create JSON file for allocation shipment**",
        "height": 624,
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        16
      ],
      "typeVersion": 1,
      "id": "6aee4075-a18f-4a6e-9503-fe88d50e75c9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "w1tHRoLY57jNiy3V",
          "mode": "list",
          "cachedResultUrl": "/workflow/w1tHRoLY57jNiy3V",
          "cachedResultName": "Run Apache Airflow DAG and Retrieve XCom Value"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "wait": 60,
            "wait_time": 285,
            "dag_run_id": "rms_siminvadjustment_transform_hourly_adhoc"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "dag_run_id",
              "displayName": "dag_run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "wait",
              "displayName": "wait",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "wait_time",
              "displayName": "wait_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1072,
        192
      ],
      "id": "d4d845f9-eb55-4e5f-bb87-ad9f802eedf5",
      "name": "Call 'Run Apache Airflow DAG and Retrieve XCom Value'",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1072,
        432
      ],
      "id": "b8bf972d-abfe-43f1-b78f-28f1bdf78344",
      "name": "DAG Run failed or wait too long",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Run DAG in Airflow\n**rms_wmos_shipments_optimized_every4hours** ",
        "height": 624,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        16
      ],
      "typeVersion": 1,
      "id": "73af3883-5c0e-4dfb-805b-537177e9f87e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "errorMessage": "=Failed to upload Inventory Adjustment payloads to KAFKA topic.\n{{ $json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        848,
        432
      ],
      "id": "fa21a8ab-a350-487a-a5a1-68823fe0d46f",
      "name": "Failed to upload payloads to KAFKA topic",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Upload Payloads to KAFKA topic \n**shipconfirm_out_json_007**",
        "height": 624,
        "width": 224,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        784,
        16
      ],
      "typeVersion": 1,
      "id": "d15a4a82-5f48-447e-a488-373e9ef955d1",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Check Shipment in MFCS \n**REST API** ",
        "height": 624,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        16
      ],
      "typeVersion": 1,
      "id": "6ee7cc85-7266-44d7-8ad6-4498f20313b2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $if ($('Call \\'SBFL - Allocation - Upload Payloads to Kafka\\'').isExecuted,\"Input from \\\"Call SBFL - Allocation - Upload Payloads to Kafka\\\" node: \\n \"+$('Call \\'SBFL - Allocation - Upload Payloads to Kafka\\'').item.json.toJsonString(),\"\" )}}\n\n{{ $if ($('Call \\'Run Apache Airflow DAG and Retrieve XCom Value\\'').isExecuted,\"Input from \\\"Run Apache Airflow DAG and Retrieve\\\" node: \\n \"+$('Call \\'Run Apache Airflow DAG and Retrieve XCom Value\\'').item.json.toJsonString(),\"\" )}}\n\n{{ $if ($('Call \\'SBFL - Allocation - Check Allocation Cancellation in Databricks\\'').isExecuted,\"Input from \\\"Call SBFL - Allocation - Check Allocation Cancellation in Databricks\\\" node: \\n \"+$('Call \\'SBFL - Allocation - Check Allocation Cancellation in Databricks\\'').item.json.toJsonString(),\"\" )}}\n\n{{ $if ($('Call \\'SBFL - Allocation - Check Allocation Cancellation in MFCS\\'').isExecuted,\"Input from \\\"Call SBFL - Allocation - Check Allocation Cancellation in MFCS\\\" node: \\n \"+$('Call \\'SBFL - Allocation - Check Allocation Cancellation in MFCS\\'').item.json.toJsonString(),\"\" )}}",
        "options": {
          "systemMessage": "Use the incoming inputs to create a short summary from all input nodes. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1536,
        176
      ],
      "id": "902ee2af-bb9d-4758-888b-99a10d888ae9",
      "name": "AI Agent",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1536,
        320
      ],
      "id": "661db502-9bfe-49c3-9fc5-ae66a40c23a8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FIpUb1C3cbh8qN71",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Result evaluation with AI \n",
        "height": 624,
        "width": 1136,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1456,
        16
      ],
      "typeVersion": 1,
      "id": "7a3383a4-b219-406c-bce7-3c5ced1e0622",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $if ($('Failed to generate JSON for SIM Inventory Adjustment').isExecuted,\"Error from \\\"SBFL - Allocation - Generate Cancel Allocation\\\" node: \\n \"+$('Failed to generate JSON for SIM Inventory Adjustment').item.json.error.toJsonString(),\"\") }}\n\n{{ $if ($('Failed to upload payloads to KAFKA topic').isExecuted,\"Error from \\\"SBFL - Allocation - Upload Payloads to Kafka\\\" node: \\n \"+$('Failed to upload payloads to KAFKA topic').item.json.error.toJsonString(),\"\") }}\n\n{{ $if ($('Can not find Allocation Cancel message in Databricks').isExecuted,\"Error from \\\"SBFL - Allocation - Check Allocation Cancellation in Databricks\\\" node: \\n \"+$('Can not find Allocation Cancel message in Databricks').item.json.error.toJsonString(),\"\") }}\n\n{{ $if ($('Can not find Allocation Cancellation in MFCS').isExecuted,\"Error from \\\"SBFL - Allocation - Check Allocation Cancellation in MFCS\\\" node: \\n \"+$('Can not find Allocation Cancellation in MFCS').item.json.error.toJsonString(),\"\") }}",
        "options": {
          "systemMessage": "Use the incoming errors to create a summary from all nodes."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1536,
        432
      ],
      "id": "05fc3b0a-94f7-40d5-bc6a-c2e40b250225",
      "name": "AI Agent1",
      "disabled": true
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "fmq7TTUtjjt9Qdjh",
          "mode": "list",
          "cachedResultName": "WORKFLOW_OUTPUT",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/fmq7TTUtjjt9Qdjh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('When Executed by Another Workflow').item.json.userid }}",
            "output_message": "={{ $('AI Agent').item.json.output }}",
            "status": "success",
            "workflow_id": "={{ $workflow.id }}",
            "data_1": "={{ $('Merge').item.json.data.toJsonString() }}",
            "data_2": "={{ $('AI Agent2').item.json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "output_message",
              "displayName": "output_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "data_1",
              "displayName": "data_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "data_2",
              "displayName": "data_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "data_3",
              "displayName": "data_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2352,
        176
      ],
      "id": "00d5f273-57db-4540-bb33-367dab1fb39e",
      "name": "Insert row",
      "disabled": true
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "fmq7TTUtjjt9Qdjh",
          "mode": "list",
          "cachedResultName": "WORKFLOW_OUTPUT",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/fmq7TTUtjjt9Qdjh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_id": "={{ $workflow.id }}",
            "user_id": "={{ $('When Executed by Another Workflow').item.json.userid }}",
            "status": "error",
            "output_message": "={{ $('AI Agent1').item.json.output }}",
            "data_1": "={{ $('Merge').item.json.data.toJsonString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "output_message",
              "displayName": "output_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "data_1",
              "displayName": "data_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "data_2",
              "displayName": "data_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "data_3",
              "displayName": "data_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1952,
        432
      ],
      "id": "e9b3ca58-d374-4fee-b00e-1da2c844618e",
      "name": "Insert row1",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "518b25bc-6df3-4e66-b446-5fb2bbbf3f57",
              "leftValue": "={{ $('Merge').isExecuted }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1792,
        432
      ],
      "id": "bce900cb-00c1-46f1-acda-814eed6b3153",
      "name": "If",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "hk8gBzPCwdeTj0vo",
          "mode": "list",
          "cachedResultName": "MFCS_MSG_DATA",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/hk8gBzPCwdeTj0vo"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "message_type",
              "keyValue": "XAllocCancel"
            },
            {
              "keyName": "user_id",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.userid }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1808,
        176
      ],
      "id": "2ce8512c-e222-4a0d-a74e-53849e9a159d",
      "name": "Get row(s)",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $if ($('Call \\'SBFL - Allocation - Generate Cancel Allocation\\'').isExecuted, $('Call \\'SBFL - Allocation - Generate Cancel Allocation\\'').item.json.toJsonString(),\"\" )}}\n\n{{ $json.message_data.toJsonString() }}",
        "options": {
          "systemMessage": "DO NOT GENERATE RUNNABLE CODE!\nConvert the incoming inputs into html tables. Use \"ExtPurchaseOrder\" and \"alloc_no\" fields to compare the 2 results. If found matched results than compare \"OrderLineItem.UserCanceledQty\" to \"qty_cancelled\". Put the following additional columns in the table: wh, item, to_loc "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2064,
        176
      ],
      "id": "86faabda-4473-484d-8b48-74bf1311374f",
      "name": "AI Agent2",
      "disabled": true
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "message_data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1936,
        176
      ],
      "id": "097b88c9-ac34-4727-b2bb-a78b1638cae7",
      "name": "Aggregate",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "  try {\n     if(!!$input.first().json.binary.data_0.data && $input.first().json.binary.data_0.data !== undefined && $input.first().json.binary.data_0.data !== null ){ \n      return [\n              {\n                binary: {\n                  data: {\n                    data: $input.first().json.binary.data_0.data, // your Base64 string\n                    mimeType: $input.first().json.binary.data_0.mimeType,\n                    fileExtension: $input.first().json.binary.data_0.fileExtension,\n                    fileName: $input.first().json.binary.data_0.fileName,\n                    fileSize: $input.first().json.binary.data_0.fileSize,\n                    id: $input.first().json.binary.data_0.id,\n                  },\n                },\n              },\n            ];\n    }\n    } catch (e) {\n     try {\n      return [\n              {\n                binary: {\n                  data: {\n                    data: $input.first().json.binary.data0.data, // your Base64 string\n                    mimeType: $input.first().json.binary.data0.mimeType,\n                    fileExtension: $input.first().json.binary.data0.fileExtension,\n                    fileName: $input.first().json.binary.data0.fileName,\n                    fileSize: $input.first().json.binary.data0.fileSize,\n                    id: $input.first().json.binary.data0.id,\n                  },\n                },\n              },\n            ];\n       } catch (e) {\n       return $input.all();\n       }\n    }\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        192
      ],
      "id": "4cb8b15e-8101-435f-b469-e0587aa3c76b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a27b7f25-818b-420b-a41e-cec969382aa1",
              "leftValue": "={{ $binary.data }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        256,
        448
      ],
      "id": "04752399-907a-4d6c-b2d6-dbee4b8ebc7b",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        432,
        112
      ],
      "id": "e238bdee-4dd9-414a-8179-6dc2b83aa9a1",
      "name": "Extract from File"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        624,
        192
      ],
      "id": "da060597-b56c-4eed-a1ec-fe72f9f6aa30",
      "name": "Merge"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "W0VCmg7lJ6ZFSaNY",
          "mode": "list",
          "cachedResultUrl": "/workflow/W0VCmg7lJ6ZFSaNY",
          "cachedResultName": "SBFL - Allocation - Check Allocation Cancellation in MFCS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $('Merge').item.json }}",
            "wait": 60,
            "user_id": "={{ $('When Executed by Another Workflow').item.json.userid }}",
            "wait_time": 10
          },
          "matchingColumns": [
            "data"
          ],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "wait",
              "displayName": "wait",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "wait_time",
              "displayName": "wait_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1296,
        192
      ],
      "id": "1cc3039c-ab9b-4f9a-b005-43c26123fbac",
      "name": "Call 'SBFL - Allocation - Check Allocation Cancellation in MFCS'",
      "alwaysOutputData": false,
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "errorMessage": "=Can not find Allocation Cancellation in MFCS.\n{{ $json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1296,
        432
      ],
      "id": "d6f6fd60-3c88-4e7a-b78b-ca1384b89258",
      "name": "Can not find Allocation Cancellation in MFCS",
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://rgbu.gbua.us-ashburn-1.oci.oraclecloud.com/hafpxijz8iidegdzdupe/ords/mfcs/5below/n8n/services/getSIMInvAdjJson",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        464,
        288
      ],
      "id": "304728e3-c8c5-489c-aeef-84024e253c1c",
      "name": "Get SIM InvAdj JSON",
      "credentials": {
        "oAuth2Api": {
          "id": "GLwoqYtDVXjbM9Dd",
          "name": "MFCS"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "errorMessage": "=Failed to generate JSON for SIM Inventory Adjustment.\n{{ $json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        624,
        432
      ],
      "id": "19fdd143-d6a2-4a04-9340-57cfa9ec5076",
      "name": "Failed to generate JSON for SIM Inventory Adjustment",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QkkkYmw8piThyey7",
          "mode": "list",
          "cachedResultUrl": "/workflow/QkkkYmw8piThyey7",
          "cachedResultName": "SBFL - SIM InvAdj - Upload Payloads to Kafka"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('When Executed by Another Workflow').item.json.userid }}",
            "data": "={{ $json }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        848,
        192
      ],
      "id": "a27ad427-aed7-4682-bede-2ffaa95590d9",
      "name": "Call 'SBFL - SIM InvAdj - Upload Payloads to Kafka'",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "output": {
            "type": "SIM-Inventory-Adjustment",
            "flowName": "0QOMTeKTLu4n0LO7",
            "item": ""
          },
          "userid": "62a17d6f-9dec-4fb8-8784-268462326ad5"
        }
      }
    ]
  },
  "repo_name": "n8n",
  "repo_owner": "qb-stoth",
  "repo_path": "5Bworkflows",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 28800
  },
  "shared": [
    {
      "updatedAt": "2026-01-28T14:10:31.248Z",
      "createdAt": "2026-01-28T14:10:31.248Z",
      "role": "workflow:owner",
      "workflowId": "0QOMTeKTLu4n0LO7",
      "projectId": "qocjUN26HqmYcJIH"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-12-03T08:29:30.685Z",
      "createdAt": "2025-12-03T08:29:30.685Z",
      "id": "7XhEcQNHqPX9s6B9",
      "name": "Merch_test_cases"
    },
    {
      "updatedAt": "2026-01-28T14:14:55.392Z",
      "createdAt": "2026-01-28T14:14:34.180Z",
      "id": "0EkANkprsluqLruD",
      "name": "SIM_InvAdj"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-29T11:51:19.598Z",
  "versionId": "119a0a13-d4b2-47dc-92d1-5e4ede0256c3"
}