5Bworkflows/5B - Test case - SIM DTS PO Creation(LpeVC0fdtOGSUHy1d1KiY).json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-28T13:28:06.037Z",
    "createdAt": "2026-01-28T13:28:02.974Z",
    "versionId": "e658d12e-1e3f-4137-bc57-30ff73c86fc0",
    "workflowId": "LpeVC0fdtOGSUHy1d1KiY",
    "nodes": [
      {
        "parameters": {
          "content": "## Call from other workflow\n**** ",
          "height": 640,
          "width": 256,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1,
        "id": "2ef9993c-b1ed-412f-906e-944bc80b77f3",
        "name": "Sticky Note8"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          80,
          256
        ],
        "id": "c0917c89-163c-488b-ad69-d6b3f5c33f2a",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "url": "https://rgbu.gbua.us-ashburn-1.oci.oraclecloud.com/hafpxijz8iidegdzdupe/ords/mfcs/5below/n8n/services/getDtsPoJson",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          304,
          160
        ],
        "id": "e6096acc-1b56-406b-a0b0-afaf24fb27ae",
        "name": "Get PO Details",
        "credentials": {
          "oAuth2Api": {
            "id": "GLwoqYtDVXjbM9Dd",
            "name": "MFCS"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "E8eKjzqa6zzR0F0PTvs6y",
            "mode": "list",
            "cachedResultUrl": "/workflow/E8eKjzqa6zzR0F0PTvs6y",
            "cachedResultName": "SBFL - SIM DTS PO - Create Order in MFCS"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "user_id": "={{ $('When Executed by Another Workflow').item.json.userid }}",
              "data": "={{ $json }}"
            },
            "matchingColumns": [
              "user_id"
            ],
            "schema": [
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "data",
                "displayName": "data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          560,
          144
        ],
        "id": "498763d7-8cad-4927-bc48-e24fa67d9f4e",
        "name": "Call 'SBFL - SIM DTS PO - Create Order in MFCS'",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "errorMessage": "=PO Creation unsuccesful. {{ $json.message }}"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          560,
          416
        ],
        "id": "dd3bdedc-ea5c-49a6-a822-e78c6bd6ee7f",
        "name": "PO Creation unsuccesful",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "WbIFUDN0M3fgcl-7z41FX",
            "mode": "list",
            "cachedResultUrl": "/workflow/WbIFUDN0M3fgcl-7z41FX",
            "cachedResultName": "SBFL - SIM DTS PO - Check Order in MFCS"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "user_id": "={{ $('When Executed by Another Workflow').item.json.userid }}",
              "data": "={{ $('Get PO Details').item.json.items }}",
              "wait": 60,
              "wait_time": 1
            },
            "matchingColumns": [
              "user_id"
            ],
            "schema": [
              {
                "id": "data",
                "displayName": "data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "array",
                "removed": false
              },
              {
                "id": "wait",
                "displayName": "wait",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number",
                "removed": false
              },
              {
                "id": "wait_time",
                "displayName": "wait_time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number",
                "removed": false
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          816,
          128
        ],
        "id": "7c0c2deb-173b-4a4c-ba49-6242182485e6",
        "name": "Call 'SBFL - SIM DTS PO - Check Order in MFCS'",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.data }}",
          "options": {
            "systemMessage": "Use the incoming inputs to create a short summary from all input nodes."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          1088,
          112
        ],
        "id": "fcba0299-3371-4127-b63d-935041e63b89",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          1248,
          288
        ],
        "id": "d16e176e-ea68-4d69-9c14-56d6386f3e6e",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "FIpUb1C3cbh8qN71",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $if ($('Unable to get PO details from MFCS').isExecuted,\"Unable to get PO details from MFCS.: \\n \"+$('Unable to get PO details from MFCS').item.json.error.toJsonString(),\"\") }}\n\n{{ $if ($('PO Creation unsuccesful').isExecuted,\"Error creating PO in MFCS: \\n \"+$('PO Creation unsuccesful').item.json.error.toJsonString(),\"\") }}\n\n{{ $if ($('Cannot find PO in MFCS').isExecuted,\"Cannot find PO in MFCS: \\n \"+$('Cannot find PO in MFCS').item.json.error.toJsonString(),\"\") }}",
          "options": {
            "systemMessage": "Use the incoming errors to create a summary from all nodes."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          1104,
          416
        ],
        "id": "9c1bf8dd-3732-4dcc-ac92-6529f7c02e7f",
        "name": "AI Agent1"
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "fmq7TTUtjjt9Qdjh",
            "mode": "list",
            "cachedResultName": "WORKFLOW_OUTPUT",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/fmq7TTUtjjt9Qdjh"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "user_id": "={{ $('When Executed by Another Workflow').item.json.userid }}",
              "output_message": "={{ $json.output }}",
              "status": "success",
              "workflow_id": "={{ $workflow.id }}",
              "data_1": "={{ $('Get PO Details').item.json.toJsonString() }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "workflow_id",
                "displayName": "workflow_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "output_message",
                "displayName": "output_message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "data_1",
                "displayName": "data_1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "data_2",
                "displayName": "data_2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "data_3",
                "displayName": "data_3",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1424,
          112
        ],
        "id": "717b54d6-1f91-468a-9fa0-332b5e22f593",
        "name": "Insert row"
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "fmq7TTUtjjt9Qdjh",
            "mode": "list",
            "cachedResultName": "WORKFLOW_OUTPUT",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/fmq7TTUtjjt9Qdjh"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "workflow_id": "={{ $workflow.id }}",
              "user_id": "={{ $('When Executed by Another Workflow').item.json.userid }}",
              "status": "error",
              "output_message": "={{ $json.output }}",
              "data_1": "={{ $('Get PO Details').item.json.toJsonString() }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "workflow_id",
                "displayName": "workflow_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "output_message",
                "displayName": "output_message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "data_1",
                "displayName": "data_1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "data_2",
                "displayName": "data_2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "data_3",
                "displayName": "data_3",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1424,
          416
        ],
        "id": "d2afcd28-6805-425a-83e7-8ebf90a56e47",
        "name": "Insert row1"
      },
      {
        "parameters": {
          "content": "## Get valid PO details\n**** ",
          "height": 640,
          "width": 448
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          240,
          0
        ],
        "typeVersion": 1,
        "id": "64fc5c78-a4ca-45f1-b450-c2e635b97994",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Create PO in MFCS\n**** ",
          "height": 640,
          "width": 438,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          480,
          0
        ],
        "typeVersion": 1,
        "id": "325566b0-9bd2-42d7-b057-d6af0babe287",
        "name": "Sticky Note9"
      },
      {
        "parameters": {
          "content": "## Check PO in MFCS\n**** ",
          "height": 640,
          "width": 304,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          752,
          0
        ],
        "typeVersion": 1,
        "id": "609da6c1-dbd7-425e-be7e-2dad461b2f8b",
        "name": "Sticky Note10"
      },
      {
        "parameters": {
          "content": "## Evaluate with AI\n**** ",
          "height": 640,
          "width": 544,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1056,
          0
        ],
        "typeVersion": 1,
        "id": "d1f751b2-9e26-4380-8743-9e24b4635212",
        "name": "Sticky Note11"
      },
      {
        "parameters": {
          "errorMessage": "=Unable to get PO details from MFCS.\n{{ $json.error }}"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          304,
          416
        ],
        "id": "23b1d5eb-4d24-4316-b45e-6a028b439965",
        "name": "Unable to get PO details from MFCS",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "errorMessage": "=Can not find PO in MFCS\n{{ $json.error }}"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          832,
          416
        ],
        "id": "98397cb4-a905-4e60-9218-bd15c212e7c3",
        "name": "Cannot find PO in MFCS",
        "onError": "continueErrorOutput"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Get PO Details",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get PO Details": {
        "main": [
          [
            {
              "node": "Call 'SBFL - SIM DTS PO - Create Order in MFCS'",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Unable to get PO details from MFCS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'SBFL - SIM DTS PO - Create Order in MFCS'": {
        "main": [
          [
            {
              "node": "Call 'SBFL - SIM DTS PO - Check Order in MFCS'",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "PO Creation unsuccesful",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'SBFL - SIM DTS PO - Check Order in MFCS'": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Cannot find PO in MFCS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Insert row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "AI Agent1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent1": {
        "main": [
          [
            {
              "node": "Insert row1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PO Creation unsuccesful": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Unable to get PO details from MFCS": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cannot find PO in MFCS": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Attila Zubor",
    "name": "Version e658d12e",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "e658d12e-1e3f-4137-bc57-30ff73c86fc0",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get PO Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PO Details": {
      "main": [
        [
          {
            "node": "Call 'SBFL - SIM DTS PO - Create Order in MFCS'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unable to get PO details from MFCS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'SBFL - SIM DTS PO - Create Order in MFCS'": {
      "main": [
        [
          {
            "node": "Call 'SBFL - SIM DTS PO - Check Order in MFCS'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PO Creation unsuccesful",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'SBFL - SIM DTS PO - Check Order in MFCS'": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cannot find PO in MFCS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Insert row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PO Creation unsuccesful": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unable to get PO details from MFCS": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cannot find PO in MFCS": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-16T12:20:50.230Z",
  "id": "LpeVC0fdtOGSUHy1d1KiY",
  "isArchived": false,
  "meta": null,
  "name": "5B - Test case - SIM DTS PO Creation",
  "nodes": [
    {
      "parameters": {
        "content": "## Call from other workflow\n**** ",
        "height": 640,
        "width": 256,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "2ef9993c-b1ed-412f-906e-944bc80b77f3",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        80,
        256
      ],
      "id": "c0917c89-163c-488b-ad69-d6b3f5c33f2a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "https://rgbu.gbua.us-ashburn-1.oci.oraclecloud.com/hafpxijz8iidegdzdupe/ords/mfcs/5below/n8n/services/getDtsPoJson",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        160
      ],
      "id": "e6096acc-1b56-406b-a0b0-afaf24fb27ae",
      "name": "Get PO Details",
      "credentials": {
        "oAuth2Api": {
          "id": "GLwoqYtDVXjbM9Dd",
          "name": "MFCS"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "E8eKjzqa6zzR0F0PTvs6y",
          "mode": "list",
          "cachedResultUrl": "/workflow/E8eKjzqa6zzR0F0PTvs6y",
          "cachedResultName": "SBFL - SIM DTS PO - Create Order in MFCS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('When Executed by Another Workflow').item.json.userid }}",
            "data": "={{ $json }}"
          },
          "matchingColumns": [
            "user_id"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        560,
        144
      ],
      "id": "498763d7-8cad-4927-bc48-e24fa67d9f4e",
      "name": "Call 'SBFL - SIM DTS PO - Create Order in MFCS'",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "errorMessage": "=PO Creation unsuccesful. {{ $json.message }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        560,
        416
      ],
      "id": "dd3bdedc-ea5c-49a6-a822-e78c6bd6ee7f",
      "name": "PO Creation unsuccesful",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WbIFUDN0M3fgcl-7z41FX",
          "mode": "list",
          "cachedResultUrl": "/workflow/WbIFUDN0M3fgcl-7z41FX",
          "cachedResultName": "SBFL - SIM DTS PO - Check Order in MFCS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('When Executed by Another Workflow').item.json.userid }}",
            "data": "={{ $('Get PO Details').item.json.items }}",
            "wait": 60,
            "wait_time": 1
          },
          "matchingColumns": [
            "user_id"
          ],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "wait",
              "displayName": "wait",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "wait_time",
              "displayName": "wait_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        816,
        128
      ],
      "id": "7c0c2deb-173b-4a4c-ba49-6242182485e6",
      "name": "Call 'SBFL - SIM DTS PO - Check Order in MFCS'",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "options": {
          "systemMessage": "Use the incoming inputs to create a short summary from all input nodes."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1088,
        112
      ],
      "id": "fcba0299-3371-4127-b63d-935041e63b89",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1248,
        288
      ],
      "id": "d16e176e-ea68-4d69-9c14-56d6386f3e6e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FIpUb1C3cbh8qN71",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $if ($('Unable to get PO details from MFCS').isExecuted,\"Unable to get PO details from MFCS.: \\n \"+$('Unable to get PO details from MFCS').item.json.error.toJsonString(),\"\") }}\n\n{{ $if ($('PO Creation unsuccesful').isExecuted,\"Error creating PO in MFCS: \\n \"+$('PO Creation unsuccesful').item.json.error.toJsonString(),\"\") }}\n\n{{ $if ($('Cannot find PO in MFCS').isExecuted,\"Cannot find PO in MFCS: \\n \"+$('Cannot find PO in MFCS').item.json.error.toJsonString(),\"\") }}",
        "options": {
          "systemMessage": "Use the incoming errors to create a summary from all nodes."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1104,
        416
      ],
      "id": "9c1bf8dd-3732-4dcc-ac92-6529f7c02e7f",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "fmq7TTUtjjt9Qdjh",
          "mode": "list",
          "cachedResultName": "WORKFLOW_OUTPUT",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/fmq7TTUtjjt9Qdjh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('When Executed by Another Workflow').item.json.userid }}",
            "output_message": "={{ $json.output }}",
            "status": "success",
            "workflow_id": "={{ $workflow.id }}",
            "data_1": "={{ $('Get PO Details').item.json.toJsonString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "output_message",
              "displayName": "output_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "data_1",
              "displayName": "data_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "data_2",
              "displayName": "data_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "data_3",
              "displayName": "data_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1424,
        112
      ],
      "id": "717b54d6-1f91-468a-9fa0-332b5e22f593",
      "name": "Insert row"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "fmq7TTUtjjt9Qdjh",
          "mode": "list",
          "cachedResultName": "WORKFLOW_OUTPUT",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/fmq7TTUtjjt9Qdjh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_id": "={{ $workflow.id }}",
            "user_id": "={{ $('When Executed by Another Workflow').item.json.userid }}",
            "status": "error",
            "output_message": "={{ $json.output }}",
            "data_1": "={{ $('Get PO Details').item.json.toJsonString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "output_message",
              "displayName": "output_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "data_1",
              "displayName": "data_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "data_2",
              "displayName": "data_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "data_3",
              "displayName": "data_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1424,
        416
      ],
      "id": "d2afcd28-6805-425a-83e7-8ebf90a56e47",
      "name": "Insert row1"
    },
    {
      "parameters": {
        "content": "## Get valid PO details\n**** ",
        "height": 640,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        0
      ],
      "typeVersion": 1,
      "id": "64fc5c78-a4ca-45f1-b450-c2e635b97994",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Create PO in MFCS\n**** ",
        "height": 640,
        "width": 438,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        0
      ],
      "typeVersion": 1,
      "id": "325566b0-9bd2-42d7-b057-d6af0babe287",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Check PO in MFCS\n**** ",
        "height": 640,
        "width": 304,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        0
      ],
      "typeVersion": 1,
      "id": "609da6c1-dbd7-425e-be7e-2dad461b2f8b",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Evaluate with AI\n**** ",
        "height": 640,
        "width": 544,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1056,
        0
      ],
      "typeVersion": 1,
      "id": "d1f751b2-9e26-4380-8743-9e24b4635212",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "errorMessage": "=Unable to get PO details from MFCS.\n{{ $json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        304,
        416
      ],
      "id": "23b1d5eb-4d24-4316-b45e-6a028b439965",
      "name": "Unable to get PO details from MFCS",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "errorMessage": "=Can not find PO in MFCS\n{{ $json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        832,
        416
      ],
      "id": "98397cb4-a905-4e60-9218-bd15c212e7c3",
      "name": "Cannot find PO in MFCS",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "output": {
            "type": "SIM DTS PO",
            "flowName": "LpeVC0fdtOGSUHy1d1KiY",
            "item": ""
          },
          "userid": "93ef244a-02d4-4d06-8930-7603d92e50ef"
        }
      }
    ]
  },
  "repo_name": "n8n",
  "repo_owner": "qb-stoth",
  "repo_path": "5Bworkflows",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-16T12:20:50.230Z",
      "createdAt": "2026-01-16T12:20:50.230Z",
      "role": "workflow:owner",
      "workflowId": "LpeVC0fdtOGSUHy1d1KiY",
      "projectId": "qocjUN26HqmYcJIH"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-12-03T08:29:30.685Z",
      "createdAt": "2025-12-03T08:29:30.685Z",
      "id": "7XhEcQNHqPX9s6B9",
      "name": "Merch_test_cases"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-28T13:28:02.973Z",
  "versionId": "e658d12e-1e3f-4137-bc57-30ff73c86fc0"
}