5Bworkflows/5B - Test case - Allocation - Shipment(fqSjG9Otvq5CNhuT0xOH3).json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-27T08:24:17.049Z",
    "createdAt": "2026-01-27T08:24:14.782Z",
    "versionId": "91a74163-4527-43be-afde-21f92649aa89",
    "workflowId": "fqSjG9Otvq5CNhuT0xOH3",
    "nodes": [
      {
        "parameters": {
          "content": "## Call from other workflow\n**** ",
          "height": 624,
          "width": 256,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -768,
          0
        ],
        "typeVersion": 1,
        "id": "c609ad2b-e893-424b-a324-648977fd4e43",
        "name": "Sticky Note8"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -688,
          256
        ],
        "id": "026fbd00-e356-4096-9e2c-c8ac384adf60",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "content": "## Payload generation \n**Create JSON file for allocation shipment**",
          "height": 624,
          "width": 592
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -448,
          0
        ],
        "typeVersion": 1,
        "id": "f4ff3645-4860-40bf-9508-fc73e2e80312",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "errorMessage": "=Failed to generate tXML for Shipment.\n{{ $json.error }}"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          -16,
          416
        ],
        "id": "85525a0f-ea64-4cfb-a950-b44fa302ac88",
        "name": "Failed to generate tXML for Shipment",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "1XGShOEybzHHhuYT9ecKV",
            "mode": "list",
            "cachedResultUrl": "/workflow/1XGShOEybzHHhuYT9ecKV",
            "cachedResultName": "SBFL - Allocation - Generate Allocation Shipments"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "user_id": "={{ $json.userid }}"
            },
            "matchingColumns": [
              "user_id"
            ],
            "schema": [
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -208,
          256
        ],
        "id": "c8e90e78-4587-48de-ab19-b35a47af73ab",
        "name": "Call 'SBFL - Allocation - Generate Allocation Shipments'",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "vDqo3Lwl8I7cG0P1vFbIW",
            "mode": "list",
            "cachedResultUrl": "/workflow/vDqo3Lwl8I7cG0P1vFbIW",
            "cachedResultName": "SBFL - Allocation - Upload Payloads to Kafka"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "user_id": "={{ $('When Executed by Another Workflow').item.json.userid }}",
              "data": "={{ $json }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "data",
                "displayName": "data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          208,
          176
        ],
        "id": "024eb2a5-ec74-4190-94fc-2d2eba5ef68d",
        "name": "Call 'SBFL - Allocation - Upload Payloads to Kafka'",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "w1tHRoLY57jNiy3V",
            "mode": "list",
            "cachedResultUrl": "/workflow/w1tHRoLY57jNiy3V",
            "cachedResultName": "Run Apache Airflow DAG and Retrieve XCom Value"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "wait": 60,
              "wait_time": 285,
              "dag_run_id": "rms_wmos_shipments_optimized_every4hours"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "dag_run_id",
                "displayName": "dag_run_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "data",
                "displayName": "data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "wait",
                "displayName": "wait",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number"
              },
              {
                "id": "wait_time",
                "displayName": "wait_time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          432,
          176
        ],
        "id": "75438eff-79b1-4e80-8b4b-e67b3fb37fde",
        "name": "Call 'Run Apache Airflow DAG and Retrieve XCom Value'",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "errorMessage": "={{ $json.error }}"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          432,
          416
        ],
        "id": "bbf53b42-ae5e-473e-b59b-5cb1322462b9",
        "name": "DAG Run failed or wait too long",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "content": "## Run DAG in Airflow\n**rms_wmos_shipments_optimized_every4hours** ",
          "height": 624,
          "width": 224,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          368,
          0
        ],
        "typeVersion": 1,
        "id": "13f5504d-3232-4f27-8bb8-488230618ec9",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "errorMessage": "=Failed to upload tXML Shipment payloads to KAFKA topic.\n{{ $json.error }}"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          208,
          416
        ],
        "id": "a8a32215-8528-44b5-9a49-8c7263247814",
        "name": "Failed to upload payloads to KAFKA topic",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "content": "## Check Shipment in Databricks\n**REST API\nshipconfirm_out_json_007_raw_v3** ",
          "height": 624,
          "width": 224,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          592,
          0
        ],
        "typeVersion": 1,
        "id": "a70e6ec0-4f0e-4a45-b61e-76dc7917b684",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "errorMessage": "=Can not find Shipment record for allocation in MFCS\n{{ $json.error }}"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          880,
          416
        ],
        "id": "140b3939-8a70-485c-bf8d-bf6591d67f79",
        "name": "Can not find Shipment in MFCS",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "PFCgyfPDbWi1ZfuX",
            "mode": "list",
            "cachedResultUrl": "/workflow/PFCgyfPDbWi1ZfuX",
            "cachedResultName": "SBFL - Allocation - Check Allocation Shipment in MFCS"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "data": "={{ $('Merge').item.json }}",
              "wait": 60,
              "user_id": "={{ $('When Executed by Another Workflow').item.json.userid }}",
              "wait_time": 10
            },
            "matchingColumns": [
              "data"
            ],
            "schema": [
              {
                "id": "data",
                "displayName": "data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              },
              {
                "id": "wait",
                "displayName": "wait",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number",
                "removed": false
              },
              {
                "id": "wait_time",
                "displayName": "wait_time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number",
                "removed": false
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          880,
          176
        ],
        "id": "2b82a0a9-2bfa-4795-afb7-965259433a65",
        "name": "Call 'SBFL - Allocation - Check Allocation Shipment in MFCS'",
        "alwaysOutputData": false,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "content": "## Upload Payloads to KAFKA topic \n**shipconfirm_out_json_007**",
          "height": 624,
          "width": 224,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          144,
          0
        ],
        "typeVersion": 1,
        "id": "5cf6cc2e-cf8d-4b55-92f5-220b70445566",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "content": "## Check Shipment in MFCS \n**REST API** ",
          "height": 624,
          "width": 224
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          816,
          0
        ],
        "typeVersion": 1,
        "id": "5c95c12c-feef-478d-a07a-bef440b3fdfc",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "errorMessage": "=Can not find Shipment record for allocation in Databricks\n{{ $json.error }}"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          656,
          416
        ],
        "id": "a80fa9e2-85fe-4e2e-8848-74038b6d07f9",
        "name": "Can not find Shipment in Databricks",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "siS4ZkH4oON7cBxj",
            "mode": "list",
            "cachedResultUrl": "/workflow/siS4ZkH4oON7cBxj",
            "cachedResultName": "SBFL - Allocation - Check Allocation Shipment in Databricks"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "data": "={{ $('Merge').item.json }}",
              "user_id": "={{ $('When Executed by Another Workflow').item.json.userid }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "data",
                "displayName": "data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object"
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          656,
          176
        ],
        "id": "6a35b622-c7ba-4486-adaa-5ea1f005edce",
        "name": "Call 'SBFL - Allocation - Check Allocation Shipment in Databricks'",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $if ($('Call \\'SBFL - Allocation - Upload Payloads to Kafka\\'').isExecuted,\"Input from \\\"Call SBFL - Allocation - Upload Payloads to Kafka\\\" node: \\n \"+$('Call \\'SBFL - Allocation - Upload Payloads to Kafka\\'').item.json.toJsonString(),\"\" )}}\n\n{{ $if ($('Call \\'Run Apache Airflow DAG and Retrieve XCom Value\\'').isExecuted,\"Input from \\\"Run Apache Airflow DAG and Retrieve\\\" node: \\n \"+$('Call \\'Run Apache Airflow DAG and Retrieve XCom Value\\'').item.json.toJsonString(),\"\" )}}\n\n{{ $if ($('Call \\'SBFL - Allocation - Check Allocation Shipment in Databricks\\'').isExecuted,\"Input from \\\"Call SBFL - Allocation - Check Allocation Shipment in Databricks\\\" node: \\n \"+$('Call \\'SBFL - Allocation - Check Allocation Shipment in Databricks\\'').item.json.toJsonString(),\"\" )}}\n\n{{ $if ($('Call \\'SBFL - Allocation - Check Allocation Shipment in MFCS\\'').isExecuted,\"Input from \\\"Call SBFL - Allocation - Check Allocation Shipment in MFCS\\\" node: \\n \"+$('Call \\'SBFL - Allocation - Check Allocation Shipment in MFCS\\'').item.json.toJsonString(),\"\" )}}",
          "options": {
            "systemMessage": "Use the incoming inputs to create a short summary from all input nodes. "
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          1120,
          160
        ],
        "id": "2354be47-0d43-4e81-84b2-ba76bc0c52a1",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          1120,
          304
        ],
        "id": "329d4197-c002-497d-9f47-4e36f287b6e5",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "FIpUb1C3cbh8qN71",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Result evaluation with AI \n",
          "height": 624,
          "width": 1136,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1040,
          0
        ],
        "typeVersion": 1,
        "id": "b24f3e2a-a412-4afd-9cea-c4a26a47240a",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $if ($('Failed to generate tXML for Shipment').isExecuted,\"Error from \\\"SBFL - Allocation - Generate Allocation Shipments\\\" node: \\n \"+$('Failed to generate tXML for Shipment').item.json.error.toJsonString(),\"\") }}\n\n{{ $if ($('Failed to upload payloads to KAFKA topic').isExecuted,\"Error from \\\"SBFL - Allocation - Upload Payloads to Kafka\\\" node: \\n \"+$('Failed to upload payloads to KAFKA topic').item.json.error.toJsonString(),\"\") }}\n\n{{ $if ($('Can not find Shipment in Databricks').isExecuted,\"Error from \\\"SBFL - Allocation - Check Allocation Shipment in Databricks\\\" node: \\n \"+$('Can not find Shipment in Databricks').item.json.error.toJsonString(),\"\") }}\n\n{{ $if ($('Can not find Shipment in MFCS').isExecuted,\"Error from \\\"SBFL - Allocation - Check Allocation Shipment in MFCS\\\" node: \\n \"+$('Can not find Shipment in MFCS').item.json.error.toJsonString(),\"\") }}",
          "options": {
            "systemMessage": "Use the incoming errors to create a summary from all nodes."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          1120,
          416
        ],
        "id": "07743ae9-8741-415c-9466-b320a74c21a1",
        "name": "AI Agent1"
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "fmq7TTUtjjt9Qdjh",
            "mode": "list",
            "cachedResultName": "WORKFLOW_OUTPUT",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/fmq7TTUtjjt9Qdjh"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "user_id": "={{ $('When Executed by Another Workflow').item.json.userid }}",
              "output_message": "={{ $('AI Agent').item.json.output }}",
              "status": "success",
              "workflow_id": "={{ $workflow.id }}",
              "data_1": "={{ $('Merge').item.json.data.toJsonString() }}",
              "data_2": "={{ $('AI Agent2').item.json.output }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "workflow_id",
                "displayName": "workflow_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "output_message",
                "displayName": "output_message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "data_1",
                "displayName": "data_1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "data_2",
                "displayName": "data_2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "data_3",
                "displayName": "data_3",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1936,
          160
        ],
        "id": "c6630571-6797-4fb6-ba0d-59f0eda548d7",
        "name": "Insert row"
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "fmq7TTUtjjt9Qdjh",
            "mode": "list",
            "cachedResultName": "WORKFLOW_OUTPUT",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/fmq7TTUtjjt9Qdjh"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "workflow_id": "={{ $workflow.id }}",
              "user_id": "={{ $('When Executed by Another Workflow').item.json.userid }}",
              "status": "error",
              "output_message": "={{ $('AI Agent1').item.json.output }}",
              "data_1": "={{ $('Merge').item.json.data.toJsonString() }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "workflow_id",
                "displayName": "workflow_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "output_message",
                "displayName": "output_message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "data_1",
                "displayName": "data_1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "data_2",
                "displayName": "data_2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "data_3",
                "displayName": "data_3",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1536,
          416
        ],
        "id": "e755c141-3437-4d6e-8790-58440f5bdae2",
        "name": "Insert row1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "518b25bc-6df3-4e66-b446-5fb2bbbf3f57",
                "leftValue": "={{ $('Merge').isExecuted }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1376,
          416
        ],
        "id": "88f9d7ed-04a3-4e7e-9dd5-d8c308d03139",
        "name": "If"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "hk8gBzPCwdeTj0vo",
            "mode": "list",
            "cachedResultName": "MFCS_MSG_DATA",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/hk8gBzPCwdeTj0vo"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "message_type",
                "keyValue": "XAllocShipment"
              },
              {
                "keyName": "user_id",
                "keyValue": "={{ $('When Executed by Another Workflow').item.json.userid }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1392,
          160
        ],
        "id": "112e2b9d-58d1-4a89-983f-4364c944b8c2",
        "name": "Get row(s)"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $if ($('Call \\'SBFL - Allocation - Generate Allocation Shipments\\'').isExecuted, $('Call \\'SBFL - Allocation - Generate Allocation Shipments\\'').item.json.toJsonString(),\"\" )}}\n\n{{ $json.message_data.toJsonString() }}",
          "options": {
            "systemMessage": "DO NOT GENERATE RUNNABLE CODE!\nConvert the incoming inputs into html tables. Use \"BillOfLading\" and \"bol_no\" fields to compare the 2 results. If found matched results and the input contains locations,items, qty-s fields then collect and compare them and show any discrepancies."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          1648,
          160
        ],
        "id": "b26b8a2a-efe5-41f3-86ee-501aa2677ab2",
        "name": "AI Agent2"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "message_data"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1520,
          160
        ],
        "id": "dd6693fc-111c-49cd-ab6a-630b1dac46b4",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "jsCode": "  try {\n     if(!!$input.first().json.binary.data_0.data && $input.first().json.binary.data_0.data !== undefined && $input.first().json.binary.data_0.data !== null ){ \n      return [\n              {\n                binary: {\n                  data: {\n                    data: $input.first().json.binary.data_0.data, // your Base64 string\n                    mimeType: $input.first().json.binary.data_0.mimeType,\n                    fileExtension: $input.first().json.binary.data_0.fileExtension,\n                    fileName: $input.first().json.binary.data_0.fileName,\n                    fileSize: $input.first().json.binary.data_0.fileSize,\n                    id: $input.first().json.binary.data_0.id,\n                  },\n                },\n              },\n            ];\n    }\n    } catch (e) {\n     try {\n      return [\n              {\n                binary: {\n                  data: {\n                    data: $input.first().json.binary.data0.data, // your Base64 string\n                    mimeType: $input.first().json.binary.data0.mimeType,\n                    fileExtension: $input.first().json.binary.data0.fileExtension,\n                    fileName: $input.first().json.binary.data0.fileName,\n                    fileSize: $input.first().json.binary.data0.fileSize,\n                    id: $input.first().json.binary.data0.id,\n                  },\n                },\n              },\n            ];\n       } catch (e) {\n       return $input.all();\n       }\n    }\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -416,
          176
        ],
        "id": "dc4bd859-6e1f-4ce2-81ed-3f3a21001167",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "a27b7f25-818b-420b-a41e-cec969382aa1",
                "leftValue": "={{ $binary.data }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -384,
          432
        ],
        "id": "8dd8c0c6-0a26-46a3-87c2-09e4dfc86881",
        "name": "If1"
      },
      {
        "parameters": {
          "operation": "fromJson",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "position": [
          -208,
          96
        ],
        "id": "5694f513-4d49-47f9-9572-6f611cfde592",
        "name": "Extract from File"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -16,
          176
        ],
        "id": "7b21f831-26dd-43f8-9ecd-fd3425e7ee48",
        "name": "Merge"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'SBFL - Allocation - Generate Allocation Shipments'": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ],
          [
            {
              "node": "Failed to generate tXML for Shipment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Run Apache Airflow DAG and Retrieve XCom Value'": {
        "main": [
          [
            {
              "node": "Call 'SBFL - Allocation - Check Allocation Shipment in Databricks'",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "DAG Run failed or wait too long",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'SBFL - Allocation - Upload Payloads to Kafka'": {
        "main": [
          [
            {
              "node": "Call 'Run Apache Airflow DAG and Retrieve XCom Value'",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Failed to upload payloads to KAFKA topic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'SBFL - Allocation - Check Allocation Shipment in MFCS'": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Can not find Shipment in MFCS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DAG Run failed or wait too long": {
        "main": [
          [
            {
              "node": "Call 'SBFL - Allocation - Check Allocation Shipment in Databricks'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'SBFL - Allocation - Check Allocation Shipment in Databricks'": {
        "main": [
          [
            {
              "node": "Call 'SBFL - Allocation - Check Allocation Shipment in MFCS'",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Can not find Shipment in Databricks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Get row(s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "AI Agent1",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "AI Agent2",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent1": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Failed to generate tXML for Shipment": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Failed to upload payloads to KAFKA topic": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Can not find Shipment in Databricks": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Can not find Shipment in MFCS": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Insert row1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert row": {
        "main": [
          []
        ]
      },
      "Get row(s)": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "AI Agent2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent2": {
        "main": [
          [
            {
              "node": "Insert row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call 'SBFL - Allocation - Generate Allocation Shipments'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Call 'SBFL - Allocation - Upload Payloads to Kafka'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "zoltan karancsi",
    "name": "Version 91a74163",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "91a74163-4527-43be-afde-21f92649aa89",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'SBFL - Allocation - Generate Allocation Shipments'": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Failed to generate tXML for Shipment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Run Apache Airflow DAG and Retrieve XCom Value'": {
      "main": [
        [
          {
            "node": "Call 'SBFL - Allocation - Check Allocation Shipment in Databricks'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DAG Run failed or wait too long",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'SBFL - Allocation - Upload Payloads to Kafka'": {
      "main": [
        [
          {
            "node": "Call 'Run Apache Airflow DAG and Retrieve XCom Value'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed to upload payloads to KAFKA topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'SBFL - Allocation - Check Allocation Shipment in MFCS'": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Can not find Shipment in MFCS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DAG Run failed or wait too long": {
      "main": [
        [
          {
            "node": "Call 'SBFL - Allocation - Check Allocation Shipment in Databricks'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'SBFL - Allocation - Check Allocation Shipment in Databricks'": {
      "main": [
        [
          {
            "node": "Call 'SBFL - Allocation - Check Allocation Shipment in MFCS'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Can not find Shipment in Databricks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Failed to generate tXML for Shipment": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Failed to upload payloads to KAFKA topic": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can not find Shipment in Databricks": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can not find Shipment in MFCS": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        []
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'SBFL - Allocation - Generate Allocation Shipments'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Call 'SBFL - Allocation - Upload Payloads to Kafka'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-16T12:33:17.598Z",
  "id": "fqSjG9Otvq5CNhuT0xOH3",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "5B - Test case - Allocation - Shipment",
  "nodes": [
    {
      "parameters": {
        "content": "## Call from other workflow\n**** ",
        "height": 624,
        "width": 256,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -768,
        0
      ],
      "typeVersion": 1,
      "id": "c609ad2b-e893-424b-a324-648977fd4e43",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -688,
        256
      ],
      "id": "026fbd00-e356-4096-9e2c-c8ac384adf60",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "## Payload generation \n**Create JSON file for allocation shipment**",
        "height": 624,
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -448,
        0
      ],
      "typeVersion": 1,
      "id": "f4ff3645-4860-40bf-9508-fc73e2e80312",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "errorMessage": "=Failed to generate tXML for Shipment.\n{{ $json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -16,
        416
      ],
      "id": "85525a0f-ea64-4cfb-a950-b44fa302ac88",
      "name": "Failed to generate tXML for Shipment",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1XGShOEybzHHhuYT9ecKV",
          "mode": "list",
          "cachedResultUrl": "/workflow/1XGShOEybzHHhuYT9ecKV",
          "cachedResultName": "SBFL - Allocation - Generate Allocation Shipments"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.userid }}"
          },
          "matchingColumns": [
            "user_id"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -208,
        256
      ],
      "id": "c8e90e78-4587-48de-ab19-b35a47af73ab",
      "name": "Call 'SBFL - Allocation - Generate Allocation Shipments'",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vDqo3Lwl8I7cG0P1vFbIW",
          "mode": "list",
          "cachedResultUrl": "/workflow/vDqo3Lwl8I7cG0P1vFbIW",
          "cachedResultName": "SBFL - Allocation - Upload Payloads to Kafka"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('When Executed by Another Workflow').item.json.userid }}",
            "data": "={{ $json }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        208,
        176
      ],
      "id": "024eb2a5-ec74-4190-94fc-2d2eba5ef68d",
      "name": "Call 'SBFL - Allocation - Upload Payloads to Kafka'",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "w1tHRoLY57jNiy3V",
          "mode": "list",
          "cachedResultUrl": "/workflow/w1tHRoLY57jNiy3V",
          "cachedResultName": "Run Apache Airflow DAG and Retrieve XCom Value"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "wait": 60,
            "wait_time": 285,
            "dag_run_id": "rms_wmos_shipments_optimized_every4hours"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "dag_run_id",
              "displayName": "dag_run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "wait",
              "displayName": "wait",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "wait_time",
              "displayName": "wait_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        432,
        176
      ],
      "id": "75438eff-79b1-4e80-8b4b-e67b3fb37fde",
      "name": "Call 'Run Apache Airflow DAG and Retrieve XCom Value'",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        432,
        416
      ],
      "id": "bbf53b42-ae5e-473e-b59b-5cb1322462b9",
      "name": "DAG Run failed or wait too long",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Run DAG in Airflow\n**rms_wmos_shipments_optimized_every4hours** ",
        "height": 624,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        0
      ],
      "typeVersion": 1,
      "id": "13f5504d-3232-4f27-8bb8-488230618ec9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "errorMessage": "=Failed to upload tXML Shipment payloads to KAFKA topic.\n{{ $json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        208,
        416
      ],
      "id": "a8a32215-8528-44b5-9a49-8c7263247814",
      "name": "Failed to upload payloads to KAFKA topic",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Check Shipment in Databricks\n**REST API\nshipconfirm_out_json_007_raw_v3** ",
        "height": 624,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        0
      ],
      "typeVersion": 1,
      "id": "a70e6ec0-4f0e-4a45-b61e-76dc7917b684",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "errorMessage": "=Can not find Shipment record for allocation in MFCS\n{{ $json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        880,
        416
      ],
      "id": "140b3939-8a70-485c-bf8d-bf6591d67f79",
      "name": "Can not find Shipment in MFCS",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PFCgyfPDbWi1ZfuX",
          "mode": "list",
          "cachedResultUrl": "/workflow/PFCgyfPDbWi1ZfuX",
          "cachedResultName": "SBFL - Allocation - Check Allocation Shipment in MFCS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $('Merge').item.json }}",
            "wait": 60,
            "user_id": "={{ $('When Executed by Another Workflow').item.json.userid }}",
            "wait_time": 10
          },
          "matchingColumns": [
            "data"
          ],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "wait",
              "displayName": "wait",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "wait_time",
              "displayName": "wait_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        880,
        176
      ],
      "id": "2b82a0a9-2bfa-4795-afb7-965259433a65",
      "name": "Call 'SBFL - Allocation - Check Allocation Shipment in MFCS'",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Upload Payloads to KAFKA topic \n**shipconfirm_out_json_007**",
        "height": 624,
        "width": 224,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        0
      ],
      "typeVersion": 1,
      "id": "5cf6cc2e-cf8d-4b55-92f5-220b70445566",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Check Shipment in MFCS \n**REST API** ",
        "height": 624,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        0
      ],
      "typeVersion": 1,
      "id": "5c95c12c-feef-478d-a07a-bef440b3fdfc",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "errorMessage": "=Can not find Shipment record for allocation in Databricks\n{{ $json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        656,
        416
      ],
      "id": "a80fa9e2-85fe-4e2e-8848-74038b6d07f9",
      "name": "Can not find Shipment in Databricks",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "siS4ZkH4oON7cBxj",
          "mode": "list",
          "cachedResultUrl": "/workflow/siS4ZkH4oON7cBxj",
          "cachedResultName": "SBFL - Allocation - Check Allocation Shipment in Databricks"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $('Merge').item.json }}",
            "user_id": "={{ $('When Executed by Another Workflow').item.json.userid }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        656,
        176
      ],
      "id": "6a35b622-c7ba-4486-adaa-5ea1f005edce",
      "name": "Call 'SBFL - Allocation - Check Allocation Shipment in Databricks'",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $if ($('Call \\'SBFL - Allocation - Upload Payloads to Kafka\\'').isExecuted,\"Input from \\\"Call SBFL - Allocation - Upload Payloads to Kafka\\\" node: \\n \"+$('Call \\'SBFL - Allocation - Upload Payloads to Kafka\\'').item.json.toJsonString(),\"\" )}}\n\n{{ $if ($('Call \\'Run Apache Airflow DAG and Retrieve XCom Value\\'').isExecuted,\"Input from \\\"Run Apache Airflow DAG and Retrieve\\\" node: \\n \"+$('Call \\'Run Apache Airflow DAG and Retrieve XCom Value\\'').item.json.toJsonString(),\"\" )}}\n\n{{ $if ($('Call \\'SBFL - Allocation - Check Allocation Shipment in Databricks\\'').isExecuted,\"Input from \\\"Call SBFL - Allocation - Check Allocation Shipment in Databricks\\\" node: \\n \"+$('Call \\'SBFL - Allocation - Check Allocation Shipment in Databricks\\'').item.json.toJsonString(),\"\" )}}\n\n{{ $if ($('Call \\'SBFL - Allocation - Check Allocation Shipment in MFCS\\'').isExecuted,\"Input from \\\"Call SBFL - Allocation - Check Allocation Shipment in MFCS\\\" node: \\n \"+$('Call \\'SBFL - Allocation - Check Allocation Shipment in MFCS\\'').item.json.toJsonString(),\"\" )}}",
        "options": {
          "systemMessage": "Use the incoming inputs to create a short summary from all input nodes. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1120,
        160
      ],
      "id": "2354be47-0d43-4e81-84b2-ba76bc0c52a1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1120,
        304
      ],
      "id": "329d4197-c002-497d-9f47-4e36f287b6e5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FIpUb1C3cbh8qN71",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Result evaluation with AI \n",
        "height": 624,
        "width": 1136,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        0
      ],
      "typeVersion": 1,
      "id": "b24f3e2a-a412-4afd-9cea-c4a26a47240a",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $if ($('Failed to generate tXML for Shipment').isExecuted,\"Error from \\\"SBFL - Allocation - Generate Allocation Shipments\\\" node: \\n \"+$('Failed to generate tXML for Shipment').item.json.error.toJsonString(),\"\") }}\n\n{{ $if ($('Failed to upload payloads to KAFKA topic').isExecuted,\"Error from \\\"SBFL - Allocation - Upload Payloads to Kafka\\\" node: \\n \"+$('Failed to upload payloads to KAFKA topic').item.json.error.toJsonString(),\"\") }}\n\n{{ $if ($('Can not find Shipment in Databricks').isExecuted,\"Error from \\\"SBFL - Allocation - Check Allocation Shipment in Databricks\\\" node: \\n \"+$('Can not find Shipment in Databricks').item.json.error.toJsonString(),\"\") }}\n\n{{ $if ($('Can not find Shipment in MFCS').isExecuted,\"Error from \\\"SBFL - Allocation - Check Allocation Shipment in MFCS\\\" node: \\n \"+$('Can not find Shipment in MFCS').item.json.error.toJsonString(),\"\") }}",
        "options": {
          "systemMessage": "Use the incoming errors to create a summary from all nodes."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1120,
        416
      ],
      "id": "07743ae9-8741-415c-9466-b320a74c21a1",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "fmq7TTUtjjt9Qdjh",
          "mode": "list",
          "cachedResultName": "WORKFLOW_OUTPUT",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/fmq7TTUtjjt9Qdjh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('When Executed by Another Workflow').item.json.userid }}",
            "output_message": "={{ $('AI Agent').item.json.output }}",
            "status": "success",
            "workflow_id": "={{ $workflow.id }}",
            "data_1": "={{ $('Merge').item.json.data.toJsonString() }}",
            "data_2": "={{ $('AI Agent2').item.json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "output_message",
              "displayName": "output_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "data_1",
              "displayName": "data_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "data_2",
              "displayName": "data_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "data_3",
              "displayName": "data_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1936,
        160
      ],
      "id": "c6630571-6797-4fb6-ba0d-59f0eda548d7",
      "name": "Insert row"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "fmq7TTUtjjt9Qdjh",
          "mode": "list",
          "cachedResultName": "WORKFLOW_OUTPUT",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/fmq7TTUtjjt9Qdjh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_id": "={{ $workflow.id }}",
            "user_id": "={{ $('When Executed by Another Workflow').item.json.userid }}",
            "status": "error",
            "output_message": "={{ $('AI Agent1').item.json.output }}",
            "data_1": "={{ $('Merge').item.json.data.toJsonString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "output_message",
              "displayName": "output_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "data_1",
              "displayName": "data_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "data_2",
              "displayName": "data_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "data_3",
              "displayName": "data_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1536,
        416
      ],
      "id": "e755c141-3437-4d6e-8790-58440f5bdae2",
      "name": "Insert row1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "518b25bc-6df3-4e66-b446-5fb2bbbf3f57",
              "leftValue": "={{ $('Merge').isExecuted }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1376,
        416
      ],
      "id": "88f9d7ed-04a3-4e7e-9dd5-d8c308d03139",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "hk8gBzPCwdeTj0vo",
          "mode": "list",
          "cachedResultName": "MFCS_MSG_DATA",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/hk8gBzPCwdeTj0vo"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "message_type",
              "keyValue": "XAllocShipment"
            },
            {
              "keyName": "user_id",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.userid }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1392,
        160
      ],
      "id": "112e2b9d-58d1-4a89-983f-4364c944b8c2",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $if ($('Call \\'SBFL - Allocation - Generate Allocation Shipments\\'').isExecuted, $('Call \\'SBFL - Allocation - Generate Allocation Shipments\\'').item.json.toJsonString(),\"\" )}}\n\n{{ $json.message_data.toJsonString() }}",
        "options": {
          "systemMessage": "DO NOT GENERATE RUNNABLE CODE!\nConvert the incoming inputs into html tables. Use \"BillOfLading\" and \"bol_no\" fields to compare the 2 results. If found matched results and the input contains locations,items, qty-s fields then collect and compare them and show any discrepancies."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1648,
        160
      ],
      "id": "b26b8a2a-efe5-41f3-86ee-501aa2677ab2",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "message_data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1520,
        160
      ],
      "id": "dd6693fc-111c-49cd-ab6a-630b1dac46b4",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "  try {\n     if(!!$input.first().json.binary.data_0.data && $input.first().json.binary.data_0.data !== undefined && $input.first().json.binary.data_0.data !== null ){ \n      return [\n              {\n                binary: {\n                  data: {\n                    data: $input.first().json.binary.data_0.data, // your Base64 string\n                    mimeType: $input.first().json.binary.data_0.mimeType,\n                    fileExtension: $input.first().json.binary.data_0.fileExtension,\n                    fileName: $input.first().json.binary.data_0.fileName,\n                    fileSize: $input.first().json.binary.data_0.fileSize,\n                    id: $input.first().json.binary.data_0.id,\n                  },\n                },\n              },\n            ];\n    }\n    } catch (e) {\n     try {\n      return [\n              {\n                binary: {\n                  data: {\n                    data: $input.first().json.binary.data0.data, // your Base64 string\n                    mimeType: $input.first().json.binary.data0.mimeType,\n                    fileExtension: $input.first().json.binary.data0.fileExtension,\n                    fileName: $input.first().json.binary.data0.fileName,\n                    fileSize: $input.first().json.binary.data0.fileSize,\n                    id: $input.first().json.binary.data0.id,\n                  },\n                },\n              },\n            ];\n       } catch (e) {\n       return $input.all();\n       }\n    }\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        176
      ],
      "id": "dc4bd859-6e1f-4ce2-81ed-3f3a21001167",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a27b7f25-818b-420b-a41e-cec969382aa1",
              "leftValue": "={{ $binary.data }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -384,
        432
      ],
      "id": "8dd8c0c6-0a26-46a3-87c2-09e4dfc86881",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -208,
        96
      ],
      "id": "5694f513-4d49-47f9-9572-6f611cfde592",
      "name": "Extract from File"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -16,
        176
      ],
      "id": "7b21f831-26dd-43f8-9ecd-fd3425e7ee48",
      "name": "Merge"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "output": {
            "type": "Allocation-Shipment",
            "flowName": "fqSjG9Otvq5CNhuT0xOH3",
            "item": ""
          },
          "userid": "62a17d6f-9dec-4fb8-8784-268462326ad5"
        }
      }
    ]
  },
  "repo_name": "n8n",
  "repo_owner": "qb-stoth",
  "repo_path": "5Bworkflows",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 28800
  },
  "shared": [
    {
      "updatedAt": "2026-01-16T12:33:17.598Z",
      "createdAt": "2026-01-16T12:33:17.598Z",
      "role": "workflow:owner",
      "workflowId": "fqSjG9Otvq5CNhuT0xOH3",
      "projectId": "qocjUN26HqmYcJIH"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-12-03T08:29:30.685Z",
      "createdAt": "2025-12-03T08:29:30.685Z",
      "id": "7XhEcQNHqPX9s6B9",
      "name": "Merch_test_cases"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-27T08:24:14.780Z",
  "versionId": "91a74163-4527-43be-afde-21f92649aa89"
}