5Bworkflows/5B - Test case - SIM DTS PO Receipt(KodK9HvrO03NEnVa).json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-28T16:43:19.678Z",
    "createdAt": "2026-01-28T16:43:14.560Z",
    "versionId": "8eb0a7cf-df7e-4894-ad49-592aa20bd17b",
    "workflowId": "KodK9HvrO03NEnVa",
    "nodes": [
      {
        "parameters": {
          "content": "## Call from other workflow\n**** ",
          "height": 640,
          "width": 256,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1,
        "id": "906b28ed-89c4-4868-9ce6-3fea3cedb513",
        "name": "Sticky Note8"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          80,
          256
        ],
        "id": "0c678de0-f362-4877-94ec-e7b336811737",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "url": "https://rgbu.gbua.us-ashburn-1.oci.oraclecloud.com/hafpxijz8iidegdzdupe/ords/mfcs/5below/n8n/services/getDTSReceiptInfo",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          304,
          160
        ],
        "id": "8f2a4a40-e8d9-40d5-93b9-49a6f6d1ecd2",
        "name": "getDTSReceiptInfo",
        "credentials": {
          "oAuth2Api": {
            "id": "GLwoqYtDVXjbM9Dd",
            "name": "MFCS"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "d9ozshsHd2v1Itkl",
            "mode": "list",
            "cachedResultUrl": "/workflow/d9ozshsHd2v1Itkl",
            "cachedResultName": "Upload to Kafka topic"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "data": "={{ JSON.stringify($json.relayMessage) }}",
              "topicName": "sell_sim_mao_relay_dts_receipt_nrt"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "data",
                "displayName": "data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "topicName",
                "displayName": "topicName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          512,
          64
        ],
        "id": "513d1d96-f75a-4803-9f4c-d74afc57ca3b",
        "name": "Call 'Upload to Kafka topic'"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "w1tHRoLY57jNiy3V",
            "mode": "list",
            "cachedResultUrl": "/workflow/w1tHRoLY57jNiy3V",
            "cachedResultName": "Run Apache Airflow DAG and Retrieve XCom Value"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "dag_run_id": "rms_simdtsreceipts_hourly_adhoc",
              "wait": 60,
              "wait_time": 285
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "dag_run_id",
                "displayName": "dag_run_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "data",
                "displayName": "data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "wait",
                "displayName": "wait",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number"
              },
              {
                "id": "wait_time",
                "displayName": "wait_time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          736,
          64
        ],
        "id": "f90ffd87-e9b4-4ba4-bcda-82c8efb4eee7",
        "name": "Call 'Run Apache Airflow DAG and Retrieve XCom Value'",
        "onError": "continueErrorOutput"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "getDTSReceiptInfo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "getDTSReceiptInfo": {
        "main": [
          [
            {
              "node": "Call 'Upload to Kafka topic'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Upload to Kafka topic'": {
        "main": [
          [
            {
              "node": "Call 'Run Apache Airflow DAG and Retrieve XCom Value'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Attila Zubor",
    "name": "Version 8eb0a7cf",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "8eb0a7cf-df7e-4894-ad49-592aa20bd17b",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "getDTSReceiptInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getDTSReceiptInfo": {
      "main": [
        [
          {
            "node": "Call 'Upload to Kafka topic'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Upload to Kafka topic'": {
      "main": [
        [
          {
            "node": "Call 'Run Apache Airflow DAG and Retrieve XCom Value'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-28T08:45:55.352Z",
  "id": "KodK9HvrO03NEnVa",
  "isArchived": false,
  "meta": null,
  "name": "5B - Test case - SIM DTS PO Receipt",
  "nodes": [
    {
      "parameters": {
        "content": "## Call from other workflow\n**** ",
        "height": 640,
        "width": 256,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "906b28ed-89c4-4868-9ce6-3fea3cedb513",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        80,
        256
      ],
      "id": "0c678de0-f362-4877-94ec-e7b336811737",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "https://rgbu.gbua.us-ashburn-1.oci.oraclecloud.com/hafpxijz8iidegdzdupe/ords/mfcs/5below/n8n/services/getDTSReceiptInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        160
      ],
      "id": "8f2a4a40-e8d9-40d5-93b9-49a6f6d1ecd2",
      "name": "getDTSReceiptInfo",
      "credentials": {
        "oAuth2Api": {
          "id": "GLwoqYtDVXjbM9Dd",
          "name": "MFCS"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "d9ozshsHd2v1Itkl",
          "mode": "list",
          "cachedResultUrl": "/workflow/d9ozshsHd2v1Itkl",
          "cachedResultName": "Upload to Kafka topic"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ JSON.stringify($json.relayMessage) }}",
            "topicName": "sell_sim_mao_relay_dts_receipt_nrt"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "topicName",
              "displayName": "topicName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        512,
        64
      ],
      "id": "513d1d96-f75a-4803-9f4c-d74afc57ca3b",
      "name": "Call 'Upload to Kafka topic'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "w1tHRoLY57jNiy3V",
          "mode": "list",
          "cachedResultUrl": "/workflow/w1tHRoLY57jNiy3V",
          "cachedResultName": "Run Apache Airflow DAG and Retrieve XCom Value"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "dag_run_id": "rms_simdtsreceipts_hourly_adhoc",
            "wait": 60,
            "wait_time": 285
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "dag_run_id",
              "displayName": "dag_run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "wait",
              "displayName": "wait",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "wait_time",
              "displayName": "wait_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        736,
        64
      ],
      "id": "f90ffd87-e9b4-4ba4-bcda-82c8efb4eee7",
      "name": "Call 'Run Apache Airflow DAG and Retrieve XCom Value'",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "output": {
            "type": "SIM DTS PO Receipt",
            "flowName": "KodK9HvrO03NEnVa",
            "item": ""
          },
          "userid": "93ef244a-02d4-4d06-8930-7603d92e50ef"
        }
      }
    ]
  },
  "repo_name": "n8n",
  "repo_owner": "qb-stoth",
  "repo_path": "5Bworkflows",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-28T08:45:55.352Z",
      "createdAt": "2026-01-28T08:45:55.352Z",
      "role": "workflow:owner",
      "workflowId": "KodK9HvrO03NEnVa",
      "projectId": "qocjUN26HqmYcJIH"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-12-03T08:29:30.685Z",
      "createdAt": "2025-12-03T08:29:30.685Z",
      "id": "7XhEcQNHqPX9s6B9",
      "name": "Merch_test_cases"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-28T16:43:14.559Z",
  "versionId": "8eb0a7cf-df7e-4894-ad49-592aa20bd17b"
}