5Bworkflows/Result evaluation with AI(vEalPjbUqXSxT0LoO7ZnS).json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-30T14:26:01.569Z",
    "createdAt": "2026-01-30T14:25:59.372Z",
    "versionId": "255f0075-971c-4559-8d47-c14a1ed13ff8",
    "workflowId": "vEalPjbUqXSxT0LoO7ZnS",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -960,
          224
        ],
        "id": "23b01318-31f0-4e5a-b3c0-4c804beec7d0",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.ai_input_1_1 }}\n{{ $json.ai_input_1_2 }}",
          "options": {
            "systemMessage": "={{ $json.ai_prompt_1 }}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          720,
          192
        ],
        "id": "e8fbeab9-d6d4-4f96-8ce2-a6b4c1eab282",
        "name": "AI Agent",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          1248,
          544
        ],
        "id": "85eb2980-c0af-44e0-baaf-7f9b0b054b27",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "FIpUb1C3cbh8qN71",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('Loop Over Items').item.json.ai_input_2_1 }}\n{{ $('Loop Over Items').item.json.ai_input_2_2 }}",
          "options": {
            "systemMessage": "={{ $('Loop Over Items').item.json.ai_prompt_2 }}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          1584,
          176
        ],
        "id": "3fbc0c3d-a258-4990-ae01-75ec3b9507b4",
        "name": "AI Agent1",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "sendTo": "szabolcs.toth@qbcs.com,attila.zubor@qbcs.com,peter.beck@qbcs.com",
          "subject": "={{ $('Loop Over Items').item.json.subject }}",
          "message": "={{ $('AI Agent').item.json.output }}\n<br><br>\n{{ $('AI Agent1').item.json.output }}",
          "options": {
            "appendAttribution": false,
            "attachmentsUi": {
              "attachmentsBinary": [
                {},
                {
                  "property": "=data2"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          2544,
          160
        ],
        "id": "0d62a42e-7aca-4e26-ae41-77b030d4916a",
        "name": "Send a message",
        "webhookId": "3d473b6e-17c7-4200-8588-b72ab879102b",
        "executeOnce": true,
        "credentials": {
          "gmailOAuth2": {
            "id": "DUshke7IpPd8PQ1f",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "fmq7TTUtjjt9Qdjh",
            "mode": "list",
            "cachedResultName": "WORKFLOW_OUTPUT",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/fmq7TTUtjjt9Qdjh"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "sent",
                "keyValue": "N"
              },
              {
                "keyName": "failed_count",
                "condition": "lte",
                "keyValue": "5"
              }
            ]
          },
          "limit": 100
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -160,
          128
        ],
        "id": "82527b64-3ffe-41ce-b130-0b709b1f9f3e",
        "name": "Get row(s)",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "89d75559-a274-45d0-a5bc-bd1bdbe64199",
                "leftValue": "={{ $('Get row(s)').item.json }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -16,
          128
        ],
        "id": "a54ceecb-aee6-4bf9-907c-19b6b37ab9bb",
        "name": "If"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          256,
          112
        ],
        "id": "1f947936-5fa6-49cf-a6c5-7f54c63e8789",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "b80d2a63-51bc-4a90-9685-4ea617ca9ff7",
                "leftValue": "={{ $json.ai_prompt_1 }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              },
              {
                "id": "5d9873d1-f949-4feb-bf6e-5e59b2868961",
                "leftValue": "={{ $json.ai_prompt_1 }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          496,
          192
        ],
        "id": "09b54d75-ed8b-4cb0-a619-6b94546d5623",
        "name": "If1"
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "value": "fmq7TTUtjjt9Qdjh",
            "mode": "list",
            "cachedResultName": "WORKFLOW_OUTPUT",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/fmq7TTUtjjt9Qdjh"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyValue": "={{ $('Loop Over Items').item.json.id }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "data_1": "={{ $('AI Agent').item.json.output }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "workflow_id",
                "displayName": "workflow_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_input_1_1",
                "displayName": "ai_input_1_1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_input_2_1",
                "displayName": "ai_input_2_1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "data_1",
                "displayName": "data_1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "data_2",
                "displayName": "data_2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "subject",
                "displayName": "subject",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_prompt_1",
                "displayName": "ai_prompt_1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_prompt_2",
                "displayName": "ai_prompt_2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_input_1_2",
                "displayName": "ai_input_1_2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_input_2_2",
                "displayName": "ai_input_2_2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "sent",
                "displayName": "sent",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "failed_count",
                "displayName": "failed_count",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1072,
          192
        ],
        "id": "3efe1fce-ea9b-400d-8173-58146eda7f55",
        "name": "Upsert row(s)"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "b80d2a63-51bc-4a90-9685-4ea617ca9ff7",
                "leftValue": "={{ $('Loop Over Items').item.json.ai_prompt_2 }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              },
              {
                "id": "5d9873d1-f949-4feb-bf6e-5e59b2868961",
                "leftValue": "={{ $('Loop Over Items').item.json.ai_prompt_2 }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1328,
          192
        ],
        "id": "f537840a-90b7-4726-ad19-5f7d46f1f16f",
        "name": "If2"
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "value": "fmq7TTUtjjt9Qdjh",
            "mode": "list",
            "cachedResultName": "WORKFLOW_OUTPUT",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/fmq7TTUtjjt9Qdjh"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyValue": "={{ $('Loop Over Items').item.json.id }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "failed_count": "={{ $('Loop Over Items').item.json.failed_count+1 }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "workflow_id",
                "displayName": "workflow_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_input_1_1",
                "displayName": "ai_input_1_1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_input_2_1",
                "displayName": "ai_input_2_1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "data_1",
                "displayName": "data_1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "data_2",
                "displayName": "data_2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "subject",
                "displayName": "subject",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_prompt_1",
                "displayName": "ai_prompt_1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_prompt_2",
                "displayName": "ai_prompt_2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_input_1_2",
                "displayName": "ai_input_1_2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_input_2_2",
                "displayName": "ai_input_2_2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "sent",
                "displayName": "sent",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "failed_count",
                "displayName": "failed_count",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1952,
          608
        ],
        "id": "21082d5d-8c0a-4ae9-af87-5419903befba",
        "name": "Upsert row(s)1"
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "value": "fmq7TTUtjjt9Qdjh",
            "mode": "list",
            "cachedResultName": "WORKFLOW_OUTPUT",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/fmq7TTUtjjt9Qdjh"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyValue": "={{ $('Loop Over Items').item.json.id }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "data_2": "={{ $('AI Agent1').item.json.output }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "workflow_id",
                "displayName": "workflow_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_input_1_1",
                "displayName": "ai_input_1_1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_input_2_1",
                "displayName": "ai_input_2_1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "data_1",
                "displayName": "data_1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "data_2",
                "displayName": "data_2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "subject",
                "displayName": "subject",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_prompt_1",
                "displayName": "ai_prompt_1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_prompt_2",
                "displayName": "ai_prompt_2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_input_1_2",
                "displayName": "ai_input_1_2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_input_2_2",
                "displayName": "ai_input_2_2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "sent",
                "displayName": "sent",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "failed_count",
                "displayName": "failed_count",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1936,
          160
        ],
        "id": "91d54b22-36ee-461b-b084-d4abbf05f038",
        "name": "Upsert row(s)2"
      },
      {
        "parameters": {
          "sendTo": "szabolcs.toth@qbcs.com,attila.zubor@qbcs.com,peter.beck@qbcs.com",
          "subject": "={{ $('Loop Over Items').item.json.subject }}",
          "message": "={{ $('AI Agent').item.json.output }}",
          "options": {
            "appendAttribution": false,
            "attachmentsUi": {
              "attachmentsBinary": [
                {}
              ]
            }
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          1680,
          384
        ],
        "id": "510a2fe2-2304-4aba-8ee2-f2176d5da746",
        "name": "Send a message1",
        "webhookId": "3d473b6e-17c7-4200-8588-b72ab879102b",
        "executeOnce": true,
        "credentials": {
          "gmailOAuth2": {
            "id": "DUshke7IpPd8PQ1f",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "RpPe0NJLHIYU52fRSxFFp",
            "mode": "list",
            "cachedResultUrl": "/workflow/RpPe0NJLHIYU52fRSxFFp",
            "cachedResultName": "Convert to file"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "data": "={{ $('Loop Over Items').item.json.ai_input_2_1 }}",
              "filename": "input_data.txt"
            },
            "matchingColumns": [
              "data"
            ],
            "schema": [
              {
                "id": "data",
                "displayName": "data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "filename",
                "displayName": "filename",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1504,
          304
        ],
        "id": "69532bb7-affe-4a3a-b3b8-ac8626db7fa2",
        "name": "Call 'Convert to file'"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "RpPe0NJLHIYU52fRSxFFp",
            "mode": "list",
            "cachedResultUrl": "/workflow/RpPe0NJLHIYU52fRSxFFp",
            "cachedResultName": "Convert to file"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "data": "={{ $('Loop Over Items').item.json.ai_input_2_1 }}",
              "filename": "input_data.txt"
            },
            "matchingColumns": [
              "data"
            ],
            "schema": [
              {
                "id": "data",
                "displayName": "data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "filename",
                "displayName": "filename",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2096,
          160
        ],
        "id": "7f8d1c6e-0b56-480c-8f58-1ead6ee5c528",
        "name": "Call 'Convert to file'1"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "RpPe0NJLHIYU52fRSxFFp",
            "mode": "list",
            "cachedResultUrl": "/workflow/RpPe0NJLHIYU52fRSxFFp",
            "cachedResultName": "Convert to file"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "data": "={{ $('Loop Over Items').item.json.ai_input_2_2 }}",
              "filename": "result_data.txt"
            },
            "matchingColumns": [
              "data"
            ],
            "schema": [
              {
                "id": "data",
                "displayName": "data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "filename",
                "displayName": "filename",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2240,
          160
        ],
        "id": "ac6a29da-1995-4de9-9d9c-0bea12c7a3be",
        "name": "Call 'Convert to file'2"
      },
      {
        "parameters": {
          "jsCode": "  try {\n     if(!!$input.first().binary && $input.first().binary !== undefined && $input.first().binary !== null ){ \n       x= $('Call \\'Convert to file\\'1').first().binary;\n       y= $('Call \\'Convert to file\\'2').first().binary;\n      return [\n              {\n                binary: {\n                  \"data\":x.data,\n                  \"data2\":y.data\n                },\n              },\n            ];\n    }\n    } catch (e) {\n      return [\n              {\n                json: {\"error\": e.message\n                }}]\n    }\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2400,
          160
        ],
        "id": "0a0e57a9-c28e-4727-9f7e-5052092a0fb7",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "value": "fmq7TTUtjjt9Qdjh",
            "mode": "list",
            "cachedResultName": "WORKFLOW_OUTPUT",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/fmq7TTUtjjt9Qdjh"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyValue": "={{ $('Loop Over Items').item.json.id }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "sent": "Y"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "workflow_id",
                "displayName": "workflow_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_input_1_1",
                "displayName": "ai_input_1_1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_input_2_1",
                "displayName": "ai_input_2_1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "data_1",
                "displayName": "data_1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "data_2",
                "displayName": "data_2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "subject",
                "displayName": "subject",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_prompt_1",
                "displayName": "ai_prompt_1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_prompt_2",
                "displayName": "ai_prompt_2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_input_1_2",
                "displayName": "ai_input_1_2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_input_2_2",
                "displayName": "ai_input_2_2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "sent",
                "displayName": "sent",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "failed_count",
                "displayName": "failed_count",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          2768,
          608
        ],
        "id": "f800fab7-0a00-4027-9615-07c4d4cf52a7",
        "name": "Upsert row(s)3"
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "value": "fmq7TTUtjjt9Qdjh",
            "mode": "list",
            "cachedResultName": "WORKFLOW_OUTPUT",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/fmq7TTUtjjt9Qdjh"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyValue": "={{ $('Loop Over Items').item.json.id }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "sent": "Y"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "workflow_id",
                "displayName": "workflow_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_input_1_1",
                "displayName": "ai_input_1_1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_input_2_1",
                "displayName": "ai_input_2_1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "data_1",
                "displayName": "data_1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "data_2",
                "displayName": "data_2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "subject",
                "displayName": "subject",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_prompt_1",
                "displayName": "ai_prompt_1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_prompt_2",
                "displayName": "ai_prompt_2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_input_1_2",
                "displayName": "ai_input_1_2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "ai_input_2_2",
                "displayName": "ai_input_2_2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "sent",
                "displayName": "sent",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "failed_count",
                "displayName": "failed_count",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1920,
          384
        ],
        "id": "fc3065be-59ed-4cca-ac12-da521484e0d3",
        "name": "Upsert row(s)4"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -944,
          -48
        ],
        "id": "f7959076-ff9d-4196-8787-d15bd2aa7bdd",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "AalLU8LDhF36U6U6",
            "mode": "list",
            "cachedResultName": "N8N_PARAMETERS",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/AalLU8LDhF36U6U6"
          },
          "limit": 1
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -592,
          128
        ],
        "id": "6e43b0fd-34e5-4b67-820c-d1da8f68a907",
        "name": "Get row(s)1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "00ed7f3a-9f05-469d-b998-7340c0815206",
                "leftValue": "={{ $json.AI_RES_RUNNING }}",
                "rightValue": "Y",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -448,
          128
        ],
        "id": "6b9a1480-f268-40a3-90ef-5d3a3c34d77f",
        "name": "If3"
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "value": "AalLU8LDhF36U6U6",
            "mode": "list",
            "cachedResultName": "N8N_PARAMETERS",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/AalLU8LDhF36U6U6"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyValue": "={{ $('Get row(s)1').item.json.id }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "AI_RES_RUNNING": "Y"
            },
            "matchingColumns": [
              "AI_RES_RUNNING"
            ],
            "schema": [
              {
                "id": "AI_RES_RUNNING",
                "displayName": "AI_RES_RUNNING",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -304,
          128
        ],
        "id": "0cc677bd-0042-45f4-b00c-e68fd8f7d805",
        "name": "change_to_running"
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "value": "AalLU8LDhF36U6U6",
            "mode": "list",
            "cachedResultName": "N8N_PARAMETERS",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/AalLU8LDhF36U6U6"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyValue": "={{ $('Get row(s)1').item.json.id }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "AI_RES_RUNNING": "N"
            },
            "matchingColumns": [
              "AI_RES_RUNNING"
            ],
            "schema": [
              {
                "id": "AI_RES_RUNNING",
                "displayName": "AI_RES_RUNNING",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          400,
          -112
        ],
        "id": "a39ff0d3-73e9-4bcf-81ec-0b731125d243",
        "name": "change_to_stopped"
      }
    ],
    "connections": {
      "AI Agent": {
        "main": [
          [
            {
              "node": "Upsert row(s)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Upsert row(s)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "AI Agent1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent1": {
        "main": [
          [
            {
              "node": "Upsert row(s)2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Upsert row(s)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Get row(s)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "change_to_stopped",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "change_to_stopped",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert row(s)": {
        "main": [
          [
            {
              "node": "If2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert row(s)1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If2": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call 'Convert to file'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert row(s)2": {
        "main": [
          [
            {
              "node": "Call 'Convert to file'1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Convert to file'": {
        "main": [
          [
            {
              "node": "Send a message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message1": {
        "main": [
          [
            {
              "node": "Upsert row(s)4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Convert to file'1": {
        "main": [
          [
            {
              "node": "Call 'Convert to file'2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Convert to file'2": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message": {
        "main": [
          [
            {
              "node": "Upsert row(s)3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert row(s)3": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert row(s)4": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get row(s)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)1": {
        "main": [
          [
            {
              "node": "If3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If3": {
        "main": [
          [],
          [
            {
              "node": "change_to_running",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "change_to_running": {
        "main": [
          [
            {
              "node": "Get row(s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "zoltan karancsi",
    "name": "Version 255f0075",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "255f0075-971c-4559-8d47-c14a1ed13ff8",
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Upsert row(s)2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "change_to_stopped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "change_to_stopped",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Convert to file'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)2": {
      "main": [
        [
          {
            "node": "Call 'Convert to file'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Convert to file'": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Upsert row(s)4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Convert to file'1": {
      "main": [
        [
          {
            "node": "Call 'Convert to file'2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Convert to file'2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Upsert row(s)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [],
        [
          {
            "node": "change_to_running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "change_to_running": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-30T08:41:27.093Z",
  "id": "vEalPjbUqXSxT0LoO7ZnS",
  "isArchived": false,
  "meta": null,
  "name": "Result evaluation with AI",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        224
      ],
      "id": "23b01318-31f0-4e5a-b3c0-4c804beec7d0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.ai_input_1_1 }}\n{{ $json.ai_input_1_2 }}",
        "options": {
          "systemMessage": "={{ $json.ai_prompt_1 }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        720,
        192
      ],
      "id": "e8fbeab9-d6d4-4f96-8ce2-a6b4c1eab282",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1248,
        544
      ],
      "id": "85eb2980-c0af-44e0-baaf-7f9b0b054b27",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FIpUb1C3cbh8qN71",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Loop Over Items').item.json.ai_input_2_1 }}\n{{ $('Loop Over Items').item.json.ai_input_2_2 }}",
        "options": {
          "systemMessage": "={{ $('Loop Over Items').item.json.ai_prompt_2 }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1584,
        176
      ],
      "id": "3fbc0c3d-a258-4990-ae01-75ec3b9507b4",
      "name": "AI Agent1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "szabolcs.toth@qbcs.com,attila.zubor@qbcs.com,peter.beck@qbcs.com",
        "subject": "={{ $('Loop Over Items').item.json.subject }}",
        "message": "={{ $('AI Agent').item.json.output }}\n<br><br>\n{{ $('AI Agent1').item.json.output }}",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {},
              {
                "property": "=data2"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2544,
        160
      ],
      "id": "0d62a42e-7aca-4e26-ae41-77b030d4916a",
      "name": "Send a message",
      "webhookId": "3d473b6e-17c7-4200-8588-b72ab879102b",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "DUshke7IpPd8PQ1f",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "fmq7TTUtjjt9Qdjh",
          "mode": "list",
          "cachedResultName": "WORKFLOW_OUTPUT",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/fmq7TTUtjjt9Qdjh"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "sent",
              "keyValue": "N"
            },
            {
              "keyName": "failed_count",
              "condition": "lte",
              "keyValue": "5"
            }
          ]
        },
        "limit": 100
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -160,
        128
      ],
      "id": "82527b64-3ffe-41ce-b130-0b709b1f9f3e",
      "name": "Get row(s)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "89d75559-a274-45d0-a5bc-bd1bdbe64199",
              "leftValue": "={{ $('Get row(s)').item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -16,
        128
      ],
      "id": "a54ceecb-aee6-4bf9-907c-19b6b37ab9bb",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        256,
        112
      ],
      "id": "1f947936-5fa6-49cf-a6c5-7f54c63e8789",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b80d2a63-51bc-4a90-9685-4ea617ca9ff7",
              "leftValue": "={{ $json.ai_prompt_1 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "5d9873d1-f949-4feb-bf6e-5e59b2868961",
              "leftValue": "={{ $json.ai_prompt_1 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        192
      ],
      "id": "09b54d75-ed8b-4cb0-a619-6b94546d5623",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "fmq7TTUtjjt9Qdjh",
          "mode": "list",
          "cachedResultName": "WORKFLOW_OUTPUT",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/fmq7TTUtjjt9Qdjh"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Loop Over Items').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data_1": "={{ $('AI Agent').item.json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_input_1_1",
              "displayName": "ai_input_1_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_input_2_1",
              "displayName": "ai_input_2_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "data_1",
              "displayName": "data_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "data_2",
              "displayName": "data_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_prompt_1",
              "displayName": "ai_prompt_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_prompt_2",
              "displayName": "ai_prompt_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_input_1_2",
              "displayName": "ai_input_1_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_input_2_2",
              "displayName": "ai_input_2_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "sent",
              "displayName": "sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "failed_count",
              "displayName": "failed_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1072,
        192
      ],
      "id": "3efe1fce-ea9b-400d-8173-58146eda7f55",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b80d2a63-51bc-4a90-9685-4ea617ca9ff7",
              "leftValue": "={{ $('Loop Over Items').item.json.ai_prompt_2 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "5d9873d1-f949-4feb-bf6e-5e59b2868961",
              "leftValue": "={{ $('Loop Over Items').item.json.ai_prompt_2 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1328,
        192
      ],
      "id": "f537840a-90b7-4726-ad19-5f7d46f1f16f",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "fmq7TTUtjjt9Qdjh",
          "mode": "list",
          "cachedResultName": "WORKFLOW_OUTPUT",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/fmq7TTUtjjt9Qdjh"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Loop Over Items').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "failed_count": "={{ $('Loop Over Items').item.json.failed_count+1 }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_input_1_1",
              "displayName": "ai_input_1_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_input_2_1",
              "displayName": "ai_input_2_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "data_1",
              "displayName": "data_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "data_2",
              "displayName": "data_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_prompt_1",
              "displayName": "ai_prompt_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_prompt_2",
              "displayName": "ai_prompt_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_input_1_2",
              "displayName": "ai_input_1_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_input_2_2",
              "displayName": "ai_input_2_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "sent",
              "displayName": "sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "failed_count",
              "displayName": "failed_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1952,
        608
      ],
      "id": "21082d5d-8c0a-4ae9-af87-5419903befba",
      "name": "Upsert row(s)1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "fmq7TTUtjjt9Qdjh",
          "mode": "list",
          "cachedResultName": "WORKFLOW_OUTPUT",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/fmq7TTUtjjt9Qdjh"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Loop Over Items').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data_2": "={{ $('AI Agent1').item.json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_input_1_1",
              "displayName": "ai_input_1_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_input_2_1",
              "displayName": "ai_input_2_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "data_1",
              "displayName": "data_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "data_2",
              "displayName": "data_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_prompt_1",
              "displayName": "ai_prompt_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_prompt_2",
              "displayName": "ai_prompt_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_input_1_2",
              "displayName": "ai_input_1_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_input_2_2",
              "displayName": "ai_input_2_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "sent",
              "displayName": "sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "failed_count",
              "displayName": "failed_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1936,
        160
      ],
      "id": "91d54b22-36ee-461b-b084-d4abbf05f038",
      "name": "Upsert row(s)2"
    },
    {
      "parameters": {
        "sendTo": "szabolcs.toth@qbcs.com,attila.zubor@qbcs.com,peter.beck@qbcs.com",
        "subject": "={{ $('Loop Over Items').item.json.subject }}",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1680,
        384
      ],
      "id": "510a2fe2-2304-4aba-8ee2-f2176d5da746",
      "name": "Send a message1",
      "webhookId": "3d473b6e-17c7-4200-8588-b72ab879102b",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "DUshke7IpPd8PQ1f",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RpPe0NJLHIYU52fRSxFFp",
          "mode": "list",
          "cachedResultUrl": "/workflow/RpPe0NJLHIYU52fRSxFFp",
          "cachedResultName": "Convert to file"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $('Loop Over Items').item.json.ai_input_2_1 }}",
            "filename": "input_data.txt"
          },
          "matchingColumns": [
            "data"
          ],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1504,
        304
      ],
      "id": "69532bb7-affe-4a3a-b3b8-ac8626db7fa2",
      "name": "Call 'Convert to file'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RpPe0NJLHIYU52fRSxFFp",
          "mode": "list",
          "cachedResultUrl": "/workflow/RpPe0NJLHIYU52fRSxFFp",
          "cachedResultName": "Convert to file"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $('Loop Over Items').item.json.ai_input_2_1 }}",
            "filename": "input_data.txt"
          },
          "matchingColumns": [
            "data"
          ],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2096,
        160
      ],
      "id": "7f8d1c6e-0b56-480c-8f58-1ead6ee5c528",
      "name": "Call 'Convert to file'1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RpPe0NJLHIYU52fRSxFFp",
          "mode": "list",
          "cachedResultUrl": "/workflow/RpPe0NJLHIYU52fRSxFFp",
          "cachedResultName": "Convert to file"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $('Loop Over Items').item.json.ai_input_2_2 }}",
            "filename": "result_data.txt"
          },
          "matchingColumns": [
            "data"
          ],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2240,
        160
      ],
      "id": "ac6a29da-1995-4de9-9d9c-0bea12c7a3be",
      "name": "Call 'Convert to file'2"
    },
    {
      "parameters": {
        "jsCode": "  try {\n     if(!!$input.first().binary && $input.first().binary !== undefined && $input.first().binary !== null ){ \n       x= $('Call \\'Convert to file\\'1').first().binary;\n       y= $('Call \\'Convert to file\\'2').first().binary;\n      return [\n              {\n                binary: {\n                  \"data\":x.data,\n                  \"data2\":y.data\n                },\n              },\n            ];\n    }\n    } catch (e) {\n      return [\n              {\n                json: {\"error\": e.message\n                }}]\n    }\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        160
      ],
      "id": "0a0e57a9-c28e-4727-9f7e-5052092a0fb7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "fmq7TTUtjjt9Qdjh",
          "mode": "list",
          "cachedResultName": "WORKFLOW_OUTPUT",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/fmq7TTUtjjt9Qdjh"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Loop Over Items').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sent": "Y"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_input_1_1",
              "displayName": "ai_input_1_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_input_2_1",
              "displayName": "ai_input_2_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "data_1",
              "displayName": "data_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "data_2",
              "displayName": "data_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_prompt_1",
              "displayName": "ai_prompt_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_prompt_2",
              "displayName": "ai_prompt_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_input_1_2",
              "displayName": "ai_input_1_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_input_2_2",
              "displayName": "ai_input_2_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "sent",
              "displayName": "sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "failed_count",
              "displayName": "failed_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2768,
        608
      ],
      "id": "f800fab7-0a00-4027-9615-07c4d4cf52a7",
      "name": "Upsert row(s)3"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "fmq7TTUtjjt9Qdjh",
          "mode": "list",
          "cachedResultName": "WORKFLOW_OUTPUT",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/fmq7TTUtjjt9Qdjh"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Loop Over Items').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sent": "Y"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_input_1_1",
              "displayName": "ai_input_1_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_input_2_1",
              "displayName": "ai_input_2_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "data_1",
              "displayName": "data_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "data_2",
              "displayName": "data_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_prompt_1",
              "displayName": "ai_prompt_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_prompt_2",
              "displayName": "ai_prompt_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_input_1_2",
              "displayName": "ai_input_1_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_input_2_2",
              "displayName": "ai_input_2_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "sent",
              "displayName": "sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "failed_count",
              "displayName": "failed_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1920,
        384
      ],
      "id": "fc3065be-59ed-4cca-ac12-da521484e0d3",
      "name": "Upsert row(s)4"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -944,
        -48
      ],
      "id": "f7959076-ff9d-4196-8787-d15bd2aa7bdd",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "AalLU8LDhF36U6U6",
          "mode": "list",
          "cachedResultName": "N8N_PARAMETERS",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/AalLU8LDhF36U6U6"
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -592,
        128
      ],
      "id": "6e43b0fd-34e5-4b67-820c-d1da8f68a907",
      "name": "Get row(s)1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "00ed7f3a-9f05-469d-b998-7340c0815206",
              "leftValue": "={{ $json.AI_RES_RUNNING }}",
              "rightValue": "Y",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -448,
        128
      ],
      "id": "6b9a1480-f268-40a3-90ef-5d3a3c34d77f",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "AalLU8LDhF36U6U6",
          "mode": "list",
          "cachedResultName": "N8N_PARAMETERS",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/AalLU8LDhF36U6U6"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Get row(s)1').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "AI_RES_RUNNING": "Y"
          },
          "matchingColumns": [
            "AI_RES_RUNNING"
          ],
          "schema": [
            {
              "id": "AI_RES_RUNNING",
              "displayName": "AI_RES_RUNNING",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -304,
        128
      ],
      "id": "0cc677bd-0042-45f4-b00c-e68fd8f7d805",
      "name": "change_to_running"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "AalLU8LDhF36U6U6",
          "mode": "list",
          "cachedResultName": "N8N_PARAMETERS",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/AalLU8LDhF36U6U6"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Get row(s)1').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "AI_RES_RUNNING": "N"
          },
          "matchingColumns": [
            "AI_RES_RUNNING"
          ],
          "schema": [
            {
              "id": "AI_RES_RUNNING",
              "displayName": "AI_RES_RUNNING",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        400,
        -112
      ],
      "id": "a39ff0d3-73e9-4bcf-81ec-0b731125d243",
      "name": "change_to_stopped"
    }
  ],
  "pinData": {},
  "repo_name": "n8n",
  "repo_owner": "qb-stoth",
  "repo_path": "5Bworkflows",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-30T08:41:27.093Z",
      "createdAt": "2026-01-30T08:41:27.093Z",
      "role": "workflow:owner",
      "workflowId": "vEalPjbUqXSxT0LoO7ZnS",
      "projectId": "qocjUN26HqmYcJIH"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-30T14:25:59.371Z",
  "versionId": "255f0075-971c-4559-8d47-c14a1ed13ff8"
}