5Bworkflows/SBFL - Allocation - Upload Allocation CSV to Azure(ih4l6zXS7JwZLDIH).json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-29T14:06:51.277Z",
    "createdAt": "2026-01-29T14:06:49.057Z",
    "versionId": "5a66e323-0467-453b-8eae-6ce429239553",
    "workflowId": "ih4l6zXS7JwZLDIH",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "user_id"
              },
              {
                "name": "data",
                "type": "object"
              },
              {
                "name": "filename"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -704,
          -16
        ],
        "id": "6d9b6961-bcbb-4e00-b5c1-1369e78bc740",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "errorMessage": "=Failed to upload Allocation CSV to Azure!\n{{ $json.error }}"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          288,
          176
        ],
        "id": "9f38a10d-eecf-492e-8025-7a9e528518a1",
        "name": "Stop and Error"
      },
      {
        "parameters": {
          "language": "pythonNative",
          "pythonCode": "# Loop over input items and add a new field called 'my_new_field' to the JSON of each one\n\nreturn {\"Message\" : \"CSV was uploaded successfully to Azure.\"}\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          -80
        ],
        "id": "6a9092c0-3117-4538-a0b2-95868639dfa6",
        "name": "Return"
      },
      {
        "parameters": {
          "options": {
            "headerRow": true,
            "includeEmptyCells": true
          }
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "position": [
          -448,
          -32
        ],
        "id": "6db56e74-8f0c-4df2-ae84-56f4206148b3",
        "name": "Extract from File"
      },
      {
        "parameters": {
          "options": {
            "fileName": "={{ $('When Executed by Another Workflow').item.json.filename }}",
            "headerRow": false
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          -208,
          -16
        ],
        "id": "f39062cf-c5a7-44c8-8a13-d956ee6f1b43",
        "name": "Convert to File"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "qjwFWh6uEelWF0hR",
            "mode": "list",
            "cachedResultUrl": "/workflow/qjwFWh6uEelWF0hR",
            "cachedResultName": "Upload File To Azure"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "data": "={{ $binary }}",
              "container": "inventory",
              "path": "/allocation/jda/merch-type-8/inbound/csv/",
              "filename": "={{ $('When Executed by Another Workflow').item.json.filename }}"
            },
            "matchingColumns": [
              "data"
            ],
            "schema": [
              {
                "id": "data",
                "displayName": "data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              },
              {
                "id": "path",
                "displayName": "path",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "filename",
                "displayName": "filename",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "container",
                "displayName": "container",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -16,
          0
        ],
        "id": "e447b2d2-a339-45e8-8cf9-ba6da3104937",
        "name": "Call 'Upload File To Azure'",
        "onError": "continueErrorOutput"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Upload File To Azure'": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop and Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File": {
        "main": [
          [
            {
              "node": "Call 'Upload File To Azure'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "zoltan karancsi",
    "name": "Version 5a66e323",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "5a66e323-0467-453b-8eae-6ce429239553",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Upload File To Azure'": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Call 'Upload File To Azure'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-26T08:37:34.511Z",
  "id": "ih4l6zXS7JwZLDIH",
  "isArchived": false,
  "meta": null,
  "name": "SBFL - Allocation - Upload Allocation CSV to Azure",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "user_id"
            },
            {
              "name": "data",
              "type": "object"
            },
            {
              "name": "filename"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -704,
        -16
      ],
      "id": "6d9b6961-bcbb-4e00-b5c1-1369e78bc740",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "errorMessage": "=Failed to upload Allocation CSV to Azure!\n{{ $json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        288,
        176
      ],
      "id": "9f38a10d-eecf-492e-8025-7a9e528518a1",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Loop over input items and add a new field called 'my_new_field' to the JSON of each one\n\nreturn {\"Message\" : \"CSV was uploaded successfully to Azure.\"}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -80
      ],
      "id": "6a9092c0-3117-4538-a0b2-95868639dfa6",
      "name": "Return"
    },
    {
      "parameters": {
        "options": {
          "headerRow": true,
          "includeEmptyCells": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -448,
        -32
      ],
      "id": "6db56e74-8f0c-4df2-ae84-56f4206148b3",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {
          "fileName": "={{ $('When Executed by Another Workflow').item.json.filename }}",
          "headerRow": false
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -208,
        -16
      ],
      "id": "f39062cf-c5a7-44c8-8a13-d956ee6f1b43",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qjwFWh6uEelWF0hR",
          "mode": "list",
          "cachedResultUrl": "/workflow/qjwFWh6uEelWF0hR",
          "cachedResultName": "Upload File To Azure"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $binary }}",
            "container": "inventory",
            "path": "/allocation/jda/merch-type-8/inbound/csv/",
            "filename": "={{ $('When Executed by Another Workflow').item.json.filename }}"
          },
          "matchingColumns": [
            "data"
          ],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "path",
              "displayName": "path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "container",
              "displayName": "container",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -16,
        0
      ],
      "id": "e447b2d2-a339-45e8-8cf9-ba6da3104937",
      "name": "Call 'Upload File To Azure'",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "user_id": "62a17d6f-9dec-4fb8-8784-268462326ad5",
          "filename": "teszt.csv"
        }
      }
    ]
  },
  "repo_name": "n8n",
  "repo_owner": "qb-stoth",
  "repo_path": "5Bworkflows",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-26T08:37:34.511Z",
      "createdAt": "2026-01-26T08:37:34.511Z",
      "role": "workflow:owner",
      "workflowId": "ih4l6zXS7JwZLDIH",
      "projectId": "qocjUN26HqmYcJIH"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-28T08:40:06.911Z",
      "createdAt": "2026-01-28T08:40:06.911Z",
      "id": "Mk9OmPl9J1OAhffI",
      "name": "Allocation"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-29T14:06:49.056Z",
  "versionId": "5a66e323-0467-453b-8eae-6ce429239553"
}