5Bworkflows/SBFL - SIM DTS PO - Check PO Shipments in MFCS(Xq0JELziUEJ06ZXa).json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-26T14:07:05.541Z",
    "createdAt": "2026-01-26T14:07:02.875Z",
    "versionId": "e029b459-2570-4ccd-85e9-b8a08d8012c2",
    "workflowId": "Xq0JELziUEJ06ZXa",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "data",
                "type": "array"
              },
              {
                "name": "wait",
                "type": "number"
              },
              {
                "name": "wait_time",
                "type": "number"
              },
              {
                "name": "user_id"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -2784,
          352
        ],
        "id": "a6357179-3043-4b2c-ba19-b6647a48d556",
        "name": "in data"
      },
      {
        "parameters": {
          "jsCode": "try {\n  $('count').first().json.count += 1\n  return {count:$('count').first().json.count};\n}\ncatch (error) {\n  return {count:1};\n}"
        },
        "id": "78c1d652-ca97-41d3-9a01-f5c705e6be24",
        "name": "count",
        "type": "n8n-nodes-base.code",
        "position": [
          -1040,
          144
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "1829d538-5633-4f5c-ad1b-285b084b35ee",
                "operator": {
                  "type": "number",
                  "operation": "gt"
                },
                "leftValue": "={{ $('count').item.json.count }}",
                "rightValue": "={{ $('in data').all().first().json.wait_time != null ? $('in data').all().first().json.wait_time : 12 }} \n\n"
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "53b835e2-0b45-4b19-99e5-aacf3572e2bd",
        "name": "If count > wait_time",
        "type": "n8n-nodes-base.if",
        "position": [
          -832,
          144
        ],
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "errorMessage": "=MFCS Rest API fail\n{{ $json.error }}"
        },
        "id": "6b20602d-799f-45d1-8d2f-9b250e98e56d",
        "name": "MFCS Rest Api fail",
        "type": "n8n-nodes-base.stopAndError",
        "position": [
          -480,
          640
        ],
        "typeVersion": 1,
        "disabled": true
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -1264,
          272
        ],
        "id": "7da66ed9-11a6-4bfb-859f-199c91044820",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "operation": "deleteRows",
          "dataTableId": {
            "__rl": true,
            "value": "JKf1X0V0NGbJ2coX",
            "mode": "list",
            "cachedResultName": "MFCS_MSG_STATUS",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/JKf1X0V0NGbJ2coX"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "message_type",
                "keyValue": "PoShipment"
              },
              {
                "keyName": "user_id",
                "keyValue": "={{ $('in data').first().json.user_id}}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          -2384,
          96
        ],
        "id": "9e084012-37ca-460a-ac32-70bf32940418",
        "name": "Delete row(s)"
      },
      {
        "parameters": {
          "operation": "deleteRows",
          "dataTableId": {
            "__rl": true,
            "value": "JKf1X0V0NGbJ2coX",
            "mode": "list",
            "cachedResultName": "MFCS_MSG_STATUS",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/JKf1X0V0NGbJ2coX"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "message_type",
                "keyValue": "PoShipment"
              },
              {
                "keyName": "message_id",
                "keyValue": "={{ $json.items[0].orderNo }}"
              },
              {
                "keyName": "user_id",
                "keyValue": "={{ $('in data').first().json.user_id}}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          -784,
          272
        ],
        "id": "180ad540-56e1-41de-8fd8-12f315ff4835",
        "name": "Delete row(s)1",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "JKf1X0V0NGbJ2coX",
            "mode": "list",
            "cachedResultName": "MFCS_MSG_STATUS",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/JKf1X0V0NGbJ2coX"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "message_type",
                "keyValue": "PoShipment"
              },
              {
                "keyName": "user_id",
                "keyValue": "={{ $('in data').first().json.user_id}}"
              }
            ]
          },
          "limit": 1001
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          -16,
          -224
        ],
        "id": "a9fa5394-a2cc-42e7-b191-7fe1f24c81b2",
        "name": "Get row(s)"
      },
      {
        "parameters": {
          "operation": "deleteRows",
          "dataTableId": {
            "__rl": true,
            "value": "hk8gBzPCwdeTj0vo",
            "mode": "list",
            "cachedResultName": "MFCS_MSG_DATA",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/hk8gBzPCwdeTj0vo"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "message_type",
                "keyValue": "PoShipment"
              },
              {
                "keyName": "user_id",
                "keyValue": "={{ $('in data').first().json.user_id}}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          -2384,
          272
        ],
        "id": "469ca0dc-f4c1-403d-8236-9fa6a61c83fc",
        "name": "Delete row(s)2"
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "hk8gBzPCwdeTj0vo",
            "mode": "list",
            "cachedResultName": "MFCS_MSG_DATA",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/hk8gBzPCwdeTj0vo"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "message_type": "PoShipment",
              "message_id": "={{ 'DTSPo_' + $('Get DTS Po').item.json.items[0].orderNo }}",
              "message_data": "={{ $('Get DTS Po').item.json.toJsonString() }}",
              "user_id": "={{ $('in data').first().json.user_id}}",
              "ext_id": "={{ $('Get DTS Po').item.json.items[0].orderNo }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "message_type",
                "displayName": "message_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "message_data",
                "displayName": "message_data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "ext_id",
                "displayName": "ext_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          -464,
          272
        ],
        "id": "8b983b89-5eed-42f0-a7bf-424b60516579",
        "name": "Insert row1"
      },
      {
        "parameters": {
          "operation": "rowNotExists",
          "dataTableId": {
            "__rl": true,
            "value": "hk8gBzPCwdeTj0vo",
            "mode": "list",
            "cachedResultName": "MFCS_MSG_DATA",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/hk8gBzPCwdeTj0vo"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "message_type",
                "keyValue": "PoShipment"
              },
              {
                "keyName": "message_id",
                "keyValue": "={{ $json.items[0].orderNo }}"
              },
              {
                "keyName": "user_id",
                "keyValue": "={{ $('in data').first().json.user_id}}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          -640,
          272
        ],
        "id": "2e3654d2-06ab-46b2-9483-e6b7f618130a",
        "name": "If row does not exist"
      },
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.data = '{\"Message\" : \"All DTS Po Shipments were created successfully.\"}';\n}\n\nreturn $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          368,
          432
        ],
        "id": "6880ea8e-cbc8-4556-bd8c-92612cefadaa",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "command": "=ping -c {{ $('in data').first().json.wait != null ? $('in data').first().json.wait : 60 }} 127.0.0.1 > /dev/null 2>&1"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          -2384,
          464
        ],
        "id": "5f54821e-6ace-4834-adfe-24bdc712295f",
        "name": "Wait"
      },
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet msg='';\nfor (const item of $input.all()) {\n  msg +='Message ID: '+ item.json.message_id+' Error message: '+ item.json.error_message+ '\\n '\n\n}\n\nreturn {\n  json:{\n    error_message : msg\n  }\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          160,
          -224
        ],
        "id": "ebaecbca-1cb3-4328-be52-93f859101adb",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "JKf1X0V0NGbJ2coX",
            "mode": "list",
            "cachedResultName": "MFCS_MSG_STATUS",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/JKf1X0V0NGbJ2coX"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "message_type",
                "keyValue": "PoShipment"
              },
              {
                "keyName": "user_id",
                "keyValue": "={{ $('in data').first().json.user_id}}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          -336,
          160
        ],
        "id": "34df7cae-333a-48cb-8d43-24a72df6caed",
        "name": "Get row(s)1",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "\nreturn $('in data').first().json.data;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1616,
          272
        ],
        "id": "c864ca5f-4175-47fb-9dc9-5b63263b6d20",
        "name": "Code in JavaScript2"
      },
      {
        "parameters": {
          "url": "=https://rex.retail.us-ashburn-1.ocs.oraclecloud.com/rgbu-rex-five-stg1-mfcs/MerchIntegrations/services/procurement/order/{{ $json.orderNo }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "=application/json"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -1040,
          288
        ],
        "id": "7dfd373b-56b6-431c-ba08-bc7ad03ed077",
        "name": "Get DTS Po",
        "credentials": {
          "oAuth2Api": {
            "id": "GLwoqYtDVXjbM9Dd",
            "name": "MFCS"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "823e6f6e-dfd8-4c46-800c-182783fe6d91",
                "leftValue": "={{ $('Get row(s)1').item.json }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -16,
          416
        ],
        "id": "7ba1aa26-a9e0-4d9c-a89b-dd92de856fd0",
        "name": "If1"
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "JKf1X0V0NGbJ2coX",
            "mode": "list",
            "cachedResultName": "MFCS_MSG_STATUS",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/JKf1X0V0NGbJ2coX"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "message_type": "PoShipment",
              "message_id": "={{ $('Loop Over Items').item.json.orderNo}}",
              "error_message": "={{ $json.error.message }}",
              "user_id": "={{ $('in data').first().json.user_id}}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "message_type",
                "displayName": "message_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "error_message",
                "displayName": "error_message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "hospital",
                "displayName": "hospital",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          -848,
          688
        ],
        "id": "fbeb284b-6c26-4e1e-9553-d607e139a967",
        "name": "Insert row"
      },
      {
        "parameters": {
          "errorMessage": "={{ $json.error_message }}"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          368,
          -224
        ],
        "id": "c5175f6b-c2e8-4819-8e52-03074b38f83e",
        "name": "Can not find Po Shipment",
        "alwaysOutputData": false,
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "in data": {
        "main": [
          [
            {
              "node": "Delete row(s)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Delete row(s)2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "count": {
        "main": [
          [
            {
              "node": "If count > wait_time",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If count > wait_time": {
        "main": [
          [
            {
              "node": "Get row(s)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get row(s)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "count",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get DTS Po",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete row(s)1": {
        "main": [
          [
            {
              "node": "If row does not exist",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert row1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If row does not exist": {
        "main": [
          [
            {
              "node": "Insert row1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Code in JavaScript2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Can not find Po Shipment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)1": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript2": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get DTS Po": {
        "main": [
          [
            {
              "node": "Delete row(s)1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Insert row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert row": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Attila Zubor",
    "name": "Version e029b459",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "e029b459-2570-4ccd-85e9-b8a08d8012c2",
  "connections": {
    "in data": {
      "main": [
        [
          {
            "node": "Get DTS Po1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "count": {
      "main": [
        [
          {
            "node": "If count > wait_time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If count > wait_time": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "count",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get DTS Po",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete row(s)1": {
      "main": [
        [
          {
            "node": "If row does not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row does not exist": {
      "main": [
        [
          {
            "node": "Insert row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Can not find Po Shipment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get DTS Po": {
      "main": [
        [
          {
            "node": "Delete row(s)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-26T12:46:04.963Z",
  "id": "Xq0JELziUEJ06ZXa",
  "isArchived": false,
  "meta": null,
  "name": "SBFL - SIM DTS PO - Check PO Shipments in MFCS",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2896,
        128
      ],
      "id": "a6357179-3043-4b2c-ba19-b6647a48d556",
      "name": "in data"
    },
    {
      "parameters": {
        "jsCode": "try {\n  $('count').first().json.count += 1\n  return {count:$('count').first().json.count};\n}\ncatch (error) {\n  return {count:1};\n}"
      },
      "id": "78c1d652-ca97-41d3-9a01-f5c705e6be24",
      "name": "count",
      "type": "n8n-nodes-base.code",
      "position": [
        -1040,
        144
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1829d538-5633-4f5c-ad1b-285b084b35ee",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $('count').item.json.count }}",
              "rightValue": "={{ $('in data').all().first().json.wait_time != null ? $('in data').all().first().json.wait_time : 12 }} \n\n"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "53b835e2-0b45-4b19-99e5-aacf3572e2bd",
      "name": "If count > wait_time",
      "type": "n8n-nodes-base.if",
      "position": [
        -832,
        144
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "errorMessage": "=MFCS Rest API fail\n{{ $json.error }}"
      },
      "id": "6b20602d-799f-45d1-8d2f-9b250e98e56d",
      "name": "MFCS Rest Api fail",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        -480,
        640
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1264,
        272
      ],
      "id": "7da66ed9-11a6-4bfb-859f-199c91044820",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "JKf1X0V0NGbJ2coX",
          "mode": "list",
          "cachedResultName": "MFCS_MSG_STATUS",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/JKf1X0V0NGbJ2coX"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "message_type",
              "keyValue": "PoShipment"
            },
            {
              "keyName": "user_id",
              "keyValue": "={{ $('in data').first().json.user_id}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -2384,
        96
      ],
      "id": "9e084012-37ca-460a-ac32-70bf32940418",
      "name": "Delete row(s)"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "JKf1X0V0NGbJ2coX",
          "mode": "list",
          "cachedResultName": "MFCS_MSG_STATUS",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/JKf1X0V0NGbJ2coX"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "message_type",
              "keyValue": "PoShipment"
            },
            {
              "keyName": "message_id",
              "keyValue": "={{ $json.items[0].orderNo }}"
            },
            {
              "keyName": "user_id",
              "keyValue": "={{ $('in data').first().json.user_id}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -784,
        272
      ],
      "id": "180ad540-56e1-41de-8fd8-12f315ff4835",
      "name": "Delete row(s)1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "JKf1X0V0NGbJ2coX",
          "mode": "list",
          "cachedResultName": "MFCS_MSG_STATUS",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/JKf1X0V0NGbJ2coX"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "message_type",
              "keyValue": "PoShipment"
            },
            {
              "keyName": "user_id",
              "keyValue": "={{ $('in data').first().json.user_id}}"
            }
          ]
        },
        "limit": 1001
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -16,
        -224
      ],
      "id": "a9fa5394-a2cc-42e7-b191-7fe1f24c81b2",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "hk8gBzPCwdeTj0vo",
          "mode": "list",
          "cachedResultName": "MFCS_MSG_DATA",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/hk8gBzPCwdeTj0vo"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "message_type",
              "keyValue": "PoShipment"
            },
            {
              "keyName": "user_id",
              "keyValue": "={{ $('in data').first().json.user_id}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -2384,
        272
      ],
      "id": "469ca0dc-f4c1-403d-8236-9fa6a61c83fc",
      "name": "Delete row(s)2"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "hk8gBzPCwdeTj0vo",
          "mode": "list",
          "cachedResultName": "MFCS_MSG_DATA",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/hk8gBzPCwdeTj0vo"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message_type": "PoShipment",
            "message_id": "={{ 'DTSPo_' + $('Get DTS Po').item.json.items[0].orderNo }}",
            "message_data": "={{ $('Get DTS Po').item.json.toJsonString() }}",
            "user_id": "={{ $('in data').first().json.user_id}}",
            "ext_id": "={{ $('Get DTS Po').item.json.items[0].orderNo }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message_type",
              "displayName": "message_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "message_data",
              "displayName": "message_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ext_id",
              "displayName": "ext_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -464,
        272
      ],
      "id": "8b983b89-5eed-42f0-a7bf-424b60516579",
      "name": "Insert row1"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "hk8gBzPCwdeTj0vo",
          "mode": "list",
          "cachedResultName": "MFCS_MSG_DATA",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/hk8gBzPCwdeTj0vo"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "message_type",
              "keyValue": "PoShipment"
            },
            {
              "keyName": "message_id",
              "keyValue": "={{ $json.items[0].orderNo }}"
            },
            {
              "keyName": "user_id",
              "keyValue": "={{ $('in data').first().json.user_id}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -640,
        272
      ],
      "id": "2e3654d2-06ab-46b2-9483-e6b7f618130a",
      "name": "If row does not exist"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.data = '{\"Message\" : \"All DTS Po Shipments were created successfully.\"}';\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        432
      ],
      "id": "6880ea8e-cbc8-4556-bd8c-92612cefadaa",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "command": "=ping -c {{ $('in data').first().json.wait != null ? $('in data').first().json.wait : 60 }} 127.0.0.1 > /dev/null 2>&1"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -2384,
        464
      ],
      "id": "5f54821e-6ace-4834-adfe-24bdc712295f",
      "name": "Wait"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet msg='';\nfor (const item of $input.all()) {\n  msg +='Message ID: '+ item.json.message_id+' Error message: '+ item.json.error_message+ '\\n '\n\n}\n\nreturn {\n  json:{\n    error_message : msg\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -224
      ],
      "id": "ebaecbca-1cb3-4328-be52-93f859101adb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "JKf1X0V0NGbJ2coX",
          "mode": "list",
          "cachedResultName": "MFCS_MSG_STATUS",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/JKf1X0V0NGbJ2coX"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "message_type",
              "keyValue": "PoShipment"
            },
            {
              "keyName": "user_id",
              "keyValue": "={{ $('in data').first().json.user_id}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -336,
        160
      ],
      "id": "34df7cae-333a-48cb-8d43-24a72df6caed",
      "name": "Get row(s)1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "\nreturn $('in data').first().json.data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1616,
        272
      ],
      "id": "c864ca5f-4175-47fb-9dc9-5b63263b6d20",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "url": "=https://rex.retail.us-ashburn-1.ocs.oraclecloud.com/rgbu-rex-five-stg1-mfcs/MerchIntegrations/services/procurement/order/{{ $json.orderNo }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "=application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1040,
        288
      ],
      "id": "7dfd373b-56b6-431c-ba08-bc7ad03ed077",
      "name": "Get DTS Po",
      "credentials": {
        "oAuth2Api": {
          "id": "GLwoqYtDVXjbM9Dd",
          "name": "MFCS"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "823e6f6e-dfd8-4c46-800c-182783fe6d91",
              "leftValue": "={{ $('Get row(s)1').item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16,
        416
      ],
      "id": "7ba1aa26-a9e0-4d9c-a89b-dd92de856fd0",
      "name": "If1"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "JKf1X0V0NGbJ2coX",
          "mode": "list",
          "cachedResultName": "MFCS_MSG_STATUS",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/JKf1X0V0NGbJ2coX"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message_type": "PoShipment",
            "message_id": "={{ $('Loop Over Items').item.json.orderNo}}",
            "error_message": "={{ $json.error.message }}",
            "user_id": "={{ $('in data').first().json.user_id}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message_type",
              "displayName": "message_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "hospital",
              "displayName": "hospital",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -848,
        688
      ],
      "id": "fbeb284b-6c26-4e1e-9553-d607e139a967",
      "name": "Insert row"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error_message }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        368,
        -224
      ],
      "id": "c5175f6b-c2e8-4819-8e52-03074b38f83e",
      "name": "Can not find Po Shipment",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://rgbu.gbua.us-ashburn-1.oci.oraclecloud.com/hafpxijz8iidegdzdupe/ords/mfcs/5below/n8n/services/getDTSPoShipmentDetails?order_no=1014072",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2640,
        -32
      ],
      "id": "cd52a7bc-9055-492d-b3f9-b6651e53e9e7",
      "name": "Get DTS Po1",
      "credentials": {
        "oAuth2Api": {
          "id": "GLwoqYtDVXjbM9Dd",
          "name": "MFCS"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "repo_name": "n8n",
  "repo_owner": "qb-stoth",
  "repo_path": "5Bworkflows",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-26T12:46:04.963Z",
      "createdAt": "2026-01-26T12:46:04.963Z",
      "role": "workflow:owner",
      "workflowId": "Xq0JELziUEJ06ZXa",
      "projectId": "qocjUN26HqmYcJIH"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-28T08:39:37.467Z",
      "createdAt": "2026-01-28T08:38:52.110Z",
      "id": "JkY12UxMieTvHe5N",
      "name": "Sim_DTS_Po"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-28T08:41:03.974Z",
  "versionId": "fde07f73-4733-4f23-ba21-81fa46123b39"
}