5Bworkflows/SBFL - Allocation - Check Allocation Receipt in MFCS(PPJLs6tY6jRf6RBt).json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-27T07:41:52.035Z",
    "createdAt": "2026-01-27T07:41:29.268Z",
    "versionId": "829415a3-f675-4323-b2a3-dff37d3cb780",
    "workflowId": "PPJLs6tY6jRf6RBt",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "data",
                "type": "object"
              },
              {
                "name": "wait",
                "type": "number"
              },
              {
                "name": "wait_time",
                "type": "number"
              },
              {
                "name": "user_id"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1776,
          576
        ],
        "id": "9212c18e-f1a0-47eb-a03d-c24710fabb1f",
        "name": "in data"
      },
      {
        "parameters": {
          "jsCode": "try {\n  $('count').first().json.count += 1\n  return {count:$('count').first().json.count};\n}\ncatch (error) {\n  return {count:1};\n}"
        },
        "id": "0b433ed1-8e54-4f13-be04-71306e04c558",
        "name": "count",
        "type": "n8n-nodes-base.code",
        "position": [
          -32,
          256
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "1829d538-5633-4f5c-ad1b-285b084b35ee",
                "operator": {
                  "type": "number",
                  "operation": "gt"
                },
                "leftValue": "={{ $('count').item.json.count }}",
                "rightValue": "={{ $('in data').all().first().json.wait_time != null ? $('in data').all().first().json.wait_time : 12 }} \n\n"
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "7b24debc-0199-46b1-8bfb-69c35bd80326",
        "name": "If count > wait_time",
        "type": "n8n-nodes-base.if",
        "position": [
          176,
          208
        ],
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -256,
          384
        ],
        "id": "31eea2eb-b202-402f-b46f-efbd2964d9ca",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "operation": "deleteRows",
          "dataTableId": {
            "__rl": true,
            "value": "JKf1X0V0NGbJ2coX",
            "mode": "list",
            "cachedResultName": "MFCS_MSG_STATUS",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/JKf1X0V0NGbJ2coX"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "message_type",
                "keyValue": "XAllocReceipt"
              },
              {
                "keyName": "user_id",
                "keyValue": "={{ $('in data').first().json.user_id}}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          -1376,
          320
        ],
        "id": "94f3c219-c667-4f32-96ff-542e34610160",
        "name": "Delete row(s)"
      },
      {
        "parameters": {
          "operation": "deleteRows",
          "dataTableId": {
            "__rl": true,
            "value": "JKf1X0V0NGbJ2coX",
            "mode": "list",
            "cachedResultName": "MFCS_MSG_STATUS",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/JKf1X0V0NGbJ2coX"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "message_type",
                "keyValue": "XAllocReceipt"
              },
              {
                "keyName": "message_id",
                "keyValue": "={{ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.ReferenceId +\"_\"+ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.OriginLocationId+\"_\"+$('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.LocationId}}"
              },
              {
                "keyName": "user_id",
                "keyValue": "={{ $('in data').first().json.user_id}}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          368,
          384
        ],
        "id": "a60109ab-055d-4cf3-9c55-409eb360da45",
        "name": "Delete row(s)1",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "823e6f6e-dfd8-4c46-800c-182783fe6d91",
                "leftValue": "={{ $('Get row(s)1').item.json }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          848,
          864
        ],
        "id": "65a50097-30a0-4314-9a46-b135d9fdf88f",
        "name": "If1"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "JKf1X0V0NGbJ2coX",
            "mode": "list",
            "cachedResultName": "MFCS_MSG_STATUS",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/JKf1X0V0NGbJ2coX"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "message_type",
                "keyValue": "XAllocReceipt"
              },
              {
                "keyName": "user_id",
                "keyValue": "={{ $('in data').first().json.user_id}}"
              }
            ]
          },
          "limit": 1001
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          1008,
          0
        ],
        "id": "e66a2356-68ef-4bb4-ade8-4947a497b4da",
        "name": "Get row(s)"
      },
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.data = '{\"Message\" : \"All shipment receipts were created successfully.\"}';\n}\n\nreturn $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1840,
          896
        ],
        "id": "0b09e9be-3d74-4ab9-8577-d21dad77bbfc",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "command": "=ping -c {{ $('in data').first().json.wait != null ? $('in data').first().json.wait : 60 }} 127.0.0.1 > /dev/null 2>&1"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          -1376,
          688
        ],
        "id": "546231b2-a4b1-4de4-9ac3-d61e9a11df08",
        "name": "Wait"
      },
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet msg='';\nfor (const item of $input.all()) {\n  msg +='Message ID: '+ item.json.message_id+' Error message: '+ item.json.error_message+ '\\n '\n\n}\n\nreturn {\n  json:{\n    error_message : msg\n  }\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1184,
          0
        ],
        "id": "b8e18d95-78e0-4f97-a4fb-dbd5b5e49b93",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "823e6f6e-dfd8-4c46-800c-182783fe6d91",
                "leftValue": "={{ $('Get row(s)2').item.json }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1424,
          880
        ],
        "id": "592df423-d0c7-4bdc-81ea-8afde927f7fb",
        "name": "If"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "JKf1X0V0NGbJ2coX",
            "mode": "list",
            "cachedResultName": "MFCS_MSG_STATUS",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/JKf1X0V0NGbJ2coX"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "message_type",
                "keyValue": "XAllocReceipt"
              },
              {
                "keyName": "hospital",
                "keyValue": "N"
              },
              {
                "keyName": "user_id",
                "keyValue": "={{ $('in data').first().json.user_id}}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          624,
          224
        ],
        "id": "c829ff48-a2c8-418a-b075-f6b67ab019b0",
        "name": "Get row(s)1",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "command": "ping -c 1 127.0.0.1 > /dev/null 2>&1"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          400,
          224
        ],
        "id": "e67f546e-c1d4-4d5e-beef-4e78cfbd4a2d",
        "name": "Wait1"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "JKf1X0V0NGbJ2coX",
            "mode": "list",
            "cachedResultName": "MFCS_MSG_STATUS",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/JKf1X0V0NGbJ2coX"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "message_type",
                "keyValue": "XAllocReceipt"
              },
              {
                "keyName": "hospital",
                "keyValue": "Y"
              },
              {
                "keyName": "user_id",
                "keyValue": "={{ $('in data').first().json.user_id}}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          1136,
          880
        ],
        "id": "2104512d-563d-48ad-9f66-d30f9f1211b8",
        "name": "Get row(s)2",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "return {\n  json:{\n    \n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          832,
          112
        ],
        "id": "b8b63582-be86-4e9b-a552-5b627f702ad7",
        "name": "clear input"
      },
      {
        "parameters": {
          "url": "=https://rgbu.gbua.us-ashburn-1.oci.oraclecloud.com/hafpxijz8iidegdzdupe/ords/mfcs/5below/n8n/services/getShipment/{{ $json.ext_id }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          192,
          400
        ],
        "id": "4b75f98c-bd12-4fbb-b2bb-ed54a4753504",
        "name": "Get Shipment",
        "credentials": {
          "oAuth2Api": {
            "id": "GLwoqYtDVXjbM9Dd",
            "name": "MFCS"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "value": "JKf1X0V0NGbJ2coX",
            "mode": "list",
            "cachedResultName": "MFCS_MSG_STATUS",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/JKf1X0V0NGbJ2coX"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "message_type",
                "keyValue": "XAllocReceipt"
              },
              {
                "keyName": "message_id",
                "condition": "=eq",
                "keyValue": "={{ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.ReferenceId +\"_\"+ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.OriginLocationId+\"_\"+$('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.LocationId}}"
              },
              {
                "keyName": "user_id",
                "keyValue": "={{ $('in data').first().json.user_id}}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "message_type": "XAllocReceipt",
              "message_id": "={{ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.ReferenceId +\"_\"+ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.OriginLocationId+\"_\"+$('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.LocationId}}",
              "error_message": "=Found in hospital: {{$input.first().json.receipts[0].failure.description}}",
              "hospital": "Y",
              "user_id": "={{ $('in data').first().json.user_id}}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "message_type",
                "displayName": "message_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "error_message",
                "displayName": "error_message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "hospital",
                "displayName": "hospital",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          528,
          656
        ],
        "id": "cbbd0f24-eee9-441e-8582-8315f45a29c2",
        "name": "Upsert row(s)"
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "value": "JKf1X0V0NGbJ2coX",
            "mode": "list",
            "cachedResultName": "MFCS_MSG_STATUS",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/JKf1X0V0NGbJ2coX"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "message_type",
                "keyValue": "XAllocReceipt"
              },
              {
                "keyName": "message_id",
                "keyValue": "={{ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.ReferenceId +\"_\"+ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.OriginLocationId+\"_\"+$('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.LocationId}}"
              },
              {
                "keyName": "user_id",
                "keyValue": "={{ $('in data').first().json.user_id}}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "message_type": "XAllocReceipt",
              "message_id": "={{ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.ReferenceId +\"_\"+ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.OriginLocationId+\"_\"+$('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.LocationId}}",
              "error_message": "={{ $json.error.message }}",
              "hospital": "N",
              "user_id": "={{ $('in data').first().json.user_id}}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "message_type",
                "displayName": "message_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "error_message",
                "displayName": "error_message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "hospital",
                "displayName": "hospital",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          352,
          736
        ],
        "id": "d56d1577-5fa5-4587-9735-7ac37ebbcfec",
        "name": "Upsert row(s)1"
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "value": "hk8gBzPCwdeTj0vo",
            "mode": "list",
            "cachedResultName": "MFCS_MSG_DATA",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/hk8gBzPCwdeTj0vo"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "message_type",
                "keyValue": "XAllocReceipt"
              },
              {
                "keyName": "message_id",
                "keyValue": "={{ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.ReferenceId +\"_\"+ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.OriginLocationId+\"_\"+$('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.LocationId}}"
              },
              {
                "keyName": "user_id",
                "keyValue": "={{ $('in data').first().json.user_id}}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "message_type": "XAllocReceipt",
              "message_id": "={{ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.ReferenceId +\"_\"+ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.OriginLocationId+\"_\"+$('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.LocationId}}",
              "message_data": "={{ $('Get Shipment').item.json.toJsonString() }}",
              "user_id": "={{ $('in data').first().json.user_id}}",
              "ext_id": "={{ $('Get Shipment').item.json.shipment }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "message_type",
                "displayName": "message_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "message_data",
                "displayName": "message_data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "ext_id",
                "displayName": "ext_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          544,
          384
        ],
        "id": "ddf9aeed-f676-4115-b40e-e9e7e19fb99f",
        "name": "Upsert row(s)3"
      },
      {
        "parameters": {
          "operation": "deleteRows",
          "dataTableId": {
            "__rl": true,
            "value": "hk8gBzPCwdeTj0vo",
            "mode": "list",
            "cachedResultName": "MFCS_MSG_DATA",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/hk8gBzPCwdeTj0vo"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "message_type",
                "keyValue": "XAllocShipment"
              },
              {
                "keyName": "ext_id",
                "keyValue": "={{ $('Get Shipment').item.json.shipment }}"
              },
              {
                "keyName": "user_id",
                "keyValue": "={{ $('in data').first().json.user_id}}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          720,
          384
        ],
        "id": "4fc36b38-c8b0-4208-82da-1485083fa569",
        "name": "Delete row(s)3",
        "alwaysOutputData": true,
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "\nreturn $('in data').first().json.data.data;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -672,
          592
        ],
        "id": "fb9f2369-4e31-4d74-8db4-b7ef68694f11",
        "name": "Code in JavaScript2"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "hk8gBzPCwdeTj0vo",
            "mode": "list",
            "cachedResultName": "MFCS_MSG_DATA",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/hk8gBzPCwdeTj0vo"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "message_type",
                "keyValue": "XAllocShipment"
              },
              {
                "keyName": "user_id",
                "keyValue": "={{ $('in data').first().json.user_id}}"
              },
              {
                "keyName": "message_id",
                "keyValue": "={{ $json.relayMessage.RelaySupply[1].SupplyDefinition.ReferenceId +\"_\"+ $json.relayMessage.RelaySupply[1].SupplyDefinition.OriginLocationId+\"_\"+$json.relayMessage.RelaySupply[1].SupplyDefinition.LocationId}}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -48,
          416
        ],
        "id": "8225cf8f-8695-4164-91b8-7224e190d3c8",
        "name": "Get row(s)3"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://g0ca417ea5d2391-fusionoicdevdb.adb.us-ashburn-1.oraclecloudapps.com/ords/fb_merch_apex_dev/5below/n8n/services/getShipmentReceipt",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"bol_no\":\"{{ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.ReferenceId }}\",\"from_loc\":{{ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.OriginLocationId }},\"to_loc\":{{ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.LocationId }}}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          144,
          576
        ],
        "id": "c543ad07-3658-4c1e-bd65-f5a5979cbb09",
        "name": "Get Shipment Receipt in Hospital",
        "credentials": {
          "oAuth2Api": {
            "id": "sgX6v2Zm0XIk7fH8",
            "name": "OIC"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "errorMessage": "={{ $json.error_message }}"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          1392,
          0
        ],
        "id": "0dfa8b1e-2eef-461f-9483-a621afce6a2c",
        "name": "Can not find receipt",
        "alwaysOutputData": false,
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "in data": {
        "main": [
          [
            {
              "node": "Delete row(s)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "count": {
        "main": [
          [
            {
              "node": "If count > wait_time",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If count > wait_time": {
        "main": [
          [
            {
              "node": "Get row(s)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "count",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get row(s)3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get row(s)2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete row(s)1": {
        "main": [
          [
            {
              "node": "Upsert row(s)3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Code in JavaScript2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Can not find receipt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "clear input",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)1": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Get row(s)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)2": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "clear input": {
        "main": [
          [
            {
              "node": "Get row(s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Shipment": {
        "main": [
          [
            {
              "node": "Delete row(s)1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get Shipment Receipt in Hospital",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert row(s)": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert row(s)1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert row(s)3": {
        "main": [
          [
            {
              "node": "Delete row(s)3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete row(s)3": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript2": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)3": {
        "main": [
          [
            {
              "node": "Get Shipment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Shipment Receipt in Hospital": {
        "main": [
          [
            {
              "node": "Upsert row(s)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Upsert row(s)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "zoltan karancsi",
    "name": "Version 829415a3",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "829415a3-f675-4323-b2a3-dff37d3cb780",
  "connections": {
    "in data": {
      "main": [
        [
          {
            "node": "Delete row(s)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "count": {
      "main": [
        [
          {
            "node": "If count > wait_time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If count > wait_time": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "count",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete row(s)1": {
      "main": [
        [
          {
            "node": "Upsert row(s)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Can not find receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "clear input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clear input": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Shipment": {
      "main": [
        [
          {
            "node": "Delete row(s)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Shipment Receipt in Hospital",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)3": {
      "main": [
        [
          {
            "node": "Delete row(s)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete row(s)3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)3": {
      "main": [
        [
          {
            "node": "Get Shipment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Shipment Receipt in Hospital": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-23T12:23:51.257Z",
  "id": "PPJLs6tY6jRf6RBt",
  "isArchived": false,
  "meta": null,
  "name": "SBFL - Allocation - Check Allocation Receipt in MFCS",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "data",
              "type": "object"
            },
            {
              "name": "wait",
              "type": "number"
            },
            {
              "name": "wait_time",
              "type": "number"
            },
            {
              "name": "user_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1776,
        576
      ],
      "id": "9212c18e-f1a0-47eb-a03d-c24710fabb1f",
      "name": "in data"
    },
    {
      "parameters": {
        "jsCode": "try {\n  $('count').first().json.count += 1\n  return {count:$('count').first().json.count};\n}\ncatch (error) {\n  return {count:1};\n}"
      },
      "id": "0b433ed1-8e54-4f13-be04-71306e04c558",
      "name": "count",
      "type": "n8n-nodes-base.code",
      "position": [
        -32,
        256
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1829d538-5633-4f5c-ad1b-285b084b35ee",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $('count').item.json.count }}",
              "rightValue": "={{ $('in data').all().first().json.wait_time != null ? $('in data').all().first().json.wait_time : 12 }} \n\n"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "7b24debc-0199-46b1-8bfb-69c35bd80326",
      "name": "If count > wait_time",
      "type": "n8n-nodes-base.if",
      "position": [
        176,
        208
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -256,
        384
      ],
      "id": "31eea2eb-b202-402f-b46f-efbd2964d9ca",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "JKf1X0V0NGbJ2coX",
          "mode": "list",
          "cachedResultName": "MFCS_MSG_STATUS",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/JKf1X0V0NGbJ2coX"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "message_type",
              "keyValue": "XAllocReceipt"
            },
            {
              "keyName": "user_id",
              "keyValue": "={{ $('in data').first().json.user_id}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1376,
        320
      ],
      "id": "94f3c219-c667-4f32-96ff-542e34610160",
      "name": "Delete row(s)"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "JKf1X0V0NGbJ2coX",
          "mode": "list",
          "cachedResultName": "MFCS_MSG_STATUS",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/JKf1X0V0NGbJ2coX"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "message_type",
              "keyValue": "XAllocReceipt"
            },
            {
              "keyName": "message_id",
              "keyValue": "={{ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.ReferenceId +\"_\"+ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.OriginLocationId+\"_\"+$('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.LocationId}}"
            },
            {
              "keyName": "user_id",
              "keyValue": "={{ $('in data').first().json.user_id}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        368,
        384
      ],
      "id": "a60109ab-055d-4cf3-9c55-409eb360da45",
      "name": "Delete row(s)1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "823e6f6e-dfd8-4c46-800c-182783fe6d91",
              "leftValue": "={{ $('Get row(s)1').item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        848,
        864
      ],
      "id": "65a50097-30a0-4314-9a46-b135d9fdf88f",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "JKf1X0V0NGbJ2coX",
          "mode": "list",
          "cachedResultName": "MFCS_MSG_STATUS",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/JKf1X0V0NGbJ2coX"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "message_type",
              "keyValue": "XAllocReceipt"
            },
            {
              "keyName": "user_id",
              "keyValue": "={{ $('in data').first().json.user_id}}"
            }
          ]
        },
        "limit": 1001
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1008,
        0
      ],
      "id": "e66a2356-68ef-4bb4-ade8-4947a497b4da",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.data = '{\"Message\" : \"All shipment receipts were created successfully.\"}';\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        896
      ],
      "id": "0b09e9be-3d74-4ab9-8577-d21dad77bbfc",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "command": "=ping -c {{ $('in data').first().json.wait != null ? $('in data').first().json.wait : 60 }} 127.0.0.1 > /dev/null 2>&1"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1376,
        688
      ],
      "id": "546231b2-a4b1-4de4-9ac3-d61e9a11df08",
      "name": "Wait"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet msg='';\nfor (const item of $input.all()) {\n  msg +='Message ID: '+ item.json.message_id+' Error message: '+ item.json.error_message+ '\\n '\n\n}\n\nreturn {\n  json:{\n    error_message : msg\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        0
      ],
      "id": "b8e18d95-78e0-4f97-a4fb-dbd5b5e49b93",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "823e6f6e-dfd8-4c46-800c-182783fe6d91",
              "leftValue": "={{ $('Get row(s)2').item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1424,
        880
      ],
      "id": "592df423-d0c7-4bdc-81ea-8afde927f7fb",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "JKf1X0V0NGbJ2coX",
          "mode": "list",
          "cachedResultName": "MFCS_MSG_STATUS",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/JKf1X0V0NGbJ2coX"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "message_type",
              "keyValue": "XAllocReceipt"
            },
            {
              "keyName": "hospital",
              "keyValue": "N"
            },
            {
              "keyName": "user_id",
              "keyValue": "={{ $('in data').first().json.user_id}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        624,
        224
      ],
      "id": "c829ff48-a2c8-418a-b075-f6b67ab019b0",
      "name": "Get row(s)1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "ping -c 1 127.0.0.1 > /dev/null 2>&1"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        400,
        224
      ],
      "id": "e67f546e-c1d4-4d5e-beef-4e78cfbd4a2d",
      "name": "Wait1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "JKf1X0V0NGbJ2coX",
          "mode": "list",
          "cachedResultName": "MFCS_MSG_STATUS",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/JKf1X0V0NGbJ2coX"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "message_type",
              "keyValue": "XAllocReceipt"
            },
            {
              "keyName": "hospital",
              "keyValue": "Y"
            },
            {
              "keyName": "user_id",
              "keyValue": "={{ $('in data').first().json.user_id}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1136,
        880
      ],
      "id": "2104512d-563d-48ad-9f66-d30f9f1211b8",
      "name": "Get row(s)2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return {\n  json:{\n    \n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        112
      ],
      "id": "b8b63582-be86-4e9b-a552-5b627f702ad7",
      "name": "clear input"
    },
    {
      "parameters": {
        "url": "=https://rgbu.gbua.us-ashburn-1.oci.oraclecloud.com/hafpxijz8iidegdzdupe/ords/mfcs/5below/n8n/services/getShipment/{{ $json.ext_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        192,
        400
      ],
      "id": "4b75f98c-bd12-4fbb-b2bb-ed54a4753504",
      "name": "Get Shipment",
      "credentials": {
        "oAuth2Api": {
          "id": "GLwoqYtDVXjbM9Dd",
          "name": "MFCS"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "JKf1X0V0NGbJ2coX",
          "mode": "list",
          "cachedResultName": "MFCS_MSG_STATUS",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/JKf1X0V0NGbJ2coX"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "message_type",
              "keyValue": "XAllocReceipt"
            },
            {
              "keyName": "message_id",
              "condition": "=eq",
              "keyValue": "={{ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.ReferenceId +\"_\"+ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.OriginLocationId+\"_\"+$('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.LocationId}}"
            },
            {
              "keyName": "user_id",
              "keyValue": "={{ $('in data').first().json.user_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message_type": "XAllocReceipt",
            "message_id": "={{ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.ReferenceId +\"_\"+ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.OriginLocationId+\"_\"+$('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.LocationId}}",
            "error_message": "=Found in hospital: {{$input.first().json.receipts[0].failure.description}}",
            "hospital": "Y",
            "user_id": "={{ $('in data').first().json.user_id}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message_type",
              "displayName": "message_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "hospital",
              "displayName": "hospital",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        528,
        656
      ],
      "id": "cbbd0f24-eee9-441e-8582-8315f45a29c2",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "JKf1X0V0NGbJ2coX",
          "mode": "list",
          "cachedResultName": "MFCS_MSG_STATUS",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/JKf1X0V0NGbJ2coX"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "message_type",
              "keyValue": "XAllocReceipt"
            },
            {
              "keyName": "message_id",
              "keyValue": "={{ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.ReferenceId +\"_\"+ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.OriginLocationId+\"_\"+$('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.LocationId}}"
            },
            {
              "keyName": "user_id",
              "keyValue": "={{ $('in data').first().json.user_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message_type": "XAllocReceipt",
            "message_id": "={{ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.ReferenceId +\"_\"+ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.OriginLocationId+\"_\"+$('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.LocationId}}",
            "error_message": "={{ $json.error.message }}",
            "hospital": "N",
            "user_id": "={{ $('in data').first().json.user_id}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message_type",
              "displayName": "message_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "hospital",
              "displayName": "hospital",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        352,
        736
      ],
      "id": "d56d1577-5fa5-4587-9735-7ac37ebbcfec",
      "name": "Upsert row(s)1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "hk8gBzPCwdeTj0vo",
          "mode": "list",
          "cachedResultName": "MFCS_MSG_DATA",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/hk8gBzPCwdeTj0vo"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "message_type",
              "keyValue": "XAllocReceipt"
            },
            {
              "keyName": "message_id",
              "keyValue": "={{ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.ReferenceId +\"_\"+ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.OriginLocationId+\"_\"+$('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.LocationId}}"
            },
            {
              "keyName": "user_id",
              "keyValue": "={{ $('in data').first().json.user_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message_type": "XAllocReceipt",
            "message_id": "={{ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.ReferenceId +\"_\"+ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.OriginLocationId+\"_\"+$('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.LocationId}}",
            "message_data": "={{ $('Get Shipment').item.json.toJsonString() }}",
            "user_id": "={{ $('in data').first().json.user_id}}",
            "ext_id": "={{ $('Get Shipment').item.json.shipment }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message_type",
              "displayName": "message_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "message_data",
              "displayName": "message_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ext_id",
              "displayName": "ext_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        544,
        384
      ],
      "id": "ddf9aeed-f676-4115-b40e-e9e7e19fb99f",
      "name": "Upsert row(s)3"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "hk8gBzPCwdeTj0vo",
          "mode": "list",
          "cachedResultName": "MFCS_MSG_DATA",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/hk8gBzPCwdeTj0vo"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "message_type",
              "keyValue": "XAllocShipment"
            },
            {
              "keyName": "ext_id",
              "keyValue": "={{ $('Get Shipment').item.json.shipment }}"
            },
            {
              "keyName": "user_id",
              "keyValue": "={{ $('in data').first().json.user_id}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        720,
        384
      ],
      "id": "4fc36b38-c8b0-4208-82da-1485083fa569",
      "name": "Delete row(s)3",
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "\nreturn $('in data').first().json.data.data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        592
      ],
      "id": "fb9f2369-4e31-4d74-8db4-b7ef68694f11",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "hk8gBzPCwdeTj0vo",
          "mode": "list",
          "cachedResultName": "MFCS_MSG_DATA",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/hk8gBzPCwdeTj0vo"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "message_type",
              "keyValue": "XAllocShipment"
            },
            {
              "keyName": "user_id",
              "keyValue": "={{ $('in data').first().json.user_id}}"
            },
            {
              "keyName": "message_id",
              "keyValue": "={{ $json.relayMessage.RelaySupply[1].SupplyDefinition.ReferenceId +\"_\"+ $json.relayMessage.RelaySupply[1].SupplyDefinition.OriginLocationId+\"_\"+$json.relayMessage.RelaySupply[1].SupplyDefinition.LocationId}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -48,
        416
      ],
      "id": "8225cf8f-8695-4164-91b8-7224e190d3c8",
      "name": "Get row(s)3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://g0ca417ea5d2391-fusionoicdevdb.adb.us-ashburn-1.oraclecloudapps.com/ords/fb_merch_apex_dev/5below/n8n/services/getShipmentReceipt",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"bol_no\":\"{{ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.ReferenceId }}\",\"from_loc\":{{ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.OriginLocationId }},\"to_loc\":{{ $('Loop Over Items').item.json.relayMessage.RelaySupply[1].SupplyDefinition.LocationId }}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        144,
        576
      ],
      "id": "c543ad07-3658-4c1e-bd65-f5a5979cbb09",
      "name": "Get Shipment Receipt in Hospital",
      "credentials": {
        "oAuth2Api": {
          "id": "sgX6v2Zm0XIk7fH8",
          "name": "OIC"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error_message }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1392,
        0
      ],
      "id": "0dfa8b1e-2eef-461f-9483-a621afce6a2c",
      "name": "Can not find receipt",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "in data": [
      {
        "json": {
          "data": {
            "data": [
              {
                "relayMessage": {
                  "RelaySupply": [
                    {
                      "reshuffleEligible": false,
                      "ProfileId": "fivebelow",
                      "LastTransDate": "2026-01-23T12:30:01.802",
                      "InventoryTransactionType": "Receipt",
                      "InventoryTransactionId": "01232026042653522:01232026042653522",
                      "SupplyDefinition": {
                        "hashId": "f97fb5ad88bf2561f07b932326a3e9e1",
                        "ItemId": "1017904",
                        "LocationId": "826",
                        "OriginLocationId": null,
                        "ReferenceTypeId": null,
                        "ParentReferenceTypeId": null,
                        "ReferenceId": null,
                        "ParentReferenceId": null,
                        "ReferenceDetailId": null,
                        "ParentReferenceDetailId": null,
                        "SegmentId": null,
                        "SupplyAttributes": {
                          "CountryofOrigin": "",
                          "BatchNumber": "",
                          "ProductStatus": "",
                          "InventoryType": "",
                          "InvAttribute1": "",
                          "InvAttribute2": "",
                          "InvAttribute3": "",
                          "InvAttribute4": "",
                          "InvAttribute5": ""
                        },
                        "SupplyType": {
                          "SupplyTypeId": "On Hand Available"
                        },
                        "SupplyData": {
                          "ErrorCodeId": null,
                          "ETA": null,
                          "Quantity": "1",
                          "UOM": "EA",
                          "OldValues": {
                            "ErrorCodeId": null,
                            "ETA": null,
                            "Quantity": 0
                          }
                        }
                      }
                    },
                    {
                      "reshuffleEligible": false,
                      "ProfileId": "fivebelow",
                      "LastTransDate": "2026-01-23T12:30:01.802",
                      "InventoryTransactionType": "Receipt",
                      "InventoryTransactionId": "01232026042653522:01232026042653522",
                      "SupplyDefinition": {
                        "hashId": "55b1cbde507fe6c82bbc1442871d34cb",
                        "ItemId": "1017904",
                        "LocationId": "826",
                        "OriginLocationId": "4",
                        "ReferenceTypeId": "ASN",
                        "ParentReferenceTypeId": "PO",
                        "ReferenceId": "01232026042653522",
                        "ParentReferenceId": "1024332",
                        "ReferenceDetailId": "1017904",
                        "ParentReferenceDetailId": "1017904",
                        "SegmentId": null,
                        "SupplyAttributes": {
                          "CountryofOrigin": "",
                          "BatchNumber": "",
                          "ProductStatus": "",
                          "InventoryType": "",
                          "InvAttribute1": "",
                          "InvAttribute2": "",
                          "InvAttribute3": "",
                          "InvAttribute4": "",
                          "InvAttribute5": ""
                        },
                        "SupplyType": {
                          "SupplyTypeId": "In Transit"
                        },
                        "SupplyData": {
                          "ErrorCodeId": null,
                          "ETA": null,
                          "Quantity": 0,
                          "UOM": "EA",
                          "OldValues": {
                            "ErrorCodeId": null,
                            "ETA": null,
                            "Quantity": 2
                          }
                        }
                      }
                    }
                  ],
                  "RelaySupplyEvent": {
                    "ProfileId": "fivebelow",
                    "SupplyDefinition": {
                      "ParentReferenceDetailId": null,
                      "SegmentId": null,
                      "LocationId": "826",
                      "ReferenceTypeId": "ASN",
                      "ReferenceDetailId": "1017904",
                      "RelaySupplyHash": null,
                      "ItemId": "1017904",
                      "SupplyAttributes": {
                        "InvAttribute5": null,
                        "InvAttribute4": null,
                        "CountryofOrigin": null,
                        "InvAttribute3": null,
                        "BatchNumber": null,
                        "InventoryType": null,
                        "ProductStatus": null,
                        "InvAttribute2": null,
                        "InvAttribute1": null
                      },
                      "SupplyData": {
                        "UOM": "EA",
                        "ETA": null,
                        "AbsoluteQuantity": 2,
                        "Quantity": 2,
                        "ErrorCodeId": null,
                        "QuantityAdjustmentType": null
                      },
                      "ParentReferenceId": "01232026042653522",
                      "OriginLocationId": "4",
                      "ReferenceId": "01232026042653522",
                      "ReservationMovementEvent": null,
                      "SupplyType": {
                        "TransferFromSupplyTypeId": null,
                        "SupplyTypeId": null,
                        "TransferFromSegmentId": null,
                        "TransferFromDispositionId": null,
                        "DispositionId": null,
                        "TransferFromLockCodeId": null,
                        "LockCodeId": null
                      },
                      "SegmentTransferRequest": null,
                      "ParentReferenceTypeId": "PO",
                      "RelayAttributes": [
                        {
                          "AttributeName": "PackageId",
                          "AttributeValue": "01232026042653522"
                        },
                        {
                          "AttributeName": "OrderId",
                          "AttributeValue": null
                        },
                        {
                          "AttributeName": "OrderLineId",
                          "AttributeValue": "1024332"
                        },
                        {
                          "AttributeName": "FulfillmentId",
                          "AttributeValue": "01232026042653522"
                        },
                        {
                          "AttributeName": "FulfillmentLineId",
                          "AttributeValue": "01232026042653522-174935470-5"
                        },
                        {
                          "AttributeName": "ReleaseId",
                          "AttributeValue": "01232026042653522"
                        },
                        {
                          "AttributeName": "ReleaseLineId",
                          "AttributeValue": null
                        }
                      ]
                    },
                    "InventoryTransactionType": "Receipt",
                    "transferRequired": null,
                    "EtaUpdated": false,
                    "syncTransfer": false,
                    "TransactionTypeId": "Receipt",
                    "InventoryTransactionId": "01232026042653522:01232026042653522",
                    "LastTransDate": "2026-01-23T12:30:01.802",
                    "ResetError": true
                  }
                }
              },
              {
                "relayMessage": {
                  "RelaySupply": [
                    {
                      "reshuffleEligible": false,
                      "ProfileId": "fivebelow",
                      "LastTransDate": "2026-01-23T12:30:05.484",
                      "InventoryTransactionType": "Receipt",
                      "InventoryTransactionId": "01232026042649835:01232026042649835",
                      "SupplyDefinition": {
                        "hashId": "f97fb5ad88bf2561f07b932326a3e9e1",
                        "ItemId": "1017904",
                        "LocationId": "597",
                        "OriginLocationId": null,
                        "ReferenceTypeId": null,
                        "ParentReferenceTypeId": null,
                        "ReferenceId": null,
                        "ParentReferenceId": null,
                        "ReferenceDetailId": null,
                        "ParentReferenceDetailId": null,
                        "SegmentId": null,
                        "SupplyAttributes": {
                          "CountryofOrigin": "",
                          "BatchNumber": "",
                          "ProductStatus": "",
                          "InventoryType": "",
                          "InvAttribute1": "",
                          "InvAttribute2": "",
                          "InvAttribute3": "",
                          "InvAttribute4": "",
                          "InvAttribute5": ""
                        },
                        "SupplyType": {
                          "SupplyTypeId": "On Hand Available"
                        },
                        "SupplyData": {
                          "ErrorCodeId": null,
                          "ETA": null,
                          "Quantity": "1",
                          "UOM": "EA",
                          "OldValues": {
                            "ErrorCodeId": null,
                            "ETA": null,
                            "Quantity": 0
                          }
                        }
                      }
                    },
                    {
                      "reshuffleEligible": false,
                      "ProfileId": "fivebelow",
                      "LastTransDate": "2026-01-23T12:30:05.484",
                      "InventoryTransactionType": "Receipt",
                      "InventoryTransactionId": "01232026042649835:01232026042649835",
                      "SupplyDefinition": {
                        "hashId": "55b1cbde507fe6c82bbc1442871d34cb",
                        "ItemId": "1017904",
                        "LocationId": "597",
                        "OriginLocationId": "4",
                        "ReferenceTypeId": "ASN",
                        "ParentReferenceTypeId": "PO",
                        "ReferenceId": "01232026042649835",
                        "ParentReferenceId": "1024332",
                        "ReferenceDetailId": "1017904",
                        "ParentReferenceDetailId": "1017904",
                        "SegmentId": null,
                        "SupplyAttributes": {
                          "CountryofOrigin": "",
                          "BatchNumber": "",
                          "ProductStatus": "",
                          "InventoryType": "",
                          "InvAttribute1": "",
                          "InvAttribute2": "",
                          "InvAttribute3": "",
                          "InvAttribute4": "",
                          "InvAttribute5": ""
                        },
                        "SupplyType": {
                          "SupplyTypeId": "In Transit"
                        },
                        "SupplyData": {
                          "ErrorCodeId": null,
                          "ETA": null,
                          "Quantity": 0,
                          "UOM": "EA",
                          "OldValues": {
                            "ErrorCodeId": null,
                            "ETA": null,
                            "Quantity": 2
                          }
                        }
                      }
                    }
                  ],
                  "RelaySupplyEvent": {
                    "ProfileId": "fivebelow",
                    "SupplyDefinition": {
                      "ParentReferenceDetailId": null,
                      "SegmentId": null,
                      "LocationId": "597",
                      "ReferenceTypeId": "ASN",
                      "ReferenceDetailId": "1017904",
                      "RelaySupplyHash": null,
                      "ItemId": "1017904",
                      "SupplyAttributes": {
                        "InvAttribute5": null,
                        "InvAttribute4": null,
                        "CountryofOrigin": null,
                        "InvAttribute3": null,
                        "BatchNumber": null,
                        "InventoryType": null,
                        "ProductStatus": null,
                        "InvAttribute2": null,
                        "InvAttribute1": null
                      },
                      "SupplyData": {
                        "UOM": "EA",
                        "ETA": null,
                        "AbsoluteQuantity": 2,
                        "Quantity": 2,
                        "ErrorCodeId": null,
                        "QuantityAdjustmentType": null
                      },
                      "ParentReferenceId": "01232026042649835",
                      "OriginLocationId": "4",
                      "ReferenceId": "01232026042649835",
                      "ReservationMovementEvent": null,
                      "SupplyType": {
                        "TransferFromSupplyTypeId": null,
                        "SupplyTypeId": null,
                        "TransferFromSegmentId": null,
                        "TransferFromDispositionId": null,
                        "DispositionId": null,
                        "TransferFromLockCodeId": null,
                        "LockCodeId": null
                      },
                      "SegmentTransferRequest": null,
                      "ParentReferenceTypeId": "PO",
                      "RelayAttributes": [
                        {
                          "AttributeName": "PackageId",
                          "AttributeValue": "01232026042649835"
                        },
                        {
                          "AttributeName": "OrderId",
                          "AttributeValue": null
                        },
                        {
                          "AttributeName": "OrderLineId",
                          "AttributeValue": "1024332"
                        },
                        {
                          "AttributeName": "FulfillmentId",
                          "AttributeValue": "01232026042649835"
                        },
                        {
                          "AttributeName": "FulfillmentLineId",
                          "AttributeValue": "01232026042649835-174935470-5"
                        },
                        {
                          "AttributeName": "ReleaseId",
                          "AttributeValue": "01232026042649835"
                        },
                        {
                          "AttributeName": "ReleaseLineId",
                          "AttributeValue": null
                        }
                      ]
                    },
                    "InventoryTransactionType": "Receipt",
                    "transferRequired": null,
                    "EtaUpdated": false,
                    "syncTransfer": false,
                    "TransactionTypeId": "Receipt",
                    "InventoryTransactionId": "01232026042649835:01232026042649835",
                    "LastTransDate": "2026-01-23T12:30:05.484",
                    "ResetError": true
                  }
                }
              },
              {
                "relayMessage": {
                  "RelaySupply": [
                    {
                      "reshuffleEligible": false,
                      "ProfileId": "fivebelow",
                      "LastTransDate": "2026-01-23T12:30:06.144",
                      "InventoryTransactionType": "Receipt",
                      "InventoryTransactionId": "01232026042654253:01232026042654253",
                      "SupplyDefinition": {
                        "hashId": "f97fb5ad88bf2561f07b932326a3e9e1",
                        "ItemId": "1017904",
                        "LocationId": "897",
                        "OriginLocationId": null,
                        "ReferenceTypeId": null,
                        "ParentReferenceTypeId": null,
                        "ReferenceId": null,
                        "ParentReferenceId": null,
                        "ReferenceDetailId": null,
                        "ParentReferenceDetailId": null,
                        "SegmentId": null,
                        "SupplyAttributes": {
                          "CountryofOrigin": "",
                          "BatchNumber": "",
                          "ProductStatus": "",
                          "InventoryType": "",
                          "InvAttribute1": "",
                          "InvAttribute2": "",
                          "InvAttribute3": "",
                          "InvAttribute4": "",
                          "InvAttribute5": ""
                        },
                        "SupplyType": {
                          "SupplyTypeId": "On Hand Available"
                        },
                        "SupplyData": {
                          "ErrorCodeId": null,
                          "ETA": null,
                          "Quantity": "1",
                          "UOM": "EA",
                          "OldValues": {
                            "ErrorCodeId": null,
                            "ETA": null,
                            "Quantity": 0
                          }
                        }
                      }
                    },
                    {
                      "reshuffleEligible": false,
                      "ProfileId": "fivebelow",
                      "LastTransDate": "2026-01-23T12:30:06.144",
                      "InventoryTransactionType": "Receipt",
                      "InventoryTransactionId": "01232026042654253:01232026042654253",
                      "SupplyDefinition": {
                        "hashId": "55b1cbde507fe6c82bbc1442871d34cb",
                        "ItemId": "1017904",
                        "LocationId": "897",
                        "OriginLocationId": "4",
                        "ReferenceTypeId": "ASN",
                        "ParentReferenceTypeId": "PO",
                        "ReferenceId": "01232026042654253",
                        "ParentReferenceId": "1024332",
                        "ReferenceDetailId": "1017904",
                        "ParentReferenceDetailId": "1017904",
                        "SegmentId": null,
                        "SupplyAttributes": {
                          "CountryofOrigin": "",
                          "BatchNumber": "",
                          "ProductStatus": "",
                          "InventoryType": "",
                          "InvAttribute1": "",
                          "InvAttribute2": "",
                          "InvAttribute3": "",
                          "InvAttribute4": "",
                          "InvAttribute5": ""
                        },
                        "SupplyType": {
                          "SupplyTypeId": "In Transit"
                        },
                        "SupplyData": {
                          "ErrorCodeId": null,
                          "ETA": null,
                          "Quantity": 0,
                          "UOM": "EA",
                          "OldValues": {
                            "ErrorCodeId": null,
                            "ETA": null,
                            "Quantity": 2
                          }
                        }
                      }
                    }
                  ],
                  "RelaySupplyEvent": {
                    "ProfileId": "fivebelow",
                    "SupplyDefinition": {
                      "ParentReferenceDetailId": null,
                      "SegmentId": null,
                      "LocationId": "897",
                      "ReferenceTypeId": "ASN",
                      "ReferenceDetailId": "1017904",
                      "RelaySupplyHash": null,
                      "ItemId": "1017904",
                      "SupplyAttributes": {
                        "InvAttribute5": null,
                        "InvAttribute4": null,
                        "CountryofOrigin": null,
                        "InvAttribute3": null,
                        "BatchNumber": null,
                        "InventoryType": null,
                        "ProductStatus": null,
                        "InvAttribute2": null,
                        "InvAttribute1": null
                      },
                      "SupplyData": {
                        "UOM": "EA",
                        "ETA": null,
                        "AbsoluteQuantity": 2,
                        "Quantity": 2,
                        "ErrorCodeId": null,
                        "QuantityAdjustmentType": null
                      },
                      "ParentReferenceId": "01232026042654253",
                      "OriginLocationId": "4",
                      "ReferenceId": "01232026042654253",
                      "ReservationMovementEvent": null,
                      "SupplyType": {
                        "TransferFromSupplyTypeId": null,
                        "SupplyTypeId": null,
                        "TransferFromSegmentId": null,
                        "TransferFromDispositionId": null,
                        "DispositionId": null,
                        "TransferFromLockCodeId": null,
                        "LockCodeId": null
                      },
                      "SegmentTransferRequest": null,
                      "ParentReferenceTypeId": "PO",
                      "RelayAttributes": [
                        {
                          "AttributeName": "PackageId",
                          "AttributeValue": "01232026042654253"
                        },
                        {
                          "AttributeName": "OrderId",
                          "AttributeValue": null
                        },
                        {
                          "AttributeName": "OrderLineId",
                          "AttributeValue": "1024332"
                        },
                        {
                          "AttributeName": "FulfillmentId",
                          "AttributeValue": "01232026042654253"
                        },
                        {
                          "AttributeName": "FulfillmentLineId",
                          "AttributeValue": "01232026042654253-174935470-5"
                        },
                        {
                          "AttributeName": "ReleaseId",
                          "AttributeValue": "01232026042654253"
                        },
                        {
                          "AttributeName": "ReleaseLineId",
                          "AttributeValue": null
                        }
                      ]
                    },
                    "InventoryTransactionType": "Receipt",
                    "transferRequired": null,
                    "EtaUpdated": false,
                    "syncTransfer": false,
                    "TransactionTypeId": "Receipt",
                    "InventoryTransactionId": "01232026042654253:01232026042654253",
                    "LastTransDate": "2026-01-23T12:30:06.144",
                    "ResetError": true
                  }
                }
              }
            ]
          },
          "wait": 5,
          "wait_time": 2,
          "user_id": "62a17d6f-9dec-4fb8-8784-268462326ad5"
        }
      }
    ]
  },
  "repo_name": "n8n",
  "repo_owner": "qb-stoth",
  "repo_path": "5Bworkflows",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 10800,
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-23T12:23:51.257Z",
      "createdAt": "2026-01-23T12:23:51.257Z",
      "role": "workflow:owner",
      "workflowId": "PPJLs6tY6jRf6RBt",
      "projectId": "qocjUN26HqmYcJIH"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-28T08:40:06.911Z",
      "createdAt": "2026-01-28T08:40:06.911Z",
      "id": "Mk9OmPl9J1OAhffI",
      "name": "Allocation"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-28T08:41:55.394Z",
  "versionId": "829415a3-f675-4323-b2a3-dff37d3cb780"
}