5Bworkflows/SBFL - Allocation - Upload Payloads to Kafka(vDqo3Lwl8I7cG0P1vFbIW).json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-30T08:01:43.808Z",
    "createdAt": "2026-01-30T08:01:42.122Z",
    "versionId": "2c384aa4-6c2c-468d-b53c-768f8632b137",
    "workflowId": "vDqo3Lwl8I7cG0P1vFbIW",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "user_id"
              },
              {
                "name": "data",
                "type": "object"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -624,
          -16
        ],
        "id": "c3a14675-fae0-4fe1-be04-c74281b1e1f4",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -112,
          -16
        ],
        "id": "c5e22eb4-41e7-4934-a11b-43f8de1121b1",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "d9ozshsHd2v1Itkl",
            "mode": "list",
            "cachedResultUrl": "/workflow/d9ozshsHd2v1Itkl",
            "cachedResultName": "Upload to Kafka topic"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "data": "={{ $json.toJsonString() }}",
              "topicName": "shipconfirm_out_json_007"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "data",
                "displayName": "data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "topicName",
                "displayName": "topicName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          112,
          32
        ],
        "id": "5a9023bc-c970-48d4-990e-6ce9b52683e8",
        "name": "Call 'Upload to Kafka topic'",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "errorMessage": "=Failed to upload payload to KAFKA topic!\n{{ $json.error }}"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          320,
          32
        ],
        "id": "3cf40e59-8012-4e2e-9f6f-16f8c9cb8b80",
        "name": "Stop and Error"
      },
      {
        "parameters": {
          "language": "pythonNative",
          "pythonCode": "# Loop over input items and add a new field called 'my_new_field' to the JSON of each one\n\nreturn {\"Message\" : \"All payload was uploaded successfully to KAFKA.\"}\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          96,
          -112
        ],
        "id": "2d2efff6-5fb6-4d90-bcb5-6977f503d1e0",
        "name": "Return"
      },
      {
        "parameters": {
          "fieldToSplitOut": "data",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -288,
          -16
        ],
        "id": "7da9b36d-3561-4395-89de-0d0430001699",
        "name": "Split Out"
      },
      {
        "parameters": {
          "language": "pythonNative",
          "pythonCode": "\nreturn _items[0][\"json\"][\"data\"]"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -416,
          -16
        ],
        "id": "8c241e6a-5ed1-493b-892f-970f1c5d2768",
        "name": "Code in Python (Native)"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Code in Python (Native)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call 'Upload to Kafka topic'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Upload to Kafka topic'": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop and Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in Python (Native)": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "zoltan karancsi",
    "name": "Version 2c384aa4",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "2c384aa4-6c2c-468d-b53c-768f8632b137",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in Python (Native)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Upload to Kafka topic'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Upload to Kafka topic'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Native)": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-19T12:22:21.666Z",
  "id": "vDqo3Lwl8I7cG0P1vFbIW",
  "isArchived": false,
  "meta": null,
  "name": "SBFL - Allocation - Upload Payloads to Kafka",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "user_id"
            },
            {
              "name": "data",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -624,
        -16
      ],
      "id": "c3a14675-fae0-4fe1-be04-c74281b1e1f4",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -112,
        -16
      ],
      "id": "c5e22eb4-41e7-4934-a11b-43f8de1121b1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "d9ozshsHd2v1Itkl",
          "mode": "list",
          "cachedResultUrl": "/workflow/d9ozshsHd2v1Itkl",
          "cachedResultName": "Upload to Kafka topic"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $json.toJsonString() }}",
            "topicName": "shipconfirm_out_json_007"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "topicName",
              "displayName": "topicName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        112,
        32
      ],
      "id": "5a9023bc-c970-48d4-990e-6ce9b52683e8",
      "name": "Call 'Upload to Kafka topic'",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "errorMessage": "=Failed to upload payload to KAFKA topic!\n{{ $json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        320,
        32
      ],
      "id": "3cf40e59-8012-4e2e-9f6f-16f8c9cb8b80",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Loop over input items and add a new field called 'my_new_field' to the JSON of each one\n\nreturn {\"Message\" : \"All payload was uploaded successfully to KAFKA.\"}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -112
      ],
      "id": "2d2efff6-5fb6-4d90-bcb5-6977f503d1e0",
      "name": "Return"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -288,
        -16
      ],
      "id": "7da9b36d-3561-4395-89de-0d0430001699",
      "name": "Split Out"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "\nreturn _items[0][\"json\"][\"data\"]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        -16
      ],
      "id": "8c241e6a-5ed1-493b-892f-970f1c5d2768",
      "name": "Code in Python (Native)"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "user_id": "62a17d6f-9dec-4fb8-8784-268462326ad5",
          "data": {
            "data": [
              {
                "tXML": {
                  "Header": {
                    "Source": "MANH_wmsprodrf",
                    "Batch_ID": null
                  },
                  "Message": {
                    "ShipConfirm": {
                      "ShipConfirmSummary": {
                        "CompanyName": null,
                        "FacilityName": "4",
                        "ShipConfirmHeaderInfo": {
                          "DestinationFacilityName": "5447 ECOM SHIP CENTER INDY",
                          "InvcBatchNbr": "2078178",
                          "LastInvcDttm": "01/22/26 09:20",
                          "ShippedDttm": "01/22/26 09:20",
                          "DateCreated": "01/22/26 09:20",
                          "PartialShipConfirmStatus": "1",
                          "BillOfLading": "01222026092002250",
                          "NbrOfLpns": "1",
                          "TotalWt": "0.0",
                          "UserID": "WMADMIN"
                        }
                      },
                      "ShipConfirmDetails": {
                        "Orders": {
                          "ExtPurchaseOrder": "1024326",
                          "InvcBatchNbr": "2078178",
                          "OrderDateDttm": "7/24/25 00:00",
                          "OrderType": "R",
                          "ShipDate": "01/22/26 09:20",
                          "DoStatus": "Shipped",
                          "PartialShipConfirmStatus": "1",
                          "OrderDestInfo": {
                            "DestAddress1": "12050 EAST MCGREGOR ROAD",
                            "DestAddress2": null,
                            "DestCity": "INDIANAPOLIS",
                            "DestCountryCode": "US",
                            "DestFacilityAliasId": "5447",
                            "DestFacilityId": "5447"
                          },
                          "OrderOriginInfo": {
                            "OriginAddress1": "12050 E McGregor Rd",
                            "OriginCity": "Indianapolis",
                            "OriginFacilityAliasId": "4",
                            "OriginFacilityName": "SCIN",
                            "OriginPostalCode": "46259",
                            "OriginStateProv": "IN"
                          },
                          "OrderLineItem": {
                            "ExtPurchaseOrder": null,
                            "InvcBatchNbr": "2078178",
                            "ItemName": "1017896",
                            "TcOrderLineId": "1017896",
                            "UserCanceledQty": "0"
                          },
                          "Shipment": {
                            "DestCity": "INDIANAPOLIS",
                            "DestCountryCode": "US",
                            "DestFacilityId": "5447",
                            "DestinationFacilityName": "5447",
                            "OriginCity": "Indianapolis",
                            "OriginPostalCode": "46259",
                            "OriginStateProv": "IN",
                            "TcShipmentId": "000006261",
                            "TrailerNumber": null,
                            "Stop": {
                              "FacilityAliasId": "5447",
                              "StopSeq": "2"
                            }
                          },
                          "Lpn": {
                            "ActualVolume": "780.312",
                            "EstimatedWeight": "5.1",
                            "InvcBatchNbr": "2078178",
                            "ProcDttm": "01/22/26 09:20",
                            "QtyUom": "EA",
                            "ShippedDttm": "01/22/26 09:20",
                            "TcLpnId": "01222026092002250",
                            "TcParentLpnId": null,
                            "TcShipmentId": "000006261",
                            "Weight": "0",
                            "RefField1": null,
                            "RefField2": null,
                            "RefField3": null,
                            "RefField4": null,
                            "LpnDetail": {
                              "InvcBatchNbr": "2078178",
                              "ItemName": "1017896",
                              "LpnDetailId": "67780750",
                              "QtyUom": "EA",
                              "SizeValue": "1",
                              "TcLpnId": "01222026092002250",
                              "TcOrderLineId": "1017896",
                              "MinorOrderNbr": "10243262022",
                              "MinorPoNbr": "1024326"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              {
                "tXML": {
                  "Header": {
                    "Source": "MANH_wmsprodrf",
                    "Batch_ID": null
                  },
                  "Message": {
                    "ShipConfirm": {
                      "ShipConfirmSummary": {
                        "CompanyName": null,
                        "FacilityName": "4",
                        "ShipConfirmHeaderInfo": {
                          "DestinationFacilityName": "6207 ECOM SHIP CENTER INDY",
                          "InvcBatchNbr": "2078178",
                          "LastInvcDttm": "01/22/26 09:20",
                          "ShippedDttm": "01/22/26 09:20",
                          "DateCreated": "01/22/26 09:20",
                          "PartialShipConfirmStatus": "1",
                          "BillOfLading": "01222026092005913",
                          "NbrOfLpns": "1",
                          "TotalWt": "0.0",
                          "UserID": "WMADMIN"
                        }
                      },
                      "ShipConfirmDetails": {
                        "Orders": {
                          "ExtPurchaseOrder": "1024326",
                          "InvcBatchNbr": "2078178",
                          "OrderDateDttm": "7/24/25 00:00",
                          "OrderType": "R",
                          "ShipDate": "01/22/26 09:20",
                          "DoStatus": "Shipped",
                          "PartialShipConfirmStatus": "1",
                          "OrderDestInfo": {
                            "DestAddress1": "12050 EAST MCGREGOR ROAD",
                            "DestAddress2": null,
                            "DestCity": "INDIANAPOLIS",
                            "DestCountryCode": "US",
                            "DestFacilityAliasId": "6207",
                            "DestFacilityId": "6207"
                          },
                          "OrderOriginInfo": {
                            "OriginAddress1": "12050 E McGregor Rd",
                            "OriginCity": "Indianapolis",
                            "OriginFacilityAliasId": "4",
                            "OriginFacilityName": "SCIN",
                            "OriginPostalCode": "46259",
                            "OriginStateProv": "IN"
                          },
                          "OrderLineItem": {
                            "ExtPurchaseOrder": null,
                            "InvcBatchNbr": "2078178",
                            "ItemName": "1017896",
                            "TcOrderLineId": "1017896",
                            "UserCanceledQty": "0"
                          },
                          "Shipment": {
                            "DestCity": "INDIANAPOLIS",
                            "DestCountryCode": "US",
                            "DestFacilityId": "6207",
                            "DestinationFacilityName": "6207",
                            "OriginCity": "Indianapolis",
                            "OriginPostalCode": "46259",
                            "OriginStateProv": "IN",
                            "TcShipmentId": "000006261",
                            "TrailerNumber": null,
                            "Stop": {
                              "FacilityAliasId": "6207",
                              "StopSeq": "2"
                            }
                          },
                          "Lpn": {
                            "ActualVolume": "780.312",
                            "EstimatedWeight": "5.1",
                            "InvcBatchNbr": "2078178",
                            "ProcDttm": "01/22/26 09:20",
                            "QtyUom": "EA",
                            "ShippedDttm": "01/22/26 09:20",
                            "TcLpnId": "01222026092005913",
                            "TcParentLpnId": null,
                            "TcShipmentId": "000006261",
                            "Weight": "0",
                            "RefField1": null,
                            "RefField2": null,
                            "RefField3": null,
                            "RefField4": null,
                            "LpnDetail": {
                              "InvcBatchNbr": "2078178",
                              "ItemName": "1017896",
                              "LpnDetailId": "67780750",
                              "QtyUom": "EA",
                              "SizeValue": "1",
                              "TcLpnId": "01222026092005913",
                              "TcOrderLineId": "1017896",
                              "MinorOrderNbr": "10243262022",
                              "MinorPoNbr": "1024326"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              {
                "tXML": {
                  "Header": {
                    "Source": "MANH_wmsprodrf",
                    "Batch_ID": null
                  },
                  "Message": {
                    "ShipConfirm": {
                      "ShipConfirmSummary": {
                        "CompanyName": null,
                        "FacilityName": "4",
                        "ShipConfirmHeaderInfo": {
                          "DestinationFacilityName": "596 ECOM SHIP CENTER INDY",
                          "InvcBatchNbr": "2078178",
                          "LastInvcDttm": "01/22/26 09:20",
                          "ShippedDttm": "01/22/26 09:20",
                          "DateCreated": "01/22/26 09:20",
                          "PartialShipConfirmStatus": "1",
                          "BillOfLading": "01222026092006646",
                          "NbrOfLpns": "1",
                          "TotalWt": "0.0",
                          "UserID": "WMADMIN"
                        }
                      },
                      "ShipConfirmDetails": {
                        "Orders": {
                          "ExtPurchaseOrder": "1024332",
                          "InvcBatchNbr": "2078178",
                          "OrderDateDttm": "7/24/25 00:00",
                          "OrderType": "R",
                          "ShipDate": "01/22/26 09:20",
                          "DoStatus": "Shipped",
                          "PartialShipConfirmStatus": "1",
                          "OrderDestInfo": {
                            "DestAddress1": "12050 EAST MCGREGOR ROAD",
                            "DestAddress2": null,
                            "DestCity": "INDIANAPOLIS",
                            "DestCountryCode": "US",
                            "DestFacilityAliasId": "596",
                            "DestFacilityId": "596"
                          },
                          "OrderOriginInfo": {
                            "OriginAddress1": "12050 E McGregor Rd",
                            "OriginCity": "Indianapolis",
                            "OriginFacilityAliasId": "4",
                            "OriginFacilityName": "SCIN",
                            "OriginPostalCode": "46259",
                            "OriginStateProv": "IN"
                          },
                          "OrderLineItem": {
                            "ExtPurchaseOrder": null,
                            "InvcBatchNbr": "2078178",
                            "ItemName": "1017904",
                            "TcOrderLineId": "1017904",
                            "UserCanceledQty": "0"
                          },
                          "Shipment": {
                            "DestCity": "INDIANAPOLIS",
                            "DestCountryCode": "US",
                            "DestFacilityId": "596",
                            "DestinationFacilityName": "596",
                            "OriginCity": "Indianapolis",
                            "OriginPostalCode": "46259",
                            "OriginStateProv": "IN",
                            "TcShipmentId": "000006261",
                            "TrailerNumber": null,
                            "Stop": {
                              "FacilityAliasId": "596",
                              "StopSeq": "2"
                            }
                          },
                          "Lpn": {
                            "ActualVolume": "780.312",
                            "EstimatedWeight": "5.1",
                            "InvcBatchNbr": "2078178",
                            "ProcDttm": "01/22/26 09:20",
                            "QtyUom": "EA",
                            "ShippedDttm": "01/22/26 09:20",
                            "TcLpnId": "01222026092006646",
                            "TcParentLpnId": null,
                            "TcShipmentId": "000006261",
                            "Weight": "0",
                            "RefField1": null,
                            "RefField2": null,
                            "RefField3": null,
                            "RefField4": null,
                            "LpnDetail": {
                              "InvcBatchNbr": "2078178",
                              "ItemName": "1017904",
                              "LpnDetailId": "67780750",
                              "QtyUom": "EA",
                              "SizeValue": "1",
                              "TcLpnId": "01222026092006646",
                              "TcOrderLineId": "1017904",
                              "MinorOrderNbr": "10243322022",
                              "MinorPoNbr": "1024332"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            ]
          }
        }
      }
    ]
  },
  "repo_name": "n8n",
  "repo_owner": "qb-stoth",
  "repo_path": "5Bworkflows",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-19T12:22:21.666Z",
      "createdAt": "2026-01-19T12:22:21.666Z",
      "role": "workflow:owner",
      "workflowId": "vDqo3Lwl8I7cG0P1vFbIW",
      "projectId": "qocjUN26HqmYcJIH"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-28T08:40:06.911Z",
      "createdAt": "2026-01-28T08:40:06.911Z",
      "id": "Mk9OmPl9J1OAhffI",
      "name": "Allocation"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-30T08:01:42.121Z",
  "versionId": "2c384aa4-6c2c-468d-b53c-768f8632b137"
}