5Bworkflows/SBFL - Allocation - Generate Allocation Receipts(EMINaZnnBuiMHYel).json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-27T08:18:48.440Z",
    "createdAt": "2026-01-27T08:18:46.387Z",
    "versionId": "847e7df5-8e37-4051-a216-2089fe370abd",
    "workflowId": "EMINaZnnBuiMHYel",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "user_id"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -464,
          0
        ],
        "id": "679e319e-4395-4f6f-8865-80c712c517b1",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "afa09f8b-b15e-4548-8a18-9f7a0b83f0f0",
                "name": "item_id",
                "value": "={{ $json.data.parseJson().item }}",
                "type": "string"
              },
              {
                "id": "fbd45547-7104-4eb6-b603-d5fb68c9978d",
                "name": "location_id",
                "value": "={{ $json.data.parseJson().to_loc }}",
                "type": "string"
              },
              {
                "id": "93a098c1-e8a2-4561-b9dd-4a725ddf76a4",
                "name": "quantity",
                "value": "={{ $json.data.parseJson().qty_expected }}",
                "type": "number"
              },
              {
                "id": "5dbb04ef-40f1-485e-853a-d666b025d81c",
                "name": "last_trans_date",
                "value": "={{ new Date().toISOString() }}",
                "type": "string"
              },
              {
                "id": "8850c8b9-6620-48b4-9999-0bca39e055e7",
                "name": "reference_id_bol_no",
                "value": "={{ $json.data.parseJson().bol_no }}",
                "type": "string"
              },
              {
                "id": "3b20f5e7-512e-425a-9fbf-eb04036a28e6",
                "name": "parent_reference_id",
                "value": "={{ $json.data.parseJson().distro_no }}",
                "type": "string"
              },
              {
                "id": "ea913f2a-a711-4720-a6a3-657401c0a92a",
                "name": "carton",
                "value": "={{ $json.data.parseJson().bol_no }}",
                "type": "string"
              },
              {
                "id": "a0e1d5c4-e02f-4990-b136-bce255458ff7",
                "name": "from_location_id",
                "value": "={{ $json.data.parseJson().from_loc }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          432,
          80
        ],
        "id": "ab832033-0c6f-49f2-8631-984cb4ec5b0f",
        "name": "Set parameters"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "hk8gBzPCwdeTj0vo",
            "mode": "list",
            "cachedResultName": "MFCS_MSG_DATA",
            "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/hk8gBzPCwdeTj0vo"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "user_id",
                "keyValue": "={{ $json.user_id }}"
              },
              {
                "keyName": "message_type",
                "keyValue": "XAllocShipment"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -304,
          0
        ],
        "id": "5b471f1a-aa68-4f54-a03c-7035a1f39663",
        "name": "Get row(s)",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          192,
          0
        ],
        "id": "787ca879-698a-460c-865a-028cda9412e6",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $('Generate receipt').all()) {\n  item.json.myNewField += item;\n}\n\nreturn $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          -80
        ],
        "id": "fbd23d8e-3153-4651-a69e-91ff34761eb1",
        "name": "Return results"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "89d75559-a274-45d0-a5bc-bd1bdbe64199",
                "leftValue": "={{ $('Get row(s)').item.json }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -144,
          0
        ],
        "id": "b8ff9027-0324-42f4-87a6-3b927f5b0d03",
        "name": "If"
      },
      {
        "parameters": {
          "errorMessage": "No data to process. Please run the \"Allocation-Shipment\" flow first."
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          16,
          160
        ],
        "id": "5420437e-7deb-4ff7-9da5-dc9812eaf504",
        "name": "Stop and Error1"
      },
      {
        "parameters": {
          "jsCode": "\n\nreturn $('Generate receipt').all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          784,
          80
        ],
        "id": "e7ff89aa-8a2b-433d-8c7c-d21d5f3b6331",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          544,
          -80
        ],
        "id": "6a96523c-e219-4f7e-a8d8-0acbc8582cff",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "language": "pythonNative",
          "pythonCode": "from datetime import datetime\n\ndef generate_relay_message(\n    inventory_transaction_id: str,\n    item_id: str,\n    location_id: str,\n    quantity: float,\n    last_trans_date: str,\n    reference_id: str,\n    parent_reference_id: str,\n    reference_detail_id: str,\n    parent_reference_detail_id: str,\n    from_location_id: str,\n) -> dict:\n    return {\n        \"relayMessage\": {\n            \"RelaySupply\": [\n                {\n                    \"reshuffleEligible\": False,\n                    \"ProfileId\": \"fivebelow\",\n                    \"LastTransDate\": last_trans_date,\n                    \"InventoryTransactionType\": \"Receipt\",\n                    \"InventoryTransactionId\": inventory_transaction_id,\n                    \"SupplyDefinition\": {\n                        \"hashId\": \"f97fb5ad88bf2561f07b932326a3e9e1\",\n                        \"ItemId\": item_id,\n                        \"LocationId\": location_id,\n                        \"OriginLocationId\": None,\n                        \"ReferenceTypeId\": None,\n                        \"ParentReferenceTypeId\": None,\n                        \"ReferenceId\": None,\n                        \"ParentReferenceId\": None,\n                        \"ReferenceDetailId\": None,\n                        \"ParentReferenceDetailId\": None,\n                        \"SegmentId\": None,\n                        \"SupplyAttributes\": {\n                            \"CountryofOrigin\": \"\",\n                            \"BatchNumber\": \"\",\n                            \"ProductStatus\": \"\",\n                            \"InventoryType\": \"\",\n                            \"InvAttribute1\": \"\",\n                            \"InvAttribute2\": \"\",\n                            \"InvAttribute3\": \"\",\n                            \"InvAttribute4\": \"\",\n                            \"InvAttribute5\": \"\"\n                        },\n                        \"SupplyType\": {\n                            \"SupplyTypeId\": \"On Hand Available\"\n                        },\n                        \"SupplyData\": {\n                            \"ErrorCodeId\": None,\n                            \"ETA\": None,\n                            \"Quantity\": quantity,\n                            \"UOM\": \"EA\",\n                            \"OldValues\": {\n                                \"ErrorCodeId\": None,\n                                \"ETA\": None,\n                                \"Quantity\": quantity\n                            }\n                        }\n                    }\n                },\n                {\n                    \"reshuffleEligible\": False,\n                    \"ProfileId\": \"fivebelow\",\n                    \"LastTransDate\": last_trans_date,\n                    \"InventoryTransactionType\": \"Receipt\",\n                    \"InventoryTransactionId\": inventory_transaction_id,\n                    \"SupplyDefinition\": {\n                        \"hashId\": \"55b1cbde507fe6c82bbc1442871d34cb\",\n                        \"ItemId\": item_id,\n                        \"LocationId\": location_id,\n                        \"OriginLocationId\": from_location_id,\n                        \"ReferenceTypeId\": \"ASN\",\n                        \"ParentReferenceTypeId\": \"PO\",\n                        \"ReferenceId\": reference_id,\n                        \"ParentReferenceId\": parent_reference_id,\n                        \"ReferenceDetailId\": reference_detail_id,\n                        \"ParentReferenceDetailId\": parent_reference_detail_id,\n                        \"SegmentId\": None,\n                        \"SupplyAttributes\": {\n                            \"CountryofOrigin\": \"\",\n                            \"BatchNumber\": \"\",\n                            \"ProductStatus\": \"\",\n                            \"InventoryType\": \"\",\n                            \"InvAttribute1\": \"\",\n                            \"InvAttribute2\": \"\",\n                            \"InvAttribute3\": \"\",\n                            \"InvAttribute4\": \"\",\n                            \"InvAttribute5\": \"\"\n                        },\n                        \"SupplyType\": {\n                            \"SupplyTypeId\": \"In Transit\"\n                        },\n                        \"SupplyData\": {\n                            \"ErrorCodeId\": None,\n                            \"ETA\": None,\n                            \"Quantity\": quantity,\n                            \"UOM\": \"EA\",\n                            \"OldValues\": {\n                                \"ErrorCodeId\": None,\n                                \"ETA\": None,\n                                \"Quantity\": quantity\n                            }\n                        }\n                    }\n                }\n            ],\n            \"RelaySupplyEvent\": {\n                \"ProfileId\": \"fivebelow\",\n                \"SupplyDefinition\": {\n                    \"ParentReferenceDetailId\": None,\n                    \"SegmentId\": None,\n                    \"LocationId\": location_id,\n                    \"ReferenceTypeId\": \"ASN\",\n                    \"ReferenceDetailId\": reference_detail_id,\n                    \"RelaySupplyHash\": None,\n                    \"ItemId\": item_id,\n                    \"SupplyAttributes\": {\n                        \"InvAttribute5\": None,\n                        \"InvAttribute4\": None,\n                        \"CountryofOrigin\": None,\n                        \"InvAttribute3\": None,\n                        \"BatchNumber\": None,\n                        \"InventoryType\": None,\n                        \"ProductStatus\": None,\n                        \"InvAttribute2\": None,\n                        \"InvAttribute1\": None\n                    },\n                    \"SupplyData\": {\n                        \"UOM\": \"EA\",\n                        \"ETA\": None,\n                        \"AbsoluteQuantity\": quantity,\n                        \"Quantity\": quantity,\n                        \"ErrorCodeId\": None,\n                        \"QuantityAdjustmentType\": None\n                    },\n                    \"ParentReferenceId\": reference_id,\n                    \"OriginLocationId\": from_location_id,\n                    \"ReferenceId\": reference_id,\n                    \"ReservationMovementEvent\": None,\n                    \"SupplyType\": {\n                        \"TransferFromSupplyTypeId\": None,\n                        \"SupplyTypeId\": None,\n                        \"TransferFromSegmentId\": None,\n                        \"TransferFromDispositionId\": None,\n                        \"DispositionId\": None,\n                        \"TransferFromLockCodeId\": None,\n                        \"LockCodeId\": None\n                    },\n                    \"SegmentTransferRequest\": None,\n                    \"ParentReferenceTypeId\": \"PO\",\n                    \"RelayAttributes\": [\n                        {\"AttributeName\": \"PackageId\", \"AttributeValue\": inventory_transaction_id.split(\":\")[1]},\n                        {\"AttributeName\": \"OrderId\", \"AttributeValue\": None},\n                        {\"AttributeName\": \"OrderLineId\", \"AttributeValue\": parent_reference_id},\n                        {\"AttributeName\": \"FulfillmentId\", \"AttributeValue\": reference_id},\n                        {\n                            \"AttributeName\": \"FulfillmentLineId\",\n                            \"AttributeValue\": f\"{inventory_transaction_id.split(':')[1]}-174935470-5\"\n                        },\n                        {\"AttributeName\": \"ReleaseId\", \"AttributeValue\": reference_id},\n                        {\"AttributeName\": \"ReleaseLineId\", \"AttributeValue\": None}\n                    ]\n                },\n                \"InventoryTransactionType\": \"Receipt\",\n                \"transferRequired\": None,\n                \"EtaUpdated\": False,\n                \"syncTransfer\": False,\n                \"TransactionTypeId\": \"Receipt\",\n                \"InventoryTransactionId\": inventory_transaction_id,\n                \"LastTransDate\": last_trans_date,\n                \"ResetError\": True\n            }\n        }\n    }\n\npayload = generate_relay_message(  inventory_transaction_id=_items[0][\"json\"][\"reference_id_bol_no\"]+\":\"+_items[0][\"json\"][\"carton\"],\n    item_id=_items[0][\"json\"][\"item_id\"],\n    location_id=_items[0][\"json\"][\"location_id\"],\n    quantity=_items[0][\"json\"][\"quantity\"],\n    last_trans_date=_items[0][\"json\"][\"last_trans_date\"],\n    reference_id=_items[0][\"json\"][\"reference_id_bol_no\"],\n    parent_reference_id=_items[0][\"json\"][\"parent_reference_id\"],\n    reference_detail_id=_items[0][\"json\"][\"item_id\"],\n    parent_reference_detail_id=_items[0][\"json\"][\"item_id\"],\n    from_location_id=_items[0][\"json\"][\"from_location_id\"]\n)\nreturn payload"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          80
        ],
        "id": "afd993ab-afb4-45c3-a933-dcf15fde9f77",
        "name": "Generate receipt"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b3ec4e3a-c2c1-4f5f-a6fb-901b89c46aa0",
                "name": "data",
                "value": "={{ $json.message_data }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          16,
          0
        ],
        "id": "dff92469-90b9-4f89-b88b-5c455d4c3cc9",
        "name": "Get Shipments"
      }
    ],
    "connections": {
      "Set parameters": {
        "main": [
          [
            {
              "node": "Generate receipt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Get row(s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Return results",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set parameters",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Get Shipments",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop and Error1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Return results": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate receipt": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Shipments": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "zoltan karancsi",
    "name": "Version 847e7df5",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "847e7df5-8e37-4051-a216-2089fe370abd",
  "connections": {
    "Set parameters": {
      "main": [
        [
          {
            "node": "Generate receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Return results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Shipments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return results": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate receipt": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Shipments": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-23T09:36:52.620Z",
  "id": "EMINaZnnBuiMHYel",
  "isArchived": false,
  "meta": null,
  "name": "SBFL - Allocation - Generate Allocation Receipts",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "user_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -464,
        0
      ],
      "id": "679e319e-4395-4f6f-8865-80c712c517b1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "afa09f8b-b15e-4548-8a18-9f7a0b83f0f0",
              "name": "item_id",
              "value": "={{ $json.data.parseJson().item }}",
              "type": "string"
            },
            {
              "id": "fbd45547-7104-4eb6-b603-d5fb68c9978d",
              "name": "location_id",
              "value": "={{ $json.data.parseJson().to_loc }}",
              "type": "string"
            },
            {
              "id": "93a098c1-e8a2-4561-b9dd-4a725ddf76a4",
              "name": "quantity",
              "value": "={{ $json.data.parseJson().qty_expected }}",
              "type": "number"
            },
            {
              "id": "5dbb04ef-40f1-485e-853a-d666b025d81c",
              "name": "last_trans_date",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "8850c8b9-6620-48b4-9999-0bca39e055e7",
              "name": "reference_id_bol_no",
              "value": "={{ $json.data.parseJson().bol_no }}",
              "type": "string"
            },
            {
              "id": "3b20f5e7-512e-425a-9fbf-eb04036a28e6",
              "name": "parent_reference_id",
              "value": "={{ $json.data.parseJson().distro_no }}",
              "type": "string"
            },
            {
              "id": "ea913f2a-a711-4720-a6a3-657401c0a92a",
              "name": "carton",
              "value": "={{ $json.data.parseJson().bol_no }}",
              "type": "string"
            },
            {
              "id": "a0e1d5c4-e02f-4990-b136-bce255458ff7",
              "name": "from_location_id",
              "value": "={{ $json.data.parseJson().from_loc }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        80
      ],
      "id": "ab832033-0c6f-49f2-8631-984cb4ec5b0f",
      "name": "Set parameters"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "hk8gBzPCwdeTj0vo",
          "mode": "list",
          "cachedResultName": "MFCS_MSG_DATA",
          "cachedResultUrl": "/projects/qocjUN26HqmYcJIH/datatables/hk8gBzPCwdeTj0vo"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.user_id }}"
            },
            {
              "keyName": "message_type",
              "keyValue": "XAllocShipment"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -304,
        0
      ],
      "id": "5b471f1a-aa68-4f54-a03c-7035a1f39663",
      "name": "Get row(s)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        192,
        0
      ],
      "id": "787ca879-698a-460c-865a-028cda9412e6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $('Generate receipt').all()) {\n  item.json.myNewField += item;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -80
      ],
      "id": "fbd23d8e-3153-4651-a69e-91ff34761eb1",
      "name": "Return results"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "89d75559-a274-45d0-a5bc-bd1bdbe64199",
              "leftValue": "={{ $('Get row(s)').item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -144,
        0
      ],
      "id": "b8ff9027-0324-42f4-87a6-3b927f5b0d03",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "No data to process. Please run the \"Allocation-Shipment\" flow first."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        16,
        160
      ],
      "id": "5420437e-7deb-4ff7-9da5-dc9812eaf504",
      "name": "Stop and Error1"
    },
    {
      "parameters": {
        "jsCode": "\n\nreturn $('Generate receipt').all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        80
      ],
      "id": "e7ff89aa-8a2b-433d-8c7c-d21d5f3b6331",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        544,
        -80
      ],
      "id": "6a96523c-e219-4f7e-a8d8-0acbc8582cff",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "from datetime import datetime\n\ndef generate_relay_message(\n    inventory_transaction_id: str,\n    item_id: str,\n    location_id: str,\n    quantity: float,\n    last_trans_date: str,\n    reference_id: str,\n    parent_reference_id: str,\n    reference_detail_id: str,\n    parent_reference_detail_id: str,\n    from_location_id: str,\n) -> dict:\n    return {\n        \"relayMessage\": {\n            \"RelaySupply\": [\n                {\n                    \"reshuffleEligible\": False,\n                    \"ProfileId\": \"fivebelow\",\n                    \"LastTransDate\": last_trans_date,\n                    \"InventoryTransactionType\": \"Receipt\",\n                    \"InventoryTransactionId\": inventory_transaction_id,\n                    \"SupplyDefinition\": {\n                        \"hashId\": \"f97fb5ad88bf2561f07b932326a3e9e1\",\n                        \"ItemId\": item_id,\n                        \"LocationId\": location_id,\n                        \"OriginLocationId\": None,\n                        \"ReferenceTypeId\": None,\n                        \"ParentReferenceTypeId\": None,\n                        \"ReferenceId\": None,\n                        \"ParentReferenceId\": None,\n                        \"ReferenceDetailId\": None,\n                        \"ParentReferenceDetailId\": None,\n                        \"SegmentId\": None,\n                        \"SupplyAttributes\": {\n                            \"CountryofOrigin\": \"\",\n                            \"BatchNumber\": \"\",\n                            \"ProductStatus\": \"\",\n                            \"InventoryType\": \"\",\n                            \"InvAttribute1\": \"\",\n                            \"InvAttribute2\": \"\",\n                            \"InvAttribute3\": \"\",\n                            \"InvAttribute4\": \"\",\n                            \"InvAttribute5\": \"\"\n                        },\n                        \"SupplyType\": {\n                            \"SupplyTypeId\": \"On Hand Available\"\n                        },\n                        \"SupplyData\": {\n                            \"ErrorCodeId\": None,\n                            \"ETA\": None,\n                            \"Quantity\": quantity,\n                            \"UOM\": \"EA\",\n                            \"OldValues\": {\n                                \"ErrorCodeId\": None,\n                                \"ETA\": None,\n                                \"Quantity\": quantity\n                            }\n                        }\n                    }\n                },\n                {\n                    \"reshuffleEligible\": False,\n                    \"ProfileId\": \"fivebelow\",\n                    \"LastTransDate\": last_trans_date,\n                    \"InventoryTransactionType\": \"Receipt\",\n                    \"InventoryTransactionId\": inventory_transaction_id,\n                    \"SupplyDefinition\": {\n                        \"hashId\": \"55b1cbde507fe6c82bbc1442871d34cb\",\n                        \"ItemId\": item_id,\n                        \"LocationId\": location_id,\n                        \"OriginLocationId\": from_location_id,\n                        \"ReferenceTypeId\": \"ASN\",\n                        \"ParentReferenceTypeId\": \"PO\",\n                        \"ReferenceId\": reference_id,\n                        \"ParentReferenceId\": parent_reference_id,\n                        \"ReferenceDetailId\": reference_detail_id,\n                        \"ParentReferenceDetailId\": parent_reference_detail_id,\n                        \"SegmentId\": None,\n                        \"SupplyAttributes\": {\n                            \"CountryofOrigin\": \"\",\n                            \"BatchNumber\": \"\",\n                            \"ProductStatus\": \"\",\n                            \"InventoryType\": \"\",\n                            \"InvAttribute1\": \"\",\n                            \"InvAttribute2\": \"\",\n                            \"InvAttribute3\": \"\",\n                            \"InvAttribute4\": \"\",\n                            \"InvAttribute5\": \"\"\n                        },\n                        \"SupplyType\": {\n                            \"SupplyTypeId\": \"In Transit\"\n                        },\n                        \"SupplyData\": {\n                            \"ErrorCodeId\": None,\n                            \"ETA\": None,\n                            \"Quantity\": quantity,\n                            \"UOM\": \"EA\",\n                            \"OldValues\": {\n                                \"ErrorCodeId\": None,\n                                \"ETA\": None,\n                                \"Quantity\": quantity\n                            }\n                        }\n                    }\n                }\n            ],\n            \"RelaySupplyEvent\": {\n                \"ProfileId\": \"fivebelow\",\n                \"SupplyDefinition\": {\n                    \"ParentReferenceDetailId\": None,\n                    \"SegmentId\": None,\n                    \"LocationId\": location_id,\n                    \"ReferenceTypeId\": \"ASN\",\n                    \"ReferenceDetailId\": reference_detail_id,\n                    \"RelaySupplyHash\": None,\n                    \"ItemId\": item_id,\n                    \"SupplyAttributes\": {\n                        \"InvAttribute5\": None,\n                        \"InvAttribute4\": None,\n                        \"CountryofOrigin\": None,\n                        \"InvAttribute3\": None,\n                        \"BatchNumber\": None,\n                        \"InventoryType\": None,\n                        \"ProductStatus\": None,\n                        \"InvAttribute2\": None,\n                        \"InvAttribute1\": None\n                    },\n                    \"SupplyData\": {\n                        \"UOM\": \"EA\",\n                        \"ETA\": None,\n                        \"AbsoluteQuantity\": quantity,\n                        \"Quantity\": quantity,\n                        \"ErrorCodeId\": None,\n                        \"QuantityAdjustmentType\": None\n                    },\n                    \"ParentReferenceId\": reference_id,\n                    \"OriginLocationId\": from_location_id,\n                    \"ReferenceId\": reference_id,\n                    \"ReservationMovementEvent\": None,\n                    \"SupplyType\": {\n                        \"TransferFromSupplyTypeId\": None,\n                        \"SupplyTypeId\": None,\n                        \"TransferFromSegmentId\": None,\n                        \"TransferFromDispositionId\": None,\n                        \"DispositionId\": None,\n                        \"TransferFromLockCodeId\": None,\n                        \"LockCodeId\": None\n                    },\n                    \"SegmentTransferRequest\": None,\n                    \"ParentReferenceTypeId\": \"PO\",\n                    \"RelayAttributes\": [\n                        {\"AttributeName\": \"PackageId\", \"AttributeValue\": inventory_transaction_id.split(\":\")[1]},\n                        {\"AttributeName\": \"OrderId\", \"AttributeValue\": None},\n                        {\"AttributeName\": \"OrderLineId\", \"AttributeValue\": parent_reference_id},\n                        {\"AttributeName\": \"FulfillmentId\", \"AttributeValue\": reference_id},\n                        {\n                            \"AttributeName\": \"FulfillmentLineId\",\n                            \"AttributeValue\": f\"{inventory_transaction_id.split(':')[1]}-174935470-5\"\n                        },\n                        {\"AttributeName\": \"ReleaseId\", \"AttributeValue\": reference_id},\n                        {\"AttributeName\": \"ReleaseLineId\", \"AttributeValue\": None}\n                    ]\n                },\n                \"InventoryTransactionType\": \"Receipt\",\n                \"transferRequired\": None,\n                \"EtaUpdated\": False,\n                \"syncTransfer\": False,\n                \"TransactionTypeId\": \"Receipt\",\n                \"InventoryTransactionId\": inventory_transaction_id,\n                \"LastTransDate\": last_trans_date,\n                \"ResetError\": True\n            }\n        }\n    }\n\npayload = generate_relay_message(  inventory_transaction_id=_items[0][\"json\"][\"reference_id_bol_no\"]+\":\"+_items[0][\"json\"][\"carton\"],\n    item_id=_items[0][\"json\"][\"item_id\"],\n    location_id=_items[0][\"json\"][\"location_id\"],\n    quantity=_items[0][\"json\"][\"quantity\"],\n    last_trans_date=_items[0][\"json\"][\"last_trans_date\"],\n    reference_id=_items[0][\"json\"][\"reference_id_bol_no\"],\n    parent_reference_id=_items[0][\"json\"][\"parent_reference_id\"],\n    reference_detail_id=_items[0][\"json\"][\"item_id\"],\n    parent_reference_detail_id=_items[0][\"json\"][\"item_id\"],\n    from_location_id=_items[0][\"json\"][\"from_location_id\"]\n)\nreturn payload"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        80
      ],
      "id": "afd993ab-afb4-45c3-a933-dcf15fde9f77",
      "name": "Generate receipt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3ec4e3a-c2c1-4f5f-a6fb-901b89c46aa0",
              "name": "data",
              "value": "={{ $json.message_data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        0
      ],
      "id": "dff92469-90b9-4f89-b88b-5c455d4c3cc9",
      "name": "Get Shipments"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "user_id": "62a17d6f-9dec-4fb8-8784-268462326ad5"
        }
      }
    ]
  },
  "repo_name": "n8n",
  "repo_owner": "qb-stoth",
  "repo_path": "5Bworkflows",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-23T09:36:52.620Z",
      "createdAt": "2026-01-23T09:36:52.620Z",
      "role": "workflow:owner",
      "workflowId": "EMINaZnnBuiMHYel",
      "projectId": "qocjUN26HqmYcJIH"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-28T08:40:06.911Z",
      "createdAt": "2026-01-28T08:40:06.911Z",
      "id": "Mk9OmPl9J1OAhffI",
      "name": "Allocation"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-28T08:41:41.463Z",
  "versionId": "847e7df5-8e37-4051-a216-2089fe370abd"
}