5Bworkflows/SBFL - SIM DTS PO - Create Order in MFCS(E8eKjzqa6zzR0F0PTvs6y).json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-28T12:21:05.549Z",
    "createdAt": "2026-01-28T12:21:02.926Z",
    "versionId": "a0dfacac-89a5-4a67-91b2-46c5f67f0f98",
    "workflowId": "E8eKjzqa6zzR0F0PTvs6y",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "user_id"
              },
              {
                "name": "data",
                "type": "object"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "009d4896-63b6-4caf-8896-991a57be9164",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://rex.retail.us-ashburn-1.ocs.oraclecloud.com/rgbu-rex-five-stg1-mfcs/MerchIntegrations/services/purchaseOrders/create",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.data }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          208,
          0
        ],
        "id": "b005e437-ce5c-4c3e-84f1-674bfdda228d",
        "name": "Create PO",
        "credentials": {
          "oAuth2Api": {
            "id": "GLwoqYtDVXjbM9Dd",
            "name": "MFCS"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "errorMessage": "={{ $json.error_message }}"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          416,
          96
        ],
        "id": "875d4a6b-0174-44b6-a421-a9afb582fd33",
        "name": "Stop and Error"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Create PO",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create PO": {
        "main": [
          [],
          [
            {
              "node": "Stop and Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Attila Zubor",
    "name": "Version a0dfacac",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "a0dfacac-89a5-4a67-91b2-46c5f67f0f98",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Create PO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create PO": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-20T12:56:32.881Z",
  "id": "E8eKjzqa6zzR0F0PTvs6y",
  "isArchived": false,
  "meta": null,
  "name": "SBFL - SIM DTS PO - Create Order in MFCS",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "user_id"
            },
            {
              "name": "data",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "009d4896-63b6-4caf-8896-991a57be9164",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rex.retail.us-ashburn-1.ocs.oraclecloud.com/rgbu-rex-five-stg1-mfcs/MerchIntegrations/services/purchaseOrders/create",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "b005e437-ce5c-4c3e-84f1-674bfdda228d",
      "name": "Create PO",
      "credentials": {
        "oAuth2Api": {
          "id": "GLwoqYtDVXjbM9Dd",
          "name": "MFCS"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error_message }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        416,
        96
      ],
      "id": "875d4a6b-0174-44b6-a421-a9afb582fd33",
      "name": "Stop and Error"
    }
  ],
  "pinData": {},
  "repo_name": "n8n",
  "repo_owner": "qb-stoth",
  "repo_path": "5Bworkflows",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-20T12:56:32.881Z",
      "createdAt": "2026-01-20T12:56:32.881Z",
      "role": "workflow:owner",
      "workflowId": "E8eKjzqa6zzR0F0PTvs6y",
      "projectId": "qocjUN26HqmYcJIH"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-28T08:39:37.467Z",
      "createdAt": "2026-01-28T08:38:52.110Z",
      "id": "JkY12UxMieTvHe5N",
      "name": "Sim_DTS_Po"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-28T12:21:02.925Z",
  "versionId": "a0dfacac-89a5-4a67-91b2-46c5f67f0f98"
}