workflows/Admin - invoice submission(PLIaVWIyGnxOMAIb).json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-25T14:06:30.657Z",
  "id": "PLIaVWIyGnxOMAIb",
  "isArchived": true,
  "meta": null,
  "name": "Admin - invoice submission",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Mass invoice submission",
        "formDescription": "Insert a pdf including multiple invoices that should be extracted. ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "data",
              "fieldType": "file",
              "acceptFileTypes": "pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -432,
        -80
      ],
      "id": "e5dafa9b-b614-413e-9235-8bca03d6e1c5",
      "name": "On form submission",
      "webhookId": "ad00bcc7-281c-4c51-a8e7-a96e227d5f0f"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -224,
        -80
      ],
      "id": "4deeda66-8d01-49ad-beb0-5ea0b40c8612",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please extract {{ $json.text }} based on your system prompt.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "### ROLE\nYou are an expert Invoice Processing Agent. Your task is to analyze raw OCR text extracted from a scanned PDF file. This file contains MULTIPLE separate invoices concatenated together.\n\n### OBJECTIVE\nYou must separate the input text into distinct invoice entries and extract specific data points for every single invoice found.\n\n### EXTRACTION RULES\nFor each distinct invoice identified in the text, extract the following four mandatory fields:\n\n1. **customer_name**: The name of the company or individual to whom the invoice is addressed (the Buyer). Do not confuse this with the Vendor (the issuer of the invoice).\n2. **invoice_number**: The unique identifier string/number for the invoice.\n3. **amount_eur**: The Total Gross Amount (including VAT/Tax). \n   - Output this as a clean number (float) without currency symbols (e.g., 1500.50). \n   - If the scanned text uses a comma for decimals (e.g., 1.500,50), convert it to a standard dot decimal format (1500.50).\n   - If the invoice is NOT in EUR, extract the amount anyway but ensure the number is correct.\n4. **delivery_date**: The date the goods were delivered or services rendered.\n   - Format must be YYYY-MM-DD (ISO 8601).\n   - Note: This is distinct from the \"Invoice Date\". Look for keywords like \"Delivery Date\", \"Date of Supply\", \"Ship Date\", or \"Performance Date\".\n   - If no specific Delivery Date is found, use the Invoice Date as a fallback, but prefer the Delivery Date.\n\n### CRITICAL HANDLING OF INPUT\n- **Segmentation**: The input contains upwards of 30 distinct invoices. You must intelligently identify where one invoice ends and the next begins (e.g., by looking for changes in Vendor names, page numbers resetting, or repeated \"Total\" lines).\n- **OCR Correction**: The input is scanned. Be resilient to common OCR errors (e.g., distinguishing '0' from 'O', '1' from 'I' or 'l', '$' from 'S'). Use context to correct these typos.\n- **Missing Data**: All fields are mandatory. If a specific field is genuinely impossible to find for a specific invoice because the scan is illegible, return `null` for that field, but do not skip the invoice entirely.\n\n### OUTPUT FORMAT\nReturn a pure JSON Array containing one object per invoice. Do not include markdown formatting (like ```json).\n\nExample Structure:\n[\n  {\n    \"customer_name\": \"Acme Corp\",\n    \"invoice_number\": \"INV-2023-001\",\n    \"amount_eur\": 1250.00,\n    \"delivery_date\": \"2023-11-15\"\n  },\n  {\n    \"customer_name\": \"John Doe\",\n    \"invoice_number\": \"998877\",\n    \"amount_eur\": 45.20,\n    \"delivery_date\": \"2023-11-18\"\n  }\n]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -16,
        -80
      ],
      "id": "a0f31916-40a7-4bf6-b2e0-7993354debf7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -16,
        96
      ],
      "id": "fc778413-9220-4c88-a2c4-d714ddd721b6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tbdCvA5cfazz8mkQ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        128,
        128
      ],
      "id": "da222b04-6c90-4705-96ac-6ff0093488df",
      "name": "Think"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"customer_name\": \"\",\n    \"invoice_number\": \"\",\n    \"amount_eur\": \"\",\n    \"delivery_date\": \"\"\n  },\n  {\n    \"customer_name\": \"\",\n    \"invoice_number\": \"\",\n    \"amount_eur\": \"\",\n    \"delivery_date\": \"\"\n  }\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        240,
        144
      ],
      "id": "94dd52d4-5ab6-49ed-b7b3-31a5c421b7a4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        336,
        -80
      ],
      "id": "5b7fb065-83a8-4d98-a0de-c62121f1e311",
      "name": "Append row in sheet"
    }
  ],
  "pinData": {},
  "repo_name": "n8n",
  "repo_owner": "qb-stoth",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-25T14:06:30.659Z",
      "createdAt": "2025-11-25T14:06:30.659Z",
      "role": "workflow:owner",
      "workflowId": "PLIaVWIyGnxOMAIb",
      "projectId": "0hv468Xl53uN8xuI"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-25T16:31:47.000Z",
  "versionId": "5a904500-0bac-4206-bfdf-cc280a2fdbbf"
}