workflows/Check Transfer in MFCS(lbQi9It37Rosw3rr).json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-16T15:27:13.212Z",
    "createdAt": "2025-12-16T15:27:13.212Z",
    "versionId": "af846599-98cc-431a-89db-c5736d9f0d75",
    "workflowId": "lbQi9It37Rosw3rr",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "data",
                "type": "object"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1040,
          16
        ],
        "id": "158ecda9-d81d-44cc-a6fa-b428af955d56",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "url": "=https://rex-npe.retail.us-ashburn-1.ocs.oraclecloud.com/rgbu-rex-qkbn-par1-mfcs/MerchIntegrations/services/inventory/allocation/{{ $json.data.items[0].allocationNo }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "count",
                "value": "1"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -272,
          16
        ],
        "id": "1e7d9bf9-42f5-42bb-a052-fc6a99cef198",
        "name": "Get transfer number",
        "credentials": {
          "oAuth2Api": {
            "id": "Uff1mmJ7d42hSbJ5",
            "name": "QB Cloud MFCS"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "amount": 2,
          "unit": "minutes"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -512,
          16
        ],
        "id": "988d7b01-12e0-4c2c-856b-99b35025bc99",
        "name": "Wait",
        "webhookId": "3479e7eb-bae2-4c78-8c93-9e4f52943e82",
        "disabled": true
      },
      {
        "parameters": {
          "errorMessage": "=Can not find allocation using MFCS Rest APi:\n{{ $json.error }}"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          -80,
          208
        ],
        "id": "c138d490-e235-409e-b903-4cfb83fdea67",
        "name": "Can not find allocation",
        "alwaysOutputData": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "language": "python",
          "pythonCode": "return _('Get transfer number').item.json  "
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "id": "1ca6cf1d-00a9-4854-a968-bfb896ed6444",
        "name": "Code in Python (Beta)"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get transfer number": {
        "main": [
          [],
          [
            {
              "node": "Can not find allocation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Get transfer number",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "activeVersionId": "af846599-98cc-431a-89db-c5736d9f0d75",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get transfer number": {
      "main": [
        [],
        [
          {
            "node": "Can not find allocation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get transfer number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-11T07:55:45.268Z",
  "id": "lbQi9It37Rosw3rr",
  "isArchived": false,
  "meta": null,
  "name": "Check Transfer in MFCS",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "data",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1040,
        16
      ],
      "id": "158ecda9-d81d-44cc-a6fa-b428af955d56",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "=https://rex-npe.retail.us-ashburn-1.ocs.oraclecloud.com/rgbu-rex-qkbn-par1-mfcs/MerchIntegrations/services/inventory/allocation/{{ $json.data.items[0].allocationNo }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "count",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -272,
        16
      ],
      "id": "1e7d9bf9-42f5-42bb-a052-fc6a99cef198",
      "name": "Get transfer number",
      "credentials": {
        "oAuth2Api": {
          "id": "Uff1mmJ7d42hSbJ5",
          "name": "QB Cloud MFCS"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -512,
        16
      ],
      "id": "988d7b01-12e0-4c2c-856b-99b35025bc99",
      "name": "Wait",
      "webhookId": "3479e7eb-bae2-4c78-8c93-9e4f52943e82",
      "disabled": true
    },
    {
      "parameters": {
        "errorMessage": "=Can not find allocation using MFCS Rest APi:\n{{ $json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -80,
        208
      ],
      "id": "c138d490-e235-409e-b903-4cfb83fdea67",
      "name": "Can not find allocation",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "return _('Get transfer number').item.json  "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "1ca6cf1d-00a9-4854-a968-bfb896ed6444",
      "name": "Code in Python (Beta)"
    }
  ],
  "pinData": {},
  "repo_name": "n8n",
  "repo_owner": "qb-stoth",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-11T07:55:45.271Z",
      "createdAt": "2025-11-11T07:55:45.271Z",
      "role": "workflow:owner",
      "workflowId": "lbQi9It37Rosw3rr",
      "projectId": "0hv468Xl53uN8xuI"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-11T07:55:20.064Z",
      "createdAt": "2025-11-11T07:55:20.064Z",
      "id": "14E43CzOqTBt95Td",
      "name": "Merch_test_cases"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-11T08:05:39.000Z",
  "versionId": "af846599-98cc-431a-89db-c5736d9f0d75"
}