workflows/Check Allocation in MFCS(lVFdnKl35q6CZoMf).json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-16T15:27:13.212Z",
    "createdAt": "2025-12-16T15:27:13.212Z",
    "versionId": "91cf3117-d2e4-48bd-a0ba-ae71944e8444",
    "workflowId": "lVFdnKl35q6CZoMf",
    "nodes": [
      {
        "parameters": {
          "url": "=https://rex-npe.retail.us-ashburn-1.ocs.oraclecloud.com/rgbu-rex-qkbn-par1-mfcs/MerchIntegrations/services/inventory/allocation/{{ $('in data').item.json.data.items[0].allocationNo }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "count",
                "value": "1"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -800,
          160
        ],
        "id": "fd13ae43-6b4e-4c34-88a7-262e6bcb28c7",
        "name": "Get transfer number",
        "credentials": {
          "oAuth2Api": {
            "id": "Uff1mmJ7d42hSbJ5",
            "name": "QB Cloud MFCS"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "errorMessage": "=Can not find allocation using MFCS Rest API\n{{ $('Get transfer number').item.json.error.message }}"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          320,
          256
        ],
        "id": "ab543841-aeee-4496-932c-f83fe59c3861",
        "name": "Can not find allocation",
        "alwaysOutputData": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "language": "python",
          "pythonCode": "return _('Get transfer number').item.json  "
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "id": "ecc41972-b462-4e9c-bbae-670155c9cd4a",
        "name": "Code in Python (Beta)"
      },
      {
        "parameters": {
          "jsCode": "try {\n  $('count').first().json.count += 1\n  return {count:$('count').first().json.count};\n}\ncatch (error) {\n  return {count:1};\n}"
        },
        "id": "004c478c-72d1-41e6-bd6f-11817994182c",
        "name": "count",
        "type": "n8n-nodes-base.code",
        "position": [
          -112,
          192
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "amount": "={{ $('in data').item.json.wait != null ? $('in data').item.json.wait : 10 }}",
          "unit": "minutes"
        },
        "id": "494d1676-09e2-400e-ba4c-a05026382b31",
        "name": "Wait",
        "type": "n8n-nodes-base.wait",
        "position": [
          -960,
          160
        ],
        "webhookId": "3d164954-2926-4174-afc1-261dfdfa9e46",
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "1829d538-5633-4f5c-ad1b-285b084b35ee",
                "operator": {
                  "type": "number",
                  "operation": "gt"
                },
                "leftValue": "={{ $json.count }}",
                "rightValue": "={{ $('in data').item.json.wait_time != null ? $('in data').item.json.wait_time : 12 }}"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "fa7e8aa4-b28a-49ef-83d4-a1443bf22032",
        "name": "If count > wait_time",
        "type": "n8n-nodes-base.if",
        "position": [
          32,
          320
        ],
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "data",
                "type": "object"
              },
              {
                "name": "wait",
                "type": "number"
              },
              {
                "name": "wait_time",
                "type": "number"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1136,
          160
        ],
        "id": "eb03b619-3fcb-45b9-9721-84e0d1c1534f",
        "name": "in data"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "86a38758-272d-43cc-8663-77307aad9538",
                "leftValue": "={{ $json.error.status }}",
                "rightValue": 399,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              },
              {
                "id": "00a08ce1-b7de-4cb2-a6df-a53f7f6721ea",
                "leftValue": "={{ $json.error.status }}",
                "rightValue": 500,
                "operator": {
                  "type": "number",
                  "operation": "lt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -592,
          256
        ],
        "id": "edd969ea-92ce-456b-8308-f78caa9d8e2b",
        "name": "If"
      },
      {
        "parameters": {
          "errorMessage": "=MFCS Rest API fail\n{{ $json.error }}"
        },
        "id": "85e6def5-9b2c-4c1c-be47-163fca746a5c",
        "name": "MFCS Rest Api fail",
        "type": "n8n-nodes-base.stopAndError",
        "position": [
          -304,
          336
        ],
        "typeVersion": 1
      }
    ],
    "connections": {
      "Get transfer number": {
        "main": [
          [
            {
              "node": "Code in Python (Beta)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "count": {
        "main": [
          [
            {
              "node": "If count > wait_time",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Get transfer number",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If count > wait_time": {
        "main": [
          [
            {
              "node": "Can not find allocation",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "in data": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "count",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "MFCS Rest Api fail",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "activeVersionId": "91cf3117-d2e4-48bd-a0ba-ae71944e8444",
  "connections": {
    "Get transfer number": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "count": {
      "main": [
        [
          {
            "node": "If count > wait_time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get transfer number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If count > wait_time": {
      "main": [
        [
          {
            "node": "Can not find allocation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "in data": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "count",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MFCS Rest Api fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-11T07:55:55.887Z",
  "id": "lVFdnKl35q6CZoMf",
  "isArchived": false,
  "meta": null,
  "name": "Check Allocation in MFCS",
  "nodes": [
    {
      "parameters": {
        "url": "=https://rex-npe.retail.us-ashburn-1.ocs.oraclecloud.com/rgbu-rex-qkbn-par1-mfcs/MerchIntegrations/services/inventory/allocation/{{ $('in data').item.json.data.items[0].allocationNo }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "count",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        160
      ],
      "id": "fd13ae43-6b4e-4c34-88a7-262e6bcb28c7",
      "name": "Get transfer number",
      "credentials": {
        "oAuth2Api": {
          "id": "Uff1mmJ7d42hSbJ5",
          "name": "QB Cloud MFCS"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "errorMessage": "=Can not find allocation using MFCS Rest API\n{{ $('Get transfer number').item.json.error.message }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        320,
        256
      ],
      "id": "ab543841-aeee-4496-932c-f83fe59c3861",
      "name": "Can not find allocation",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "return _('Get transfer number').item.json  "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "ecc41972-b462-4e9c-bbae-670155c9cd4a",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "jsCode": "try {\n  $('count').first().json.count += 1\n  return {count:$('count').first().json.count};\n}\ncatch (error) {\n  return {count:1};\n}"
      },
      "id": "004c478c-72d1-41e6-bd6f-11817994182c",
      "name": "count",
      "type": "n8n-nodes-base.code",
      "position": [
        -112,
        192
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "amount": "={{ $('in data').item.json.wait != null ? $('in data').item.json.wait : 10 }}",
        "unit": "minutes"
      },
      "id": "494d1676-09e2-400e-ba4c-a05026382b31",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        -960,
        160
      ],
      "webhookId": "3d164954-2926-4174-afc1-261dfdfa9e46",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1829d538-5633-4f5c-ad1b-285b084b35ee",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.count }}",
              "rightValue": "={{ $('in data').item.json.wait_time != null ? $('in data').item.json.wait_time : 12 }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fa7e8aa4-b28a-49ef-83d4-a1443bf22032",
      "name": "If count > wait_time",
      "type": "n8n-nodes-base.if",
      "position": [
        32,
        320
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "data",
              "type": "object"
            },
            {
              "name": "wait",
              "type": "number"
            },
            {
              "name": "wait_time",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1136,
        160
      ],
      "id": "eb03b619-3fcb-45b9-9721-84e0d1c1534f",
      "name": "in data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "86a38758-272d-43cc-8663-77307aad9538",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 399,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "00a08ce1-b7de-4cb2-a6df-a53f7f6721ea",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 500,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -592,
        256
      ],
      "id": "edd969ea-92ce-456b-8308-f78caa9d8e2b",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "=MFCS Rest API fail\n{{ $json.error }}"
      },
      "id": "85e6def5-9b2c-4c1c-be47-163fca746a5c",
      "name": "MFCS Rest Api fail",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        -304,
        336
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {
    "in data": [
      {
        "json": {
          "data": null,
          "wait": 1,
          "wait_time": 2
        }
      }
    ]
  },
  "repo_name": "n8n",
  "repo_owner": "qb-stoth",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2025-11-11T07:55:55.889Z",
      "createdAt": "2025-11-11T07:55:55.889Z",
      "role": "workflow:owner",
      "workflowId": "lVFdnKl35q6CZoMf",
      "projectId": "0hv468Xl53uN8xuI"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-11T07:55:20.064Z",
      "createdAt": "2025-11-11T07:55:20.064Z",
      "id": "14E43CzOqTBt95Td",
      "name": "Merch_test_cases"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-18T14:32:26.000Z",
  "versionId": "91cf3117-d2e4-48bd-a0ba-ae71944e8444"
}