workflows/Check Allocation in Database(G7bYISuerlFQuuv2).json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-16T15:27:13.212Z",
    "createdAt": "2025-12-16T15:27:13.212Z",
    "versionId": "97814fb4-7fc9-4a6c-b8a1-448ccbda75e7",
    "workflowId": "G7bYISuerlFQuuv2",
    "nodes": [
      {
        "parameters": {
          "query": "={{ $json.query }}"
        },
        "type": "n8n-nodes-oracle-database.Oracle Database",
        "typeVersion": 1,
        "position": [
          432,
          0
        ],
        "id": "8420937c-1e56-4c26-ae93-e47ab7018d9c",
        "name": "Oracle Database",
        "credentials": {
          "oracleCredentials": {
            "id": "pTStTJ9riT9raJ7m",
            "name": "Oracle Credentials account"
          }
        }
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "alloc_no"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "123b744a-4d55-424d-a313-4fc0f5535dba",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "f4f5d9b2-b5b7-41f0-bcf8-9fd8b1e008b8",
                "leftValue": "={{ $json.rows.length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          656,
          0
        ],
        "id": "352c1920-2449-423f-8165-ad1cc4cf41df",
        "name": "If"
      },
      {
        "parameters": {
          "errorMessage": "Allocation can not found in Database"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          800,
          128
        ],
        "id": "3a5dd4aa-ef6e-4d4c-9893-de36dc6bb4bf",
        "name": "Stop and Error"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2971094e-7f38-42f0-92f5-fa593e6623f4",
                "name": "=query2",
                "value": "=SELECT * FROM tsfhead th, tsfdetail td where th.tsf_no=td.tsf_no and th.tsf_no='{{ $json.alloc_no }}'",
                "type": "string"
              },
              {
                "id": "3fa47cb9-611d-4eef-9529-11ba94fabd1c",
                "name": "query",
                "value": "SELECT * FROM tsfhead th, tsfdetail td where th.tsf_no=td.tsf_no and th.tsf_no='3000115000'",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          208,
          0
        ],
        "id": "4abe3702-6100-4b10-9fff-eca11da8d18d",
        "name": "Edit Fields"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Oracle Database": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [],
          [
            {
              "node": "Stop and Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Oracle Database",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "activeVersionId": "97814fb4-7fc9-4a6c-b8a1-448ccbda75e7",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Oracle Database": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Oracle Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-11T07:56:04.731Z",
  "id": "G7bYISuerlFQuuv2",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Check Allocation in Database",
  "nodes": [
    {
      "parameters": {
        "query": "={{ $json.query }}"
      },
      "type": "n8n-nodes-oracle-database.Oracle Database",
      "typeVersion": 1,
      "position": [
        432,
        0
      ],
      "id": "8420937c-1e56-4c26-ae93-e47ab7018d9c",
      "name": "Oracle Database",
      "credentials": {
        "oracleCredentials": {
          "id": "pTStTJ9riT9raJ7m",
          "name": "Oracle Credentials account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "alloc_no"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "123b744a-4d55-424d-a313-4fc0f5535dba",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f4f5d9b2-b5b7-41f0-bcf8-9fd8b1e008b8",
              "leftValue": "={{ $json.rows.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        656,
        0
      ],
      "id": "352c1920-2449-423f-8165-ad1cc4cf41df",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "Allocation can not found in Database"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        800,
        128
      ],
      "id": "3a5dd4aa-ef6e-4d4c-9893-de36dc6bb4bf",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2971094e-7f38-42f0-92f5-fa593e6623f4",
              "name": "=query2",
              "value": "=SELECT * FROM tsfhead th, tsfdetail td where th.tsf_no=td.tsf_no and th.tsf_no='{{ $json.alloc_no }}'",
              "type": "string"
            },
            {
              "id": "3fa47cb9-611d-4eef-9529-11ba94fabd1c",
              "name": "query",
              "value": "SELECT * FROM tsfhead th, tsfdetail td where th.tsf_no=td.tsf_no and th.tsf_no='3000115000'",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "4abe3702-6100-4b10-9fff-eca11da8d18d",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "repo_name": "n8n",
  "repo_owner": "qb-stoth",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-11T07:56:04.732Z",
      "createdAt": "2025-11-11T07:56:04.732Z",
      "role": "workflow:owner",
      "workflowId": "G7bYISuerlFQuuv2",
      "projectId": "0hv468Xl53uN8xuI"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-11T07:55:20.064Z",
      "createdAt": "2025-11-11T07:55:20.064Z",
      "id": "14E43CzOqTBt95Td",
      "name": "Merch_test_cases"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-11T08:04:52.000Z",
  "versionId": "97814fb4-7fc9-4a6c-b8a1-448ccbda75e7"
}