workflows/Get Alloc CSV(4k5T2r6BN22uCeCm).json
{
  "data": [
    {
      "updatedAt": "2025-11-26T09:17:36.000Z",
      "createdAt": "2025-11-26T09:14:55.243Z",
      "id": "4k5T2r6BN22uCeCm",
      "name": "Get Alloc CSV",
      "active": false,
      "isArchived": false,
      "nodes": [
        {
          "parameters": {},
          "type": "n8n-nodes-base.manualTrigger",
          "typeVersion": 1,
          "position": [
            0,
            0
          ],
          "id": "d3acc8e8-1571-433b-ac07-77e5d7970ee4",
          "name": "When clicking ‘Execute workflow’"
        },
        {
          "parameters": {
            "url": "=https://rgbu.gbua.us-ashburn-1.oci.oraclecloud.com/juvockdzchgzhbvsyuoo/ords/mfcs/testservice/getAllocCSV",
            "authentication": "genericCredentialType",
            "genericAuthType": "oAuth2Api",
            "options": {
              "response": {
                "response": {
                  "responseFormat": "file",
                  "outputPropertyName": "alloc.csv"
                }
              }
            }
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            240,
            0
          ],
          "id": "5b188bcc-ed96-4412-bfef-e2b1fc36255c",
          "name": "Get Alloc CSV",
          "credentials": {
            "oAuth2Api": {
              "id": "Uff1mmJ7d42hSbJ5",
              "name": "QB Cloud MFCS"
            }
          },
          "onError": "continueErrorOutput"
        }
      ],
      "connections": {
        "When clicking ‘Execute workflow’": {
          "main": [
            [
              {
                "node": "Get Alloc CSV",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1"
      },
      "staticData": null,
      "meta": null,
      "pinData": {},
      "versionId": "7e95e3a1-1bcb-49d5-97a4-b9e56b58e156",
      "activeVersionId": null,
      "triggerCount": 0,
      "shared": [
        {
          "updatedAt": "2025-11-26T09:14:55.246Z",
          "createdAt": "2025-11-26T09:14:55.246Z",
          "role": "workflow:owner",
          "workflowId": "4k5T2r6BN22uCeCm",
          "projectId": "0hv468Xl53uN8xuI"
        }
      ],
      "activeVersion": null,
      "tags": []
    },
    {
      "updatedAt": "2025-11-18T14:44:40.000Z",
      "createdAt": "2025-11-17T09:31:32.614Z",
      "id": "636i3W9ZLBDAif38",
      "name": "5B - Test case - Allocation - AI - 2",
      "active": false,
      "isArchived": false,
      "nodes": [
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "VlDj9LN2gLFegtM0",
              "mode": "list",
              "cachedResultUrl": "/workflow/VlDj9LN2gLFegtM0",
              "cachedResultName": "Upload to Kafka topic"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {
                "data": "={{ $json.toJsonString() }}"
              },
              "matchingColumns": [
                "data"
              ],
              "schema": [
                {
                  "id": "data",
                  "displayName": "data",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "string",
                  "removed": false
                }
              ],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {}
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            480,
            176
          ],
          "id": "f54f93af-d40b-4584-ad26-e10ebbc4960f",
          "name": "Call 'Upload to Kafka topic'",
          "onError": "continueErrorOutput"
        },
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "D8bvizUafrQoEjDR",
              "mode": "list",
              "cachedResultUrl": "/workflow/D8bvizUafrQoEjDR",
              "cachedResultName": "Run Apache Airflow DAG and Retrieve XCom Value"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {
                "dag_run_id": "kafka_topic_consumer",
                "wait": 10,
                "wait_time": 24
              },
              "matchingColumns": [],
              "schema": [
                {
                  "id": "dag_run_id",
                  "displayName": "dag_run_id",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "string"
                },
                {
                  "id": "data",
                  "displayName": "data",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "string"
                },
                {
                  "id": "wait",
                  "displayName": "wait",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "number"
                },
                {
                  "id": "wait_time",
                  "displayName": "wait_time",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "number"
                }
              ],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {}
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            704,
            176
          ],
          "id": "45173722-f708-4680-a30a-012142f2d632",
          "name": "Call 'Run Apache Airflow DAG and Retrieve XCom Value'",
          "onError": "continueErrorOutput"
        },
        {
          "parameters": {
            "errorMessage": "=Failed to upload file to Kafka topic.\n{{ $json.error }}"
          },
          "type": "n8n-nodes-base.stopAndError",
          "typeVersion": 1,
          "position": [
            480,
            416
          ],
          "id": "4d1b13b7-aeb3-4934-8af2-99036f290d8f",
          "name": "Failed to upload file to Kafka topic",
          "onError": "continueErrorOutput"
        },
        {
          "parameters": {
            "errorMessage": "=Can not find Allocation in MFCS\n{{ $json.error }}"
          },
          "type": "n8n-nodes-base.stopAndError",
          "typeVersion": 1,
          "position": [
            928,
            416
          ],
          "id": "9dffcbda-28d6-4b57-b82e-d3996756ea0d",
          "name": "Can not find Allocation in MFCS",
          "onError": "continueErrorOutput"
        },
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "G7bYISuerlFQuuv2",
              "mode": "list",
              "cachedResultUrl": "/workflow/G7bYISuerlFQuuv2",
              "cachedResultName": "Check Allocation in Database"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {
                "alloc_no": "={{ $('Code in JavaScript').item.json.items[0].allocationNo.toString() }}"
              },
              "matchingColumns": [],
              "schema": [
                {
                  "id": "alloc_no",
                  "displayName": "alloc_no",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "string",
                  "removed": false
                }
              ],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {}
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            1152,
            176
          ],
          "id": "940ad1dd-2fa6-42e3-9952-9c381967744e",
          "name": "Call 'Check Allocation in Database'",
          "disabled": true,
          "onError": "continueErrorOutput"
        },
        {
          "parameters": {
            "promptType": "define",
            "text": "={{ $if ($('Call \\'Upload to Kafka topic\\'').isExecuted,\"Input from \\\"Upload to Kafka topic\\\" node: \\n \"+$('Call \\'Upload to Kafka topic\\'').item.json.toJsonString(),\"\" )}}\n\n{{ $if ($('Call \\'Run Apache Airflow DAG and Retrieve XCom Value\\'').isExecuted,\"Input from \\\"Run Apache Airflow DAG and Retrieve\\\" node: \\n \"+$('Call \\'Run Apache Airflow DAG and Retrieve XCom Value\\'').item.json.toJsonString(),\"\" )}}\n\n{{ $if ($('Call \\'Check Allocation in MFCS v2\\'').isExecuted,\"Input from \\\"Call Check Allocation in MFCS\\\" node: \\n \"+$('Call \\'Check Allocation in MFCS v2\\'').item.json.toJsonString(),\"\" )}}\n\n",
            "options": {
              "systemMessage": "Use the incoming inputs to create a short summary from all input nodes. If the input contains items and qty-s fields then collect and compare them and show any discrepancies."
            }
          },
          "type": "@n8n/n8n-nodes-langchain.agent",
          "typeVersion": 2.2,
          "position": [
            1376,
            160
          ],
          "id": "3185e698-b890-4919-8ed7-3fdf20656715",
          "name": "AI Agent"
        },
        {
          "parameters": {
            "options": {}
          },
          "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
          "typeVersion": 1,
          "position": [
            1376,
            288
          ],
          "id": "a65b909d-f9c4-49e3-a222-d092d81805db",
          "name": "Google Gemini Chat Model",
          "credentials": {
            "googlePalmApi": {
              "id": "tbdCvA5cfazz8mkQ",
              "name": "Google Gemini(PaLM) Api account"
            }
          }
        },
        {
          "parameters": {},
          "type": "n8n-nodes-base.manualTrigger",
          "typeVersion": 1,
          "position": [
            -208,
            464
          ],
          "id": "64af133b-66c3-431b-bea9-69d2c79fa0e7",
          "name": "When clicking ‘Execute workflow’"
        },
        {
          "parameters": {
            "url": "https://rgbu.gbua.us-ashburn-1.oci.oraclecloud.com/juvockdzchgzhbvsyuoo/ords/mfcs/testservice/getAllocJSONv2",
            "authentication": "genericCredentialType",
            "genericAuthType": "oAuth2Api",
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            32,
            272
          ],
          "id": "c0e1da09-bac1-4f0f-b1db-ab9fd4e75c19",
          "name": "HTTP Request",
          "credentials": {
            "oAuth2Api": {
              "id": "Uff1mmJ7d42hSbJ5",
              "name": "QB Cloud MFCS"
            }
          },
          "onError": "continueErrorOutput"
        },
        {
          "parameters": {
            "jsCode": "try {\n  if ($input.first().json.items[0].request_body_clob == null || $input.first().json.items[0].request_body_clob !== \"\") {\n  return JSON.parse($input.first().json.items[0].request_body_clob)\n}\n} catch (error) {\n  return $input.first().json.data\n \n}\n\n"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            256,
            176
          ],
          "id": "22a53e2c-beca-4fd0-abf0-bbb431ead200",
          "name": "Code in JavaScript"
        },
        {
          "parameters": {
            "errorMessage": "=Unable to get allocation JSON template from MFCS.\n{{ $json.error }}"
          },
          "type": "n8n-nodes-base.stopAndError",
          "typeVersion": 1,
          "position": [
            256,
            416
          ],
          "id": "34ddd652-7661-4573-9c5f-aa082ca01cc2",
          "name": "Unable to get allocation JSON template from MFCS.",
          "onError": "continueErrorOutput"
        },
        {
          "parameters": {
            "errorMessage": "={{ $json.error }}"
          },
          "type": "n8n-nodes-base.stopAndError",
          "typeVersion": 1,
          "position": [
            704,
            416
          ],
          "id": "9bea98e2-c3fd-42ee-be39-1a654b41621b",
          "name": "DAG Run failed or wait too long",
          "onError": "continueErrorOutput"
        },
        {
          "parameters": {
            "content": "## JSON File generation \n**Create JSON file for allocation using Custom REST Api developed in RDS**",
            "height": 624,
            "width": 416
          },
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            0,
            0
          ],
          "typeVersion": 1,
          "id": "00eba56b-450a-4a06-8f60-39daf8321af5",
          "name": "Sticky Note"
        },
        {
          "parameters": {
            "content": "## Upload JSON to Kafka \n**Demo topic, no conversions are made on the message**",
            "height": 624,
            "width": 224,
            "color": 2
          },
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            416,
            0
          ],
          "typeVersion": 1,
          "id": "527b30e9-f641-41da-9438-ac10ea0da030",
          "name": "Sticky Note1"
        },
        {
          "parameters": {
            "content": "## Run DAG in Airflow\n**Get JSON from Kafka topic and call MFCS Rest API to create Allocation** ",
            "height": 624,
            "width": 224,
            "color": 4
          },
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            640,
            0
          ],
          "typeVersion": 1,
          "id": "10ad3320-65d7-4fad-b586-39b3c0e40cc8",
          "name": "Sticky Note2"
        },
        {
          "parameters": {
            "content": "## Check Allication in MFCS \n**REST API** ",
            "height": 624,
            "width": 224,
            "color": 5
          },
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            864,
            0
          ],
          "typeVersion": 1,
          "id": "052db9c9-1e85-4908-aea0-277e597c9e4d",
          "name": "Sticky Note3"
        },
        {
          "parameters": {
            "content": "## Check Allocation in DB \n**(Dummy check, since we have no DAS schema)**",
            "height": 624,
            "width": 224,
            "color": 6
          },
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            1088,
            0
          ],
          "typeVersion": 1,
          "id": "febc6d8c-4375-4dce-8766-2100cfb879f4",
          "name": "Sticky Note4"
        },
        {
          "parameters": {
            "content": "## Result evaluation with AI \n",
            "height": 624,
            "width": 528,
            "color": 3
          },
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            1312,
            0
          ],
          "typeVersion": 1,
          "id": "dad9399e-20ca-4351-b721-9626fd952df8",
          "name": "Sticky Note5"
        },
        {
          "parameters": {
            "rule": {
              "interval": [
                {
                  "field": "weeks",
                  "triggerAtHour": 18
                }
              ]
            }
          },
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1.2,
          "position": [
            -208,
            256
          ],
          "id": "62e293ff-4b54-43c7-8c78-e0167103a39a",
          "name": "Schedule Trigger"
        },
        {
          "parameters": {
            "formTitle": "Upload JSON file",
            "formFields": {
              "values": [
                {
                  "fieldLabel": "data",
                  "fieldType": "file",
                  "acceptFileTypes": ".json",
                  "requiredField": true
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.formTrigger",
          "typeVersion": 2.3,
          "position": [
            -288,
            32
          ],
          "id": "656266a2-1d46-4655-8778-4bef5e3ff338",
          "name": "On form submission",
          "webhookId": "6612f5c6-3722-483f-b141-368f3cf1b1af"
        },
        {
          "parameters": {
            "operation": "fromJson",
            "options": {}
          },
          "type": "n8n-nodes-base.extractFromFile",
          "typeVersion": 1,
          "position": [
            -160,
            32
          ],
          "id": "87d96fb8-ae09-4f32-a099-a790732c2d02",
          "name": "Extract from File"
        },
        {
          "parameters": {
            "promptType": "define",
            "text": "={{ $if ($('Unable to get allocation JSON template from MFCS.').isExecuted,\"Error from \\\"Unable to get allocation JSON template from MFCS.\\\" node: \\n \"+$('Unable to get allocation JSON template from MFCS.').item.json.error.toJsonString(),\"\") }}\n\n{{ $if ($('Failed to upload file to Kafka topic').isExecuted,\"Error from \\\"Upload to Kafka topic\\\" node: \\n \"+$('Failed to upload file to Kafka topic').item.json.error.toJsonString(),\"\") }}\n\n{{ $if ($('DAG Run failed or wait too long').isExecuted,\"Error from \\\"Run Apache Airflow DAG and Retrieve\\\" node: \\n \"+$('DAG Run failed or wait too long').item.json.error.toJsonString(),\"\") }}\n\n{{ $if ($('Can not find Allocation in MFCS').isExecuted,\"Error from \\\"Call Check Transfer in MFCS\\\" node: \\n\"+ $('Can not find Allocation in MFCS').item.json.error.toJsonString(),\"\") }}\n\n{{ $if ($('Can not find Allocation in DB').isExecuted,\"Error from \\\"Check Allocation in Database\\\" node: \\n \"+$('Can not find Allocation in DB').item.json.error.toJsonString(),\"\" )}}",
            "options": {
              "systemMessage": "Use the incoming errors to create a summary from all nodes."
            }
          },
          "type": "@n8n/n8n-nodes-langchain.agent",
          "typeVersion": 2.2,
          "position": [
            1376,
            416
          ],
          "id": "0429b53d-d969-4b9a-80e0-cac623499568",
          "name": "AI Agent1"
        },
        {
          "parameters": {
            "errorMessage": "=Can not find Allocation in DB\n{{ $json.error }}"
          },
          "type": "n8n-nodes-base.stopAndError",
          "typeVersion": 1,
          "position": [
            1152,
            416
          ],
          "id": "537603fb-d4c5-4673-8a91-7ad1cd462fed",
          "name": "Can not find Allocation in DB",
          "onError": "continueErrorOutput"
        },
        {
          "parameters": {
            "toRecipients": "szabolcs.toth@qbcs.com,attila.zubor@qbcs.com,peter.beck@qbcs.com",
            "subject": "5B - Test case - Allocation - v2 - Failed",
            "bodyContent": "={{ $json.output.replace(/[#*`~>]/g, '') }}",
            "additionalFields": {}
          },
          "type": "n8n-nodes-base.microsoftOutlook",
          "typeVersion": 2,
          "position": [
            1664,
            416
          ],
          "id": "7693e9d7-7b5f-42b6-8052-c3398884fda5",
          "name": "Send  error message",
          "webhookId": "07fd9650-d6a5-4d09-ab79-d7d7740980ea",
          "credentials": {
            "microsoftOutlookOAuth2Api": {
              "id": "sIpsyXB2BEbZqRKi",
              "name": "Microsoft Outlook account"
            }
          }
        },
        {
          "parameters": {
            "toRecipients": "szabolcs.toth@qbcs.com,attila.zubor@qbcs.com,peter.beck@qbcs.com",
            "subject": "5B - Test case - Allocation - v2",
            "bodyContent": "={{ $json.output.replace(/[#*`~>]/g, '') }}",
            "additionalFields": {}
          },
          "type": "n8n-nodes-base.microsoftOutlook",
          "typeVersion": 2,
          "position": [
            1664,
            160
          ],
          "id": "300b159a-014c-4f86-90d1-f35e942e2811",
          "name": "Send a message",
          "webhookId": "7189fdb7-d1f1-4c68-9045-f062c219944f",
          "credentials": {
            "microsoftOutlookOAuth2Api": {
              "id": "sIpsyXB2BEbZqRKi",
              "name": "Microsoft Outlook account"
            }
          }
        },
        {
          "parameters": {
            "content": "## Schedule run\n**Automatically generates \nAlloc JSON using REST API** ",
            "height": 176,
            "width": 464,
            "color": 7
          },
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -496,
            224
          ],
          "typeVersion": 1,
          "id": "5bcf86c6-0f92-4a93-bc5d-3b4c1dd823be",
          "name": "Sticky Note6"
        },
        {
          "parameters": {
            "content": "## Upload JSON File \n**Run test case with\na manually created file** ",
            "height": 192,
            "width": 464,
            "color": 7
          },
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -496,
            0
          ],
          "typeVersion": 1,
          "id": "82c03130-688b-4e58-aff0-ee568759e932",
          "name": "Sticky Note7"
        },
        {
          "parameters": {
            "content": "## Trigger run manually \n**Automatically generates \nAlloc JSON using REST API** ",
            "height": 192,
            "width": 464,
            "color": 7
          },
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -496,
            432
          ],
          "typeVersion": 1,
          "id": "3cfd07c1-a090-41d7-bc1f-4f4964925b01",
          "name": "Sticky Note8"
        },
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "dwYudhFfTGG2aJuZ",
              "mode": "list",
              "cachedResultUrl": "/workflow/dwYudhFfTGG2aJuZ",
              "cachedResultName": "Check Allocation in MFCS v2"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {
                "data": "={{ $('Code in JavaScript').item.json }}",
                "wait": 5,
                "wait_time": 12
              },
              "matchingColumns": [
                "data"
              ],
              "schema": [
                {
                  "id": "data",
                  "displayName": "data",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "object",
                  "removed": false
                },
                {
                  "id": "wait",
                  "displayName": "wait",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "number",
                  "removed": false
                },
                {
                  "id": "wait_time",
                  "displayName": "wait_time",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "canBeUsedToMatch": true,
                  "type": "number",
                  "removed": false
                }
              ],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {}
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            928,
            176
          ],
          "id": "617b0bd7-6919-485a-97d1-d97912889b07",
          "name": "Call 'Check Allocation in MFCS v2'",
          "alwaysOutputData": false,
          "onError": "continueErrorOutput"
        }
      ],
      "connections": {
        "Call 'Upload to Kafka topic'": {
          "main": [
            [
              {
                "node": "Call 'Run Apache Airflow DAG and Retrieve XCom Value'",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Failed to upload file to Kafka topic",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Call 'Run Apache Airflow DAG and Retrieve XCom Value'": {
          "main": [
            [
              {
                "node": "Call 'Check Allocation in MFCS v2'",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "DAG Run failed or wait too long",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Call 'Check Allocation in Database'": {
          "main": [
            [
              {
                "node": "AI Agent",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Can not find Allocation in DB",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Google Gemini Chat Model": {
          "ai_languageModel": [
            [
              {
                "node": "AI Agent",
                "type": "ai_languageModel",
                "index": 0
              },
              {
                "node": "AI Agent1",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        },
        "When clicking ‘Execute workflow’": {
          "main": [
            [
              {
                "node": "HTTP Request",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "HTTP Request": {
          "main": [
            [
              {
                "node": "Code in JavaScript",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Unable to get allocation JSON template from MFCS.",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Code in JavaScript": {
          "main": [
            [
              {
                "node": "Call 'Upload to Kafka topic'",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Schedule Trigger": {
          "main": [
            [
              {
                "node": "HTTP Request",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "On form submission": {
          "main": [
            [
              {
                "node": "Extract from File",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Extract from File": {
          "main": [
            [
              {
                "node": "Code in JavaScript",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "AI Agent": {
          "main": [
            [
              {
                "node": "Send a message",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Unable to get allocation JSON template from MFCS.": {
          "main": [
            [
              {
                "node": "AI Agent1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Failed to upload file to Kafka topic": {
          "main": [
            [
              {
                "node": "AI Agent1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "DAG Run failed or wait too long": {
          "main": [
            [
              {
                "node": "AI Agent1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Can not find Allocation in MFCS": {
          "main": [
            [
              {
                "node": "AI Agent1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Can not find Allocation in DB": {
          "main": [
            [
              {
                "node": "AI Agent1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "AI Agent1": {
          "main": [
            [
              {
                "node": "Send  error message",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Call 'Check Allocation in MFCS v2'": {
          "main": [
            [
              {
                "node": "Call 'Check Allocation in Database'",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Can not find Allocation in MFCS",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1"
      },
      "staticData": null,
      "meta": {
        "templateCredsSetupCompleted": true
      },
      "pinData": {},
      "versionId": "7048c92a-64a1-4ad7-8fd9-c698402ec5a0",
      "activeVersionId": null,
      "triggerCount": 0,
      "shared": [
        {
          "updatedAt": "2025-11-17T09:31:32.617Z",
          "createdAt": "2025-11-17T09:31:32.617Z",
          "role": "workflow:owner",
          "workflowId": "636i3W9ZLBDAif38",
          "projectId": "0hv468Xl53uN8xuI"
        }
      ],
      "activeVersion": null,
      "tags": [
        {
          "updatedAt": "2025-11-11T07:55:20.064Z",
          "createdAt": "2025-11-11T07:55:20.064Z",
          "id": "14E43CzOqTBt95Td",
          "name": "Merch_test_cases"
        }
      ]
    }
  ],
  "nextCursor": "eyJsaW1pdCI6Miwib2Zmc2V0IjoyfQ==",
  "repo_name": "n8n",
  "repo_owner": "qb-stoth",
  "repo_path": "workflows"
}