workflows/GL Flow(tAX0S3vYFwO5kbPv).json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an issue": {
      "main": [
        [
          {
            "node": "Get keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Make a call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Similar Issues Resolved": {
      "main": [
        [
          {
            "node": "Loop Over Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Issue Ref": {
      "main": [
        [
          {
            "node": "Simplify Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Comments": {
      "main": [
        [
          {
            "node": "Simplify Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplify Comments": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarise Resolution": {
      "main": [
        [
          {
            "node": "Return Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplify Issue": {
      "main": [
        [
          {
            "node": "Get Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarise Resolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Fields": {
      "main": [
        [
          {
            "node": "Loop Over Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Get keywords",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Attempt to Resolve Issue",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Summarise Resolution",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Decide on ticket",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Summarize todos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Connect again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize todo",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Connect to Confluence",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Decide on ticket": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get keywords": {
      "main": [
        [
          {
            "node": "Get Recent Similar Issues Resolved",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Jira info": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Connect to Confluence": {
      "main": [
        [
          {
            "node": "Get html body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get html body": {
      "main": [
        [
          {
            "node": "Extract titles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split todo headers": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Connect again": {
      "main": [
        [
          {
            "node": "Get todo content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get todo content": {
      "main": [
        [
          {
            "node": "Summarize todo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize todo": {
      "main": [
        [
          {
            "node": "Output results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output results": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize todos": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract titles": {
      "main": [
        [
          {
            "node": "Split todo headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over keywords": {
      "main": [
        [
          {
            "node": "Summarize all todos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Issues": {
      "main": [
        [
          {
            "node": "Collect Jira info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Issue Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop over keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Attempt to Resolve Issue": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Attempt to Resolve Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attempt to Resolve Issue1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Ollama Chat Model10": {
      "ai_languageModel": [
        [
          {
            "node": "Attempt to Resolve Issue1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Attempt to Resolve Issue2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Attempt to Resolve Issue2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Attempt to Resolve Issue2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Attempt to Resolve Issue1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Decide on ticket",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-12T07:10:33.309Z",
  "id": "tAX0S3vYFwO5kbPv",
  "isArchived": false,
  "meta": null,
  "name": "GL Flow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -1648,
        1664
      ],
      "id": "dbfedb9a-5095-481d-afd5-36bfbb4337e4",
      "name": "Microsoft Outlook Trigger"
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10000",
          "mode": "list",
          "cachedResultName": "n8ntest"
        },
        "issueType": {
          "__rl": true,
          "value": "10003",
          "mode": "list",
          "cachedResultName": "Task"
        },
        "summary": "={{ $('Microsoft Outlook Trigger').item.json.subject }}",
        "additionalFields": {
          "assignee": {
            "__rl": true,
            "value": "712020:bb851a6c-16da-40a6-9801-e652b471f0ce",
            "mode": "list",
            "cachedResultName": "Zubor Attila"
          },
          "description": "={{ $('HTML').item.json.Issue }}",
          "reporter": {
            "__rl": true,
            "value": "712020:bb851a6c-16da-40a6-9801-e652b471f0ce",
            "mode": "list",
            "cachedResultName": "Zubor Attila"
          }
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        800,
        1664
      ],
      "id": "36de201d-5245-4010-9d01-09afff7ad456",
      "name": "Create an issue"
    },
    {
      "parameters": {
        "from": "+13342768035",
        "to": "+36209782288",
        "message": "=You have a new Jira issue!  {{ $('Create an issue').item.json.key }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -320,
        720
      ],
      "id": "51fec788-b05b-480c-96d5-a6193f571c20",
      "name": "Send an SMS/MMS/WhatsApp message",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "call",
        "from": "+13342768035",
        "to": "+36209782288",
        "message": "=You have an urgent issue!  {{ $('Create an issue').item.json.key }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -320,
        912
      ],
      "id": "eb742e3a-e674-4101-99cb-e15fda82eb40",
      "name": "Make a call",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "toRecipients": "={{ $('Microsoft Outlook Trigger').item.json.to }}",
        "subject": "=Re: {{ $('Microsoft Outlook Trigger').item.json.subject }}",
        "message": "=I am an automated agent designed to help manage incoming issues. \nI have opened the following Jira ticket for your request: \"\n{{ $('Create an issue').item.json.self }}\n\"Please reply to this email with only one word regarding the urgency of the request:\nLow - These requests can wait until working hours the next day to be picked up.\nMedium - These requests require attention in the following hours, a monitoring team member will be notified via text message.\nHigh - These requests require immidiate attention, a monitoring team member will be notified via phone call immidiately.",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Request priority",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Low"
                  },
                  {
                    "option": "Medium"
                  },
                  {
                    "option": "High"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -704,
        912
      ],
      "id": "0e2b4314-db1a-414a-8d35-301ff83d779f",
      "name": "Send message and wait for response",
      "webhookId": "05416b70-1391-4bf4-a1c4-43415278653a",
      "alwaysOutputData": false,
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data['Request priority'] }}",
                    "rightValue": "Medium",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bf73bcc8-010c-4aa4-8e65-e1ef2b4b068a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a96ad7b3-2111-4f7c-a92d-29f73863a6c9",
                    "leftValue": "={{ $json.data['Request priority'] }}",
                    "rightValue": "High",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "870745f7-5d84-42a8-9e3e-61f0d2f03d51",
                    "leftValue": "={{ $json.data['Request priority'] }}",
                    "rightValue": "Low",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -528,
        912
      ],
      "id": "4d253b6a-a012-47ae-b195-8c87f271739e",
      "name": "Switch",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "output": "fields",
        "fields": [
          "body"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -976,
        1664
      ],
      "id": "afa67400-d59c-405c-b72d-c7fff897e432",
      "name": "Get a message",
      "webhookId": "faaffcf2-1f93-4fb5-b16c-69ee5e43fe71"
    },
    {
      "parameters": {
        "jiraVersion": "server",
        "operation": "getAll",
        "options": {
          "jql": "={{ $json.output.replace(/\\n$/, \"\") }} and issuetype in StandardIssueTypes() ORDER BY created DESC"
        }
      },
      "id": "d8764ff7-b101-4ae9-a28d-1db5312da95a",
      "name": "Get Recent Similar Issues Resolved",
      "type": "n8n-nodes-base.jira",
      "position": [
        1312,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "4b72d87a-2e3c-4596-b50c-a4ceb3a40f95",
      "name": "Issue Ref",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1632,
        1152
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jiraVersion": "server",
        "resource": "issueComment",
        "operation": "getAll",
        "issueKey": "={{ $json.issueKey }}",
        "options": {
          "orderBy": "-created"
        }
      },
      "id": "33bec0e3-ae59-4d6d-90f1-c788c63f0f4a",
      "name": "Get Comments",
      "type": "n8n-nodes-base.jira",
      "position": [
        2000,
        1152
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "faba7ffd-4f3a-4394-9bed-01014ddc12c1",
              "name": "author",
              "type": "string",
              "value": "={{ $json.author.displayName }}"
            },
            {
              "id": "76ed191c-6c43-47e7-bbaf-104bdde26993",
              "name": "comment",
              "type": "string",
              "value": "={{ $json.body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a17cd19d-c58f-46c1-b8f9-9b477bf0af72",
      "name": "Simplify Comments",
      "type": "n8n-nodes-base.set",
      "position": [
        2208,
        1152
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Issue\n{{ $('Simplify Issue').item.json.issueKey }} {{ $('Simplify Issue').item.json.summary }}\n{{ $('Simplify Issue').item.json.description }}\n{{ $('Simplify Issue').item.json.originalDescription }}\n\n## Comments\n{{ $json.comments.map((item,idx) => `${idx+1}. ${item.comment.replaceAll('\\n', ' ')}`).join('\\n') }}",
        "messages": {
          "messageValues": [
            {
              "message": "Analyse the given issue and its comments. Your task is to summarise the resolution of this issue."
            }
          ]
        }
      },
      "id": "c180f1de-ba3d-42a0-af51-3ffb24fdfa5c",
      "name": "Summarise Resolution",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        2592,
        1152
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "267918d5-5193-48c8-8e3a-6542c8edf77c",
              "name": "projectKey",
              "type": "string",
              "value": "={{ $json.fields.project.key }}"
            },
            {
              "id": "8c44b6b1-a5e7-4312-b96c-727b24a82ac2",
              "name": "issueKey",
              "type": "string",
              "value": "={{ $json.key }}"
            },
            {
              "id": "3451a39f-1907-4406-beb9-fd4feebbf4c2",
              "name": "issueType",
              "type": "string",
              "value": "={{ $json.fields.issuetype.name }}"
            },
            {
              "id": "99f33276-50ad-424a-b307-2ed69094bc43",
              "name": "createdAt",
              "type": "string",
              "value": "={{ $json.fields.created }}"
            },
            {
              "id": "5463ff2e-4d42-4602-8278-555f369a37e5",
              "name": "status",
              "type": "string",
              "value": "={{ $json.fields.status.name }}"
            },
            {
              "id": "1df0588e-7916-4c4d-95f1-7c6d58ba094f",
              "name": "summary",
              "type": "string",
              "value": "={{ $json.fields.summary }}"
            },
            {
              "id": "ecf69a9b-18c9-4b04-9d6e-b77391728f33",
              "name": "description",
              "type": "string",
              "value": "={{ $json.fields.description }}"
            },
            {
              "id": "8f7b0876-4d6f-42b3-bc12-34396ce824ed",
              "name": "reportedBy",
              "type": "string",
              "value": "={{ $json.fields.creator.displayName }}"
            },
            {
              "id": "74504426-6ecd-4b32-866f-0e336c669650",
              "name": "reportedByEmailAddress",
              "type": "string",
              "value": "={{ $json.fields.creator.emailAddress }}"
            },
            {
              "id": "ce1714d8-2c84-4f45-9b4d-4b625be4b116",
              "name": "originalDescription",
              "value": "={{ $json.fields.customfield_10080 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8ea73dbb-85f5-4ff2-ac02-3cb18f785b74",
      "name": "Simplify Issue",
      "type": "n8n-nodes-base.set",
      "position": [
        1808,
        1152
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "comments",
        "options": {}
      },
      "id": "38cc0eb8-906e-42de-89f0-6d4e7523897b",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        2384,
        1152
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae761d50-f4b9-4baa-beec-ca1a91614d1c",
              "name": "issueKey",
              "type": "string",
              "value": "={{ $('Simplify Issue').item.json.issueKey }}"
            },
            {
              "id": "963b12a4-cf60-4380-9f71-4b9885e9f9b5",
              "name": "summary",
              "type": "string",
              "value": "={{ $('Simplify Issue').item.json.summary }}"
            },
            {
              "id": "62a6c941-ccd4-4d71-8685-e5a1144395ca",
              "name": "description",
              "type": "string",
              "value": "={{ $('Simplify Issue').item.json.description }}"
            },
            {
              "id": "47d26f5c-d360-4ca3-b48a-d36ea1746a3b",
              "name": "resolution",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "733e112d-3bd1-48a8-945a-f5bdb95b4090",
              "name": "originalDescription",
              "value": "={{ $('Simplify Issue').item.json.originalDescription }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5c4de1c5-3aba-4351-97e5-8d8e7253a3c0",
      "name": "Return Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        2880,
        1152
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "model": "gemma3:27b-it-qat",
        "options": {
          "temperature": 0,
          "topK": -1,
          "topP": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1008,
        1872
      ],
      "id": "a1cbad10-df77-44b4-bc09-a880acf759b4",
      "name": "Ollama Chat Model"
    },
    {
      "parameters": {
        "model": "mistral-small3.2:24b",
        "options": {
          "temperature": 0,
          "topP": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        5584,
        1872
      ],
      "id": "e0cc9993-1553-40a7-ba5e-9ee0f6e88dd1",
      "name": "Ollama Chat Model1"
    },
    {
      "parameters": {
        "model": "llama3:8b",
        "options": {
          "temperature": 0,
          "topK": -1,
          "topP": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        2592,
        1312
      ],
      "id": "b159281e-2be7-4110-afde-68657c3bd038",
      "name": "Ollama Chat Model2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b524ad38-a085-4efe-b912-119ae02c9878",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Open ticket = Yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        1664
      ],
      "id": "3a521b78-2403-459a-bf9a-9589a63ddf81",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "No need to open ticket"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        800,
        1840
      ],
      "id": "277a5532-63a9-46c1-81a0-e07ae50497d8",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        304,
        1872
      ],
      "id": "f6566417-fce3-4d8a-b15d-b5ae2b2d47f6",
      "name": "Ollama Chat Model3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2400,
        1664
      ],
      "id": "897f9c17-61be-49a7-9222-5b662cba6d4f",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "model": "mistral-small3.2:24b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        2992,
        2000
      ],
      "id": "da30d3b1-a449-4b22-8181-4b8ef8bb2580",
      "name": "Ollama Chat Model4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('HTML').item.json.Issue }}",
        "options": {
          "systemMessage": "Analyze the email to identify the single most relevant keyword for searching a Confluence page.\n\nThe keyword should be specific and non-generic (e.g., a technical term or a job name).\n\nThe keyword must be a single, singular word.\n\nOutput only the keyword, with no other text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1328,
        1664
      ],
      "id": "7fdf2dd9-251a-42bd-a999-2b82a73b51ba",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {
          "temperature": 0,
          "topK": -1,
          "topP": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1312,
        1824
      ],
      "id": "13e26f73-839e-4825-a9d2-283773bc711e",
      "name": "Ollama Chat Model5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Issue }}",
        "options": {
          "systemMessage": "Analyze the email chain to determine if a new Jira ticket should be created.\n\nPrioritize the most recent email content. (The one at the top).\nIf it suggests the original issue has been resolved or does not need attention then no ticket is needed.\n\nResponse must be one of the following, and nothing else:\n\nOpen ticket = Yes\n\nOpen ticket = No"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        304,
        1664
      ],
      "id": "391b6df1-1091-4a4b-97b5-69c7691b1254",
      "name": "Decide on ticket"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subject:\n{{ $('Microsoft Outlook Trigger').item.json.subject }}\nEmail content:\n{{ $('HTML').item.json.Issue }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Analyze the email subject and body to generate a Jira JQL query for finding similar issues.\n\nThe query must search for meaningful keywords that are specific to the issue, such as technical terms, program names, or process names.\n\nAvoid generic terms like \"error\" or \"aborted,\" and unique identifiers like file names or record numbers.\n\nList of keywords that are too generic by themselves: abort, aborted, RMS, RIB, abend, error, datastage.\n\nDo not include any accompanying text or explanation.\n\nOutput format:\n\n(project = QBGLSUP or project = IDA) and (text ~ \"keyword 1\" OR text ~ \"keyword 2\")"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1008,
        1664
      ],
      "id": "5c67989b-7e93-4de2-a698-b067d71e2b1a",
      "name": "Get keywords"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "resolved_issues",
        "options": {}
      },
      "id": "4de2ebfd-92ba-4b74-900b-61a202f444be",
      "name": "Collect Jira info",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        2880,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=https://qbcs.atlassian.net/wiki/rest/api/content/292847777?expand=body.storage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": false,
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1648,
        1664
      ],
      "id": "3568ad31-8afb-414f-ba15-d1e777b0f51e",
      "name": "Connect to Confluence",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df1f2f2e-c14f-4dfc-86cb-923f224d50f2",
              "name": "html",
              "value": "={{$json.body.storage.value}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        1664
      ],
      "id": "6c33dc27-2ac3-4f73-850a-9211116ea1cd",
      "name": "Get html body"
    },
    {
      "parameters": {
        "fieldToSplitOut": "todo",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2208,
        1664
      ],
      "id": "4bc3752d-31cf-49a4-9d1c-c0bb48783070",
      "name": "Split todo headers"
    },
    {
      "parameters": {
        "url": "https://qbcs.atlassian.net/wiki/rest/api/content/292847777?expand=body.storage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": false,
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        1824
      ],
      "id": "7a42dd83-2d86-4f3f-8eb2-70f7d5732454",
      "name": "Connect again",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const htmlString = $input.first().json.body.storage.value; // Your HTML content\nconst h2Text = $('Split todo headers').first().json.todo; // Search phrase (even if interrupted by tags)\n\n// Escape special regex characters in the text\nconst escapedText = h2Text.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n\n// Match any <h2> that contains the desired phrase (even with HTML tags between words)\nconst h2Regex = new RegExp(\n  `<h2[^>]*>[\\\\s\\\\S]*?${escapedText.split(/\\s+/).join('[\\\\s\\\\S]*?')}[\\\\s\\\\S]*?<\\\\/h2>([\\\\s\\\\S]*?)(?=<h2[^>]*>|$)`,\n  'i'\n);\n\nconst match = htmlString.match(h2Regex);\n\nif (!match) {\n  return [{ json: { error: \"Could not find matching h2 by text.\" } }];\n}\n\nconst contentBetween = match[1].trim();\n\nreturn [{ json: { extractedContent: contentBetween } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2784,
        1824
      ],
      "id": "21901175-160e-4aeb-9c2c-abe09577c1e5",
      "name": "Get todo content"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.extractedContent }}",
        "options": {
          "systemMessage": "Summarize the provided solution, stripping any HTML. Paraphrase the content while leaving out any code."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2992,
        1824
      ],
      "id": "13b4b0fa-9b36-4a98-98b2-b7b29ad9a3ea",
      "name": "Summarize todo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94133e2f-fcf4-4082-965b-84abbe5f9a6c",
              "name": "Todo",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3312,
        1824
      ],
      "id": "896c15f3-87ab-4b28-bfc8-9a0b256866d4",
      "name": "Output results"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "Todo",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3312,
        1664
      ],
      "id": "b9fbdeb7-db20-4368-a4ca-2f817820e85b",
      "name": "Summarize todos"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        592,
        0
      ],
      "id": "3325b503-0b46-4163-8a5b-dd727f8fc95c",
      "name": "Summarize all todos"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "html",
        "extractionValues": {
          "values": [
            {
              "key": "todo",
              "cssSelector": "=h2:contains('{{ $('AI Agent3').item.json.output }}') ",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": false,
          "cleanUpText": false
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2032,
        1664
      ],
      "id": "43effb24-4cbc-472c-bc76-fb5bd599fb5d",
      "name": "Extract titles",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        304,
        0
      ],
      "id": "3dfe51c7-f7d0-40fc-9660-19606113e761",
      "name": "Loop over keywords"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "152a4e06-ff39-49db-a4e8-4cd4f5b24f4e",
      "name": "Loop Over Issues",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1488,
        960
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {
          "destinationFieldName": "lookupkey"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        160,
        0
      ],
      "id": "ed830a4e-00bd-4dfb-8a29-b1617d047132",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "// This will take the stringified array in output and turn it into a real array\nreturn [\n  {\n    json: {\n      output: JSON.parse($json.output) // Convert string to array\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "03f311b8-01b9-46e6-a221-362496398153",
      "name": "Code"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3680,
        1664
      ],
      "id": "72b5c618-c804-401b-8b82-fb6fd00bb7ea",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node\n// This script normalizes \"resolved_issues\" and \"Todo\" keys into a consistent structure.\n\nreturn items.map(item => {\n\tconst data = item.json;\n\n\treturn {\n\t\tjson: {\n\t\t\t// Pass through resolved_issues as-is, or empty array if missing\n\t\t\tresolved_issues: data.resolved_issues ?? [],\n\n\t\t\t// Convert \"Todo\" array-of-objects into array-of-strings, or empty array if missing\n\t\t\ttodo: Array.isArray(data.Todo)\n\t\t\t\t? data.Todo.map(t => t.Todo ?? null).filter(Boolean)\n\t\t\t\t: []\n\t\t}\n\t};\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4624,
        1632
      ],
      "id": "48010b05-78cd-44a0-8edb-0dc0694fbd00",
      "name": "Code1"
    },
    {
      "parameters": {
        "content": "## TODO Branch",
        "height": 624,
        "width": 2208,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1248,
        1440
      ],
      "id": "46bad952-5cf4-4bef-befe-7c5f41a65a93",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## JIRA Branch",
        "height": 544,
        "width": 1776,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        880
      ],
      "id": "d37e5eb2-6b95-484c-b106-3d81e126f03f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Previously resolved Issues\n{{ $json.data[0].resolved_issues.toJsonString()  }}\n## Todo page\n{{ $json.data[1].todo }}\n## Current issue\n{{ $('HTML').item.json.Issue }}",
        "messages": {
          "messageValues": [
            {
              "type": "=SystemMessagePromptTemplate",
              "message": "=Based on the previously resolved issues, I can suggest a resolution for the current issue.\n\nProposed Resolution\nTo address the current problem, please follow the resolution steps derived from these relevant, previously resolved issues:\n\nFrom Jira Issues:\n\n[Issue Number] - [Brief summary of problem cause and resolution steps]\n\n[Issue Number] - [Brief summary of problem cause and resolution steps]\n\nFrom To-do Pages:\n\n[To-do Page Title] - [Brief summary of the to-do's resolution]\n\nIf there are no relevant to-do pages, I will explicitly state that.\n\nI do not include any generic advice or information not derived from the provided data.\n\nJira Link Format: https://support.qbcs.com/browse/QBGLSUP-17949"
            }
          ]
        }
      },
      "id": "fcaccf3a-0097-4afb-9083-549f889e7586",
      "name": "Attempt to Resolve Issue",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        5424,
        1632
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Issue }}",
        "options": {
          "systemMessage": "Analyze the message to assign a Jira priority level.\n\nIf the message indicates the issue is urgent or requires immediate attention, assign \"Blocker\".\n\nOtherwise, assign \"Major\".\n\nResponse must be one of the following, and nothing else:\n\nBlocker\n\nMajor"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -496,
        1168
      ],
      "id": "0c029462-1346-4b38-b4a8-6401fb098653",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -496,
        1424
      ],
      "id": "2f05bfbf-3b58-44a7-ba15-b374b9ae368e",
      "name": "Ollama Chat Model6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f0c353d1-4dd2-4553-b2c4-eaf824d4c68b",
              "leftValue": "={{$json.from}}",
              "rightValue": "@galerieslafayette.com",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1296,
        1664
      ],
      "id": "99ca74c1-5a44-4ddf-aad4-f948f9780774",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7cfb91af-9819-4e10-9da6-824e19d5f9eb",
              "name": "body.content",
              "value": "={{ $json.body.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -768,
        1664
      ],
      "id": "b380af3c-8def-4133-9d18-159d868aaeeb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "body.content",
        "extractionValues": {
          "values": [
            {
              "key": "Issue",
              "cssSelector": "span",
              "returnArray": true
            },
            {
              "key": "Issue",
              "cssSelector": "div",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": true,
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -368,
        1664
      ],
      "id": "cfc475ee-8221-4cc1-828a-37c04a65f0d1",
      "name": "HTML"
    },
    {
      "parameters": {
        "toRecipients": "attila.zubor@qbcs.com, szabolcs.beres@qbcs.com, david.rozsahegyi@qbcs.com",
        "subject": "={{ $('Microsoft Outlook Trigger').item.json.subject }} - AI suggestion",
        "bodyContent": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        5872,
        1632
      ],
      "id": "a629ead8-6d14-442a-86e7-ee3d52393318",
      "name": "Send a message",
      "webhookId": "e8287420-5bd5-4044-92a2-0b983fb2a1ce"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4848,
        1632
      ],
      "id": "a6204cb3-8ccb-4bb3-811c-6dfaf597ee8c",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Current issue\n{{ $json.data[1].issue }}\n## Todo page\n{{ $json.data[1].todo }}",
        "messages": {
          "messageValues": [
            {
              "message": "Based on the todo page information, summarize information found relevant to the issue in the following format:\nInformation derived from Wiki [Wiki page]:\n[To-do Page Title] - [Brief summary of the to-do's resolution]\n  Do not include any generic advice or information not derived from the provided data.  \n"
            }
          ]
        }
      },
      "id": "87aa3ea8-5bc3-4f1f-af92-47f7c8820373",
      "name": "Attempt to Resolve Issue1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        4160,
        2432
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "model": "mistral-small3.2:24b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        4080,
        2352
      ],
      "id": "9b8cc616-9c99-4ef7-b009-dd56c66c98a2",
      "name": "Ollama Chat Model9"
    },
    {
      "parameters": {
        "model": "mistral-small3.2:24b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        4160,
        2608
      ],
      "id": "51646e0f-d3e7-4321-9c69-b718822a1caf",
      "name": "Ollama Chat Model10"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4608,
        2272
      ],
      "id": "385b2c19-19f4-4f80-9168-3554b02aa821",
      "name": "Merge1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4832,
        2272
      ],
      "id": "140491f2-01a3-4923-bb0a-60cc4cfd7686",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "model": "mistral-small3.2:24b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        4192,
        2240
      ],
      "id": "7be8dd0e-39bb-4eee-941c-adda4cfb9ce5",
      "name": "Ollama Chat Model7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Previously resolved Issues\n{{ $json.data[0].resolved_issues.toJsonString() }}\n## Current issue\n{{ $json.data[0].issue }}",
        "messages": {
          "messageValues": [
            {
              "message": "Based on the previously resolved issues, summarize information found relevant to the issue in the following format:\nInformation derived from previous Jira issues:\n  [Issue Number] - [Brief summary of problem cause and resolution steps]  \n  [Issue Number] - [Brief summary of problem cause and resolution steps]  \n  Do not include any generic advice or information not derived from the provided data.  \nJira Link Format: \nhttps://support.qbcs.com/browse/QBGLSUP-17949\n"
            }
          ]
        }
      },
      "id": "ca70d541-9f6e-40e6-8ea1-3c73d6dc9a80",
      "name": "Attempt to Resolve Issue2",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        4192,
        2080
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "toRecipients": "attila.zubor@qbcs.com, szabolcs.beres@qbcs.com, david.rozsahegyi@qbcs.com",
        "subject": "=AI SUGGESTION: {{ $('Microsoft Outlook Trigger').item.json.subject }}",
        "bodyContent": "={{ $json.data[0].text }}\n\n{{ $json.data[1].text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        5104,
        2272
      ],
      "id": "ab210f0c-dc6a-4bad-b99f-e1ee3680ab36",
      "name": "Send a message1",
      "webhookId": "e8287420-5bd5-4044-92a2-0b983fb2a1ce"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3952,
        2272
      ],
      "id": "015ce9bf-f805-41ac-aea5-a12533cee151",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node\n// This script normalizes \"resolved_issues\", \"Todo\", and includes Issue text from the HTML node.\n\nreturn items.map(item => {\n\tconst data = item.json;\n\n\t// Safely pull Issue text from the HTML node\n\tconst issueText = $('HTML').item.json.Issue ?? '';\n\n\treturn {\n\t\tjson: {\n\t\t\t// Pass through resolved_issues as-is, or empty array if missing\n\t\t\tresolved_issues: data.resolved_issues ?? [],\n\n\t\t\t// Convert \"Todo\" array-of-objects into array-of-strings, or empty array if missing\n\t\t\ttodo: Array.isArray(data.Todo)\n\t\t\t\t? data.Todo.map(t => t.Todo ?? null).filter(Boolean)\n\t\t\t\t: [],\n\n\t\t\t// Add Issue text\n\t\t\tissue: issueText\n\t\t}\n\t};\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3728,
        2272
      ],
      "id": "7e26af78-9f58-442c-8435-b3362483862c",
      "name": "Code2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c9c6ba5-7c36-4bd5-bbef-40cd9b075096",
              "name": "Issue",
              "value": "={{ $json.Issue }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        1664
      ],
      "id": "98558e25-a94e-4c7b-93eb-475fb3408760",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "repo_name": "n8n",
  "repo_owner": "qb-stoth",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-12T07:10:33.312Z",
      "createdAt": "2025-09-12T07:10:33.312Z",
      "role": "workflow:owner",
      "workflowId": "tAX0S3vYFwO5kbPv",
      "projectId": "0hv468Xl53uN8xuI"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-12T07:10:33.309Z",
  "versionId": "9242b734-5e9f-4991-826a-3481a6c7afc3"
}