workflows/KL upgraded title list(hUUBmcEFxD47cpas).json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-16T15:27:13.212Z",
    "createdAt": "2025-12-16T15:27:13.212Z",
    "versionId": "41fac99d-87de-4545-a2ab-5973aeca7582",
    "workflowId": "hUUBmcEFxD47cpas",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "filters": {},
          "options": {}
        },
        "type": "n8n-nodes-base.microsoftOutlookTrigger",
        "typeVersion": 1,
        "position": [
          -2416,
          2880
        ],
        "id": "cb62de0f-1b3a-4834-b1c2-9c7cd8d5b368",
        "name": "Microsoft Outlook Trigger",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "sIpsyXB2BEbZqRKi",
            "name": "Microsoft Outlook account"
          }
        }
      },
      {
        "parameters": {
          "from": "+13342768035",
          "to": "+36209782288",
          "message": "=You have a new Jira issue!  {{ $('Create an issue').item.json.key }}",
          "options": {}
        },
        "type": "n8n-nodes-base.twilio",
        "typeVersion": 1,
        "position": [
          -1088,
          1936
        ],
        "id": "3075f753-0f3d-4656-a579-1860ff5d1f3d",
        "name": "Send an SMS/MMS/WhatsApp message",
        "disabled": true
      },
      {
        "parameters": {
          "resource": "call",
          "from": "+13342768035",
          "to": "+36209782288",
          "message": "=You have an urgent issue!  {{ $('Create an issue').item.json.key }}",
          "options": {}
        },
        "type": "n8n-nodes-base.twilio",
        "typeVersion": 1,
        "position": [
          -1088,
          2128
        ],
        "id": "93e3d37b-a80d-4bf9-8013-4c0866c8bbf6",
        "name": "Make a call",
        "disabled": true
      },
      {
        "parameters": {
          "operation": "sendAndWait",
          "toRecipients": "={{ $('Microsoft Outlook Trigger').item.json.to }}",
          "subject": "=Re: {{ $('Microsoft Outlook Trigger').item.json.subject }}",
          "message": "=I am an automated agent designed to help manage incoming issues. \nI have opened the following Jira ticket for your request: \"\n{{ $('Create an issue').item.json.self }}\n\"Please reply to this email with only one word regarding the urgency of the request:\nLow - These requests can wait until working hours the next day to be picked up.\nMedium - These requests require attention in the following hours, a monitoring team member will be notified via text message.\nHigh - These requests require immidiate attention, a monitoring team member will be notified via phone call immidiately.",
          "responseType": "customForm",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Request priority",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "Low"
                    },
                    {
                      "option": "Medium"
                    },
                    {
                      "option": "High"
                    }
                  ]
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.microsoftOutlook",
        "typeVersion": 2,
        "position": [
          -1472,
          2128
        ],
        "id": "d025b8db-8845-4d4f-b27e-8cb3330ea0bd",
        "name": "Send message and wait for response",
        "webhookId": "8ba40afe-9768-4c1f-912c-69f06f428068",
        "alwaysOutputData": false,
        "disabled": true
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.data['Request priority'] }}",
                      "rightValue": "Medium",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "bf73bcc8-010c-4aa4-8e65-e1ef2b4b068a"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "a96ad7b3-2111-4f7c-a92d-29f73863a6c9",
                      "leftValue": "={{ $json.data['Request priority'] }}",
                      "rightValue": "High",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "870745f7-5d84-42a8-9e3e-61f0d2f03d51",
                      "leftValue": "={{ $json.data['Request priority'] }}",
                      "rightValue": "Low",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -1296,
          2128
        ],
        "id": "28d2cd08-a5e3-4980-b848-eafb6ed5705e",
        "name": "Switch",
        "disabled": true
      },
      {
        "parameters": {
          "operation": "get",
          "messageId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "output": "fields",
          "fields": [
            "body"
          ],
          "options": {}
        },
        "type": "n8n-nodes-base.microsoftOutlook",
        "typeVersion": 2,
        "position": [
          -1536,
          2880
        ],
        "id": "0dda07d7-80bb-482e-9b39-33865d81c1df",
        "name": "Get a message",
        "webhookId": "ab468aa3-433f-42a4-86e1-605e32d695f8",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "sIpsyXB2BEbZqRKi",
            "name": "Microsoft Outlook account"
          }
        }
      },
      {
        "parameters": {
          "jiraVersion": "server",
          "operation": "getAll",
          "options": {
            "jql": "={{ $json.output.replace(/\\n$/, \"\") }} and issuetype in StandardIssueTypes() ORDER BY created DESC"
          }
        },
        "id": "5e1cdb97-195e-4c26-b31b-c2db9a8778b3",
        "name": "Get Recent Similar Issues Resolved",
        "type": "n8n-nodes-base.jira",
        "position": [
          2048,
          2176
        ],
        "typeVersion": 1,
        "credentials": {
          "jiraSoftwareServerApi": {
            "id": "LoInbd5shBGxeXVJ",
            "name": "Jira SW Cloud account 3"
          }
        }
      },
      {
        "parameters": {},
        "id": "b4c6e30c-3e6d-485c-94a6-3eb6c9ca238a",
        "name": "Issue Ref",
        "type": "n8n-nodes-base.noOp",
        "position": [
          2368,
          2368
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "jiraVersion": "server",
          "resource": "issueComment",
          "operation": "getAll",
          "issueKey": "={{ $json.issueKey }}",
          "options": {
            "orderBy": "-created"
          }
        },
        "id": "d53956a4-63ea-46c2-986e-58df462e5eef",
        "name": "Get Comments",
        "type": "n8n-nodes-base.jira",
        "position": [
          2752,
          2368
        ],
        "typeVersion": 1,
        "alwaysOutputData": true,
        "credentials": {
          "jiraSoftwareServerApi": {
            "id": "LoInbd5shBGxeXVJ",
            "name": "Jira SW Cloud account 3"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "faba7ffd-4f3a-4394-9bed-01014ddc12c1",
                "name": "author",
                "type": "string",
                "value": "={{ $json.author.displayName }}"
              },
              {
                "id": "76ed191c-6c43-47e7-bbaf-104bdde26993",
                "name": "comment",
                "type": "string",
                "value": "={{ $json.body }}"
              }
            ]
          },
          "options": {}
        },
        "id": "e13a998f-13b7-4ac4-8c00-7c8dc863417d",
        "name": "Simplify Comments",
        "type": "n8n-nodes-base.set",
        "position": [
          2960,
          2368
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=## Issue\n{{ $('Simplify Issue').item.json.issueKey }} {{ $('Simplify Issue').item.json.summary }}\n{{ $('Simplify Issue').item.json.description }}\n{{ $('Simplify Issue').item.json.originalDescription }}\n\n## Comments\n{{ $json.comments.map((item,idx) => `${idx+1}. ${item.comment.replaceAll('\\n', ' ')}`).join('\\n') }}",
          "messages": {
            "messageValues": [
              {
                "message": "Analyse the given issue and its comments. Your task is to summarise the resolution of this issue."
              }
            ]
          }
        },
        "id": "b26f3f92-8e49-4342-80e2-01f0b35a5775",
        "name": "Summarise Resolution",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "position": [
          3328,
          2368
        ],
        "typeVersion": 1.6
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "267918d5-5193-48c8-8e3a-6542c8edf77c",
                "name": "projectKey",
                "type": "string",
                "value": "={{ $json.fields.project.key }}"
              },
              {
                "id": "8c44b6b1-a5e7-4312-b96c-727b24a82ac2",
                "name": "issueKey",
                "type": "string",
                "value": "={{ $json.key }}"
              },
              {
                "id": "3451a39f-1907-4406-beb9-fd4feebbf4c2",
                "name": "issueType",
                "type": "string",
                "value": "={{ $json.fields.issuetype.name }}"
              },
              {
                "id": "99f33276-50ad-424a-b307-2ed69094bc43",
                "name": "createdAt",
                "type": "string",
                "value": "={{ $json.fields.created }}"
              },
              {
                "id": "5463ff2e-4d42-4602-8278-555f369a37e5",
                "name": "status",
                "type": "string",
                "value": "={{ $json.fields.status.name }}"
              },
              {
                "id": "1df0588e-7916-4c4d-95f1-7c6d58ba094f",
                "name": "summary",
                "type": "string",
                "value": "={{ $json.fields.summary }}"
              },
              {
                "id": "ecf69a9b-18c9-4b04-9d6e-b77391728f33",
                "name": "description",
                "type": "string",
                "value": "={{ $json.fields.description }}"
              },
              {
                "id": "8f7b0876-4d6f-42b3-bc12-34396ce824ed",
                "name": "reportedBy",
                "type": "string",
                "value": "={{ $json.fields.creator.displayName }}"
              },
              {
                "id": "74504426-6ecd-4b32-866f-0e336c669650",
                "name": "reportedByEmailAddress",
                "type": "string",
                "value": "={{ $json.fields.creator.emailAddress }}"
              },
              {
                "id": "ce1714d8-2c84-4f45-9b4d-4b625be4b116",
                "name": "originalDescription",
                "value": "={{ $json.fields.customfield_10080 }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "0cff6454-2ac2-47ca-b274-83a0f67768f3",
        "name": "Simplify Issue",
        "type": "n8n-nodes-base.set",
        "position": [
          2560,
          2368
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "comments",
          "options": {}
        },
        "id": "a8c1638e-3330-46bf-8d21-583d516b5484",
        "name": "Aggregate",
        "type": "n8n-nodes-base.aggregate",
        "position": [
          3136,
          2368
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "62a6c941-ccd4-4d71-8685-e5a1144395ca",
                "name": "description",
                "type": "string",
                "value": "={{ $('Simplify Issue').item.json.description }}"
              },
              {
                "id": "47d26f5c-d360-4ca3-b48a-d36ea1746a3b",
                "name": "resolution",
                "type": "string",
                "value": "={{ $json.text }}"
              }
            ]
          },
          "options": {}
        },
        "id": "d77294bf-7c57-49e0-ab8c-5c26aa551b2e",
        "name": "Return Fields",
        "type": "n8n-nodes-base.set",
        "position": [
          3632,
          2368
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "model": "gemma3:27b-it-qat",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
        "typeVersion": 1,
        "position": [
          1760,
          3088
        ],
        "id": "cc24b99a-0eb5-44e9-b4aa-f8fc1dbe4b54",
        "name": "Ollama Chat Model",
        "credentials": {
          "ollamaApi": {
            "id": "JuFSFuugCbIz1iBG",
            "name": "Ollama account"
          }
        }
      },
      {
        "parameters": {
          "model": "mistral-small3.2:24b",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
        "typeVersion": 1,
        "position": [
          5072,
          2448
        ],
        "id": "845dabea-7a04-4b96-8c2a-b776f9725af2",
        "name": "Ollama Chat Model1",
        "credentials": {
          "ollamaApi": {
            "id": "JuFSFuugCbIz1iBG",
            "name": "Ollama account"
          }
        }
      },
      {
        "parameters": {
          "model": "llama3:8b",
          "options": {
            "temperature": 0,
            "topK": -1,
            "topP": 0
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
        "typeVersion": 1,
        "position": [
          3328,
          2528
        ],
        "id": "d4215e1f-2a25-42d6-ba64-b7549097b6ae",
        "name": "Ollama Chat Model2",
        "credentials": {
          "ollamaApi": {
            "id": "JuFSFuugCbIz1iBG",
            "name": "Ollama account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "b524ad38-a085-4efe-b912-119ae02c9878",
                "leftValue": "={{ $json.output }}",
                "rightValue": "Open ticket = Yes",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          928,
          2880
        ],
        "id": "3b5fc551-e6e4-4f34-82f2-0900293f9aaf",
        "name": "If"
      },
      {
        "parameters": {
          "model": "gpt-oss:20b",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
        "typeVersion": 1,
        "position": [
          560,
          3120
        ],
        "id": "f5a68c5f-5d45-4e61-8dff-5286470769a0",
        "name": "Ollama Chat Model3",
        "credentials": {
          "ollamaApi": {
            "id": "JuFSFuugCbIz1iBG",
            "name": "Ollama account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          3360,
          2880
        ],
        "id": "6e4f5990-54f5-4920-a2e0-5a87f7bab5d6",
        "name": "Loop Over Items1"
      },
      {
        "parameters": {
          "model": "mistral-small3.2:24b",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
        "typeVersion": 1,
        "position": [
          3936,
          3216
        ],
        "id": "e88ca54e-8f61-4b1a-a1d3-99a6a14f4165",
        "name": "Ollama Chat Model4",
        "credentials": {
          "ollamaApi": {
            "id": "JuFSFuugCbIz1iBG",
            "name": "Ollama account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Issue:\n{{ $('Microsoft Outlook Trigger').all()[0].json.subject }}\n{{ $('Aggregate3').item.json.data[0].cleaned }}\nWiki titles:\n{{ $json.todo }}",
          "options": {
            "systemMessage": "Compare the Issue with the list of Wiki titles. If there is a relevant one, have the exact Wiki title as the only output. Do not change any html notation or characters in the output. Do not put \"</end_of_turn>\" at the end. If it contains the same word it is considered relevant if that word is not \"abort\" or \"aborted\" which are too generic.\nFor example, do not match with \"\"13:00&nbsp;- 15:00 @ KL -&nbsp;SEQUENCE_422_RECEIPTS_OUTBOUND abort\" only because it contains the words \"abort\", \"KL\" or \"SEQUENCE\". In this case it should contain 422, or RECEIPTS_OUTBOUND to be considered a match. Additional keywords not to be considered a match: BATCH, KIRK, GL.\n\nIf none seems relevant your output should be \"none\"."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2,
        "position": [
          512,
          3744
        ],
        "id": "491acfe4-3d67-4189-9258-61e22baf7a52",
        "name": "AI Agent3"
      },
      {
        "parameters": {
          "model": "gemma3:27b-it-qat",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
        "typeVersion": 1,
        "position": [
          512,
          3936
        ],
        "id": "d8c3ecc9-bb30-4459-a1e0-2a73488b2c17",
        "name": "Ollama Chat Model5",
        "credentials": {
          "ollamaApi": {
            "id": "JuFSFuugCbIz1iBG",
            "name": "Ollama account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=## Email chain:\n{{ $json.data[0].cleaned }}\n## Sender:\n{{ $('Microsoft Outlook Trigger').item.json.from }}",
          "options": {
            "systemMessage": "You are a decision engine. \n\nTask:\nRead the email chain. The most recent email (at the top) is the most important.\n\nRules:\n- If the issue still needs attention → respond exactly with: Open ticket = Yes\n- If resolved or no action needed → respond exactly with: Open ticket = No\n- If Sender is: noReply-UC4PROD@weberpapp03.kirklands.com  → respond exactly with: Open ticket = No\n\n- If uncertain, choose: Open ticket = Yes\n\nOutput format:\nRespond with EXACTLY one of these two options, nothing else:\nOpen ticket = Yes\nOpen ticket = No"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2,
        "position": [
          560,
          2880
        ],
        "id": "a63813f4-e0f3-44a4-a076-43df3dd32732",
        "name": "Decide on ticket"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Subject:\n{{ $('Microsoft Outlook Trigger').item.json.subject }}\nEmail content:\n{{ $('Aggregate3').item.json.data[0].cleaned }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "Analyze the email subject and body to generate a Jira JQL query for finding similar issues.\n\nThe query must search for meaningful keywords that are specific to the issue, such as technical terms, program names, or process names.\n\nAvoid generic terms like \"error\" or \"aborted,\" and unique identifiers like file names or record numbers. \n\nList of keywords that are too generic by themselves: abort, aborted, error, RMS, RIB.\n\nDo not include any accompanying text or explanation.\n\nResponse must be in the following output format, and nothing else:\n\n(project = KIRKLSUP) and (text ~ \"keyword 1\" OR text ~ \"keyword 2\")"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2,
        "position": [
          1760,
          2880
        ],
        "id": "b8702880-dc15-454b-8f93-63c9ad63172f",
        "name": "Get keywords"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "resolved_issues",
          "options": {}
        },
        "id": "23381df7-7957-40a9-8ea6-3d22300bcfe1",
        "name": "Collect Jira info",
        "type": "n8n-nodes-base.aggregate",
        "position": [
          3632,
          2176
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "fieldToSplitOut": "output",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          3168,
          2880
        ],
        "id": "b240e4f8-7cce-41d6-bea6-eb535743647a",
        "name": "Split todo headers"
      },
      {
        "parameters": {
          "url": "https://qbcs.atlassian.net/wiki/rest/api/content/293274369?expand=body.storage",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "options": {
            "allowUnauthorizedCerts": false,
            "redirect": {
              "redirect": {
                "followRedirects": false
              }
            },
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3568,
          3040
        ],
        "id": "24ea9843-3883-486c-b872-122b6bda03ef",
        "name": "Connect again",
        "alwaysOutputData": true,
        "credentials": {
          "httpBasicAuth": {
            "id": "QZLMoZ1KiiDGlhem",
            "name": "Wiki login"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const htmlString = $input.first().json.body.storage.value; // Your HTML content\nconst h2Text = $('Split todo headers').first().json.output; // Search phrase (even if interrupted by tags)\n\n// Escape special regex characters in the text\nconst escapedText = h2Text.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n\n// Match any <h2> that contains the desired phrase (even with HTML tags between words)\nconst h2Regex = new RegExp(\n  `<h2[^>]*>[\\\\s\\\\S]*?${escapedText.split(/\\s+/).join('[\\\\s\\\\S]*?')}[\\\\s\\\\S]*?<\\\\/h2>([\\\\s\\\\S]*?)(?=<h2[^>]*>|$)`,\n  'i'\n);\n\nconst match = htmlString.match(h2Regex);\n\nif (!match) {\n  return [{ json: { error: \"Could not find matching h2 by text.\" } }];\n}\n\nconst contentBetween = match[1].trim();\n\nreturn [{ json: { extractedContent: contentBetween } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3744,
          3040
        ],
        "id": "b6156019-ad7a-4287-9450-ec2d3fe01112",
        "name": "Get todo content"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.extractedContent }}",
          "options": {
            "systemMessage": "Stipping any html notation but keeping text inside return the found content without paraphrase."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2,
        "position": [
          3936,
          3040
        ],
        "id": "6497c808-1e98-4a01-bb1c-3d6299d17af5",
        "name": "Summarize todo"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "94133e2f-fcf4-4082-965b-84abbe5f9a6c",
                "name": "Todo",
                "value": "=Title: {{ $('If1').item.json.output }} \nWiki page: \nhttps://qbcs.atlassian.net/wiki/spaces/MON/pages/293275525/Kirklands+Daytime+Support+Issues\n{{ $json.output }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4256,
          3040
        ],
        "id": "c43bca91-0d05-467c-a931-1662ed10bc4f",
        "name": "Output results"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "Todo",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          4256,
          2880
        ],
        "id": "3044711e-6f22-42f3-933b-5d7e736e3b56",
        "name": "Summarize todos"
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "e4ca3526-06e5-4b7f-bf7d-b907c3f16809",
        "name": "Loop Over Issues",
        "type": "n8n-nodes-base.splitInBatches",
        "position": [
          2240,
          2176
        ],
        "typeVersion": 3
      },
      {
        "parameters": {
          "numberInputs": 3
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          4736,
          3024
        ],
        "id": "3d010149-b246-465f-aef1-6bda439a2d73",
        "name": "Merge"
      },
      {
        "parameters": {
          "jsCode": "// n8n Function node\n// This script normalizes \"resolved_issues\", \"Todo\", and includes Issue text from the HTML node.\n const items = $input.all(); // get all incoming items\n\nreturn items.map(item => {\n\tconst data = item.json;\n\n\t// Safely pull Issue text from the HTML node\n\tconst issueText = $('Aggregate3').first().json.data[0].cleaned ?? '';\n\n\treturn {\n\t\tjson: {\n\t\t\t// Pass through resolved_issues as-is, or empty array if missing\n\t\t\tresolved_issues: data.resolved_issues ?? [],\n\n\t\t\t// Convert \"Todo\" array-of-objects into array-of-strings, or empty array if missing\n\t\t\ttodo: Array.isArray(data.Todo)\n\t\t\t\t? data.Todo.map(t => t.Todo ?? null).filter(Boolean)\n\t\t\t\t: [],\n\n\t\t\t// Add Issue text\n\t\t\tissue: issueText\n\t\t}\n\t};\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4208,
          2608
        ],
        "id": "59abe167-74bc-49fb-8a15-b38f16d2504d",
        "name": "Code1"
      },
      {
        "parameters": {
          "content": "## TODO Branch",
          "height": 640,
          "width": 2208,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          816
        ],
        "id": "42fa3fb1-7e63-4af9-8746-3a0668bfde9e",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## JIRA Branch",
          "height": 544,
          "width": 1776,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -656,
          1824
        ],
        "id": "28e09180-a48c-4331-a08a-bfb273f55d7b",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=## Previously resolved Issues\n{{ $json.resolved_issues.toJsonString()  }}\n## Current issue\n{{ $('Aggregate3').item.json.data[0].cleaned }}",
          "messages": {
            "messageValues": [
              {
                "message": "Based on the previously resolved issues, summarize information found relevant to the issue in the following format:\nInformation derived from previous Jira issues:\n  [Issue Number] - [Brief summary of problem cause and resolution steps]  \n  [Issue Number] - [Brief summary of problem cause and resolution steps]  \n  Do not include any generic advice or information not derived from the provided data.  \nJira Link Format: \nhttps://support.qbcs.com/browse/KIRKLSUP-17949\nMake the output nice, with clear bullet points and no asterisks and hashtags. Do not put unnecessary # and * in output.\n"
              }
            ]
          }
        },
        "id": "81d6c502-5367-4071-90b9-c55b1076f9bd",
        "name": "Attempt to Resolve Issue",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "position": [
          5072,
          2176
        ],
        "typeVersion": 1.6
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.data[0].cleaned }}",
          "options": {
            "systemMessage": "Analyze the message to assign a Jira priority level.\n\nIf the message indicates the issue is urgent or requires immediate attention, assign \"Blocker\".\n\nOtherwise, assign \"Major\".\n\nResponse must be one of the following, and nothing else:\n\nBlocker\n\nMajor"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2,
        "position": [
          400,
          2416
        ],
        "id": "ad4202a0-e959-47ed-bf2a-3e1a27926faf",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": "mistral-small3.2:24b",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
        "typeVersion": 1,
        "position": [
          400,
          2688
        ],
        "id": "10438ed0-7149-4f18-9f8b-aa3e4abf1782",
        "name": "Ollama Chat Model6",
        "credentials": {
          "ollamaApi": {
            "id": "JuFSFuugCbIz1iBG",
            "name": "Ollama account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "f0c353d1-4dd2-4553-b2c4-eaf824d4c68b",
                "leftValue": "={{$json.from}}",
                "rightValue": "@brandhouseco.com",
                "operator": {
                  "type": "string",
                  "operation": "endsWith"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {
            "ignoreCase": false
          }
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          -2064,
          2880
        ],
        "id": "a3951bce-1b19-4b84-b0ae-b2883cf22812",
        "name": "Filter"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7cfb91af-9819-4e10-9da6-824e19d5f9eb",
                "name": "body.content",
                "value": "={{ $json.body.content }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1328,
          2880
        ],
        "id": "53375e47-c45a-400f-b141-881dd1bd1653",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "operation": "extractHtmlContent",
          "dataPropertyName": "body.content",
          "extractionValues": {
            "values": [
              {
                "key": "Issue",
                "cssSelector": "span",
                "returnArray": true
              },
              {
                "key": "Issue",
                "cssSelector": "div",
                "returnArray": true
              }
            ]
          },
          "options": {
            "trimValues": true,
            "cleanUpText": true
          }
        },
        "type": "n8n-nodes-base.html",
        "typeVersion": 1.2,
        "position": [
          -928,
          2880
        ],
        "id": "e8bd1254-dce0-45e9-a800-d85f8d150aee",
        "name": "HTML"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          3136,
          3584
        ],
        "id": "7feb23dc-cac1-4aaa-8374-1ee38f4f919b",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "model": "mistral-small3.2:24b",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
        "typeVersion": 1,
        "position": [
          3712,
          3920
        ],
        "id": "bf6c8216-4197-4662-a2ca-79e560b5d51a",
        "name": "Ollama Chat Model7",
        "credentials": {
          "ollamaApi": {
            "id": "JuFSFuugCbIz1iBG",
            "name": "Ollama account"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "output",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          2928,
          3584
        ],
        "id": "17cb9771-442e-41d4-8bc7-9dccc401e8f2",
        "name": "Split todo headers1"
      },
      {
        "parameters": {
          "url": "https://qbcs.atlassian.net/wiki/rest/api/content/293275525?expand=body.storage",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "options": {
            "allowUnauthorizedCerts": false,
            "redirect": {
              "redirect": {
                "followRedirects": false
              }
            },
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3328,
          3744
        ],
        "id": "580ceef1-4ab2-48d8-ae1f-a680f6112bbb",
        "name": "Connect again1",
        "alwaysOutputData": true,
        "credentials": {
          "httpBasicAuth": {
            "id": "QZLMoZ1KiiDGlhem",
            "name": "Wiki login"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const htmlString = $input.first().json.body.storage.value; // Your HTML content\nconst h2Text = $('Split todo headers1').first().json.output; // Search phrase (even if interrupted by tags)\n\n// Escape special regex characters in the text\nconst escapedText = h2Text.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n\n// Match any <h2> that contains the desired phrase (even with HTML tags between words)\nconst h2Regex = new RegExp(\n  `<h2[^>]*>[\\\\s\\\\S]*?${escapedText.split(/\\s+/).join('[\\\\s\\\\S]*?')}[\\\\s\\\\S]*?<\\\\/h2>([\\\\s\\\\S]*?)(?=<h2[^>]*>|$)`,\n  'i'\n);\n\nconst match = htmlString.match(h2Regex);\n\nif (!match) {\n  return [{ json: { error: \"Could not find matching h2 by text.\" } }];\n}\n\nconst contentBetween = match[1].trim();\n\nreturn [{ json: { extractedContent: contentBetween } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3520,
          3744
        ],
        "id": "678ffe1d-9c90-4cbe-95b2-ff1a2aeed86c",
        "name": "Get todo content1"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.extractedContent }}",
          "options": {
            "systemMessage": "Stipping any html notation but keeping text inside return the found content without paraphrase."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2,
        "position": [
          3712,
          3744
        ],
        "id": "9d135ce6-7002-4dc4-9248-dfb10e5aa176",
        "name": "Summarize todo1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "94133e2f-fcf4-4082-965b-84abbe5f9a6c",
                "name": "Todo",
                "value": "=Title: {{ $('If2').item.json.output }} \nWiki page: \nhttps://qbcs.atlassian.net/wiki/spaces/MON/pages/293275525/Kirklands+Daytime+Support+Issues\n{{ $json.output }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4032,
          3744
        ],
        "id": "22e88f80-8850-4ae4-b0b4-4a2a033cbeb8",
        "name": "Output results1"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "Todo",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          4032,
          3584
        ],
        "id": "9eed2f9a-2e91-4c38-8dc9-35b7e0d23957",
        "name": "Summarize todos1"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          3152,
          4176
        ],
        "id": "68aafc21-33dd-4074-8bf6-621390bb026e",
        "name": "Loop Over Items2"
      },
      {
        "parameters": {
          "model": "mistral-small3.2:24b",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
        "typeVersion": 1,
        "position": [
          3728,
          4576
        ],
        "id": "1fb51757-1d9b-4d53-ad48-02aa23d903c9",
        "name": "Ollama Chat Model8",
        "credentials": {
          "ollamaApi": {
            "id": "JuFSFuugCbIz1iBG",
            "name": "Ollama account"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "output",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          2960,
          4176
        ],
        "id": "23f8ffc8-6eff-4418-8c7b-49ead296aec0",
        "name": "Split todo headers2"
      },
      {
        "parameters": {
          "url": "https://qbcs.atlassian.net/wiki/rest/api/content/5603343?expand=body.storage",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "options": {
            "allowUnauthorizedCerts": false,
            "redirect": {
              "redirect": {
                "followRedirects": false
              }
            },
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3360,
          4336
        ],
        "id": "1123c24c-dd7a-42d0-984d-274d914ea31d",
        "name": "Connect again2",
        "alwaysOutputData": true,
        "credentials": {
          "httpBasicAuth": {
            "id": "QZLMoZ1KiiDGlhem",
            "name": "Wiki login"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const htmlString = $input.first().json.body.storage.value; // Your HTML content\nconst h2Text = $('Split todo headers2').first().json.output; // Search phrase (even if interrupted by tags)\n\n// Escape special regex characters in the text\nconst escapedText = h2Text.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n\n// Match any <h2> that contains the desired phrase (even with HTML tags between words)\nconst h2Regex = new RegExp(\n  `<h2[^>]*>[\\\\s\\\\S]*?${escapedText.split(/\\s+/).join('[\\\\s\\\\S]*?')}[\\\\s\\\\S]*?<\\\\/h2>([\\\\s\\\\S]*?)(?=<h2[^>]*>|$)`,\n  'i'\n);\n\nconst match = htmlString.match(h2Regex);\n\nif (!match) {\n  return [{ json: { error: \"Could not find matching h2 by text.\" } }];\n}\n\nconst contentBetween = match[1].trim();\n\nreturn [{ json: { extractedContent: contentBetween } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3536,
          4336
        ],
        "id": "3c115d9f-41e0-4d16-b774-696e57848a92",
        "name": "Get todo content2"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.extractedContent }}",
          "options": {
            "systemMessage": "Stipping any html notation but keeping text inside return the found content without paraphrase."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2,
        "position": [
          3728,
          4336
        ],
        "id": "ffd05341-9c15-40e9-8a79-330dc39819e0",
        "name": "Summarize todo2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "94133e2f-fcf4-4082-965b-84abbe5f9a6c",
                "name": "Todo",
                "value": "=Title: {{ $('If3').item.json.output }} \nWiki page: \nhttps://qbcs.atlassian.net/wiki/spaces/MON/pages/5603343/Monitoring+TODO\n{{ $json.output }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4048,
          4336
        ],
        "id": "526adc48-8f8d-441e-b730-a7438ab6b657",
        "name": "Output results2"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "Todo",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          4048,
          4176
        ],
        "id": "63c296b3-9014-49cb-bab3-6959a44cc69d",
        "name": "Summarize todos2"
      },
      {
        "parameters": {
          "content": "## Daytime issues Branch",
          "height": 624,
          "width": 2208,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "e3681b51-64d1-41ea-a84f-7925c2568c4e",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## Monitoring Todo Branch",
          "height": 624,
          "width": 2208,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          5504
        ],
        "id": "8062b5df-3621-45d1-bbba-905a0c13e2ef",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "toRecipients": "attila.zubor@qbcs.com, monitoringteam@qbcs.com, kyle.beyke@qbcs.com",
          "subject": "=AI SUGGESTION: {{ $('Microsoft Outlook Trigger').item.json.subject }} ",
          "bodyContent": "={{ $json.text }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.microsoftOutlook",
        "typeVersion": 2,
        "position": [
          8080,
          2784
        ],
        "id": "f2cf9577-606e-42b4-ade6-ffcf451d30a2",
        "name": "Send a message",
        "webhookId": "6edb992a-5454-437a-ac6f-f5244e77178e",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "sIpsyXB2BEbZqRKi",
            "name": "Microsoft Outlook account"
          }
        }
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          4384,
          2608
        ],
        "id": "0fd6d9c7-2255-4b34-a852-072bcf16095a",
        "name": "Aggregate1"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=## Current issue\n{{ $('Aggregate3').item.json.data[0].cleaned }}\n## Todo page\n{{ $json.Todo }}",
          "messages": {
            "messageValues": [
              {
                "message": "Based on the todo page information, summarize information found relevant to the issue in the following format:\nInformation derived from Wiki[Wiki page]:\n[To-do Page Title] - [Brief summary of the to-do's resolution]\n  Do not include any generic advice or information not derived from the provided data.  \nMake the output nice, with clear bullet points and no asterisks and hashtags. Do not put unnecessary # and * in output.\n"
              }
            ]
          }
        },
        "id": "4574a0d2-5181-4a18-9bd0-72eb37ced8f6",
        "name": "Attempt to Resolve Issue1",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "position": [
          5472,
          2816
        ],
        "typeVersion": 1.6
      },
      {
        "parameters": {
          "model": "mistral-small3.2:24b",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
        "typeVersion": 1,
        "position": [
          3808,
          2656
        ],
        "id": "97bd5e76-b3a9-40c4-8cd6-9ecebfe6094f",
        "name": "Ollama Chat Model9",
        "credentials": {
          "ollamaApi": {
            "id": "JuFSFuugCbIz1iBG",
            "name": "Ollama account"
          }
        }
      },
      {
        "parameters": {
          "model": "mistral-small3.2:24b",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
        "typeVersion": 1,
        "position": [
          5488,
          3072
        ],
        "id": "eb8c7a0a-4a51-4d5b-97f3-70615a268150",
        "name": "Ollama Chat Model10",
        "credentials": {
          "ollamaApi": {
            "id": "JuFSFuugCbIz1iBG",
            "name": "Ollama account"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          5840,
          3216
        ],
        "id": "6c3d1b11-56d7-4e62-9c67-e68d9732886e",
        "name": "Merge1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6f3c7c97-a4cb-44f9-a12a-d8a4534d70ea",
                "name": "Issue",
                "value": "={{ $json.Issue }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -576,
          2880
        ],
        "id": "8aa6c641-83de-4a95-8e9e-c9cd40b2b351",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "jsCode": "// Removes email addresses, links, and long disclaimers\nconst text = $input.first().json.Issue;\nreturn {\n  cleaned: text\n    .replace(/[\\w.+-]+@[\\w.-]+\\.[a-z]{2,}/gi, '') // remove emails\n    .replace(/https?:\\/\\/\\S+/gi, '')               // remove links\n  .split('From: ')[0]                // keep only latest email before \"Original Message\"\n    .trim()\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -304,
          2880
        ],
        "id": "c1c28582-9651-4201-aff4-17f220732385",
        "name": "Code2"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "text"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          5424,
          3120
        ],
        "id": "dfa676ec-ac94-49ca-af37-430d7b6d3dd2",
        "name": "Aggregate2"
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { merged: $input.all().map(item => item.json) } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4864,
          3712
        ],
        "id": "99c73f2b-88a4-4ed6-9c2f-8696b56fe5c9",
        "name": "Code3"
      },
      {
        "parameters": {
          "operation": "get",
          "messageId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "output": "fields",
          "fields": [
            "body"
          ],
          "options": {}
        },
        "type": "n8n-nodes-base.microsoftOutlook",
        "typeVersion": 2,
        "position": [
          -1168,
          3440
        ],
        "id": "59a9dcc5-a478-4cca-973b-ddb2f1726b25",
        "name": "Get a message1",
        "webhookId": "e4785abb-c398-4f84-b291-bd0a664c6d66",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "sIpsyXB2BEbZqRKi",
            "name": "Microsoft Outlook account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7cfb91af-9819-4e10-9da6-824e19d5f9eb",
                "name": "body.content",
                "value": "={{ $json.body.content }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -912,
          3440
        ],
        "id": "68b5b87b-19e7-4dfb-99e6-c37f7e25ee34",
        "name": "Edit Fields2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6f3c7c97-a4cb-44f9-a12a-d8a4534d70ea",
                "name": "Issue",
                "value": "={{ $json.body.content }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -608,
          3424
        ],
        "id": "289f8b86-4829-4101-80b9-316031ea34dc",
        "name": "Edit Fields3"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "7f3a46af-eb29-45e6-9a3b-a19fba94c52a",
                "leftValue": "={{$json.from}}",
                "rightValue": "@weberpapp03.kirklands.com",
                "operator": {
                  "type": "string",
                  "operation": "endsWith"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {
            "ignoreCase": false
          }
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          -1968,
          3424
        ],
        "id": "e490c30c-49ea-487d-97be-79dc87f57875",
        "name": "Filter1"
      },
      {
        "parameters": {
          "jsCode": "// Removes email addresses, links, and long disclaimers\nconst text = $input.first().json.Issue;\nreturn {\n  cleaned: text\n    .replace(/[\\w.+-]+@[\\w.-]+\\.[a-z]{2,}/gi, '') // remove emails\n    .replace(/https?:\\/\\/\\S+/gi, '')               // remove links\n  .split('From: ')[0]                // keep only latest email before \"Original Message\"\n    .trim()\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -304,
          3392
        ],
        "id": "4d781b1c-6697-4373-84df-75fcf4719e29",
        "name": "Code4"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          240,
          2880
        ],
        "id": "89b6f58a-066a-4fc2-a7b2-687dc08cf2dd",
        "name": "Aggregate3"
      },
      {
        "parameters": {
          "url": "=https://qbcs.atlassian.net/wiki/rest/api/content/293274369?expand=body.storage",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "options": {
            "allowUnauthorizedCerts": false,
            "redirect": {
              "redirect": {
                "followRedirects": false
              }
            },
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -192,
          3760
        ],
        "id": "1cf3098f-c60c-41fa-993a-886bdc5ac39d",
        "name": "Connect to Confluence3",
        "alwaysOutputData": true,
        "credentials": {
          "httpBasicAuth": {
            "id": "QZLMoZ1KiiDGlhem",
            "name": "Wiki login"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "df1f2f2e-c14f-4dfc-86cb-923f224d50f2",
                "name": "html",
                "value": "={{$json.body.storage.value}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -16,
          3760
        ],
        "id": "4c56db83-a6bd-4519-bb84-0257832471cf",
        "name": "Get html body3"
      },
      {
        "parameters": {
          "operation": "extractHtmlContent",
          "dataPropertyName": "html",
          "extractionValues": {
            "values": [
              {
                "key": "todo",
                "cssSelector": "=h2",
                "returnValue": "html",
                "returnArray": true
              }
            ]
          },
          "options": {
            "trimValues": false,
            "cleanUpText": false
          }
        },
        "type": "n8n-nodes-base.html",
        "typeVersion": 1.2,
        "position": [
          176,
          3760
        ],
        "id": "f7d59271-530e-48d3-8d4e-a5c4b2e5271a",
        "name": "Extract titles3",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "url": "=https://qbcs.atlassian.net/wiki/rest/api/content/293275525?expand=body.storage",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "options": {
            "allowUnauthorizedCerts": false,
            "redirect": {
              "redirect": {
                "followRedirects": false
              }
            },
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -192,
          4032
        ],
        "id": "367925e0-5d00-4bde-bbe1-678ff36997f7",
        "name": "Connect to Confluence4",
        "alwaysOutputData": true,
        "credentials": {
          "httpBasicAuth": {
            "id": "QZLMoZ1KiiDGlhem",
            "name": "Wiki login"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "df1f2f2e-c14f-4dfc-86cb-923f224d50f2",
                "name": "html",
                "value": "={{$json.body.storage.value}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          0,
          4032
        ],
        "id": "59890ee7-f719-4b6a-a5dc-8d83e76a8fb2",
        "name": "Get html body4"
      },
      {
        "parameters": {
          "operation": "extractHtmlContent",
          "dataPropertyName": "html",
          "extractionValues": {
            "values": [
              {
                "key": "daytime",
                "cssSelector": "=h2",
                "returnValue": "html",
                "returnArray": true
              }
            ]
          },
          "options": {
            "trimValues": false,
            "cleanUpText": false
          }
        },
        "type": "n8n-nodes-base.html",
        "typeVersion": 1.2,
        "position": [
          192,
          4032
        ],
        "id": "d54766f5-f233-4afa-ab9e-a9e9d21811a7",
        "name": "Extract titles4",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "url": "=https://qbcs.atlassian.net/wiki/rest/api/content/5603343?expand=body.storage",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "options": {
            "allowUnauthorizedCerts": false,
            "redirect": {
              "redirect": {
                "followRedirects": false
              }
            },
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -192,
          4272
        ],
        "id": "be624fd4-8a10-4751-9a3e-00131c84fe53",
        "name": "Connect to Confluence5",
        "alwaysOutputData": true,
        "credentials": {
          "httpBasicAuth": {
            "id": "QZLMoZ1KiiDGlhem",
            "name": "Wiki login"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "df1f2f2e-c14f-4dfc-86cb-923f224d50f2",
                "name": "html",
                "value": "={{$json.body.storage.value}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -16,
          4272
        ],
        "id": "af91ec6f-43ce-441a-8114-d143033ab12e",
        "name": "Get html body5"
      },
      {
        "parameters": {
          "operation": "extractHtmlContent",
          "dataPropertyName": "html",
          "extractionValues": {
            "values": [
              {
                "key": "monitoring",
                "cssSelector": "=h2",
                "returnValue": "html",
                "returnArray": true
              }
            ]
          },
          "options": {
            "trimValues": false,
            "cleanUpText": false
          }
        },
        "type": "n8n-nodes-base.html",
        "typeVersion": 1.2,
        "position": [
          176,
          4272
        ],
        "id": "71c5ec82-4567-4ceb-af88-fab0de66d50b",
        "name": "Extract titles5",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Issue:\n{{ $('Microsoft Outlook Trigger').all()[0].json.subject }}\n{{ $('Aggregate3').item.json.data[0].cleaned }}\nWiki titles:\n{{ $json.daytime }}",
          "options": {
            "systemMessage": "Compare the Issue with the list of Wiki titles. If there is a relevant one, have the exact Wiki title as the only output. If it contains the same word it is considered relevant, except if that word is \"abort\" or \"aborted\" which is too generic.\nFor example, do not match with \"\"13:00&nbsp;- 15:00 @ KL -&nbsp;SEQUENCE_422_RECEIPTS_OUTBOUND abort\" only because it contains the words \"abort\", \"KL\" or \"SEQUENCE\". In this case it should contain 422, or RECEIPTS_OUTBOUND to be considered a match. Additional keywords not to be considered a match: BATCH, KIRK, GL.\n\"Most Common Issues\" is the title of the whole page, do not consider it when matching.\n\nIf none seems relevant your output should be \"none\"."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2,
        "position": [
          448,
          4016
        ],
        "id": "ed4dca2e-3ca6-440b-95ea-550fe8545ddf",
        "name": "AI Agent4"
      },
      {
        "parameters": {
          "model": "gemma3:27b-it-qat",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
        "typeVersion": 1,
        "position": [
          448,
          4208
        ],
        "id": "73de4a29-5b3b-472b-80c2-323dfc98741e",
        "name": "Ollama Chat Model11",
        "credentials": {
          "ollamaApi": {
            "id": "JuFSFuugCbIz1iBG",
            "name": "Ollama account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Issue:\n{{ $('Microsoft Outlook Trigger').all()[0].json.subject }}\n{{ $('Aggregate3').item.json.data[0].cleaned }}\nWiki titles:\n{{ $json.monitoring }}",
          "options": {
            "systemMessage": "Compare the Issue with the list of Wiki titles. If there is a relevant one, have the exact Wiki title as the only output. If it contains the same word it is considered relevant, except if that word is \"abort\" or \"aborted\" which is too generic.\nFor example, do not match with \"\"13:00&nbsp;- 15:00 @ KL -&nbsp;SEQUENCE_422_RECEIPTS_OUTBOUND abort\" only because it contains the words \"abort\", \"KL\" or \"SEQUENCE\". In this case it should contain 422, or RECEIPTS_OUTBOUND to be considered a match. Additional keywords not to be considered a match: BATCH, KIRK, GL.\n\nIf none seems relevant your output should be \"none\"."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2,
        "position": [
          416,
          4320
        ],
        "id": "0e63d88d-2e7d-4f61-977c-30050ad916c9",
        "name": "AI Agent5"
      },
      {
        "parameters": {
          "model": "gemma3:27b-it-qat",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
        "typeVersion": 1,
        "position": [
          416,
          4512
        ],
        "id": "05760444-3ad1-4087-be96-6c0202411f40",
        "name": "Ollama Chat Model12",
        "credentials": {
          "ollamaApi": {
            "id": "JuFSFuugCbIz1iBG",
            "name": "Ollama account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "d6a75b9f-2aab-40b4-a5c4-b8fd5d802087",
                "leftValue": "={{ $json.output }}",
                "rightValue": "none",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1440,
          3712
        ],
        "id": "45eec35c-08fb-45d1-96ae-1f9397dc959d",
        "name": "If1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "d6a75b9f-2aab-40b4-a5c4-b8fd5d802087",
                "leftValue": "={{ $json.output }}",
                "rightValue": "none",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1376,
          3840
        ],
        "id": "28507e17-a87e-450c-a10f-164cc4253e10",
        "name": "If2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "d6a75b9f-2aab-40b4-a5c4-b8fd5d802087",
                "leftValue": "={{ $json.output }}",
                "rightValue": "none",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1520,
          4304
        ],
        "id": "8ceb7117-d3c9-4b47-b7f4-a2543674328a",
        "name": "If3"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3a9d513c-ad96-4e05-bc67-5db34080d9fd",
                "name": "output",
                "value": "={{ $json.output.replaceAll('</end_of_turn>', '').replaceAll('</start_of_turn>', '').trim() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          864,
          3744
        ],
        "id": "86db4c40-68fd-4b87-b0b8-ba58ecae67e2",
        "name": "Edit Fields5"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3a9d513c-ad96-4e05-bc67-5db34080d9fd",
                "name": "output",
                "value": "={{ $json.output.replaceAll('</end_of_turn>', '').replaceAll('</start_of_turn>', '').trim() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          832,
          4000
        ],
        "id": "951f8eb9-a60d-406f-9b8a-a7424fcbc6c8",
        "name": "Edit Fields6"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3a9d513c-ad96-4e05-bc67-5db34080d9fd",
                "name": "output",
                "value": "={{ $json.output.replaceAll('</end_of_turn>', '').replaceAll('</start_of_turn>', '').trim() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          896,
          4288
        ],
        "id": "40bb1d5e-c4e9-4acd-bbb0-53482ef25c07",
        "name": "Edit Fields7"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8b7a71b5-cf5c-4306-83d4-7e50562d6ad6",
                "name": "text",
                "value": "={{ $json.text.replace(/[#*`~>]/g, '')  }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          5696,
          2480
        ],
        "id": "9803d0d0-dbf2-469c-a48f-0ed0e077c1ed",
        "name": "Edit Fields8"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          6768,
          2800
        ],
        "id": "ca342163-535d-44ca-b423-f1eb66a9d5f5",
        "name": "Merge2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8b7a71b5-cf5c-4306-83d4-7e50562d6ad6",
                "name": "text",
                "value": "={{ $json.text.replace(/[#*`~>]/g, '')  }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          6112,
          2816
        ],
        "id": "b3cc8230-f264-4461-836f-d2a9e7e9ca30",
        "name": "Edit Fields9"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "Todo"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          4944,
          3024
        ],
        "id": "e3a1a971-3840-4819-aa08-4ff5484d2f20",
        "name": "Aggregate4"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3a938311-eb97-49ec-a6ea-bfcb313fe258",
                "name": "text",
                "value": "={{ $input.all().map(item => item.json.text).join('\\n\\n') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          7056,
          2800
        ],
        "id": "3bec8c79-110c-42f2-8d07-8d7c8da23e62",
        "name": "Edit Fields4",
        "executeOnce": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6f54eac1-d123-45cc-b9dc-66fe4c53590c",
                "name": "Todo",
                "value": "={{ $json.Todo.flat().map(item => item.Todo).join('\\n') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          5152,
          3024
        ],
        "id": "b88a6b7e-2ee4-433a-aee2-736ecdbd0b39",
        "name": "Edit Fields10"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "fd9c7745-6dff-4365-80ca-cc2acf303ea6",
                "leftValue": "={{ $json.subject }}",
                "rightValue": "INVOICES_TO_REIM_CHECK SUCC",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              },
              {
                "id": "7e9eedfb-5990-4283-b4bb-eb49a7990b27",
                "leftValue": "={{ $json.subject }}",
                "rightValue": "UC4_USER_ROLE_REPORT",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              },
              {
                "id": "eef2d3e1-ab7a-4e79-aedb-b35d9d95a444",
                "leftValue": "={{ $json.subject }}",
                "rightValue": "RMS Batch Started",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              },
              {
                "id": "179fc55f-fffb-43f5-acb6-88929c932f71",
                "leftValue": "={{ $json.subject }}",
                "rightValue": "RMS Batch Start Warning",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              },
              {
                "id": "b788a22c-bffd-40f1-8859-56e29c1e99e3",
                "leftValue": "={{ $json.bodyPreview }}",
                "rightValue": "RIBHOSPITALCHECK",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              },
              {
                "id": "c1256122-f58f-4481-8ef8-ead3069f0aa9",
                "leftValue": "={{ $json.bodyPreview }}",
                "rightValue": "LGC_LONG_RUNNING_JOBS",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              },
              {
                "id": "bca24169-34ff-4ec0-a173-a478d2fc4028",
                "leftValue": "={{ $json.bodyPreview }}",
                "rightValue": "RIB_HOSPITAL_CHECK",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              },
              {
                "id": "1dca660e-9c60-4473-96bd-254c4a6bc06a",
                "leftValue": "={{ $json.subject }}",
                "rightValue": "NFI meter reporting",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              },
              {
                "id": "e5f0faf8-8e1f-493c-85ab-affba443d9be",
                "leftValue": "={{ $json.subject }}",
                "rightValue": "SEQ_FINAL_401_ORMS_DRIVER aborted in Prod ",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              },
              {
                "id": "be8ab569-b693-4ba9-b5b8-d3be8b9c710a",
                "leftValue": "={{ $json.subject }}",
                "rightValue": "SEQ_209_RECEIPTS_PURCHASE_ORD ABORTED",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          -1760,
          3408
        ],
        "id": "3804d62f-ae0b-4030-b831-d2fa4ecf9a33",
        "name": "Filter2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "cf6204f9-b711-483b-819f-39c1de68ac9e",
                "leftValue": "={{ $json.subject }}",
                "rightValue": "UC4_USER_ROLE_REPORT",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              },
              {
                "id": "934b6c4f-d8d2-4e59-bd9b-846dcf4d142e",
                "leftValue": "={{ $json.subject }}",
                "rightValue": "Reload needed",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              },
              {
                "id": "02174ef0-986a-4cb3-9c07-83a79455f90a",
                "leftValue": "={{ $json.subject }}",
                "rightValue": "Sales Audit Error Suspense",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              },
              {
                "id": "b13ad8d9-b0b0-406b-b7bc-e8555f6a296d",
                "leftValue": "={{ $json.subject }}",
                "rightValue": "NFI meter reporting",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              },
              {
                "id": "195787d0-19c7-4f64-850f-a4671085b7b5",
                "leftValue": "={{ $json.subject }}",
                "rightValue": "Promotions going down tonight",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              },
              {
                "id": "863f6f5b-0068-471b-a4c7-ceaf622074fb",
                "leftValue": "={{ $json.subject }}",
                "rightValue": "Manual Receiving",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              },
              {
                "id": "9102b84a-7a42-4e96-b861-e6d9ed478c37",
                "leftValue": "={{ $json.subject }}",
                "rightValue": "Need Access to NEW Zone Group",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              },
              {
                "id": "d2c5ce04-14a0-41de-b1c5-74a491ea4c9f",
                "leftValue": "={{ $json.subject }}",
                "rightValue": "Please Set Active Status to \"N\"",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              },
              {
                "id": "7893fee8-60b8-44bf-a58f-365fcdd18eac",
                "leftValue": "={{ $json.subject }}",
                "rightValue": "Promotion in worksheet  ",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              },
              {
                "id": "1c6ffb9b-1c7e-4128-847e-34b9fecd4914",
                "leftValue": "={{ $json.subject }}",
                "rightValue": "SEQ_FINAL_401_ORMS_DRIVER aborted ",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          -1856,
          2880
        ],
        "id": "160b7303-0fb2-469a-a158-636aae3c5b1a",
        "name": "Filter3"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "fd9c7745-6dff-4365-80ca-cc2acf303ea6",
                "leftValue": "={{ $json.subject }}",
                "rightValue": "SEQ_414_FINAL_PURCHASE_OUTBOUN ABORTED",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          -1472,
          3424
        ],
        "id": "df4608bf-ba6d-45cc-b98a-605ca674ca24",
        "name": "Filter4"
      }
    ],
    "connections": {
      "Microsoft Outlook Trigger": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            },
            {
              "node": "Filter1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send message and wait for response": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Send an SMS/MMS/WhatsApp message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Make a call",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a message": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Recent Similar Issues Resolved": {
        "main": [
          [
            {
              "node": "Loop Over Issues",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Issue Ref": {
        "main": [
          [
            {
              "node": "Simplify Issue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Comments": {
        "main": [
          [
            {
              "node": "Simplify Comments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simplify Comments": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarise Resolution": {
        "main": [
          [
            {
              "node": "Return Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simplify Issue": {
        "main": [
          [
            {
              "node": "Get Comments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Summarise Resolution",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Return Fields": {
        "main": [
          [
            {
              "node": "Loop Over Issues",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ollama Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Get keywords",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Ollama Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Attempt to Resolve Issue",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Ollama Chat Model2": {
        "ai_languageModel": [
          [
            {
              "node": "Summarise Resolution",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Get keywords",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ollama Chat Model3": {
        "ai_languageModel": [
          [
            {
              "node": "Decide on ticket",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items1": {
        "main": [
          [
            {
              "node": "Summarize todos",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Connect again",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ollama Chat Model4": {
        "ai_languageModel": [
          [
            {
              "node": "Summarize todo",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Ollama Chat Model5": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent3",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent3": {
        "main": [
          [
            {
              "node": "Edit Fields5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Decide on ticket": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get keywords": {
        "main": [
          [
            {
              "node": "Get Recent Similar Issues Resolved",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Collect Jira info": {
        "main": [
          [
            {
              "node": "Attempt to Resolve Issue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split todo headers": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Connect again": {
        "main": [
          [
            {
              "node": "Get todo content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get todo content": {
        "main": [
          [
            {
              "node": "Summarize todo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize todo": {
        "main": [
          [
            {
              "node": "Output results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Output results": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize todos": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Issues": {
        "main": [
          [
            {
              "node": "Collect Jira info",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Issue Ref",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Aggregate4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code1": {
        "main": [
          [
            {
              "node": "Aggregate1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ollama Chat Model6": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Attempt to Resolve Issue": {
        "main": [
          [
            {
              "node": "Edit Fields8",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Filter3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "HTML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTML": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Summarize todos1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Connect again1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ollama Chat Model7": {
        "ai_languageModel": [
          [
            {
              "node": "Summarize todo1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Split todo headers1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Connect again1": {
        "main": [
          [
            {
              "node": "Get todo content1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get todo content1": {
        "main": [
          [
            {
              "node": "Summarize todo1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize todo1": {
        "main": [
          [
            {
              "node": "Output results1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Output results1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items2": {
        "main": [
          [
            {
              "node": "Summarize todos2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Connect again2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ollama Chat Model8": {
        "ai_languageModel": [
          [
            {
              "node": "Summarize todo2",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Split todo headers2": {
        "main": [
          [
            {
              "node": "Loop Over Items2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Connect again2": {
        "main": [
          [
            {
              "node": "Get todo content2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get todo content2": {
        "main": [
          [
            {
              "node": "Summarize todo2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize todo2": {
        "main": [
          [
            {
              "node": "Output results2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Output results2": {
        "main": [
          [
            {
              "node": "Loop Over Items2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize todos1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Summarize todos2": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Ollama Chat Model10": {
        "ai_languageModel": [
          [
            {
              "node": "Attempt to Resolve Issue1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Attempt to Resolve Issue1": {
        "main": [
          [
            {
              "node": "Edit Fields9",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Code2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code2": {
        "main": [
          [
            {
              "node": "Aggregate3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a message1": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter1": {
        "main": [
          [
            {
              "node": "Filter2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Code4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code4": {
        "main": [
          [
            {
              "node": "Aggregate3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate3": {
        "main": [
          [
            {
              "node": "Decide on ticket",
              "type": "main",
              "index": 0
            },
            {
              "node": "Connect to Confluence3",
              "type": "main",
              "index": 0
            },
            {
              "node": "Connect to Confluence4",
              "type": "main",
              "index": 0
            },
            {
              "node": "Connect to Confluence5",
              "type": "main",
              "index": 0
            },
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Connect to Confluence3": {
        "main": [
          [
            {
              "node": "Get html body3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get html body3": {
        "main": [
          [
            {
              "node": "Extract titles3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Connect to Confluence4": {
        "main": [
          [
            {
              "node": "Get html body4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get html body4": {
        "main": [
          [
            {
              "node": "Extract titles4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Connect to Confluence5": {
        "main": [
          [
            {
              "node": "Get html body5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get html body5": {
        "main": [
          [
            {
              "node": "Extract titles5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract titles3": {
        "main": [
          [
            {
              "node": "AI Agent3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract titles4": {
        "main": [
          [
            {
              "node": "AI Agent4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract titles5": {
        "main": [
          [
            {
              "node": "AI Agent5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ollama Chat Model11": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent4",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Ollama Chat Model12": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent5",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent4": {
        "main": [
          [
            {
              "node": "Edit Fields6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent5": {
        "main": [
          [
            {
              "node": "Edit Fields7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Split todo headers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If2": {
        "main": [
          [
            {
              "node": "Split todo headers1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If3": {
        "main": [
          [
            {
              "node": "Split todo headers2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields5": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields6": {
        "main": [
          [
            {
              "node": "If2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields7": {
        "main": [
          [
            {
              "node": "If3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields8": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge2": {
        "main": [
          [
            {
              "node": "Edit Fields4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields9": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Aggregate4": {
        "main": [
          [
            {
              "node": "Edit Fields10",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields4": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields10": {
        "main": [
          [
            {
              "node": "Attempt to Resolve Issue1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter2": {
        "main": [
          [
            {
              "node": "Filter4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter3": {
        "main": [
          [
            {
              "node": "Get a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter4": {
        "main": [
          [
            {
              "node": "Get a message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "activeVersionId": "41fac99d-87de-4545-a2ab-5973aeca7582",
  "connections": {
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Make a call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Similar Issues Resolved": {
      "main": [
        [
          {
            "node": "Loop Over Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Issue Ref": {
      "main": [
        [
          {
            "node": "Simplify Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Comments": {
      "main": [
        [
          {
            "node": "Simplify Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplify Comments": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarise Resolution": {
      "main": [
        [
          {
            "node": "Return Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplify Issue": {
      "main": [
        [
          {
            "node": "Get Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarise Resolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Fields": {
      "main": [
        [
          {
            "node": "Loop Over Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Get keywords",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Attempt to Resolve Issue",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Summarise Resolution",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model3": {
      "ai_languageModel": [
        []
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Summarize todos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Connect again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize todo",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get keywords": {
      "main": [
        [
          {
            "node": "Get Recent Similar Issues Resolved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Jira info": {
      "main": [
        [
          {
            "node": "Attempt to Resolve Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split todo headers": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Connect again": {
      "main": [
        [
          {
            "node": "Get todo content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get todo content": {
      "main": [
        [
          {
            "node": "Summarize todo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize todo": {
      "main": [
        [
          {
            "node": "Output results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output results": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize todos": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Issues": {
      "main": [
        [
          {
            "node": "Collect Jira info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Issue Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Attempt to Resolve Issue": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Filter3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Summarize todos1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Connect again1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize todo1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split todo headers1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Connect again1": {
      "main": [
        [
          {
            "node": "Get todo content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get todo content1": {
      "main": [
        [
          {
            "node": "Summarize todo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize todo1": {
      "main": [
        [
          {
            "node": "Output results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output results1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Summarize todos2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Connect again2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize todo2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split todo headers2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Connect again2": {
      "main": [
        [
          {
            "node": "Get todo content2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get todo content2": {
      "main": [
        [
          {
            "node": "Summarize todo2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize todo2": {
      "main": [
        [
          {
            "node": "Output results2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output results2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize todos1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Summarize todos2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Ollama Chat Model10": {
      "ai_languageModel": [
        [
          {
            "node": "Attempt to Resolve Issue1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Attempt to Resolve Issue1": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Connect to Confluence3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Connect to Confluence4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Connect to Confluence5",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Connect to Confluence3": {
      "main": [
        [
          {
            "node": "Get html body3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get html body3": {
      "main": [
        [
          {
            "node": "Extract titles3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Connect to Confluence4": {
      "main": [
        [
          {
            "node": "Get html body4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get html body4": {
      "main": [
        [
          {
            "node": "Extract titles4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Connect to Confluence5": {
      "main": [
        [
          {
            "node": "Get html body5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get html body5": {
      "main": [
        [
          {
            "node": "Extract titles5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract titles3": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract titles4": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract titles5": {
      "main": [
        [
          {
            "node": "AI Agent5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model11": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model12": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent5": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Split todo headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Split todo headers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Split todo headers2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate4": {
      "main": [
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "Attempt to Resolve Issue1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Filter4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter4": {
      "main": [
        [
          {
            "node": "Get a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-16T07:57:10.456Z",
  "id": "hUUBmcEFxD47cpas",
  "isArchived": false,
  "meta": null,
  "name": "KL upgraded title list",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -2416,
        2880
      ],
      "id": "cb62de0f-1b3a-4834-b1c2-9c7cd8d5b368",
      "name": "Microsoft Outlook Trigger",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "sIpsyXB2BEbZqRKi",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "from": "+13342768035",
        "to": "+36209782288",
        "message": "=You have a new Jira issue!  {{ $('Create an issue').item.json.key }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -1088,
        1936
      ],
      "id": "3075f753-0f3d-4656-a579-1860ff5d1f3d",
      "name": "Send an SMS/MMS/WhatsApp message",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "call",
        "from": "+13342768035",
        "to": "+36209782288",
        "message": "=You have an urgent issue!  {{ $('Create an issue').item.json.key }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -1088,
        2128
      ],
      "id": "93e3d37b-a80d-4bf9-8013-4c0866c8bbf6",
      "name": "Make a call",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "toRecipients": "={{ $('Microsoft Outlook Trigger').item.json.to }}",
        "subject": "=Re: {{ $('Microsoft Outlook Trigger').item.json.subject }}",
        "message": "=I am an automated agent designed to help manage incoming issues. \nI have opened the following Jira ticket for your request: \"\n{{ $('Create an issue').item.json.self }}\n\"Please reply to this email with only one word regarding the urgency of the request:\nLow - These requests can wait until working hours the next day to be picked up.\nMedium - These requests require attention in the following hours, a monitoring team member will be notified via text message.\nHigh - These requests require immidiate attention, a monitoring team member will be notified via phone call immidiately.",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Request priority",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Low"
                  },
                  {
                    "option": "Medium"
                  },
                  {
                    "option": "High"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -1472,
        2128
      ],
      "id": "d025b8db-8845-4d4f-b27e-8cb3330ea0bd",
      "name": "Send message and wait for response",
      "webhookId": "8ba40afe-9768-4c1f-912c-69f06f428068",
      "alwaysOutputData": false,
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data['Request priority'] }}",
                    "rightValue": "Medium",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bf73bcc8-010c-4aa4-8e65-e1ef2b4b068a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a96ad7b3-2111-4f7c-a92d-29f73863a6c9",
                    "leftValue": "={{ $json.data['Request priority'] }}",
                    "rightValue": "High",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "870745f7-5d84-42a8-9e3e-61f0d2f03d51",
                    "leftValue": "={{ $json.data['Request priority'] }}",
                    "rightValue": "Low",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1296,
        2128
      ],
      "id": "28d2cd08-a5e3-4980-b848-eafb6ed5705e",
      "name": "Switch",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "output": "fields",
        "fields": [
          "body"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -1536,
        2880
      ],
      "id": "0dda07d7-80bb-482e-9b39-33865d81c1df",
      "name": "Get a message",
      "webhookId": "ab468aa3-433f-42a4-86e1-605e32d695f8",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "sIpsyXB2BEbZqRKi",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "jiraVersion": "server",
        "operation": "getAll",
        "options": {
          "jql": "={{ $json.output.replace(/\\n$/, \"\") }} and issuetype in StandardIssueTypes() ORDER BY created DESC"
        }
      },
      "id": "5e1cdb97-195e-4c26-b31b-c2db9a8778b3",
      "name": "Get Recent Similar Issues Resolved",
      "type": "n8n-nodes-base.jira",
      "position": [
        2048,
        2176
      ],
      "typeVersion": 1,
      "credentials": {
        "jiraSoftwareServerApi": {
          "id": "LoInbd5shBGxeXVJ",
          "name": "Jira SW Cloud account 3"
        }
      }
    },
    {
      "parameters": {},
      "id": "b4c6e30c-3e6d-485c-94a6-3eb6c9ca238a",
      "name": "Issue Ref",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2368,
        2368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jiraVersion": "server",
        "resource": "issueComment",
        "operation": "getAll",
        "issueKey": "={{ $json.issueKey }}",
        "options": {
          "orderBy": "-created"
        }
      },
      "id": "d53956a4-63ea-46c2-986e-58df462e5eef",
      "name": "Get Comments",
      "type": "n8n-nodes-base.jira",
      "position": [
        2752,
        2368
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "jiraSoftwareServerApi": {
          "id": "LoInbd5shBGxeXVJ",
          "name": "Jira SW Cloud account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "faba7ffd-4f3a-4394-9bed-01014ddc12c1",
              "name": "author",
              "type": "string",
              "value": "={{ $json.author.displayName }}"
            },
            {
              "id": "76ed191c-6c43-47e7-bbaf-104bdde26993",
              "name": "comment",
              "type": "string",
              "value": "={{ $json.body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e13a998f-13b7-4ac4-8c00-7c8dc863417d",
      "name": "Simplify Comments",
      "type": "n8n-nodes-base.set",
      "position": [
        2960,
        2368
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Issue\n{{ $('Simplify Issue').item.json.issueKey }} {{ $('Simplify Issue').item.json.summary }}\n{{ $('Simplify Issue').item.json.description }}\n{{ $('Simplify Issue').item.json.originalDescription }}\n\n## Comments\n{{ $json.comments.map((item,idx) => `${idx+1}. ${item.comment.replaceAll('\\n', ' ')}`).join('\\n') }}",
        "messages": {
          "messageValues": [
            {
              "message": "Analyse the given issue and its comments. Your task is to summarise the resolution of this issue."
            }
          ]
        }
      },
      "id": "b26f3f92-8e49-4342-80e2-01f0b35a5775",
      "name": "Summarise Resolution",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        3328,
        2368
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "267918d5-5193-48c8-8e3a-6542c8edf77c",
              "name": "projectKey",
              "type": "string",
              "value": "={{ $json.fields.project.key }}"
            },
            {
              "id": "8c44b6b1-a5e7-4312-b96c-727b24a82ac2",
              "name": "issueKey",
              "type": "string",
              "value": "={{ $json.key }}"
            },
            {
              "id": "3451a39f-1907-4406-beb9-fd4feebbf4c2",
              "name": "issueType",
              "type": "string",
              "value": "={{ $json.fields.issuetype.name }}"
            },
            {
              "id": "99f33276-50ad-424a-b307-2ed69094bc43",
              "name": "createdAt",
              "type": "string",
              "value": "={{ $json.fields.created }}"
            },
            {
              "id": "5463ff2e-4d42-4602-8278-555f369a37e5",
              "name": "status",
              "type": "string",
              "value": "={{ $json.fields.status.name }}"
            },
            {
              "id": "1df0588e-7916-4c4d-95f1-7c6d58ba094f",
              "name": "summary",
              "type": "string",
              "value": "={{ $json.fields.summary }}"
            },
            {
              "id": "ecf69a9b-18c9-4b04-9d6e-b77391728f33",
              "name": "description",
              "type": "string",
              "value": "={{ $json.fields.description }}"
            },
            {
              "id": "8f7b0876-4d6f-42b3-bc12-34396ce824ed",
              "name": "reportedBy",
              "type": "string",
              "value": "={{ $json.fields.creator.displayName }}"
            },
            {
              "id": "74504426-6ecd-4b32-866f-0e336c669650",
              "name": "reportedByEmailAddress",
              "type": "string",
              "value": "={{ $json.fields.creator.emailAddress }}"
            },
            {
              "id": "ce1714d8-2c84-4f45-9b4d-4b625be4b116",
              "name": "originalDescription",
              "value": "={{ $json.fields.customfield_10080 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0cff6454-2ac2-47ca-b274-83a0f67768f3",
      "name": "Simplify Issue",
      "type": "n8n-nodes-base.set",
      "position": [
        2560,
        2368
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "comments",
        "options": {}
      },
      "id": "a8c1638e-3330-46bf-8d21-583d516b5484",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        3136,
        2368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "62a6c941-ccd4-4d71-8685-e5a1144395ca",
              "name": "description",
              "type": "string",
              "value": "={{ $('Simplify Issue').item.json.description }}"
            },
            {
              "id": "47d26f5c-d360-4ca3-b48a-d36ea1746a3b",
              "name": "resolution",
              "type": "string",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d77294bf-7c57-49e0-ab8c-5c26aa551b2e",
      "name": "Return Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        3632,
        2368
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "model": "gemma3:27b-it-qat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1760,
        3088
      ],
      "id": "cc24b99a-0eb5-44e9-b4aa-f8fc1dbe4b54",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "JuFSFuugCbIz1iBG",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-small3.2:24b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        5072,
        2448
      ],
      "id": "845dabea-7a04-4b96-8c2a-b776f9725af2",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "JuFSFuugCbIz1iBG",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3:8b",
        "options": {
          "temperature": 0,
          "topK": -1,
          "topP": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        3328,
        2528
      ],
      "id": "d4215e1f-2a25-42d6-ba64-b7549097b6ae",
      "name": "Ollama Chat Model2",
      "credentials": {
        "ollamaApi": {
          "id": "JuFSFuugCbIz1iBG",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        560,
        3120
      ],
      "id": "f5a68c5f-5d45-4e61-8dff-5286470769a0",
      "name": "Ollama Chat Model3",
      "credentials": {
        "ollamaApi": {
          "id": "JuFSFuugCbIz1iBG",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3360,
        2880
      ],
      "id": "6e4f5990-54f5-4920-a2e0-5a87f7bab5d6",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "model": "mistral-small3.2:24b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        3936,
        3216
      ],
      "id": "e88ca54e-8f61-4b1a-a1d3-99a6a14f4165",
      "name": "Ollama Chat Model4",
      "credentials": {
        "ollamaApi": {
          "id": "JuFSFuugCbIz1iBG",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Issue:\n{{ $('Microsoft Outlook Trigger').all()[0].json.subject }}\n{{ $('Aggregate3').item.json.data[0].cleaned }}\nWiki titles:\n{{ $json.todo }}",
        "options": {
          "systemMessage": "Compare the Issue with the list of Wiki titles. If there is a relevant one, have the exact Wiki title as the only output. Do not change any html notation or characters in the output. Do not put \"</end_of_turn>\" at the end. If it contains the same word it is considered relevant if that word is not \"abort\" or \"aborted\" which are too generic.\nFor example, do not match with \"\"13:00&nbsp;- 15:00 @ KL -&nbsp;SEQUENCE_422_RECEIPTS_OUTBOUND abort\" only because it contains the words \"abort\", \"KL\" or \"SEQUENCE\". In this case it should contain 422, or RECEIPTS_OUTBOUND to be considered a match. Additional keywords not to be considered a match: BATCH, KIRK, GL.\n\nIf none seems relevant your output should be \"none\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        512,
        3744
      ],
      "id": "491acfe4-3d67-4189-9258-61e22baf7a52",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "model": "gemma3:27b-it-qat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        512,
        3936
      ],
      "id": "d8c3ecc9-bb30-4459-a1e0-2a73488b2c17",
      "name": "Ollama Chat Model5",
      "credentials": {
        "ollamaApi": {
          "id": "JuFSFuugCbIz1iBG",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subject:\n{{ $('Microsoft Outlook Trigger').item.json.subject }}\nEmail content:\n{{ $('Aggregate3').item.json.data[0].cleaned }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Analyze the email subject and body to generate a Jira JQL query for finding similar issues.\n\nThe query must search for meaningful keywords that are specific to the issue, such as technical terms, program names, or process names.\n\nAvoid generic terms like \"error\" or \"aborted,\" and unique identifiers like file names or record numbers. \n\nList of keywords that are too generic by themselves: abort, aborted, error, RMS, RIB.\n\nDo not include any accompanying text or explanation.\n\nResponse must be in the following output format, and nothing else:\n\n(project = KIRKLSUP) and (text ~ \"keyword 1\" OR text ~ \"keyword 2\")"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1760,
        2880
      ],
      "id": "b8702880-dc15-454b-8f93-63c9ad63172f",
      "name": "Get keywords"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "resolved_issues",
        "options": {}
      },
      "id": "23381df7-7957-40a9-8ea6-3d22300bcfe1",
      "name": "Collect Jira info",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        3632,
        2176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3168,
        2880
      ],
      "id": "b240e4f8-7cce-41d6-bea6-eb535743647a",
      "name": "Split todo headers"
    },
    {
      "parameters": {
        "url": "https://qbcs.atlassian.net/wiki/rest/api/content/293274369?expand=body.storage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": false,
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3568,
        3040
      ],
      "id": "24ea9843-3883-486c-b872-122b6bda03ef",
      "name": "Connect again",
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "QZLMoZ1KiiDGlhem",
          "name": "Wiki login"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const htmlString = $input.first().json.body.storage.value; // Your HTML content\nconst h2Text = $('Split todo headers').first().json.output; // Search phrase (even if interrupted by tags)\n\n// Escape special regex characters in the text\nconst escapedText = h2Text.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n\n// Match any <h2> that contains the desired phrase (even with HTML tags between words)\nconst h2Regex = new RegExp(\n  `<h2[^>]*>[\\\\s\\\\S]*?${escapedText.split(/\\s+/).join('[\\\\s\\\\S]*?')}[\\\\s\\\\S]*?<\\\\/h2>([\\\\s\\\\S]*?)(?=<h2[^>]*>|$)`,\n  'i'\n);\n\nconst match = htmlString.match(h2Regex);\n\nif (!match) {\n  return [{ json: { error: \"Could not find matching h2 by text.\" } }];\n}\n\nconst contentBetween = match[1].trim();\n\nreturn [{ json: { extractedContent: contentBetween } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        3040
      ],
      "id": "b6156019-ad7a-4287-9450-ec2d3fe01112",
      "name": "Get todo content"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.extractedContent }}",
        "options": {
          "systemMessage": "Stipping any html notation but keeping text inside return the found content without paraphrase."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        3936,
        3040
      ],
      "id": "6497c808-1e98-4a01-bb1c-3d6299d17af5",
      "name": "Summarize todo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94133e2f-fcf4-4082-965b-84abbe5f9a6c",
              "name": "Todo",
              "value": "=Title: {{ $('If1').item.json.output }} \nWiki page: \nhttps://qbcs.atlassian.net/wiki/spaces/MON/pages/293275525/Kirklands+Daytime+Support+Issues\n{{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4256,
        3040
      ],
      "id": "c43bca91-0d05-467c-a931-1662ed10bc4f",
      "name": "Output results"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "Todo",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4256,
        2880
      ],
      "id": "3044711e-6f22-42f3-933b-5d7e736e3b56",
      "name": "Summarize todos"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e4ca3526-06e5-4b7f-bf7d-b907c3f16809",
      "name": "Loop Over Issues",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2240,
        2176
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4736,
        3024
      ],
      "id": "3d010149-b246-465f-aef1-6bda439a2d73",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node\n// This script normalizes \"resolved_issues\", \"Todo\", and includes Issue text from the HTML node.\n const items = $input.all(); // get all incoming items\n\nreturn items.map(item => {\n\tconst data = item.json;\n\n\t// Safely pull Issue text from the HTML node\n\tconst issueText = $('Aggregate3').first().json.data[0].cleaned ?? '';\n\n\treturn {\n\t\tjson: {\n\t\t\t// Pass through resolved_issues as-is, or empty array if missing\n\t\t\tresolved_issues: data.resolved_issues ?? [],\n\n\t\t\t// Convert \"Todo\" array-of-objects into array-of-strings, or empty array if missing\n\t\t\ttodo: Array.isArray(data.Todo)\n\t\t\t\t? data.Todo.map(t => t.Todo ?? null).filter(Boolean)\n\t\t\t\t: [],\n\n\t\t\t// Add Issue text\n\t\t\tissue: issueText\n\t\t}\n\t};\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4208,
        2608
      ],
      "id": "59abe167-74bc-49fb-8a15-b38f16d2504d",
      "name": "Code1"
    },
    {
      "parameters": {
        "content": "## TODO Branch",
        "height": 640,
        "width": 2208,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        816
      ],
      "id": "42fa3fb1-7e63-4af9-8746-3a0668bfde9e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## JIRA Branch",
        "height": 544,
        "width": 1776,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -656,
        1824
      ],
      "id": "28e09180-a48c-4331-a08a-bfb273f55d7b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Previously resolved Issues\n{{ $json.resolved_issues.toJsonString()  }}\n## Current issue\n{{ $('Aggregate3').item.json.data[0].cleaned }}",
        "messages": {
          "messageValues": [
            {
              "message": "Based on the previously resolved issues, summarize information found relevant to the issue in the following format:\nInformation derived from previous Jira issues:\n  [Issue Number] - [Brief summary of problem cause and resolution steps]  \n  [Issue Number] - [Brief summary of problem cause and resolution steps]  \n  Do not include any generic advice or information not derived from the provided data.  \nJira Link Format: \nhttps://support.qbcs.com/browse/KIRKLSUP-17949\nMake the output nice, with clear bullet points and no asterisks and hashtags. Do not put unnecessary # and * in output.\n"
            }
          ]
        }
      },
      "id": "81d6c502-5367-4071-90b9-c55b1076f9bd",
      "name": "Attempt to Resolve Issue",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        5072,
        2176
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data[0].cleaned }}",
        "options": {
          "systemMessage": "Analyze the message to assign a Jira priority level.\n\nIf the message indicates the issue is urgent or requires immediate attention, assign \"Blocker\".\n\nOtherwise, assign \"Major\".\n\nResponse must be one of the following, and nothing else:\n\nBlocker\n\nMajor"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        400,
        2416
      ],
      "id": "ad4202a0-e959-47ed-bf2a-3e1a27926faf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "mistral-small3.2:24b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        400,
        2688
      ],
      "id": "10438ed0-7149-4f18-9f8b-aa3e4abf1782",
      "name": "Ollama Chat Model6",
      "credentials": {
        "ollamaApi": {
          "id": "JuFSFuugCbIz1iBG",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f0c353d1-4dd2-4553-b2c4-eaf824d4c68b",
              "leftValue": "={{$json.from}}",
              "rightValue": "@brandhouseco.com",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2064,
        2880
      ],
      "id": "a3951bce-1b19-4b84-b0ae-b2883cf22812",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7cfb91af-9819-4e10-9da6-824e19d5f9eb",
              "name": "body.content",
              "value": "={{ $json.body.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1328,
        2880
      ],
      "id": "53375e47-c45a-400f-b141-881dd1bd1653",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "body.content",
        "extractionValues": {
          "values": [
            {
              "key": "Issue",
              "cssSelector": "span",
              "returnArray": true
            },
            {
              "key": "Issue",
              "cssSelector": "div",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": true,
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -928,
        2880
      ],
      "id": "e8bd1254-dce0-45e9-a800-d85f8d150aee",
      "name": "HTML"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3136,
        3584
      ],
      "id": "7feb23dc-cac1-4aaa-8374-1ee38f4f919b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "model": "mistral-small3.2:24b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        3712,
        3920
      ],
      "id": "bf6c8216-4197-4662-a2ca-79e560b5d51a",
      "name": "Ollama Chat Model7",
      "credentials": {
        "ollamaApi": {
          "id": "JuFSFuugCbIz1iBG",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2928,
        3584
      ],
      "id": "17cb9771-442e-41d4-8bc7-9dccc401e8f2",
      "name": "Split todo headers1"
    },
    {
      "parameters": {
        "url": "https://qbcs.atlassian.net/wiki/rest/api/content/293275525?expand=body.storage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": false,
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3328,
        3744
      ],
      "id": "580ceef1-4ab2-48d8-ae1f-a680f6112bbb",
      "name": "Connect again1",
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "QZLMoZ1KiiDGlhem",
          "name": "Wiki login"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const htmlString = $input.first().json.body.storage.value; // Your HTML content\nconst h2Text = $('Split todo headers1').first().json.output; // Search phrase (even if interrupted by tags)\n\n// Escape special regex characters in the text\nconst escapedText = h2Text.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n\n// Match any <h2> that contains the desired phrase (even with HTML tags between words)\nconst h2Regex = new RegExp(\n  `<h2[^>]*>[\\\\s\\\\S]*?${escapedText.split(/\\s+/).join('[\\\\s\\\\S]*?')}[\\\\s\\\\S]*?<\\\\/h2>([\\\\s\\\\S]*?)(?=<h2[^>]*>|$)`,\n  'i'\n);\n\nconst match = htmlString.match(h2Regex);\n\nif (!match) {\n  return [{ json: { error: \"Could not find matching h2 by text.\" } }];\n}\n\nconst contentBetween = match[1].trim();\n\nreturn [{ json: { extractedContent: contentBetween } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        3744
      ],
      "id": "678ffe1d-9c90-4cbe-95b2-ff1a2aeed86c",
      "name": "Get todo content1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.extractedContent }}",
        "options": {
          "systemMessage": "Stipping any html notation but keeping text inside return the found content without paraphrase."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        3712,
        3744
      ],
      "id": "9d135ce6-7002-4dc4-9248-dfb10e5aa176",
      "name": "Summarize todo1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94133e2f-fcf4-4082-965b-84abbe5f9a6c",
              "name": "Todo",
              "value": "=Title: {{ $('If2').item.json.output }} \nWiki page: \nhttps://qbcs.atlassian.net/wiki/spaces/MON/pages/293275525/Kirklands+Daytime+Support+Issues\n{{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4032,
        3744
      ],
      "id": "22e88f80-8850-4ae4-b0b4-4a2a033cbeb8",
      "name": "Output results1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "Todo",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4032,
        3584
      ],
      "id": "9eed2f9a-2e91-4c38-8dc9-35b7e0d23957",
      "name": "Summarize todos1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3152,
        4176
      ],
      "id": "68aafc21-33dd-4074-8bf6-621390bb026e",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "model": "mistral-small3.2:24b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        3728,
        4576
      ],
      "id": "1fb51757-1d9b-4d53-ad48-02aa23d903c9",
      "name": "Ollama Chat Model8",
      "credentials": {
        "ollamaApi": {
          "id": "JuFSFuugCbIz1iBG",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2960,
        4176
      ],
      "id": "23f8ffc8-6eff-4418-8c7b-49ead296aec0",
      "name": "Split todo headers2"
    },
    {
      "parameters": {
        "url": "https://qbcs.atlassian.net/wiki/rest/api/content/5603343?expand=body.storage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": false,
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        4336
      ],
      "id": "1123c24c-dd7a-42d0-984d-274d914ea31d",
      "name": "Connect again2",
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "QZLMoZ1KiiDGlhem",
          "name": "Wiki login"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const htmlString = $input.first().json.body.storage.value; // Your HTML content\nconst h2Text = $('Split todo headers2').first().json.output; // Search phrase (even if interrupted by tags)\n\n// Escape special regex characters in the text\nconst escapedText = h2Text.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n\n// Match any <h2> that contains the desired phrase (even with HTML tags between words)\nconst h2Regex = new RegExp(\n  `<h2[^>]*>[\\\\s\\\\S]*?${escapedText.split(/\\s+/).join('[\\\\s\\\\S]*?')}[\\\\s\\\\S]*?<\\\\/h2>([\\\\s\\\\S]*?)(?=<h2[^>]*>|$)`,\n  'i'\n);\n\nconst match = htmlString.match(h2Regex);\n\nif (!match) {\n  return [{ json: { error: \"Could not find matching h2 by text.\" } }];\n}\n\nconst contentBetween = match[1].trim();\n\nreturn [{ json: { extractedContent: contentBetween } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3536,
        4336
      ],
      "id": "3c115d9f-41e0-4d16-b774-696e57848a92",
      "name": "Get todo content2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.extractedContent }}",
        "options": {
          "systemMessage": "Stipping any html notation but keeping text inside return the found content without paraphrase."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        3728,
        4336
      ],
      "id": "ffd05341-9c15-40e9-8a79-330dc39819e0",
      "name": "Summarize todo2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94133e2f-fcf4-4082-965b-84abbe5f9a6c",
              "name": "Todo",
              "value": "=Title: {{ $('If3').item.json.output }} \nWiki page: \nhttps://qbcs.atlassian.net/wiki/spaces/MON/pages/5603343/Monitoring+TODO\n{{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4048,
        4336
      ],
      "id": "526adc48-8f8d-441e-b730-a7438ab6b657",
      "name": "Output results2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "Todo",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4048,
        4176
      ],
      "id": "63c296b3-9014-49cb-bab3-6959a44cc69d",
      "name": "Summarize todos2"
    },
    {
      "parameters": {
        "content": "## Daytime issues Branch",
        "height": 624,
        "width": 2208,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e3681b51-64d1-41ea-a84f-7925c2568c4e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Monitoring Todo Branch",
        "height": 624,
        "width": 2208,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        5504
      ],
      "id": "8062b5df-3621-45d1-bbba-905a0c13e2ef",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "toRecipients": "attila.zubor@qbcs.com, monitoringteam@qbcs.com, kyle.beyke@qbcs.com",
        "subject": "=AI SUGGESTION: {{ $('Microsoft Outlook Trigger').item.json.subject }} ",
        "bodyContent": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        8080,
        2784
      ],
      "id": "f2cf9577-606e-42b4-ade6-ffcf451d30a2",
      "name": "Send a message",
      "webhookId": "6edb992a-5454-437a-ac6f-f5244e77178e",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "sIpsyXB2BEbZqRKi",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4384,
        2608
      ],
      "id": "0fd6d9c7-2255-4b34-a852-072bcf16095a",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Current issue\n{{ $('Aggregate3').item.json.data[0].cleaned }}\n## Todo page\n{{ $json.Todo }}",
        "messages": {
          "messageValues": [
            {
              "message": "Based on the todo page information, summarize information found relevant to the issue in the following format:\nInformation derived from Wiki[Wiki page]:\n[To-do Page Title] - [Brief summary of the to-do's resolution]\n  Do not include any generic advice or information not derived from the provided data.  \nMake the output nice, with clear bullet points and no asterisks and hashtags. Do not put unnecessary # and * in output.\n"
            }
          ]
        }
      },
      "id": "4574a0d2-5181-4a18-9bd0-72eb37ced8f6",
      "name": "Attempt to Resolve Issue1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        5472,
        2816
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "model": "mistral-small3.2:24b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        3808,
        2656
      ],
      "id": "97bd5e76-b3a9-40c4-8cd6-9ecebfe6094f",
      "name": "Ollama Chat Model9",
      "credentials": {
        "ollamaApi": {
          "id": "JuFSFuugCbIz1iBG",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-small3.2:24b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        5488,
        3072
      ],
      "id": "eb8c7a0a-4a51-4d5b-97f3-70615a268150",
      "name": "Ollama Chat Model10",
      "credentials": {
        "ollamaApi": {
          "id": "JuFSFuugCbIz1iBG",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5840,
        3216
      ],
      "id": "6c3d1b11-56d7-4e62-9c67-e68d9732886e",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f3c7c97-a4cb-44f9-a12a-d8a4534d70ea",
              "name": "Issue",
              "value": "={{ $json.Issue }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -576,
        2880
      ],
      "id": "8aa6c641-83de-4a95-8e9e-c9cd40b2b351",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "// Removes email addresses, links, and long disclaimers\nconst text = $input.first().json.Issue;\nreturn {\n  cleaned: text\n    .replace(/[\\w.+-]+@[\\w.-]+\\.[a-z]{2,}/gi, '') // remove emails\n    .replace(/https?:\\/\\/\\S+/gi, '')               // remove links\n  .split('From: ')[0]                // keep only latest email before \"Original Message\"\n    .trim()\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        2880
      ],
      "id": "c1c28582-9651-4201-aff4-17f220732385",
      "name": "Code2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5424,
        3120
      ],
      "id": "dfa676ec-ac94-49ca-af37-430d7b6d3dd2",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { merged: $input.all().map(item => item.json) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4864,
        3712
      ],
      "id": "99c73f2b-88a4-4ed6-9c2f-8696b56fe5c9",
      "name": "Code3"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "output": "fields",
        "fields": [
          "body"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -1168,
        3440
      ],
      "id": "59a9dcc5-a478-4cca-973b-ddb2f1726b25",
      "name": "Get a message1",
      "webhookId": "e4785abb-c398-4f84-b291-bd0a664c6d66",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "sIpsyXB2BEbZqRKi",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7cfb91af-9819-4e10-9da6-824e19d5f9eb",
              "name": "body.content",
              "value": "={{ $json.body.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -912,
        3440
      ],
      "id": "68b5b87b-19e7-4dfb-99e6-c37f7e25ee34",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f3c7c97-a4cb-44f9-a12a-d8a4534d70ea",
              "name": "Issue",
              "value": "={{ $json.body.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        3424
      ],
      "id": "289f8b86-4829-4101-80b9-316031ea34dc",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7f3a46af-eb29-45e6-9a3b-a19fba94c52a",
              "leftValue": "={{$json.from}}",
              "rightValue": "@weberpapp03.kirklands.com",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1968,
        3424
      ],
      "id": "e490c30c-49ea-487d-97be-79dc87f57875",
      "name": "Filter1"
    },
    {
      "parameters": {
        "jsCode": "// Removes email addresses, links, and long disclaimers\nconst text = $input.first().json.Issue;\nreturn {\n  cleaned: text\n    .replace(/[\\w.+-]+@[\\w.-]+\\.[a-z]{2,}/gi, '') // remove emails\n    .replace(/https?:\\/\\/\\S+/gi, '')               // remove links\n  .split('From: ')[0]                // keep only latest email before \"Original Message\"\n    .trim()\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        3392
      ],
      "id": "4d781b1c-6697-4373-84df-75fcf4719e29",
      "name": "Code4"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        240,
        2880
      ],
      "id": "89b6f58a-066a-4fc2-a7b2-687dc08cf2dd",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "url": "=https://qbcs.atlassian.net/wiki/rest/api/content/293274369?expand=body.storage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": false,
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -192,
        3760
      ],
      "id": "1cf3098f-c60c-41fa-993a-886bdc5ac39d",
      "name": "Connect to Confluence3",
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "QZLMoZ1KiiDGlhem",
          "name": "Wiki login"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df1f2f2e-c14f-4dfc-86cb-923f224d50f2",
              "name": "html",
              "value": "={{$json.body.storage.value}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        3760
      ],
      "id": "4c56db83-a6bd-4519-bb84-0257832471cf",
      "name": "Get html body3"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "html",
        "extractionValues": {
          "values": [
            {
              "key": "todo",
              "cssSelector": "=h2",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": false,
          "cleanUpText": false
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        176,
        3760
      ],
      "id": "f7d59271-530e-48d3-8d4e-a5c4b2e5271a",
      "name": "Extract titles3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://qbcs.atlassian.net/wiki/rest/api/content/293275525?expand=body.storage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": false,
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -192,
        4032
      ],
      "id": "367925e0-5d00-4bde-bbe1-678ff36997f7",
      "name": "Connect to Confluence4",
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "QZLMoZ1KiiDGlhem",
          "name": "Wiki login"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df1f2f2e-c14f-4dfc-86cb-923f224d50f2",
              "name": "html",
              "value": "={{$json.body.storage.value}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        4032
      ],
      "id": "59890ee7-f719-4b6a-a5dc-8d83e76a8fb2",
      "name": "Get html body4"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "html",
        "extractionValues": {
          "values": [
            {
              "key": "daytime",
              "cssSelector": "=h2",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": false,
          "cleanUpText": false
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        192,
        4032
      ],
      "id": "d54766f5-f233-4afa-ab9e-a9e9d21811a7",
      "name": "Extract titles4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://qbcs.atlassian.net/wiki/rest/api/content/5603343?expand=body.storage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": false,
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -192,
        4272
      ],
      "id": "be624fd4-8a10-4751-9a3e-00131c84fe53",
      "name": "Connect to Confluence5",
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "QZLMoZ1KiiDGlhem",
          "name": "Wiki login"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df1f2f2e-c14f-4dfc-86cb-923f224d50f2",
              "name": "html",
              "value": "={{$json.body.storage.value}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        4272
      ],
      "id": "af91ec6f-43ce-441a-8114-d143033ab12e",
      "name": "Get html body5"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "html",
        "extractionValues": {
          "values": [
            {
              "key": "monitoring",
              "cssSelector": "=h2",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": false,
          "cleanUpText": false
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        176,
        4272
      ],
      "id": "71c5ec82-4567-4ceb-af88-fab0de66d50b",
      "name": "Extract titles5",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Issue:\n{{ $('Microsoft Outlook Trigger').all()[0].json.subject }}\n{{ $('Aggregate3').item.json.data[0].cleaned }}\nWiki titles:\n{{ $json.daytime }}",
        "options": {
          "systemMessage": "Compare the Issue with the list of Wiki titles. If there is a relevant one, have the exact Wiki title as the only output. If it contains the same word it is considered relevant, except if that word is \"abort\" or \"aborted\" which is too generic.\nFor example, do not match with \"\"13:00&nbsp;- 15:00 @ KL -&nbsp;SEQUENCE_422_RECEIPTS_OUTBOUND abort\" only because it contains the words \"abort\", \"KL\" or \"SEQUENCE\". In this case it should contain 422, or RECEIPTS_OUTBOUND to be considered a match. Additional keywords not to be considered a match: BATCH, KIRK, GL.\n\"Most Common Issues\" is the title of the whole page, do not consider it when matching.\n\nIf none seems relevant your output should be \"none\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        448,
        4016
      ],
      "id": "ed4dca2e-3ca6-440b-95ea-550fe8545ddf",
      "name": "AI Agent4"
    },
    {
      "parameters": {
        "model": "gemma3:27b-it-qat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        448,
        4208
      ],
      "id": "73de4a29-5b3b-472b-80c2-323dfc98741e",
      "name": "Ollama Chat Model11",
      "credentials": {
        "ollamaApi": {
          "id": "JuFSFuugCbIz1iBG",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Issue:\n{{ $('Microsoft Outlook Trigger').all()[0].json.subject }}\n{{ $('Aggregate3').item.json.data[0].cleaned }}\nWiki titles:\n{{ $json.monitoring }}",
        "options": {
          "systemMessage": "Compare the Issue with the list of Wiki titles. If there is a relevant one, have the exact Wiki title as the only output. If it contains the same word it is considered relevant, except if that word is \"abort\" or \"aborted\" which is too generic.\nFor example, do not match with \"\"13:00&nbsp;- 15:00 @ KL -&nbsp;SEQUENCE_422_RECEIPTS_OUTBOUND abort\" only because it contains the words \"abort\", \"KL\" or \"SEQUENCE\". In this case it should contain 422, or RECEIPTS_OUTBOUND to be considered a match. Additional keywords not to be considered a match: BATCH, KIRK, GL.\n\nIf none seems relevant your output should be \"none\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        416,
        4320
      ],
      "id": "0e63d88d-2e7d-4f61-977c-30050ad916c9",
      "name": "AI Agent5"
    },
    {
      "parameters": {
        "model": "gemma3:27b-it-qat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        416,
        4512
      ],
      "id": "05760444-3ad1-4087-be96-6c0202411f40",
      "name": "Ollama Chat Model12",
      "credentials": {
        "ollamaApi": {
          "id": "JuFSFuugCbIz1iBG",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d6a75b9f-2aab-40b4-a5c4-b8fd5d802087",
              "leftValue": "={{ $json.output }}",
              "rightValue": "none",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        3712
      ],
      "id": "45eec35c-08fb-45d1-96ae-1f9397dc959d",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d6a75b9f-2aab-40b4-a5c4-b8fd5d802087",
              "leftValue": "={{ $json.output }}",
              "rightValue": "none",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1376,
        3840
      ],
      "id": "28507e17-a87e-450c-a10f-164cc4253e10",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d6a75b9f-2aab-40b4-a5c4-b8fd5d802087",
              "leftValue": "={{ $json.output }}",
              "rightValue": "none",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        4304
      ],
      "id": "8ceb7117-d3c9-4b47-b7f4-a2543674328a",
      "name": "If3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a9d513c-ad96-4e05-bc67-5db34080d9fd",
              "name": "output",
              "value": "={{ $json.output.replaceAll('</end_of_turn>', '').replaceAll('</start_of_turn>', '').trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        3744
      ],
      "id": "86db4c40-68fd-4b87-b0b8-ba58ecae67e2",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a9d513c-ad96-4e05-bc67-5db34080d9fd",
              "name": "output",
              "value": "={{ $json.output.replaceAll('</end_of_turn>', '').replaceAll('</start_of_turn>', '').trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        4000
      ],
      "id": "951f8eb9-a60d-406f-9b8a-a7424fcbc6c8",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a9d513c-ad96-4e05-bc67-5db34080d9fd",
              "name": "output",
              "value": "={{ $json.output.replaceAll('</end_of_turn>', '').replaceAll('</start_of_turn>', '').trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        4288
      ],
      "id": "40bb1d5e-c4e9-4acd-bbb0-53482ef25c07",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b7a71b5-cf5c-4306-83d4-7e50562d6ad6",
              "name": "text",
              "value": "={{ $json.text.replace(/[#*`~>]/g, '')  }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5696,
        2480
      ],
      "id": "9803d0d0-dbf2-469c-a48f-0ed0e077c1ed",
      "name": "Edit Fields8"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        6768,
        2800
      ],
      "id": "ca342163-535d-44ca-b423-f1eb66a9d5f5",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b7a71b5-cf5c-4306-83d4-7e50562d6ad6",
              "name": "text",
              "value": "={{ $json.text.replace(/[#*`~>]/g, '')  }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6112,
        2816
      ],
      "id": "b3cc8230-f264-4461-836f-d2a9e7e9ca30",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Todo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4944,
        3024
      ],
      "id": "e3a1a971-3840-4819-aa08-4ff5484d2f20",
      "name": "Aggregate4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a938311-eb97-49ec-a6ea-bfcb313fe258",
              "name": "text",
              "value": "={{ $input.all().map(item => item.json.text).join('\\n\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7056,
        2800
      ],
      "id": "3bec8c79-110c-42f2-8d07-8d7c8da23e62",
      "name": "Edit Fields4",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f54eac1-d123-45cc-b9dc-66fe4c53590c",
              "name": "Todo",
              "value": "={{ $json.Todo.flat().map(item => item.Todo).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5152,
        3024
      ],
      "id": "b88a6b7e-2ee4-433a-aee2-736ecdbd0b39",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fd9c7745-6dff-4365-80ca-cc2acf303ea6",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "INVOICES_TO_REIM_CHECK SUCC",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "7e9eedfb-5990-4283-b4bb-eb49a7990b27",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "UC4_USER_ROLE_REPORT",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "eef2d3e1-ab7a-4e79-aedb-b35d9d95a444",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "RMS Batch Started",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "179fc55f-fffb-43f5-acb6-88929c932f71",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "RMS Batch Start Warning",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "b788a22c-bffd-40f1-8859-56e29c1e99e3",
              "leftValue": "={{ $json.bodyPreview }}",
              "rightValue": "RIBHOSPITALCHECK",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "c1256122-f58f-4481-8ef8-ead3069f0aa9",
              "leftValue": "={{ $json.bodyPreview }}",
              "rightValue": "LGC_LONG_RUNNING_JOBS",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "bca24169-34ff-4ec0-a173-a478d2fc4028",
              "leftValue": "={{ $json.bodyPreview }}",
              "rightValue": "RIB_HOSPITAL_CHECK",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "1dca660e-9c60-4473-96bd-254c4a6bc06a",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "NFI meter reporting",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "e5f0faf8-8e1f-493c-85ab-affba443d9be",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "SEQ_FINAL_401_ORMS_DRIVER aborted in Prod ",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "be8ab569-b693-4ba9-b5b8-d3be8b9c710a",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "SEQ_209_RECEIPTS_PURCHASE_ORD ABORTED",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1760,
        3408
      ],
      "id": "3804d62f-ae0b-4030-b831-d2fa4ecf9a33",
      "name": "Filter2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cf6204f9-b711-483b-819f-39c1de68ac9e",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "UC4_USER_ROLE_REPORT",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "934b6c4f-d8d2-4e59-bd9b-846dcf4d142e",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "Reload needed",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "02174ef0-986a-4cb3-9c07-83a79455f90a",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "Sales Audit Error Suspense",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "b13ad8d9-b0b0-406b-b7bc-e8555f6a296d",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "NFI meter reporting",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "195787d0-19c7-4f64-850f-a4671085b7b5",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "Promotions going down tonight",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "863f6f5b-0068-471b-a4c7-ceaf622074fb",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "Manual Receiving",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "9102b84a-7a42-4e96-b861-e6d9ed478c37",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "Need Access to NEW Zone Group",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "d2c5ce04-14a0-41de-b1c5-74a491ea4c9f",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "Please Set Active Status to \"N\"",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "7893fee8-60b8-44bf-a58f-365fcdd18eac",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "Promotion in worksheet  ",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "1c6ffb9b-1c7e-4128-847e-34b9fecd4914",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "SEQ_FINAL_401_ORMS_DRIVER aborted ",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1856,
        2880
      ],
      "id": "160b7303-0fb2-469a-a158-636aae3c5b1a",
      "name": "Filter3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fd9c7745-6dff-4365-80ca-cc2acf303ea6",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "SEQ_414_FINAL_PURCHASE_OUTBOUN ABORTED",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1472,
        3424
      ],
      "id": "df4608bf-ba6d-45cc-b98a-605ca674ca24",
      "name": "Filter4"
    }
  ],
  "pinData": {
    "Microsoft Outlook Trigger": [
      {
        "json": {
          "id": "AAMkADYzMjAyMDBhLTIwMDktNGU5NC05YTA4LWQ1ZTFiNWU4YTg3ZABGAAAAAACObOFn7GoXTL-btUyUBYQ1BwCAvoxMfdnYRJMRq-GCfNBVAAAxeeyoAACAvoxMfdnYRJMRq-GCfNBVAABEJ3srAAA=",
          "conversationId": "AAQkADYzMjAyMDBhLTIwMDktNGU5NC05YTA4LWQ1ZTFiNWU4YTg3ZAAQALgiB3UeX0tLhdeQZhdh1uI=",
          "subject": "Batch module in RMS - ABORTED  - 30-Sep-2025 08:00:07",
          "bodyPreview": "This a job notification for RMS\r\n\r\nThe job RIB_HOSPITAL_CHECK with jobid = 132725031.00 end with status = ABORTED on 30-Sep-2025 08:00:07.\r\n\r\nSpecial attention is required on jobs that belongs to the Oracle Retail nightly processing.\r\nThe job sequence wil",
          "from": "noReply-UC4PROD@weberpapp03.kirklands.com",
          "to": [
            "oracle_batch_comms@kirklands.com"
          ],
          "categories": [],
          "hasAttachments": true
        }
      },
      {
        "json": {
          "id": "AAMkADYzMjAyMDBhLTIwMDktNGU5NC05YTA4LWQ1ZTFiNWU4YTg3ZABGAAAAAACObOFn7GoXTL-btUyUBYQ1BwCAvoxMfdnYRJMRq-GCfNBVAAAAAAEMAACAvoxMfdnYRJMRq-GCfNBVAABEJ1IEAAA=",
          "conversationId": "AAQkADYzMjAyMDBhLTIwMDktNGU5NC05YTA4LWQ1ZTFiNWU4YTg3ZAAQAOaEvVKMZMxJuzBG_2iFoDs=",
          "subject": "FW: UC4_USER_ROLE_REPORT",
          "bodyPreview": "________________________________________\r\nFrom: noReply-UC4PROD@weberpapp03.kirklands.com <noReply-UC4PROD@weberpapp03.kirklands.com>\r\nSent: Tuesday, 30 September 2025 15:00:06 (UTC+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague\r\nTo: Balaz",
          "from": "Balazs.Repas@brandhouseco.com",
          "to": [
            "monitoringteam@qbcs.com"
          ],
          "categories": [],
          "hasAttachments": true
        }
      }
    ]
  },
  "repo_name": "n8n",
  "repo_owner": "qb-stoth",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-16T07:57:10.460Z",
      "createdAt": "2025-10-16T07:57:10.460Z",
      "role": "workflow:owner",
      "workflowId": "hUUBmcEFxD47cpas",
      "projectId": "0hv468Xl53uN8xuI"
    }
  ],
  "staticData": {
    "node:Microsoft Outlook Trigger": {
      "lastTimeChecked": "2026-01-27T01:21:43.002+01:00"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-15T12:23:13.960Z",
  "versionId": "1b848da7-4b7b-4ba3-af7e-d1c1402a2a6d"
}