workflows/Run Apache Airflow DAG and Retrieve XCom Value(D8bvizUafrQoEjDR).json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-15T12:38:06.000Z",
    "createdAt": "2026-01-15T12:38:04.601Z",
    "versionId": "2bc45dd3-bab2-4363-bf4a-24b4a5628345",
    "workflowId": "D8bvizUafrQoEjDR",
    "nodes": [
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('airflow-api').item.json.prefix }}/api/v2/dags/{{ $('Code in JavaScript').item.json.dag_run_id }}/dagRuns",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Airflow: getToken').item.json.access_token }}"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $('Code in JavaScript').item.json.data }}",
          "options": {}
        },
        "id": "618f5ddf-3e7a-41ca-bfd3-2e0f3a30c8f8",
        "name": "Airflow: dag_run",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -832,
          224
        ],
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "url": "={{ $('airflow-api').item.json.prefix }}/api/v2/dags/{{ $('Code in JavaScript').item.json.dag_run_id }}/dagRuns/{{ $('Airflow: dag_run').item.json.dag_run_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Airflow: getToken').item.json.access_token }}"
              }
            ]
          },
          "options": {}
        },
        "id": "5378feec-22be-426d-802e-83014028268f",
        "name": "Airflow: dag_run - state",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -336,
          208
        ],
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "jsCode": "try {\n  $('count').first().json.count += 1\n  return {count:$('count').first().json.count};\n}\ncatch (error) {\n  return {count:1};\n}"
        },
        "id": "4643fc89-1e8c-4598-8e43-9603fc6bbe80",
        "name": "count",
        "type": "n8n-nodes-base.code",
        "position": [
          0,
          192
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "errorMessage": "dag run fail"
        },
        "id": "ba1f8295-1945-4bb7-a63e-c9270c7a7c91",
        "name": "dag run fail",
        "type": "n8n-nodes-base.stopAndError",
        "position": [
          0,
          544
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "0ae67986-09c0-443d-9262-075bfe94ca2e",
                "operator": {
                  "name": "filter.operator.equals",
                  "type": "string",
                  "operation": "equals"
                },
                "leftValue": "={{ $json.state }}",
                "rightValue": "queued"
              }
            ]
          },
          "options": {}
        },
        "id": "5bd0e028-e71b-4b10-97d4-f7fa0762fb2a",
        "name": "if state == queued",
        "type": "n8n-nodes-base.if",
        "position": [
          -656,
          208
        ],
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "errorMessage": "dag run wait too long"
        },
        "id": "5fac7773-5be5-4844-98c3-6fdf22e9e608",
        "name": "dag run wait too long",
        "type": "n8n-nodes-base.stopAndError",
        "position": [
          320,
          192
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "url": "={{ $('airflow-api').item.json.prefix }}/api/v2/dags/{{ $('Code in JavaScript').item.json.dag_run_id }}/dagRuns/{{ $('Airflow: dag_run').item.json.dag_run_id }}/taskInstances/Sample%20Task%201/xcomEntries/return_value",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Airflow: getToken').item.json.access_token }}"
              }
            ]
          },
          "options": {}
        },
        "id": "ae464aab-781c-4fd5-a509-1f3ce5378155",
        "name": "Airflow: dag_run - get result",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          0,
          0
        ],
        "typeVersion": 4.2,
        "disabled": true
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "4d4ecf8a-c02b-4722-9528-1919cdf9b83e",
                      "operator": {
                        "name": "filter.operator.equals",
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.state }}",
                      "rightValue": "success"
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "=success"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.state }}",
                      "rightValue": "queued"
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "queued"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "fa5d8524-334a-4ab1-b543-bba75cafd0ec",
                      "operator": {
                        "name": "filter.operator.equals",
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.state }}",
                      "rightValue": "running"
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "running"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "dd853677-c51c-4c06-8680-3c9d1829d6bd",
                      "operator": {
                        "name": "filter.operator.equals",
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.state }}",
                      "rightValue": "failed"
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "failed"
              }
            ]
          },
          "options": {
            "fallbackOutput": 3
          }
        },
        "id": "1623c4f5-6fcd-4d1e-ab2c-ea574cbf6852",
        "name": "Switch: state",
        "type": "n8n-nodes-base.switch",
        "position": [
          -176,
          160
        ],
        "typeVersion": 3.2
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "dag_run_id"
              },
              {
                "name": "data"
              },
              {
                "name": "wait",
                "type": "number"
              },
              {
                "name": "wait_time",
                "type": "number"
              }
            ]
          }
        },
        "id": "1cfebc3f-fc89-4f63-b6b8-678c5ae8a4f9",
        "name": "in data",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -1904,
          176
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "amount": "={{ $('in data').item.json.wait != null ? $('in data').item.json.wait : 10 }}"
        },
        "id": "e9f51834-557e-4b42-96f2-5da7895c118a",
        "name": "Wait",
        "type": "n8n-nodes-base.wait",
        "position": [
          -480,
          112
        ],
        "webhookId": "3d164954-2926-4174-afc1-261dfdfa9e46",
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "1829d538-5633-4f5c-ad1b-285b084b35ee",
                "operator": {
                  "type": "number",
                  "operation": "gt"
                },
                "leftValue": "={{ $json.count }}",
                "rightValue": "={{ $('in data').item.json.wait_time != null ? $('in data').item.json.wait_time : 12 }}"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "f2bc53d8-b14d-4ae0-b4ba-86d56c59a9df",
        "name": "If count > wait_time",
        "type": "n8n-nodes-base.if",
        "position": [
          144,
          288
        ],
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "40a5ab5b-dee1-44c4-910a-d6b85af75aed",
                "name": "prefix",
                "type": "string",
                "value": "http://192.168.135.37:8080"
              }
            ]
          },
          "options": {}
        },
        "id": "e500b9df-bb4b-4e1f-8fd3-57a7bf3273ed",
        "name": "airflow-api",
        "type": "n8n-nodes-base.set",
        "position": [
          -1216,
          176
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('airflow-api').item.json.prefix }}/auth/token",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n    \"username\": \"admin\",\n    \"password\": \"k4PeYSwP63RUfTeh\"\n  }",
          "options": {}
        },
        "id": "d86b8a54-8266-48ee-a7da-f4018a84d1b8",
        "name": "Airflow: getToken",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -1040,
          176
        ],
        "typeVersion": 4.2,
        "credentials": {
          "httpBasicAuth": {
            "id": "8lZfgqP2sh9kax5i",
            "name": "airflow"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  if (item.json.dag_run_id == null || item.json.dag_run_id === \"\") {\n    item.json.dag_run_id ='example_display_name'\n    //item.json.wait=10\n    //item.json.wait_time=12\n  }\n  item.json.data ='{\\\"dag_run_id\\\": null,\\\"logical_date\\\": null}'\n}\n\nreturn $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1488,
          176
        ],
        "id": "62401dc4-f6fc-40be-920c-a34add381161",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "jsCode": "\nreturn $('Switch: state').item.json;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          0
        ],
        "id": "163af6af-fd7f-4dc2-a8bf-dd850a64d2a0",
        "name": "Code in JavaScript1"
      }
    ],
    "connections": {
      "Wait": {
        "main": [
          [
            {
              "node": "Airflow: dag_run - state",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "count": {
        "main": [
          [
            {
              "node": "If count > wait_time",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "in data": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "airflow-api": {
        "main": [
          [
            {
              "node": "Airflow: getToken",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch: state": {
        "main": [
          [
            {
              "node": "Airflow: dag_run - get result",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "count",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "count",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "dag run fail",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Airflow: dag_run": {
        "main": [
          [
            {
              "node": "if state == queued",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "if state == queued": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "dag run fail",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If count > wait_time": {
        "main": [
          [
            {
              "node": "dag run wait too long",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Airflow: dag_run - state": {
        "main": [
          [
            {
              "node": "Switch: state",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Airflow: getToken": {
        "main": [
          [
            {
              "node": "Airflow: dag_run",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "airflow-api",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Airflow: dag_run - get result": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Attila Zubor",
    "name": "Version 2bc45dd3",
    "description": ""
  },
  "activeVersionId": "2bc45dd3-bab2-4363-bf4a-24b4a5628345",
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Airflow: dag_run - state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "count": {
      "main": [
        [
          {
            "node": "If count > wait_time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "in data": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "airflow-api": {
      "main": [
        [
          {
            "node": "Airflow: getToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: state": {
      "main": [
        [
          {
            "node": "Airflow: dag_run - get result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "count",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "count",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "dag run fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airflow: dag_run": {
      "main": [
        [
          {
            "node": "if state == queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if state == queued": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "dag run fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If count > wait_time": {
      "main": [
        [
          {
            "node": "dag run wait too long",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airflow: dag_run - state": {
      "main": [
        [
          {
            "node": "Switch: state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airflow: getToken": {
      "main": [
        [
          {
            "node": "Airflow: dag_run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "airflow-api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airflow: dag_run - get result": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-11T07:55:35.948Z",
  "id": "D8bvizUafrQoEjDR",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Run Apache Airflow DAG and Retrieve XCom Value",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('airflow-api').item.json.prefix }}/api/v2/dags/{{ $('Code in JavaScript').item.json.dag_run_id }}/dagRuns",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Airflow: getToken').item.json.access_token }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Code in JavaScript').item.json.data }}",
        "options": {}
      },
      "id": "618f5ddf-3e7a-41ca-bfd3-2e0f3a30c8f8",
      "name": "Airflow: dag_run",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -832,
        224
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "={{ $('airflow-api').item.json.prefix }}/api/v2/dags/{{ $('Code in JavaScript').item.json.dag_run_id }}/dagRuns/{{ $('Airflow: dag_run').item.json.dag_run_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Airflow: getToken').item.json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5378feec-22be-426d-802e-83014028268f",
      "name": "Airflow: dag_run - state",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -336,
        208
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "try {\n  $('count').first().json.count += 1\n  return {count:$('count').first().json.count};\n}\ncatch (error) {\n  return {count:1};\n}"
      },
      "id": "4643fc89-1e8c-4598-8e43-9603fc6bbe80",
      "name": "count",
      "type": "n8n-nodes-base.code",
      "position": [
        0,
        192
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "errorMessage": "dag run fail"
      },
      "id": "ba1f8295-1945-4bb7-a63e-c9270c7a7c91",
      "name": "dag run fail",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        0,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "0ae67986-09c0-443d-9262-075bfe94ca2e",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.state }}",
              "rightValue": "queued"
            }
          ]
        },
        "options": {}
      },
      "id": "5bd0e028-e71b-4b10-97d4-f7fa0762fb2a",
      "name": "if state == queued",
      "type": "n8n-nodes-base.if",
      "position": [
        -656,
        208
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "errorMessage": "dag run wait too long"
      },
      "id": "5fac7773-5be5-4844-98c3-6fdf22e9e608",
      "name": "dag run wait too long",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        320,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $('airflow-api').item.json.prefix }}/api/v2/dags/{{ $('Code in JavaScript').item.json.dag_run_id }}/dagRuns/{{ $('Airflow: dag_run').item.json.dag_run_id }}/taskInstances/Sample%20Task%201/xcomEntries/return_value",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Airflow: getToken').item.json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ae464aab-781c-4fd5-a509-1f3ce5378155",
      "name": "Airflow: dag_run - get result",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        0,
        0
      ],
      "typeVersion": 4.2,
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "4d4ecf8a-c02b-4722-9528-1919cdf9b83e",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "success"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "=success"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "queued"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "queued"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "fa5d8524-334a-4ab1-b543-bba75cafd0ec",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "running"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "running"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "dd853677-c51c-4c06-8680-3c9d1829d6bd",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "failed"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "failed"
            }
          ]
        },
        "options": {
          "fallbackOutput": 3
        }
      },
      "id": "1623c4f5-6fcd-4d1e-ab2c-ea574cbf6852",
      "name": "Switch: state",
      "type": "n8n-nodes-base.switch",
      "position": [
        -176,
        160
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "dag_run_id"
            },
            {
              "name": "data"
            },
            {
              "name": "wait",
              "type": "number"
            },
            {
              "name": "wait_time",
              "type": "number"
            }
          ]
        }
      },
      "id": "1cfebc3f-fc89-4f63-b6b8-678c5ae8a4f9",
      "name": "in data",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1904,
        176
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "amount": "={{ $('in data').item.json.wait != null ? $('in data').item.json.wait : 10 }}"
      },
      "id": "e9f51834-557e-4b42-96f2-5da7895c118a",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        -480,
        112
      ],
      "webhookId": "3d164954-2926-4174-afc1-261dfdfa9e46",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1829d538-5633-4f5c-ad1b-285b084b35ee",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.count }}",
              "rightValue": "={{ $('in data').item.json.wait_time != null ? $('in data').item.json.wait_time : 12 }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f2bc53d8-b14d-4ae0-b4ba-86d56c59a9df",
      "name": "If count > wait_time",
      "type": "n8n-nodes-base.if",
      "position": [
        144,
        288
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40a5ab5b-dee1-44c4-910a-d6b85af75aed",
              "name": "prefix",
              "type": "string",
              "value": "http://192.168.135.37:8080"
            }
          ]
        },
        "options": {}
      },
      "id": "e500b9df-bb4b-4e1f-8fd3-57a7bf3273ed",
      "name": "airflow-api",
      "type": "n8n-nodes-base.set",
      "position": [
        -1216,
        176
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('airflow-api').item.json.prefix }}/auth/token",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"username\": \"admin\",\n    \"password\": \"k4PeYSwP63RUfTeh\"\n  }",
        "options": {}
      },
      "id": "d86b8a54-8266-48ee-a7da-f4018a84d1b8",
      "name": "Airflow: getToken",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1040,
        176
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpBasicAuth": {
          "id": "8lZfgqP2sh9kax5i",
          "name": "airflow"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  if (item.json.dag_run_id == null || item.json.dag_run_id === \"\") {\n    item.json.dag_run_id ='example_display_name'\n    //item.json.wait=10\n    //item.json.wait_time=12\n  }\n  item.json.data ='{\\\"dag_run_id\\\": null,\\\"logical_date\\\": null}'\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1488,
        176
      ],
      "id": "62401dc4-f6fc-40be-920c-a34add381161",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "\nreturn $('Switch: state').item.json;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "163af6af-fd7f-4dc2-a8bf-dd850a64d2a0",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "repo_name": "n8n",
  "repo_owner": "qb-stoth",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-11T07:55:35.949Z",
      "createdAt": "2025-11-11T07:55:35.949Z",
      "role": "workflow:owner",
      "workflowId": "D8bvizUafrQoEjDR",
      "projectId": "0hv468Xl53uN8xuI"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-11T07:55:20.064Z",
      "createdAt": "2025-11-11T07:55:20.064Z",
      "id": "14E43CzOqTBt95Td",
      "name": "Merch_test_cases"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-15T12:38:04.601Z",
  "versionId": "2bc45dd3-bab2-4363-bf4a-24b4a5628345"
}